﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
  <script src="./js/LeaveReport.js"></script>
    <link href="../css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="../css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

    <link href="../css/plugins/select2/select2.min.css" rel="stylesheet">
     <script src="../Scripts/jquery-2.1.1.js"></script>
       <!-- Data picker -->
   <script src="../Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
   
 <script src="../Scripts/plugins/fullcalendar/moment.min.js"></script>

    <!-- Select2 -->
    <script src="../Scripts/plugins/select2/select2.full.min.js"></script>
   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>

    <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
    <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

</head>

<body >
    <div ng-app="appTemplate">
        <div ng-controller="listController">


            <!-- Date Picker in Angular -->
            <!-- end angular Datepicker -->



            <div class="container">
                <h1>Leave Report</h1>
                <div class="row" style="padding:10px;">
                    <div class="col-sm-4">
                        <label class="font-noraml">User Search</label>
                        <input type="text" ng-model="leave.user" placeholder="Search by user" class="form-control" />
                    </div>


                    <div class="col-sm-5 ">
                        <div class="row">
                            <div class="col-sm-12">  <label>Select Date Range</label> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default form-control" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default form-control" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <label> New Date range</label><br />
                        <button ng-click="dRange(dt,dt2);" class="btn btn-primary"> Show by range</button>
                    </div>
                </div>
                <div class="table-responsive" id="exportable">
                    <table class="table">

                        <tr ng-repeat="lReports in leavelist" ng-if="$first">
                            <th>Leave Types</th>
                            <th ng-repeat="stuff in lReports.lCounts ">	{{ stuff.LeaveType}}</th>

                        </tr>

                        <tr ng-repeat="lReports in leavelist | filter:leave.user">
                            <td><a href="/UserLeave#?id={{lReports.MemberId}}">{{ lReports.MemberName }}</a></td>
                            <td ng-repeat="stuff in lReports.lCounts">	{{ stuff.TotalDays}}</td>

                        </tr>

                    </table>
                </div>
                <div class="well well-danger" ng-show="fail==1">There are no results in the date range selected</div>
                <div><button ng-click="exportData()" class="btn btn-primary" ng-show="fail!=1">Export to Excell</button></div>
            </div>
        </div>
    </div>

</body>
</html>