<!DOCTYPE html>
<html >

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<!-- Script for search controllers-->
 <script src="js/controllers.js"></script> 
<!-- Scripts and css for the canlendar angular controllers--> 
  <link rel="stylesheet" href="http://angular-ui.github.io/ui-calendar/bower_components/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" href="http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="calendarDemo.css" />
  <!-- Replace with real files-->   
     <script src="http://angular-ui.github.io/ui-calendar/bower_components/jquery/dist/jquery.js"></script>
     
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="http://angular-ui.github.io/ui-calendar/bower_components/moment/moment.js"></script>
    <script src="./src/fullcalendar.js"></script>
        <script src="http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/gcal.js"></script>

    
    <script src="./src/calendar.js"></script>
<body>
<div class="container">
<!-- <div ng-app="phonecatApp">
<div class="row"  ng-controller="PhoneListCtrl">
    <div class="col-md-2" >
   

      Search: <input ng-model="query">

    </div>
     <div class="col-md-2">
    <select ng-model="orderProp">
  <option value="LoginName">Alphabetical</option>
  <option value="LeaveStart">Leave Request Start</option>
   <option value="Approved">Pending</option>
</select>
</div>


<div>
</div>
<div class="table responsive">
 <table>
 <tr>
 <th>Username</th>
 <th>Start</th>
 <th>End</th>
 <th>Type</th>
  <th>Days Used</th>
 <th>Status</th>
 
 </tr>
    <tr ng-repeat="phone in phones | filter:query | orderBy:orderProp">
      <td>{{phone.LoginName}}</td>
      <td>{{phone.LeaveStart}}</td>
      <td>{{phone.LeaveEnd}}</td>
      <td>{{phone.LeaveType}}</td>
      <td> {{phone.ApprovedBy}} </td>
       <td>{{phone.Approved}}</td>
    </tr>
  </table>
  </div>
  -->
  <div ng-app="calendarDemoApp">
<div  ng-controller="CalendarCtrl">
  <button type="button" class="btn btn-primary" ng-click="addHello('hello')" >
                            Add Custom
                          </button>
<div ng-model="events" ui-calendar="uiConfig.calendar" calendar="myCalendar"></div>

</div>
<script>
var calendarDemoApp = angular.module('calendarDemoApp', ['ui.calendar', 'ui.bootstrap']);

calendarDemoApp.controller('CalendarCtrl',
   function($scope, $compile, $timeout, uiCalendarConfig, $http) {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

	
	
	$scope.uiConfig = {
      calendar:{
        height: 450,
        editable: true,
		eventLimit: true,
        header:{
          left: 'title',
          center: '',
          right: 'today prev,next'
        },
      //  eventClick: $scope.alertOnEventClick,
//        eventDrop: $scope.alertOnDrop,
//        eventResize: $scope.alertOnResize,
          eventRender: $scope.eventRender
      }
    };

	 $scope.events=[];
	 $http.get('http://localhost:81/Umbraco/Api/LeaveManager/GetCalendarDetails').success(function(data) {
     console.log(data);
	 $scope.events.push(data);
	 
	
           
    }, function(error){console.log(error);});
	
	//$scope.events.push({id: 999,title: 'Repeating Event',start: new Date(y, m, d - 3),allDay: false});
	
	
	 $scope.addHello=function(title3,startDay,endDay){
		 
      
         //with this you can handle the events that generated when we change the view i.e. Month, Week and Day
    /*$scope.gotoDate = function(gotoDate,calendar) {
       
        calendar.fullCalendar('gotoDate',new Date(y, m, 29));
       alert("gets here");
    };*/

uiCalendarConfig.calendars['myCalendar'].fullCalendar('gotoDate', startDay);
		//alert(title);
		//$scope.calendar.fullCalendar( 'gotoDate', date );
		 $scope.events.push([{
			 
        title: title3,
        start:  new Date(y, m, 29),
        end: new Date(y, m, 29)
		 
      }]);
	   $scope.events.push([{
			 
         color: 'orange',
       textColor: 'white',
	   title:'Training',
	   start:new Date(y, m, 21),
	  end: new Date(y, m, 29)
     
		 
      }])
	  	};
	  $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
	 $scope.eventRender = function (event, element, view) {
            element.attr({
                'tooltip': event.title,
                'tooltip-append-to-body': true
            });
            $compile(element)($scope);
        };
	
   });
</script>

</body>
</html>