﻿<!DOCTYPE html>
<html lang="en"  id="top">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Manage Leave</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="/App/calendarDemo.css" />

    <script src="http://angular-ui.github.io/ui-calendar/bower_components/jquery/dist/jquery.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="http://angular-ui.github.io/ui-calendar/bower_components/moment/moment.js"></script>
    <script src="/App/src/fullcalendar.js"></script>
     <script src="/App/js/controllers.js"></script> 
        <script src="http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/gcal.js"></script>

    
    <script src="/App/src/calendar.js"></script>
</head>

<body  >
<div class="container">
<div ng-app="phonecatApp">
<div  ng-controller="PhoneListCtrl">
<div class="row" >
    <div class="col-md-3" >
   

      Search: <input ng-model="query" ng-init="goCats = false" >

    </div>
     <div class="col-md-3" >
     <label> View Pending Only
     <input type="checkbox" ng-model="pending"  ng-true-value="0" ng-false-value="" /></label>
     
     </div>
     <div class="col-md-3" ng-init="myVar = true">
    <select ng-model="orderProp">
  <option value="LoginName">Alphabetical</option>
  <option value="LeaveStart">Leave Request Start</option>
   <option value="ApprovedLeave">Leave Status</option>
</select>

</div>

</div>


<div class="table-responsive" ng-init="appVar">
 <table class="table">
 <tr>
 <th>Username</th>
 <th>Start</th>
 <th>End</th>
 <th>Type</th>
  <th>Days Used</th>
  <th>Holidays Remaining</th>
  <th>Holidays Left</th>
 <th>Status</th>
 <th>View on calendar</th>
 <th>Approve Request</th>
 
 </tr>
    <tr ng-repeat="phone in phones | filter:query | filter:{ApprovedLeave:pending} | orderBy:orderProp  " >
      <td>{{phone.LoginName}}</td>
      <td>{{phone.LeaveStart | date:" MMM d, y" }}</td>
      <td>{{phone.LeaveEnd  | date:" MMM d, y" }}</td>
      <td>{{phone.LeaveType}}</td>
       <td>{{phone.ApprovedBy}}</td>
         <td>{{phone.HolidaysCurrYear}}</td>
        <td>{{phone.TotalDays}}</td>
       
      
     <!--  <td>{{appVar}} {{phone.ApprovedLeave}}</td>
       <td ng-if="phone.ApprovedLeave==1"  >{{appVar=1;}} {{appVar}}</td>
          <td ng-if="phone.ApprovedLeave==0" > {{appVar=0;}} {{appVar}}</td>
             <td ng-if="phone.ApprovedLeave==2" > {{appVar=2;}} {{appVar}}</td>
      
       <td>{{appVar}}</td>
       
       -->
      <td ng-if="phone.ApprovedLeave==1"  class="text-success">Approved {{appVar}}<i class="glyphicon glyphicon-ok"></i></td>
       <td ng-if="phone.ApprovedLeave==0" class="text-warning"> Pending <i class="glyphicon glyphicon-time"></i> </td>
        <td ng-if="phone.ApprovedLeave==2" class="text-danger"> Rejected <i class="glyphicon glyphicon-time"></i> </td>
      
      
         <td><button type="button" class="btn btn-primary"  ng-click="goCats = true;myVar=false;addTest(phone.LeaveType, phone.LeaveStart, phone.LeaveEnd, $index )" ng-show="myVar" id="A{{ $index }}" >
                            View Leave
                          </button>
                          
                           <button type="button" class="btn btn-primary" ng-click="addDelete($index); goCats = false;myVar=true;"  ng-show="goCats" id="R{{ $index }}" class="RemoveStuff">
                            Unview Leave
                          </button>
                          </td>
                           <td ng-if="phone.ApprovedLeave==0"><button type="button" class="btn btn-primary" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;" >
                            Approve Leave
                          </button>
                          <button type="button" class="btn btn-primary" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;" >
                            Reject Leave
                          </button>
                          </td>
                            <td ng-if="phone.ApprovedLeave==1"><button type="button" class="btn btn-primary" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;" >
                           Cancel
                          </button> </td>
                            <td ng-if="phone.ApprovedLeave==2"> <button type="button" class="btn btn-primary" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;" >
                            Approve Leave
                          </button></td>
    </tr>
  </table>
  </div>
</div>
  

<div class="row" ng-controller="CalendarCtrl" >
 <!-- <button type="button" class="btn btn-primary" ng-click="addHello('hello')" >
                            Add Custom
                          </button> -->
<div ng-model="events" ui-calendar="uiConfig.calendar" calendar="myCalendar"></div>

</div>
</div>
</div>

<script>
var phonecatApp = angular.module('phonecatApp', ['ui.calendar', 'ui.bootstrap']);

phonecatApp.controller('PhoneListCtrl', function ($scope, $http) {
  $http.get('/Umbraco/Api/LeaveManager/Get/').success(function(data) {
    $scope.phones = data;
	
	
  });

  $scope.orderProp = 'LeaveEnd';
  
  $scope.addApproved=function(appStatus, CreatedAt, MemberId, LeaveStart){
	//alert($scope.ApprovedLeave);
	   var data = {
                ApprovedLeave: appStatus,
                id: MemberId,
				CreatedAt: CreatedAt,
				start: LeaveStart
            };
			
			 var config = {
              
            }
			 $http.post('/Umbraco/Api/LeaveManager/ApproveLeave/', data, config)
            .success(function (data, status) {
                //$scope.ApproveLeave = data;
				//alert(data);
				
            })
	 //alert("gets here");
  };
 
});


phonecatApp.controller('CalendarCtrl',
   function($scope, $compile, $timeout, uiCalendarConfig, $http, $rootScope) {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

	
	
	$scope.uiConfig = {
      calendar:{
        height: 450,
        editable: true,
		eventLimit: true,
        header:{
          left: 'title',
          center: '',
          right: 'today prev,next'
        },
      //  eventClick: $scope.alertOnEventClick,
//        eventDrop: $scope.alertOnDrop,
//        eventResize: $scope.alertOnResize,
          eventRender: $scope.eventRender
      }
    };

	 $scope.events=[];
	 $http.get('/Umbraco/Api/LeaveManager/GetCalendarDetails').success(function(data) {
     console.log(data);
	 $scope.events.push(data);
	 
	
           
    }, function(error){console.log(error);});
	
	//$scope.events.push({id: 999,title: 'Repeating Event',start: new Date(y, m, d - 3),allDay: false});
	
	$rootScope.addDelete=function(idx){
		var list =  $scope.events;
		var ind=20;
		console.log(list);
		for (var i = 0; i < list.length ; i++) {
			//alert(list[i][0]['title']);
        if (list[i][0]['id'] === idx+1000) {
            ind= i;
        }
 }
		//alert(ind);
		//var person_to_delete = $scope.events[idx];
		 $scope.events.splice(ind, 1)
	myVar=true;
		// $('#R'+idx).hide();
		//  $('#A'+idx).show();
		};
	
	$rootScope.addTest= function(title3,startDay,endDay, index){
		uiCalendarConfig.calendars['myCalendar'].fullCalendar('gotoDate', startDay);
	//alert(testIndex);
		//$scope.calendar.fullCalendar( 'gotoDate', date );
		//alert(index+1000);
		 $scope.events.push([{
		 id: index+1000,	 
        title: title3,
        start: startDay,// new Date(y, m, 29),
        end: endDay // new Date(y, m, 29)
		 
      }]);
	  // $('#A'+index).hide();
		//  $('#R'+index).show();
	/*   $scope.events.push([{
			 
         color: 'orange',
       textColor: 'white',
	   title:'Training',
	   start:new Date(y, m, 21),
	  end: new Date(y, m, 29)
     
		 
      }])
	  */
	  
	  // $scope.events.splice(testIndex,1)
	  	};
	
	/* $scope.addHello=function(title3,startDay,endDay){
		 
      
     

uiCalendarConfig.calendars['myCalendar'].fullCalendar('gotoDate', startDay);
		//alert(title);
		//$scope.calendar.fullCalendar( 'gotoDate', date );
		 $scope.events.push([{
			 
        title: title3,
        start:  new Date(y, m, 29),
        end: new Date(y, m, 29)
		 
      }]);
	   $scope.events.push([{
			 
         color: 'orange',
       textColor: 'white',
	   title:'Training',
	   start:new Date(y, m, 21),
	  end: new Date(y, m, 29)
     
		 
      }])
	  	};
		*/
	  $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
	 $scope.eventRender = function (event, element, view) {
            element.attr({
                'tooltip': event.title,
                'tooltip-append-to-body': true
            });
            $compile(element)($scope);
        };
	
   });
   
</script>

</body>
</html>
