﻿<!DOCTYPE html>
<html>
<head>
    <title></title>

	<meta charset="utf-8" />
    <script src="/Scripts/plugins/fullcalendar/jquery.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../Scripts/bootstrap.js"></script>

    <link rel="stylesheet" href="/css/plugins/fullcalendar/fullcalendar.css">

    <link rel="stylesheet" href="/App/calendarDemo.css" />

 
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/Scripts/plugins/fullcalendar/moment.min.js"></script>

    <script src="/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>

    <script src="/Scripts/plugins/fullcalendar/gcal.js"></script>
    <script src="/App/js/controllers.js"></script>
 
    <script src="/App/src/calendar.js"></script>
</head>
<body>
    <!--
      <link rel="stylesheet" href="/css/plugins/fullcalendar/fullcalendar.css">

    <link rel="stylesheet" href="/App/calendarDemo.css" />

        <script src="~/Scripts/plugins/fullcalendar/jquery.js"></script>
         <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
        <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>



            <script src="~/Scripts/plugins/fullcalendar/gcal.js"></script>
     <script src="/App/js/controllers.js"></script>
             <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src="/App/src/calendar.js"></script>
       
    @{

    Html.RequiresCss("~/css/plugins/fullcalendar/fullcalendar.css");
    Html.RequiresCss("~/App/calendarDemo.css");
    Html.RequiresJs("~/Scripts/plugins/fullcalendar/jquery.js");

    Html.RequiresJs("~/Scripts/angular.min.js");
    Html.RequiresJs("~/Scripts/ui-bootstrap-tpls-0.13.0.js");
    Html.RequiresJs("~/Scripts/plugins/fullcalendar/moment.min.js");
    @* Html.RequiresJs("~/Scripts/plugins/fullcalendar/gcal.js");
    Html.RequiresJs("~/App/js/controllers.js");  *@
    Html.RequiresJs("~/Scripts/plugins/fullcalendar/fullcalendar.min.js");

    Html.RequiresJs("~/App/src/calendar.js");
    Html.RequiresJs("~/Scripts/LeaveManager.js");

    }
 -->


    <div class="container">
      <div ng-app="phonecatApp">
       <!--    <div ng-controller="PhoneListCtrl">

                <div class="row">
                    <div class="col-md-3">

                        Search: <input ng-model="query" ng-init="goCats = false" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>
                            View Pending Only
                            <input type="checkbox" ng-model="pending" ng-true-value="0" ng-false-value="" class="form-control" />
                        </label>

                    </div>
                    <div class="col-md-3" ng-init="myVar = true">
                        <label> Order By</label>
                        <select ng-model="orderProp" class="form-control">
                            <option value="LoginName">Alphabetical</option>
                            <option value="LeaveStart">Leave Request Start</option>
                            <option value="ApprovedLeave">Leave Status</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="table-responsive" ng-init="appVar">
                            <table class="table text-center">
                                <thead class="text-center">
                                    <tr>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Start</th>
                                        <th class="text-center">End</th>
                                        <th class="text-center">Type</th>
                                        <th class="text-center">Days Used</th>
                                        <th class="text-center">Yearly Holidays</th>
                                        <th class="text-center">Remaining</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">View on calendar</th>
                                        <th class="text-center">Approve Request</th>

                                    </tr>
                                </thead>
                                <tr ng-repeat="phone in phones | filter:query | filter:{ApprovedLeave:pending} | orderBy:orderProp  ">
                                    <td>{{phone.LoginName}}</td>
                                    <td>{{phone.LeaveStart | date:" MMM d, y" }}</td>
                                    <td>{{phone.LeaveEnd  | date:" MMM d, y" }}</td>
                                    <td>{{phone.LeaveType}}</td>
                                    <td>{{phone.ApprovedBy}}</td>
                                    <td>{{phone.HolidaysCurrYear}}</td>
                                    <td>{{phone.TotalDays}}</td>


                                    <td ng-if="phone.ApprovedLeave==1" class="text-success">Approved {{appVar}}<i class="glyphicon glyphicon-ok"></i></td>
                                    <td ng-if="phone.ApprovedLeave==0" class="text-warning"> Pending <i class="glyphicon glyphicon-time"></i> </td>
                                    <td ng-if="phone.ApprovedLeave==2" class="text-danger"> Rejected <i class="glyphicon glyphicon-time"></i> </td>


                                    <td>
                                        <button type="button" class="btn btn-success" ng-click="goCats = true;myVar=false;addTest(phone.Name, phone.LeaveStart, phone.LeaveEnd, $index, phone.ApprovedLeave )" ng-show="myVar" id="A{{ $index }}">
                                            View Leave
                                        </button>

                                        <button type="button" class="btn btn-success" ng-click="addDelete($index); goCats = false;myVar=true;" ng-show="goCats" id="R{{ $index }}" class="RemoveStuff">
                                            Unview Leave
                                        </button>
                                    </td>
                                    <td ng-if="phone.ApprovedLeave==0">
                                        <button type="button" class="btn btn-success" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;">
                                            Approve Leave
                                        </button>
                                        <button type="button" class="btn btn-success" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;">
                                            Reject Leave
                                        </button>
                                    </td>
                                    <td ng-if="phone.ApprovedLeave==1">
                                        <button type="button" class="btn btn-success" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;">
                                            Cancel
                                        </button>
                                    </td>
                                    <td ng-if="phone.ApprovedLeave==2">
                                        <button type="button" class="btn btn-success" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;">
                                            Approve Leave
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         
         -->  
              
           
            <div class="row" ng-controller="CalendarCtrl">
               <div class="row " style="padding:10px;">
                   <div class="col-sm-3"><input type="date" ng-model="cal.eDate" placeholder="enter date" class="form-control"/></div>
                   <div class="col-sm-3"><input class="form-control" ng-model="cal.eTitle" placeholder="custom training name" /></div>
                   <div class="col-sm-2"><button class="btn btn-success" ng-click="addTraining(cal)"> Add Training</button></div>
                   <div class="col-sm-4" alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                       <h4>{{alertMessage}}</h4>
                   </div> 
               </div>
             <div class="row">
               
            </div>
                <div class="row">
                <div class="col-sm-4">
                    <h2>Current training dates</h2>
                    <div class="row " style="padding:4px;">
                        <div class="col-md-9"></div> <div class="col-md-3"><h4>Actions</h4></div>

                        </div>
                        <div ng-repeat="even in events">
                          
                                <div class="col-md-9"><!-- <input class="form-control" ng-model="evens.title"  > -->{{even.title}} -<i> {{ even.start | date:" MMM d, y" }}</i> {{even.approved}}</div> <div class="col-md-3 text-center"><i class="glyphicon glyphicon-check" title="Confirm Training" ng-click="approveTraining($index, even)"></i> <i class="glyphicon glyphicon-trash" title="Remove Training Date" ng-click="removeTraining($index, even)"></i> </div>
<!--  <div ng-repeat="evens in even">
                                <div class="row " style="padding:4px;">

                                    <div class="col-md-9">{{evens.title}} -<i> {{ evens.start | date:" MMM d, y" }}</i> {{evens.approved}}</div> <div class="col-md-3 text-center"><i class="glyphicon glyphicon-check" title="Confirm Training" ng-click="approveTraining($index, evens)"></i> <i class="glyphicon glyphicon-trash" title="Remove Training Date" ng-click="removeTraining($index, evens)"></i> </div>

                                </div>
                   
                            </div>
     -->
                        </div>
                    </div>
                <div class="col-sm-8">
                    <!-- <button type="button" class="btn btn-primary" ng-click="addHello('hello')" >
                                               Add Custom
                                             </button> -->
                    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
                    <div class="text-right"><br /><button class="btn btn-success" >Save Additions</button> </div>
                </div>
              </div>
            </div>
        </div>
    </div>

<script>
    var phonecatApp = angular.module('phonecatApp', ['ui.calendar', 'ui.bootstrap']);

    phonecatApp.controller('PhoneListCtrl', function ($scope, $http) {
        $http.get('/Umbraco/Api/LeaveManager/Get/').success(function (data) {


            $scope.phones = data;


        });

        $scope.orderProp = 'LeaveEnd';

        $scope.addApproved = function (appStatus, CreatedAt, MemberId, LeaveStart) {
            //alert($scope.ApprovedLeave);
            var data = {
                ApprovedLeave: appStatus,
                id: MemberId,
                CreatedAt: CreatedAt,
                start: LeaveStart
            };

            var config = {

            }
            $http.post('/Umbraco/Api/LeaveManager/ApproveLeave/', data, config)
           .success(function (data, status) {
               //$scope.ApproveLeave = data;
               //alert(data);

           })
            //alert("gets here");
        };

    });
/*

    phonecatApp.controller('CalendarCtrl',
       function ($scope, $compile, $timeout, uiCalendarConfig, $http, $rootScope) {
           var date = new Date();
           var d = date.getDate();
           var m = date.getMonth();
           var y = date.getFullYear();

           $scope.events = [];
           $scope.alertOnEventClick = function (date, jsEvent, view) {
               alert("event clicked");
                $scope.alertMessage = (date.title + ' was clicked ');
           };
           $scope.alertOnDayClick = function (date, jsEvent, view) {
              // alert("event clicked");
               $scope.alertMessage = (date.format("dddd, MMMM Do YYYY") + ' was clicked ');
               //startDate = new date(date);
               $scope.events.push({
                   
                   title:"New Training Date",
                   allDay: true,
                   color: "orange",
                   textColor: "White",
                   start: date.format(),// new Date(y, m, 29),
                   end: date // new Date(y, m, 29)

               });
           };
           $scope.approveTraining = function ($index, event) {

               alert($index);
           }

           $scope.removeTraining = function ($index, evens) {
               alert(evens.title);
               $scope.events.splice($index, 1)
              
             // alert(list[0].start);
               
             
         
           }
           $scope.addTraining = function (event) {
               $scope.events.push({

                   title: event.eTitle,
                   allDay: true,
                   color: "orange",
                   textColor: "White",
                   approved:"not approved",
                   start: event.eDate,// new Date(y, m, 29),
                   end: event.eDate // new Date(y, m, 29)

               });
               alert(event.eDate);
           }
         
          

           $scope.uiConfig = {
               calendar: {
                   height: 500,
                   editable: true,
                   eventLimit: true,
                   header: {
                       left: 'title',
                       center: '',
                       right: 'today prev,next'
                   },
                   //  eventClick: $scope.alertOnEventClick,
                   //        eventDrop: $scope.alertOnDrop,
                   //        eventResize: $scope.alertOnResize,
                   eventClick: $scope.alertOnEventClick,
                   eventDrop: $scope.alertOnDrop,
                   eventResize: $scope.alertOnResize,
                   eventRender: $scope.eventRender,
                   dayClick: $scope.alertOnDayClick
               }
           };

         
           $scope.events = [];
           $http.get('/Umbraco/Api/LeaveManager/GetCalendarDetails').success(function (data) {
               console.log(data);
               $scope.events=data;



           }, function (error) { console.log(error); });

           //$scope.events.push({id: 999,title: 'Repeating Event',start: new Date(y, m, d - 3),allDay: false});

           $rootScope.addDelete = function (idx) {
               var list = $scope.events;
               var ind = 20;
               console.log(list);
               for (var i = 0; i < list.length ; i++) {
                   //alert(list[i][0]['title']);
                   if (list[i][0]['id'] === idx + 1000) {
                       ind = i;
                   }
               }
               //alert(ind);
               //var person_to_delete = $scope.events[idx];
               $scope.events.splice(ind, 1)
               myVar = true;
               // $('#R'+idx).hide();
               //  $('#A'+idx).show();
           };

           $rootScope.addTest = function (title3, startDay, endDay, index, status) {
               uiCalendarConfig.calendars['myCalendar'].fullCalendar('gotoDate', startDay);
               //alert(testIndex);
               //$scope.calendar.fullCalendar( 'gotoDate', date );
               //alert(index+1000);
               var someDate = new Date(endDay);

               var myDate = new Date(someDate.getTime() + (1 * 24 * 60 * 60 * 1000));
               var dColor = "Blue";
               var dText = "black";
               if (status == 0) {
                   dColor = "orange"
                   dtext = "white";
               }
               else if (status == 1) {
                   dColor = "green"
                   dtext = "white";
               }
               else if (status == 2) {
                   dColor = "red"
                   dtext = "white";
               }

               $scope.events.push([{
                   id: index + 1000,
                   title: title3,
                   allDay: true,
                   color: dColor,
                   textColor: dtext,
                   start: startDay,// new Date(y, m, 29),
                   end: myDate // new Date(y, m, 29)

               }]);
               // $('#A'+index).hide();
               //  $('#R'+index).show();
              
               // $scope.events.splice(testIndex,1)
           };
          
         
           $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
          

       });

       */


    
    angular.module('calendarDemoApp', ['ui.calendar', 'ui.bootstrap']);

    function CalendarCtrl($scope, $compile, uiCalendarConfig) {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $scope.changeTo = 'Hungarian';
        /* event source that pulls from google.com */
        $scope.eventSource = {
            url: "http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic",
            className: 'gcal-event',           // an option!
            currentTimezone: 'America/Chicago' // an option!
        };
        /* event source that contains custom events on the scope */
        $scope.events = [
          { title: 'All Day Event', start: new Date(y, m, 1) },
          { title: 'Long Event', start: new Date(y, m, d - 5), end: new Date(y, m, d - 2) },
          { id: 999, title: 'Repeating Event', start: new Date(y, m, d - 3, 16, 0), allDay: false },
          { id: 999, title: 'Repeating Event', start: new Date(y, m, d + 4, 16, 0), allDay: false },
          { title: 'Birthday Party', start: new Date(y, m, d + 1, 19, 0), end: new Date(y, m, d + 1, 22, 30), allDay: false },
          { title: 'Click for Google', start: new Date(y, m, 28), end: new Date(y, m, 29), url: 'http://google.com/' }
        ];
        /* event source that calls a function on every view switch */
        $scope.eventsF = function (start, end, timezone, callback) {
            var s = new Date(start).getTime() / 1000;
            var e = new Date(end).getTime() / 1000;
            var m = new Date(start).getMonth();
            var events = [{ title: 'Feed Me ' + m, start: s + (50000), end: s + (100000), allDay: false, className: ['customFeed'] }];
            callback(events);
        };

        $scope.calEventsExt = {
            color: '#f00',
            textColor: 'yellow',
            events: [
               { type: 'party', title: 'Lunch', start: new Date(y, m, d, 12, 0), end: new Date(y, m, d, 14, 0), allDay: false },
               { type: 'party', title: 'Lunch 2', start: new Date(y, m, d, 12, 0), end: new Date(y, m, d, 14, 0), allDay: false },
               { type: 'party', title: 'Click for Google', start: new Date(y, m, 28), end: new Date(y, m, 29), url: 'http://google.com/' }
            ]
        };
        /* alert on eventClick */
        $scope.alertOnEventClick = function (date, jsEvent, view) {
            $scope.alertMessage = (date.title + ' was clicked ');
        };
        /* alert on Drop */
        $scope.alertOnDrop = function (event, delta, revertFunc, jsEvent, ui, view) {
            $scope.alertMessage = ('Event Droped to make dayDelta ' + delta);
        };
        /* alert on Resize */
        $scope.alertOnResize = function (event, delta, revertFunc, jsEvent, ui, view) {
            $scope.alertMessage = ('Event Resized to make dayDelta ' + delta);
        };
        /* add and removes an event source of choice */
        $scope.addRemoveEventSource = function (sources, source) {
            var canAdd = 0;
            angular.forEach(sources, function (value, key) {
                if (sources[key] === source) {
                    sources.splice(key, 1);
                    canAdd = 1;
                }
            });
            if (canAdd === 0) {
                sources.push(source);
            }
        };
        /* add custom event*/
        $scope.addEvent = function () {
            $scope.events.push({
                title: 'Open Sesame',
                start: new Date(y, m, 28),
                end: new Date(y, m, 29),
                className: ['openSesame']
            });
        };
        /* remove event */
        $scope.remove = function (index) {
            $scope.events.splice(index, 1);
        };
        /* Change View */
        $scope.changeView = function (view, calendar) {
            uiCalendarConfig.calendars[calendar].fullCalendar('changeView', view);
        };
        /* Change View */
        $scope.renderCalender = function (calendar) {
            if (uiCalendarConfig.calendars[calendar]) {
                uiCalendarConfig.calendars[calendar].fullCalendar('render');
            }
        };
        /* Render Tooltip */
        $scope.eventRender = function (event, element, view) {
            element.attr({
                'tooltip': event.title,
                'tooltip-append-to-body': true
            });
            $compile(element)($scope);
        };
        /* config object */
        $scope.uiConfig = {
            calendar: {
                height: 450,
                editable: true,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                eventClick: $scope.alertOnEventClick,
                eventDrop: $scope.alertOnDrop,
                eventResize: $scope.alertOnResize,
                eventRender: $scope.eventRender
            }
        };

        $scope.changeLang = function () {
            if ($scope.changeTo === 'Hungarian') {
                $scope.uiConfig.calendar.dayNames = ["Vasárnap", "Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek", "Szombat"];
                $scope.uiConfig.calendar.dayNamesShort = ["Vas", "Hét", "Kedd", "Sze", "Csüt", "Pén", "Szo"];
                $scope.changeTo = 'English';
            } else {
                $scope.uiConfig.calendar.dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                $scope.uiConfig.calendar.dayNamesShort = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                $scope.changeTo = 'Hungarian';
            }
        };
        /* event sources array*/
        $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
        $scope.eventSources2 = [$scope.calEventsExt, $scope.eventsF, $scope.events];
    }
  

</script>

</body>
</html>
