<div ng-controller="AssessmentQuestions" dnd-list="model.value.questions">

    <!-- question repeater -->
    <div ng-repeat="q in model.value.questions track by $index"
         dnd-draggable="q"
         class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <span class="btn btn-danger btn-xs" ng-click="deleteQuestion($index)"><i class="icon-delete"></i></span>
                <span class="btn btn-default btn-sm" ng-click="duplicateQuestion($index)"><i class="icon-page-add"></i> copy</span>
            </div>
            <div class="form-group">
                <h3>Question: {{ $index + 1 }}</h3>
                <textarea ng-model="q.text" style="width:95%;"
                          class="form-control"
                          placeholder="Enter question"></textarea>
            </div>

            <h4>answers</h4>
            <ol type="A">
                <li ng-repeat="a in q.answers" style="width:100%">
                    <div ng-class="{ 'has-success': a.isAnswer }" class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="text"
                                   class="form-control"
                                   ng-model="a.text"
                                   style="width:90%"
                                   placeholder="Enter answer here" />
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="a.isAnswer" />
                            </span>
                        </div>
                        <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>-->
                    </div>
                </li>
            </ol>
            <span class="btn btn-xs btn-success pull-right" ng-click="addAnswer(q)">add answer</span>
        </div>
    </div>

    <span class="btn btn-xs btn-success pull-right" ng-click="addQuestion()">add question</span>


    <pre style="display:none">
        {{ model.value | json }}
    </pre>


</div>