
.wmd-panel {
	width: 100%;
}

.wmd-input { 
	height: 300px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.wmd-preview { 
	//.well;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.wmd-panel .btn-toolbar {
	margin-bottom: 0;
	padding: 0;  
	width: 100%;
}

.icon-link,
.icon-blockquote,
.icon-code,
.icon-bullet-list,
.icon-list,
.icon-header,
.icon-hr-line,
.icon-undo {
	background-image: url(Markdown.Editor.Icons.png);
}
.icon-link              { background-position: 0      0; }
.icon-blockquote        { background-position: -24px  0; }
.icon-code              { background-position: -48px  0; }
.icon-bullet-list       { background-position: -72px  0; }
.icon-list              { background-position: -96px  0; }
.icon-header            { background-position: -120px 0; }
.icon-hr-line           { background-position: -144px 0; }
.icon-undo               { background-position: -168px 0; }





.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
