﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;

<!--
  <link rel="stylesheet" href="/css/plugins/fullcalendar/fullcalendar.css">

<link rel="stylesheet" href="/App/calendarDemo.css" />

    <script src="~/Scripts/plugins/fullcalendar/jquery.js"></script>
     <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>



        <script src="~/Scripts/plugins/fullcalendar/gcal.js"></script>
 <script src="/App/js/controllers.js"></script>
         <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/App/src/calendar.js"></script>
    -->

@{

    Html.RequiresCss("~/css/plugins/fullcalendar/fullcalendar.css");
    Html.RequiresCss("~/App/calendarDemo.css");
    //  Html.RequiresJs("~/Scripts/plugins/fullcalendar/jquery.js");

    Html.RequiresJs("~/Scripts/angular.min.js");
    Html.RequiresJs("~/Scripts/ui-bootstrap-tpls-0.13.0.js");
    Html.RequiresJs("~/Scripts/plugins/fullcalendar/moment.min.js");
    @* Html.RequiresJs("~/Scripts/plugins/fullcalendar/gcal.js");
        Html.RequiresJs("~/App/js/controllers.js");  *@
Html.RequiresJs("~/Scripts/plugins/fullcalendar/fullcalendar.min.js");

Html.RequiresJs("~/App/src/calendar.js");
Html.RequiresJs("~/Scripts/LeaveManager.js");
//<script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <style>
        .hand {
            cursor: pointer;
        }
    </style>

}




<div ng-app="phonecatApp">
    <div ng-controller="PhoneListCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Submited Successfully!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items" ng-first>
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>

            </div>
        </script>

        <div class="row">
            <div class="col-md-3">


                Search: <input ng-model="query" ng-init="goCats = false" class="form-control">

            </div>
            <div class="col-md-3" ng-init="pending=0">
                <label>
                    View Pending Only
                    <input type="checkbox" ng-model="pending" ng-true-value="0" ng-false-value="" ng-checked="true" class="form-control" />
                </label>

            </div>
            <div class="col-md-3" ng-init="myVar = true">
                <label> Order By</label>
                <select ng-model="orderProp" class="form-control">
                    <option value="LoginName">Alphabetical</option>
                    <option value="LeaveStart">Leave Request Start</option>
                    <option value="ApprovedLeave">Leave Status</option>
                </select>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" ng-init="appVar">
                    <table class="table text-center">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">Username</th>
                                <th class="text-center">Start</th>
                                <th class="text-center">End</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Comments</th>
                                <th class="text-center">Days Used</th>
                                <th class="text-center">Yearly Holidays</th>
                                <th class="text-center">Remaining</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">View on calendar</th>
                                <th class="text-left">Approve Request</th>

                            </tr>
                        </thead>
                        <tr ng-repeat="phone in phones | filter:query | filter:{ApprovedLeave:pending} | orderBy:orderProp  ">
                            <td>{{phone.LoginName}}</td>
                            <td>{{phone.LeaveStart | date:" MMM d, y" }}</td>
                            <td>{{phone.LeaveEnd  | date:" MMM d, y" }}</td>
                            <td>{{phone.LeaveType}}</td>
                            <td ng-if="phone.Comment"><i class="glyphicon glyphicon-comment" tooltip-trigger="mouseenter" tooltip="{{phone.Comment}}"></i></td>
                            <td ng-if="phone.Comment==null"></td>
                            <td>{{phone.daysMinusHalf}}</td>
                            <td>{{phone.HolidaysCurrYear}}</td>
                            <td>{{phone.TotalDays}}</td>


                            <!--  <td>{{appVar}} {{phone.ApprovedLeave}}</td>
                              <td ng-if="phone.ApprovedLeave==1"  >{{appVar=1;}} {{appVar}}</td>
                                 <td ng-if="phone.ApprovedLeave==0" > {{appVar=0;}} {{appVar}}</td>
                                    <td ng-if="phone.ApprovedLeave==2" > {{appVar=2;}} {{appVar}}</td>

                              <td>{{appVar}}</td>

                              -->
                            <td ng-if="phone.ApprovedLeave==1" class="text-success">{{appVar}}<i class="glyphicon glyphicon-ok" tooltip-trigger="mouseenter" tooltip="Approved"></i></td>
                            <td ng-if="phone.ApprovedLeave==0" class="text-warning"><i class="glyphicon glyphicon-time" tooltip-trigger="mouseenter" tooltip="Pending"></i> </td>
                            <td ng-if="phone.ApprovedLeave==2" class="text-danger"> <i class="glyphicon glyphicon-remove-sign" tooltip-trigger="mouseenter" tooltip="Rejected"></i> </td>


                            <td>
                                <i class="glyphicon glyphicon-eye-open" style="cursor: pointer" tooltip-trigger="mouseenter" tooltip="View on Calendar" ng-click="goCats = true;myVar=false;addTest(phone.Name, phone.LeaveStart, phone.LeaveEnd, $index, phone.ApprovedLeave )" ng-show="myVar" id="A{{ $index }}">

                                </i>

                                <i class="glyphicon glyphicon-eye-close RemoveStuff" ng-click="addDelete($index); goCats = false;myVar=true;" tooltip-trigger="mouseenter" tooltip="Hide on Calendar" ng-show="goCats" id="R{{ $index }}">

                                </i>
                            </td>
                            <td align="left" ng-if="phone.ApprovedLeave==0">
                                <i class="glyphicon glyphicon-check hand text-success text-left" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;" tooltip-trigger="mouseenter" tooltip="Approve Leave">
                                    &nbsp;
                                </i>
                                <i align="left" class="glyphicon glyphicon-remove-circle hand text-danger text-left" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;" tooltip-trigger="mouseenter" tooltip="Reject Leave">
                                    &nbsp;
                                </i>
                            </td>
                            <td align="middle" ng-if="phone.ApprovedLeave==1">
                                <i class="glyphicon glyphicon-remove-sign hand text-danger text-left" ng-click="addApproved(2,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=2;" tooltip-trigger="mouseenter" tooltip="Cancel Approved Leave">

                                </i>
                            </td>
                            <td align="left" ng-if="phone.ApprovedLeave==2">
                                <i class="glyphicon glyphicon-check hand text-primary" ng-click="addApproved(1,phone.CreatedAt,phone.MemberId,phone.LeaveStart);phone.ApprovedLeave=1;" tooltip-trigger="mouseenter" tooltip="Approve Leave">

                                </i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="CalendarCtrl">
        <div class="col-lg-12">
            <!-- <button type="button" class="btn btn-primary" ng-click="addHello('hello')" >
                                       Add Custom
                                     </button> -->
            <div ng-model="events" ui-calendar="uiConfig.calendar" calendar="myCalendar"></div>
        </div>
    </div>
</div>



