﻿@model UmbracoWithMvc.Entities.VirtualSupport
@using (Html.BeginUmbracoForm("VirtualRequest", "VirtualSupportSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{



    <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
          Support Needed
        </label>
        <div class="col-sm-6">
            @Html.TextAreaFor(m => m.SupportNeeded, new { @class = "form-control", @rows = "5" })
            @Html.ValidationMessageFor(m => m.SupportNeeded)
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 input-group ">
            <div class="col-sm-12">
                <button class="btn btn-success" type="submit">Submit Form </button>
            </div>
        </div>

    </div>
}
