﻿@model UmbracoWithMvc.Entities.TravelRequest

@using (Html.BeginUmbracoForm("TravelRequest", "TravelRequestSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{

    
        <div class="form-group row">
            <label class="col-sm-3 control-label text-left" style="text-align:left;">
                Employee(s) traveling</label>
            <div class="col-sm-3">

                @Html.TextBoxFor(m => m.EmpTraveling, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmpTraveling)
                </div>
            </div>
    <div class="form-group row " id="data_1">
        <label class="control-label col-sm-3">Date of travel</label>
        <div class="col-sm-3">
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>


                @Html.TextBoxFor(m => m.TravelDate, null, new { @class = "form-control", @value = "03/04/2014" })
                @Html.ValidationMessageFor(m => m.TravelDate)
                <!-- <input type="text" class="form-control" value="03/04/2014"> -->
            </div>
            
        </div>
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Preffered arrival time
        </label>
        <div class=" col-sm-3">

            @Html.TextBoxFor(m => m.ArrivalTime, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ArrivalTime)
        </div>
    </div>
 <!--  <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Preffered arrival time
        </label>
        <div class="input-group col-sm-4">

           // @Html.TextBoxFor(m => m.ArrivalTime, null, new { @class = "form-control" })
           // @Html.ValidationMessageFor(m => m.ArrivalTime)
        </div>
    </div>
 -->
    <div class="form-group row " id="data_1">
        <label class="control-label col-sm-3">Date of return</label>
        <div class="col-sm-3">
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>


                @Html.TextBoxFor(m => m.ReturnDate, null, new { @class = "form-control", @value = "03/04/2014" })
                @Html.ValidationMessageFor(m => m.ReturnDate)
                <!-- <input type="text" class="form-control" value="03/04/2014"> -->
            </div>

        </div>
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Preffered time of departure
        </label>
        <div class=" col-sm-3">

            @Html.TextBoxFor(m => m.DepartureTime, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DepartureTime)
        </div>
    </div>

   <!-- <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Preffered time of departure
        </label>
        <div class="input-group col-sm-4">

            @Html.TextBoxFor(m => m.DepartureTime, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DepartureTime)
        </div>
    </div>
-->
    <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
           Flight Needed
        </label>

       
        <div >
            <div class="col-sm-3">
                <ul class="list-inline">
                    <li> Yes @Html.RadioButtonFor(m => m.RailcardNeed, true, new { @class = "" })</li>
                    <li> No @Html.RadioButtonFor(m => m.RailcardNeed, false, new { @class = "" })</li>


                </ul>

            </div>
            <label class="col-sm-3 control-label text-left" style="text-align:left;">
                Hotel Needed
            </label>
            <div class="col-sm-3">
                <ul class="list-inline">
                    <li> Yes  @Html.RadioButtonFor(m => m.HotelNeed, true, new { @class = "" })</li>
                    <li> No  @Html.RadioButtonFor(m => m.HotelNeed, false, new { @class = "" })</li>


                </ul>

            </div>
        </div>
    </div>
  <!-- <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
           Hotel Needed
        </label>
        <div class="input-group col-sm-4">
            <ul class="list-inline">
                <li> Yes  @Html.RadioButtonFor(m => m.HotelNeed, true, new { @class = "" })</li>
                <li> No  @Html.RadioButtonFor(m => m.HotelNeed, false, new { @class = "" })</li>


            </ul>

        </div>
    </div>
      --> 
    <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Preffered location of hotel (if yes)
        </label>
        <div class=" col-sm-3">

            @Html.TextBoxFor(m => m.HotelLocation, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HotelLocation)
        </div>

        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Hotel name (if applicable)
        </label>
        <div class="col-sm-3">

            @Html.TextBoxFor(m => m.HotelName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HotelName)
        </div>
    </div>
    <!--<div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
            Hotel name(if applicable)
        </label>
        <div class="input-group col-sm-4">

            @Html.TextBoxFor(m => m.HotelName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HotelName)
        </div>
    </div>
    -->
    <div class="form-group row">
        <label class="col-sm-3 control-label text-left" style="text-align:left;">
           Other Notes
        </label>
        <div class="col-sm-6">

            @Html.TextAreaFor(m => m.OtherNotes, new { @class = "form-control", @rows="5" })
            @Html.ValidationMessageFor(m => m.OtherNotes)
        </div>
    </div>

					    <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 input-group ">
                <div class="col-sm-12">
                    <button class="btn btn-success" type="submit">Submit Travel Request</button>
                </div>    
             </div>
        </div>
						
					
	
	
}