﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var home = CurrentPage.Site(); 
  var cPage = CurrentPage.Id(); 
  var icon = CurrentPage.Icon();
  var tIcon = "";
  var hIcon="";
  var pIcon="";
  
 }

@if (home.Children.Any())
{
    @* Get the first page in the children *@
    var naviLevel = home.Children.First().Level;
   
    @* Add in level for a CSS hook *@
    <ul class="main-menu level-@naviLevel">            
        @* For each child page under the home node *@
        @foreach (var childPage in home.Children.Where("Visible"))
        {   
			icon="";
			
			if (naviLevel==2)
				{ tIcon="zmdi zmdi-collection-text";
				  hIcon="zmdi zmdi-home";
  			      pIcon="zmdi zmdi-view-compact";
				}
			else
				{
				tIcon="";
			 pIcon="";
				}
            if (childPage.Children.Any())
            {  
				
			if(cPage==childPage.Id)
				{icon="active";}
                <li class="@(icon) sub-menu @(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">	
					@if(childPage.DocumentTypeAlias == "LandingPage") 
					{
                    	<span><i class="@(tIcon)"></i>@childPage.Name </span>
						@childPages(childPage.Children, cPage)
					}
				else if(cPage==childPage.Id) 
				{
				var cStatus=99;
					<a href="@childPage.Url"><i class="@(tIcon)"></i>
				@childPage.Name</a>
					@childPages(childPage.Children, cStatus)
				}
				
				else {
						<a href="@childPage.Url"><i class="@(tIcon)"></i>@childPage.Name</a>
							@childPages(childPage.Children, cPage)
							
					}
                </li>
            } 
			else
            { 
				
				if (@childPage.Name=="Mhub Home")
				{ pIcon=hIcon; }
                <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)">
                    <a href="@childPage.Url"><i class="@(pIcon)"></i>@childPage.Name</a>
                </li>
            }            
        }
    </ul>
}

@helper childPages(dynamic pages,dynamic cPage)
{
	
	var act9="";
	if (cPage==99)
	{act9="active";}
	else
	{ act9="";}
	
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        @* Get the first page in pages and get the level *@
        var naviLevel = pages.First().Level;
        
        @* Add in level for a CSS hook *@
        <ul class="level-@(naviLevel)">
            @foreach (var page in pages.Where("Visible"))
            {  if (page.Children.Any())
				  { 
				  <li class=" sub-menu">  <a href="@page.Url">@page.Name</a>
                    
                    @* if the current page has any children *@
                    @if (page.Children.Any())
                    {                        
                        @* Call our helper to display the children *@
                        @childPages(page.Children, cPage)
                    }
                </li>
						  }

             
					
				else
				{ <li>  <a href="@page.Url">@page.Name</a>
                    
                    @* if the current page has any children *@
                    @if (page.Children.Any())
                    {                        
                        @* Call our helper to display the children *@
                        @childPages(page.Children, cPage)
                    }
                </li>	}
				
				
				
				

					
                   
            }
       </ul>
    }
}
