﻿@model LeaveRequestStart

@using (Html.BeginUmbracoForm("CreateAppraisal", "AppraisalSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{
    <div class="form-group" id="data_1">

        <label class="font-noraml col-sm-3">Appraisal Question 1</label>
        <div class="col-sm-6">
            <div class="input-group date">

                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>


               <input type="text" name="34" />
                <!-- <input type="text" class="form-control" value="03/04/2014"> -->

            </div>


        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 input-group ">

                <button class="btn btn-success" type="submit">Submit Leave Request</button>
            </div>
        </div>
</div>
        }
