﻿@model UmbracoWithMvc.Entities.TrainingAppraisal

@using (Html.BeginUmbracoForm("TrainingAppraisal", "TrainingAppraisalSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{

    
        <div class="form-group row">
            <label class="col-sm-3 control-label text-left" style="text-align:left;">
                Training Course Completed</label>
            <div class="col-sm-3">

                @Html.TextBoxFor(m => m.Training, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Training)
                </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-left" style="text-align:left;">
                Do you feel it would be benifitial to repeat this training course in the future:
            </label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Training, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Training)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label text-left" style="text-align:left;">
                Please review the training you recieved and how useful you think it will be for your future development:
            </label>
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.Evaluation,  new { @class = "form-control",@rows = 10 })
                @Html.ValidationMessageFor(m => m.Evaluation)
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 input-group ">
               
                    <div class="col-sm-12">
                        <button class="btn btn-success" type="submit">Submit Training Appraisal</button>
                    </div>
             
            </div>
        </div>

            }
