﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var memberLevel = 152;
    var memberDivision= "BTA";
    var branch = "Chile";
    var memberId = 999;
    if (Umbraco.MemberIsLoggedOn())
    {
        var member = MhubMemberHelper.LoggedInMember;
        if (member!=null)
        {
            memberLevel = member.GetValue<int>("roleLevel");
            branch = member.GetValue<string>("branch");
            memberId = member.Id;
            memberDivision = member.GetValue<string>("division");
        }
    }
    var selection = CurrentPage.Site().Children.Where("Visible");
    var urlString = "/media/1494/main.jpg";
    int urlWidth = 170;
    int trainerId = 0;
    if (CurrentPage.Site().HasValue("trainingManager"))
    {
        string tId = CurrentPage.Site().trainingManager.ToString();
        trainerId = tId.AsInt();

    }
    if (CurrentPage.Site().HasValue("logo"))
    {
        string  mIdS = CurrentPage.Site().logo.ToString(); //Umbraco.Field("logo").ToString();

        int mId = mIdS.AsInt();

        var media = Umbraco.TypedMedia(mId);
        if (media != null)
        {
            urlString = media.Url;
            if (media.GetPropertyValue<int>("umbracoWidth") < 170)
            {
                urlWidth = media.GetPropertyValue<int>("umbracoWidth");
            }
        }
        else
        { urlString = "/"; }


    }



    }
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/">
                        <img src="@urlString" alt="@CurrentPage.Name" width="@urlWidth" style="position:relative;top:-30px;padding-top:10px;max-height:70px" />
                    </a>
                    @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Example user</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>*@
                </div>
                <div class="logo-element">
                    hub
                </div>
            </li>
            <li class="home">
                @*a-2x*@
                <a href="/"><i class="fa fa-home"></i> <span class="nav-label">Home </span></a>
            </li>
            @foreach (var item in selection)
            {
                if (memberLevel >= MhubMemberHelper.staffLevel(item) )
                {

                <li class="@(CurrentPage.IsDescendantOrSelf(item) ? "active" : null) @item.Name.ToLower()">
                    <a href="@item.Url">
                        <i class="fa @(string.IsNullOrWhiteSpace(@item.icon) ? "fa-file-text" : @item.icon)"></i> <span class="nav-label">@item.Name </span>
                       @if (item.Children.Count() > 0)
                       {<span class="fa arrow"></span>} 
                    </a>
                    @if (item.Children.Count() > 0)
                    {

                        <ul class="nav nav-second-level collapse @(item.IsAncestorOrSelf(CurrentPage) ? "in" : null)">
                            @foreach (var child in item.Children.Where("Visible"))
                            {
                                if (memberLevel >= MhubMemberHelper.staffLevel(child) && MhubContentHelper.staffDivision(child, memberDivision))
                                {
                                    if (child.Id == 2413)
                                    {
                                        if (branch == "Mexico" || branch == "Chile" || memberId==trainerId )
                                        {
                                <li class="@(child.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                    <a href="@child.Url">
                                        @child.Name 
                                        @if (child.Children.Count() > 0 && child.DocumentTypeAlias != "mhubNews")
                                        {<span class="fa arrow"></span>}
                                    </a>
                                    @if (child.Children.Count() > 0 && child.DocumentTypeAlias != "mhubNews")
                                    {
                                        <ul class="nav nav-third-level">
                                            @foreach (var thirdlevel in child.Children.Where("Visible"))
                                            {
                                                if ( MhubContentHelper.staffDivision(thirdlevel, memberDivision))
                                                {
                                                <li class="@(thirdlevel.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                                    <a href="@thirdlevel.Url">
                                                        @thirdlevel.Name 
                                                       
                                                    </a>
                                                    @thirdlevel.documentType
                                                </li>
                                                }
                                            }
                                        </ul>

                                    }
                                </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="@(child.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                            <a href="@child.Url">
                                                @child.Name
                                                @if (child.Children.Count() > 0 && child.DocumentTypeAlias != "mhubNews")
                                                {<span class="fa arrow"></span>}
                                            </a>
                                            @if (child.Children.Count() > 0 && child.DocumentTypeAlias != "mhubNews")
                                    {
                                                <ul class="nav nav-third-level">
                                                    @foreach (var thirdlevel in child.Children.Where("Visible"))
                                                    {
                                                        if (MhubContentHelper.staffDivision(thirdlevel, memberDivision))
                                                        {
                                                        <li class="@(thirdlevel.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                                            <a href="@thirdlevel.Url">
                                                                @thirdlevel.Name

                                                            </a>
                                                            @thirdlevel.documentType
                                                        </li>
                                                        }
                                                    }
                                                </ul>

                                            }
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    }
                </li>
                }
            }
        </ul>
    </div>
</nav>