﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers

@{
    var profileModel = Members.GetCurrentMemberProfileModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var success = TempData["ProfileUpdateSuccess"] != null;
}

@if (Members.IsLoggedIn() && profileModel != null)
{
    if (success)
    {
        <p>Profile updated</p>
    }

    using (Html.BeginUmbracoForm<UmbProfileController>("HandleUpdateProfile"))
    {
        <h2>Edit profile</h2>

            @Html.ValidationSummary("profileModel", true)
            <div class="form-group">
                @Html.LabelFor(m => profileModel.Name)
                @Html.TextBoxFor(m => profileModel.Name)
                @Html.ValidationMessageFor(m => profileModel.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => profileModel.Email)
                @Html.TextBoxFor(m => profileModel.Email)
                @Html.ValidationMessageFor(m => profileModel.Email)
            </div>

            for (var i = 0; i < profileModel.MemberProperties.Count; i++)
            {
                <div class="form-group">

                    @Html.LabelFor(m => profileModel.MemberProperties[i].Value, profileModel.MemberProperties[i].Name)
                    @*
                        By default this will render a textbox but if you want to change the editor template for this property you can
                        easily change it. For example, if you wanted to render a custom editor for this field called "MyEditor" you would
                        create a file at ~/Views/Shared/EditorTemplates/MyEditor.cshtml", then you will change the next line of code to
                        render your specific editor template like:
                        @Html.EditorFor(m => profileModel.MemberProperties[i].Value, "MyEditor")
                    *@
                    @Html.EditorFor(m => profileModel.MemberProperties[i].Value)
                    @Html.HiddenFor(m => profileModel.MemberProperties[i].Alias)
                </div>
            }

            <button class="btn btn-primary">Save</button>
    }
}
