﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Xml;
@{
    try
    {
        foreach (XmlNode node in MhubContentHelper.NewsFeed((ViewData["RSSURL"]).ToString(), (ViewData["SiteName"]).ToString()))
        {
            var title = node.SelectSingleNode("title").InnerText;
            var link = node.SelectSingleNode("link").InnerText;

            <div class="col-sm-4">
                <div>
                    <div class="newsDetails">
                        <strong><a href="@link">@title</a></strong><br />
                        @try
                        {
                            var description = node.SelectSingleNode("description").InnerText;

                            if (description.Length > 300)
                            {
                                @(Html.Raw(description.Substring(0, 300)))
                            }
                            else
                            {
                                <p>@(Html.Raw(description))</p>
                            }
                            <p><a href="@link" target="_blank" title="@title">View full details</a></p>
                            <hr>
                        }
                        catch { }
                    </div>
                    <span class="text-success hidden-xs hidden-sm"><a href="@link">Read More</a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    }
    catch
    {
        <div class="col-sm-4">
            <h2>The news could not be retrived at this time.</h2>
        </div>
    }
}
