﻿@model LeaveRequestStart
@using (Html.BeginUmbracoForm("CreateLeave", "LeaveRequestSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{
    /*
   @Html.EditorFor(x=>Model)
   */
<div class="card">
    <div class="card-header">
        <h2>Request Leave</h2>
        

    </div>
    <div class="card-body card-padding">
        <div class="row form-group">
            <div class="col-lg-2">
                @Html.LabelFor(m => m.LeaveStart)
                @Html.TextBoxFor(m => m.LeaveStart, null, new { @class = "form-control date-picker" })
                @Html.ValidationMessageFor(m => m.LeaveStart)
            </div>

            <div class="col-lg-1">
                @Html.LabelFor(m => m.HalfDayStart)
                @Html.CheckBoxFor(m => m.HalfDayStart)

            </div>
            <div class="col-lg-2">
                @Html.LabelFor(m => m.LeaveEnd)
                @Html.TextBoxFor(m => m.LeaveEnd, null, new { @class = "form-control date-picker" })
                @Html.ValidationMessageFor(m => m.LeaveEnd)
            </div>
            <div class="col-lg-1">
                @Html.LabelFor(m => m.HalfDayEnd)
                @Html.CheckBoxFor(m => m.HalfDayEnd)
            </div>
            <div class="col-lg-2 select">
                @Html.LabelFor(m => m.LeaveType)
                @Html.DropDownListFor(m => m.LeaveType, new List<SelectListItem>
{
  new SelectListItem{ Text = "Holiday", Value = "Holiday" },
  new SelectListItem{ Text = "Sick Leave", Value = "Sick" },
   new SelectListItem{ Text = "Maternity Leave ", Value = "Maternity" },
  new SelectListItem{ Text = "Paternity", Value = "Paternity" },
   new SelectListItem{ Text = "Duvet Day", Value = "Duvet" },
  new SelectListItem{ Text = "Training", Value = "Training" },
   new SelectListItem{ Text = "Compassionate Leave", Value = "Compassionate" },
  new SelectListItem{ Text = "Marriage Leave", Value = "Marriage" },
   new SelectListItem{ Text = "Mass Leave", Value = "Mass" }


}, new { @class = "form-control" })
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect"> Submit Request</button>

            </div>
        </div>
    </div>
</div>
}

