﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Login.Controllers

@{
    var loginModel = new MhubLoginModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

}

@using (Html.BeginUmbracoForm<mHubAuthSurfaceController>("HandleLogin"))
{
    <fieldset class="container">
        @Html.ValidationSummary("loginModel", true)

        <div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    @Html.TextBoxFor(m => loginModel.Username, null, new { @class = "form-control", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => loginModel.Username)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => loginModel.Password)
                </div>
            </div>
            <div class="row">
                <div class="checkbox form-group col-sm-3">
                    @Html.CheckBoxFor(m => loginModel.RememberMe)
                    @Html.LabelFor(model => loginModel.RememberMe)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">

                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                </div>
            </div>
            
        </div>
    </fieldset>
}

<style>
    .validation-summary-errors{
        width:300px;
    }
    .validation-summary-errors li, .validation-summary-errors ul{
        list-style:none;
        color:red;
        padding-left:0px;
    }
</style>