﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var loginStatusModel = Members.GetCurrentLoginStatus();
    if (loginStatusModel.IsLoggedIn)
    {
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">@loginStatusModel.Name<b class="caret"></b></strong>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="/administration/employee-overview/">Edit Profile</a></li>

            <li><a href="/account?logout=true">Logout</a></li>
        </ul>
    }
}