﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<LeaveRequestStart>
@{

    var LeaveId = Umbraco.TypedContentAtRoot().First();

    //var leaveDic = LeaveId.GetPropertyValue("eszhzab7l0lgo9m4l56zuxr").ToString();
    //var leavetypes = MhubJsonHelper<eLearningModel>.ConvertJson(leaveDic);
  //  var leavetypes = LeaveHelpers.GetLeaveTypes;

    var member = MhubMemberHelper.LoggedInMember;
    var memhub = member.GetValue<int>("hub");
    var leavetypes= LeaveHelpers.GetLeaveTypesId(memhub);
    var userList = MhubMemberHelper.APIGetAll(member);
    var options = new List<SelectListItem>();
    var UserOptions = new List<SelectListItem>();
    var singleUser = new SelectListItem();
    var roleLevel = member.GetValue<int>("roleLevel");

    var defaultUser = new SelectListItem();
    defaultUser.Text = member.Username;
    defaultUser.Value = member.Id.ToString();

    if (userList!= null)
    {
        foreach (var u in userList)
        {
            singleUser = new SelectListItem();
            singleUser.Text = u.Username;
            singleUser.Value = u.Id.ToString();

            UserOptions.Add(singleUser);
        }

    }
    //  check logged in user is in list, and add if not
    bool userExistsInList = UserOptions.Exists(x => x.Value == member.Id.ToString());
    if (!userExistsInList)
    {
        singleUser = new SelectListItem();
        singleUser.Text = member.Name;
        singleUser.Value = member.Id.ToString();
        UserOptions.Add(singleUser);
    }

}



@foreach (var leavetype in leavetypes)
{
    var singleOption = new SelectListItem();

    singleOption.Text = leavetype.key;
    singleOption.Value = leavetype.key + ":" + leavetype.value;
    options.Add(singleOption);

}


@using (Html.BeginUmbracoForm("CreateLeave", "LeaveRequestSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{



    <!--
         <div class="col-sm-8">
           <div class="input-daterange input-group" id="datepicker">
               <input type="text" class="input-sm form-control" name="start" value="05/14/2014"/>
               <span class="input-group-addon" style=" background-color:white; border:0px;"><label> <input type="checkbox" class="i-checks"> Half Day &nbsp;&nbsp;&nbsp;</label></span>

               <input type="text" class="input-sm form-control" name="end" value="05/22/2014" />
                 <span class="input-group-addon" style=" background-color:white; border:0px;"><label> <input type="checkbox" class="i-checks"> Half Day   </label></span>

           </div>

          </div>
          -->
    <div class="row">
        <div class="form-group" id="data_1">

            <label class="font-noraml col-sm-3">@Html.LabelFor(m => m.LeaveStart)</label>
            <div class="col-sm-6">
                <div class="input-group date">

                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>


                    @Html.TextBoxFor(m => m.LeaveStart, "{0:MMMM dd, yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LeaveStart)
                    <!-- <input type="text" class="form-control" value="03/04/2014"> -->

                </div>


            </div>

            <div class="input-group col-sm-2">
                <span class="input-group-addon" style="border:0px;">
                    <label>
                        @Html.CheckBoxFor(m => m.HalfDayStart, new { @class = "i-checks" }) &nbsp;&nbsp; @Html.LabelFor(m => m.HalfDayStart)
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" id="data_1">

            <label class="font-noraml col-sm-3">@Html.LabelFor(m => m.LeaveEnd)</label>
            <div class="col-sm-6">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                    @Html.TextBoxFor(m => m.LeaveEnd, "{0:MMMM dd, yyyy}", new { @class = "form-control", @value = "03/04/2014" })
                    @Html.ValidationMessageFor(m => m.LeaveEnd)

                </div>
            </div>

            <div class="input-group col-sm-2">
                <span class="input-group-addon" style="border:0px;">
                    <label> @Html.CheckBoxFor(m => m.HalfDayEnd, new { @class = "i-checks" }) &nbsp;&nbsp; @Html.LabelFor(m => m.HalfDayEnd)</label>
                </span>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <div class="row">
                <label class="col-sm-6 control-label text-left" style="text-align:left;">
                    @Html.LabelFor(m => m.LeaveType)
                </label>

                <div class="input-group col-sm-6">
                    <div class="col-sm-12">


                        @Html.DropDownListFor(m => m.LeaveType, options
              , new { @class = "form-control m-b" })
                    </div>
                </div>
            </div>
        </div>




        <div class="form-group col-sm-6">
            <label class="col-sm-6 control-label text-center" style="text-align: center;">
               @if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
               {
                 @Html.LabelFor(m => m.user_id)
               }
            </label>
            <div class="input-group col-sm-6">
                <div class="col-sm-12">
                    @if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
                    {
                        @Html.DropDownListFor(m => m.user_id, new SelectList(UserOptions, "Value", "Text", member.Id.ToString())
, new { @class = "form-control m-b" })
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.user_id, new { @Value = member.Id.ToString() })

                    }

                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label text-left" style="text-align:left;">Leave Comments</label>
                <div class="input-group  col-sm-8">
                    <div class="col-sm-8">
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control m-b", @placeholder = "Enter Reason For Leave" })


                    </div>
                    <div class="col-sm-4">
                        <br />
                        <button class="btn btn-success" type="submit">Submit Leave Request</button>

                    </div>
                </div>

            </div>
        </div>
        <!--<div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 input-group ">
                <div class="col-sm-12">
                    <button class="btn btn-success" type="submit">Submit Leave Request</button>

                </div>
             </div>
        </div>
           -->
}
