﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<StationaryRequisition>
@{

    var options = new List<SelectListItem>();
    var UserOptions1 = new List<SelectListItem>();
    var member = MhubMemberHelper.LoggedInMember;
    var userList = MhubMemberHelper.APIGetAll(member);
    var singleUser = new SelectListItem();
    var categories = DataHelpers.GetStationaryOptions();
 //   var tempval = TempData["Ddif"];
    var StationaryManager = DataHelpers.GetStationaryManager;
    var roleLevel = member.GetValue<int>("roleLevel");
    var defaultUser = new SelectListItem();
    defaultUser.Text = member.Username;
    defaultUser.Value = member.Id.ToString();
    if (userList != null)
    {
        foreach (var u in userList)
        {
            singleUser = new SelectListItem();
            singleUser.Text = u.Username;
            singleUser.Value = u.Id.ToString();

            UserOptions1.Add(singleUser);
        }

    }
    // check logged in user is in list, and add if not
    bool userExistsInList = UserOptions1.Exists(x => x.Value == member.Id.ToString());
    if (!userExistsInList)
    {
        singleUser = new SelectListItem();
        singleUser.Text = member.Name;
        singleUser.Value = member.Id.ToString();
        UserOptions1.Add(singleUser);
    }

    var UserOptions = new List<SelectListItem>();
    singleUser = new SelectListItem();
    singleUser.Text = "Deano";
    singleUser.Value = "4353";
    UserOptions.Add(singleUser);
    singleUser = new SelectListItem();
    singleUser.Text = "Deansresult";
    singleUser.Value = "2526";
    UserOptions.Add(singleUser);
}

@using (Html.BeginUmbracoForm("CreateStationary", "StationarySurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{



    <!--
         <div class="col-sm-8">
           <div class="input-daterange input-group" id="datepicker">
               <input type="text" class="input-sm form-control" name="start" value="05/14/2014"/>
               <span class="input-group-addon" style=" background-color:white; border:0px;"><label> <input type="checkbox" class="i-checks"> Half Day &nbsp;&nbsp;&nbsp;</label></span>

               <input type="text" class="input-sm form-control" name="end" value="05/22/2014" />
                 <span class="input-group-addon" style=" background-color:white; border:0px;"><label> <input type="checkbox" class="i-checks"> Half Day   </label></span>

           </div>

          </div>
          -->

    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>

    }
    if (TempData["tempval"] != null)
    {
        <div class="alert alert-success">
            @TempData["tempval"]
        </div>

    }

    <div class="row">
        <div class="form-group" id="data_1">

            <label class="font-noraml col-sm-4"><strong>Select Stationary Category</strong></label>
            <div class="col-sm-4">
                

                    @Html.DropDownListFor(m => m.Stationary_Category_Id, new SelectList(categories, "Value", "Text","5"), new { @class = "form-control m-b" })




              


            </div>

            <div class="input-group col-sm-2">
                <span class="input-group-addon" style="border:0px;">
                    <label>
                        @*@Html.CheckBoxFor(m => m.HalfDayStart, new { @class = "i-checks" }) &nbsp;&nbsp; @Html.LabelFor(m => m.HalfDayStart)*@
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" id="data_1">

            <label class="font-noraml col-sm-4"><strong>Select Stationary Item </strong> <i class="fa" id="completeButton"></i></label>

            <div class="col-sm-4">
                @Html.DropDownListFor(m => m.Stationary_Item_Id,new SelectList(options, "Value","Text"),  new { @class = "form-control m-b" })


            </div>


            <div class="col-sm-6">
                <div class="input-group date">
                    <label class="font-noraml col-sm-4"></label>

                    @*@@Html.TextBoxFor(m => m.LeaveEnd, "{0:MMMM dd, yyyy}", new { @class = "form-control", @value = "03/04/2014" })
                        @Html.ValidationMessageFor(m => m.LeaveEnd)*@
                    <div class="col-sm-8">




                    </div>
                </div>
            </div>

            <div class="input-group col-sm-2">
                <span class="input-group-addon" style="border:0px;">
                    <label> @*@Html.CheckBoxFor(m => m.HalfDayEnd, new { @class = "i-checks" }) &nbsp;&nbsp; @Html.LabelFor(m => m.HalfDayEnd)*@</label>
                </span>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <div class="row">
                <label class="col-sm-4 control-label text-left" style="text-align:left;">
                    <strong>Select Quantity</strong>
                </label>

                <div class="col-sm-4">
                    
                        @Html.TextBoxFor(m => m.Quantity_Ordered, new { @class = "form-control m-b", @placeholder = "Enter Quantity", type="Number", min=1 })
                    
                </div>
                <div class="col-sm-4 control-label text-left">
                    @Html.TextBoxFor(m => m.Job_Name, new { @class = "form-control m-b", @placeholder = "Enter Job Name if available", type = "Text" })
                </div>

            </div>
        </div>


    </div>

    @*<div class="row">
        <div class="form-group col-sm-12">
            <div class="row">
                <label class="col-sm-4 control-label ">
                    @if (StationaryManager.Id != MhubMemberHelper.LoggedInMember.Id)
                   
                        {
                        <strong>Submit Stationary Request For </strong>
                    }
                </label>

                <div class="col-sm-4">
                  @if (StationaryManager.Id != MhubMemberHelper.LoggedInMember.Id)
                  {
                        @Html.DropDownListFor(m => m.User_Id, new SelectList(UserOptions1, "Value", "Text", "3886")
, new { @class = "form-control m-b" })

                
                  }
                  else
                  {
                        @Html.HiddenFor(m => m.Approved_By, new { @Value = member.Id.ToString() })

                    }


                </div>
            </div>
        </div>

    </div>*@
        <div class="row">
            <div class="form-group">
                
                <label class="col-sm-4 control-label text-left" style="text-align:left;">Addition Information</label>
                <div class="input-group  col-sm-6">
                    <div class="col-sm-12">
                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control m-b", @placeholder = "Information regarding stationary request, who its for etc.", rows="5" })
</div>


                        <div class="col-sm-4">
                            <br />
                            <button class="btn btn-success" type="submit">Submit Stationary Request</button>

                        </div>
                    </div>
</div>
            </div>
       
        <!--<div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 input-group ">
                <div class="col-sm-12">
                    <button class="btn btn-success" type="submit">Submit Leave Request</button>

                </div>
             </div>
        </div>
           -->
}
