﻿@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@

@model SupportFormViewModel

@using (Html.BeginUmbracoForm("Submit", "SupportForm"))
{
    <div>
        <h4>Please leave a descriptive message about the problem you are having and we will reply within 48 hours.</h4>
    </div>
    <div>
        @if (Model.MessageSent)
        {
            <h3 class="success">Your message has been sent.</h3>
        }


        @Html.TextAreaFor(m => m.Message, new { rows = "10", cols = "100" })
    </div>
    <input class="btn btn-primary" type="submit" name="Submit" value="Submit" />
}