﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";

    var member = MhubMemberHelper.LoggedInMember;
    var roleLevel = member.GetValue<int>("roleLevel");
}
@section Scripts {
 <script src="/Appraisal/js/angular.min.js"></script>
 <script src="/Appraisal/js/module.js"></script>
 <script src="/Appraisal/js/ViewMappraisal.component.js"></script>
  
   }
@if (roleLevel == 152)
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
{

<div ng-app="vApprais">
   

<user-app></user-app>

 
</div>
}
