﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Assessment>
@using ClientDependency.Core.Mvc;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "mhubMasterPage.cshtml";
    Html.RequiresJs("~/Scripts/Angular.js");
    var exists = CurrentPage.HasValue("grades");
    var grades1 = CurrentPage.grades;
    var gExists = "True";
    if (exists)
    {
        gExists = "True";
           grades1 = CurrentPage.grades;
    }
    else
    {
           grades1 = new eLearningModel();
        gExists = "False";
    }
    var repo = new AssessmentRepository();
    List<AssessmentAnswerSet> pastAttempts = repo.GetByAssessmentAndMember(MhubMemberHelper.LoggedInMember.Id, CurrentPage.Id);
}

<div ng-app="assessmentApp" class="container learn" ng-controller="assesment as $ctrl">
    <h2>@Model.Content.Title</h2>
    <div ng-show="$ctrl.init">
        @Model.Content.BodyContent
    </div>

    <div ng-show="$ctrl.init" ng-cloak>
        <div class="well well-lg">
            @if (pastAttempts.Count > 0)
            {
                <h3>Previous attempts</h3>
                <table class="table table-striped table-hover table-striped table-bordered table-responsive">
                    <tr>
                        <th>Time</th>
                        <th>Grade</th>
                        <th>Score</th>
                    </tr>
                    @foreach (var attempt in pastAttempts)
                    {
                        <tr>
                            <td>@attempt.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy hh:mm ")</td>
                            <td>@attempt.Grade</td>
                            <td>@attempt.Score</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <h1 class="text-center">You have not take this assessment yet.</h1>
            }
        </div>
        <div class="center-block text-center">
            <span class="btn btn-primary btn-lg " ng-click="$ctrl.start()">Start Assessment</span>
        </div>
    </div>

    <div ng-show="$ctrl.loading" class="overlay">
        <div class="loader"></div>
    </div>

    <div ng-show="$ctrl.doingAssessment" ng-cloak>
        <div ng-repeat="q in $ctrl.questions track by $index" ng-cloak>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <h4>Question: {{ $index + 1 }}</h4>
                        <p>{{q.text}}</p>
                    </div>

                    <ol type="A">
                        <li ng-repeat="a in q.answers">
                          
                                <input type="radio" name="{{$parent.$index}}" ng-model="$ctrl.answers[$parent.$index]" value="{{$index}}" ng-click="" /> {{ a.text }}
                            
                        </li>
                    </ol>
                    @*{{ q.answers[$ctrl.answers[$index]].isAnswer }}*@
                </div>
            </div>
        </div>
        <span class="btn btn-success" ng-click="$ctrl.submit()">Submit</span>
    </div>

    <div ng-show="$ctrl.haveResults" ng-cloak>
        <div class="jumbotron">
            <h2>Your assessment has been submitted</h2>
            <h1 class="text-center">Your result is: {{ $ctrl.score }}% <small ng-class="$ctrl.resultClass">{{ $ctrl.grade  }}</small></h1>
            <span class="btn btn-primary btn-lg" ng-click="$ctrl.start()">Try again</span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@section styles{
    <style>
        .overlay {
            /*background-color: #232323;*/
            height: 100%;
            width: 100%;
        }

            .overlay div {
                margin: auto auto;
            }

        .jumbotron h2 {
            border: 0;
        }
    </style>
}

@section scripts{
    <script>
        (function() {
            'use strict';

            angular.module('assessmentApp', [])
                   .controller('assesment',  assesment);

            assesment.$inject = ['$http'];

            function assesment($http, $timeout) {
                var vm = this;
                vm.failedAttempts=0;
                vm.init = true;
                vm.answers = [];
                vm.questions = [];
                vm.pastAttempts = [];
                var grades=[ { "key": "Pass", "value": "70" }, { "key": "Merit", "value": "80" }, { "key": "Distinction", "value": "90" } ];
                var  gradeExists="+(@Html.Raw(gExists))+";
                if (gradeExists=="True")
                {
                    grades=@Html.Raw(grades1);  
                }

                @*var questionsToShow = @CurrentPage.displayQuestions - 0;
                var questionSource =  (@Html.Raw(Model.Content.Questions)).questions;
                if (!questionsToShow)
                {questionsToShow=10;}

                if(questionSource.length < questionsToShow){
                    questionsToShow = questionSource.length;
                }

                // create the random questionset
                while (questionsToShow--){
                    var n = Math.floor((Math.random() * questionsToShow));
                    var question = {};
                    angular.copy(questionSource[n], question);
                    vm.questions.push(question);
                    questionSource.splice(n, 1);
                }*@

                //// angular functions
                vm.start = function(){
                    vm.questions = [];
                    
                    var questionsToShow = @CurrentPage.displayQuestions - 0;
                    var questionSource =  (@Html.Raw(Model.Content.Questions)).questions;
                    console.log(questionSource);
                    if (!questionsToShow)
                    {questionsToShow=10;}

                    if(questionSource.length < questionsToShow){
                        questionsToShow = questionSource.length;
                    }

                    // create the random questionset
                    while (questionsToShow--){
                        var n = Math.floor((Math.random() * questionSource.length));
                        var question = {};
                        angular.copy(questionSource[n], question);
                        vm.questions.push(question);
                        questionSource.splice(n, 1);
                    }
                    vm.answers = [];
                    vm.doingAssessment = true;
                    vm.init = false;
                    vm.haveResults = false;

                    window.scrollTo(0, 0);
                }

                vm.checkError = function(dto){
                    console.log(dto);
                   
                      return   $http.post("/umbraco/api/assessment/submit", dto).then(function(response){
                            
                          vm.loading = false;
                             vm.haveResults = true;

                          //   console.log(response);
                            // return true;
                           //  toastr.success("Assessment result submitted.");
                             //todo - response type data
                         },function(error){
                             vm.doingAssessment = true;
                             vm.loading = false;
                            // return false;
                             toastr.error("There was an error submitting your answers please contact support");
                         });
                }

                vm.submit = function(){
                    //scroll to top
                    window.scrollTo(0, 0);
                    alert("this should slow stuff down");
                    vm.doingAssessment = false;
                    vm.loading = true;
                    vm.submitSuccessfully = false;
                    var totalCorrect = 0;
                    var score = 0;
                    for (var i = 0; i < vm.questions.length; i++) {
                        var q = vm.questions[i];
                        var a = vm.answers[i];
                        if(q.answers[a] && q.answers[a].isAnswer){
                            totalCorrect++;
                        }
                    }

                    vm.score = ((totalCorrect / vm.questions.length) * 100).toFixed(0);
                    //alert(grades.length);
                    //if (grades.length==0)
                    //{
                    //    //grades[0].value=10;
                    //    //grades[0].key="Pass";
                    //    //grades[1].value=80;
                    //    //grades[1].key="Merit";
                    //    //grades[2].value=90;
                    //    //grades[2].key="Distinction";
                    //}
                    vm.grade="Fail";
                    for(var i in grades){
                        if(vm.score >= (grades[i].value-0)){
                            vm.grade = grades[i].key;
                            vm.resultClass = "text-success";
                            ////break;
                        }
                    }

                    if(!vm.grade){
                        vm.grade = "Fail";
                        vm.resultClass = "text-danger";
                    }
                    var dto = {
                        assessmentId: @CurrentPage.id,
                        answers: angular.toJson(vm.answers),
                        Assessment: angular.toJson(vm.questions),
                        grade: vm.grade,
                        score: vm.score,
                        createdAt: Date.now
                    }
                    
                    // vm.funcB(dto);
                    var noError= 1;
                    console.log();
                    var myDataPromise=vm.checkError(dto);
                    myDataPromise.then(function(result) {  

                        // this is only run after getData() resolves
                        //   $scope.data = result;
                        if (vm.haveResults)
                        {
                            vm.failedAttempts=0;
                            toastr.success("Assessment result submitted.");
                        }
                        else
                        {
                            if (vm.failedAttempts<3)
                            {
                                vm.failedAttempts=vm.failedAttempts+1;
                                toastr.error("There was an error re-submitting your answers");
                                $timeout(vm.submit(), 3000);
                            }
                            else{
                                toastr.error("Failed to sumbit answers after 3 attempts, please check internet connection or ensure you are logged in");
                            }
                        }
                        console.log( vm.haveResults);
                    });
                    //if (noError)
                    //{
                    //    toastr.success("Assessment result submitted successfully.");
                    //}
                    //$http.post("/umbraco/api/assessment/submit", dto).then(function(response){
                    //    vm.loading = false;
                    //    vm.haveResults = true;

                    //    console.log(response);
                    //    toastr.success("Assessment result submitted.");
                    //    //todo - response type data
                    //},function(error){
                    //    vm.doingAssessment = true;
                    //    vm.loading = false;
                    //    toastr.error("There was an error submitting your answers please contact support");
                    //});

                }
            }
           //vm.funcB = function(dto){
            
          
           //     $http.post("/umbraco/api/assessment/submit", dto).then(function(response){
           //         vm.loading = false;
           //         vm.haveResults = true;

           //         console.log(response);
           //         toastr.success("Assessment result submitted.");
           //         //todo - response type data
           //     },function(error){
           //         vm.doingAssessment = true;
           //         vm.loading = false;
           //         toastr.error("There was an error submitting your answers please contact support");
           //     });

           // }

            function getPastAssessments(){

            }
        })();
    </script>
}