﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{

    Layout = "mhubMasterPage.cshtml";

    @Html.RequiresJs("~/Scripts/angular.js");
    @Html.RequiresJs("~/Scripts/plugins/d3/d3.min.js");
    @Html.RequiresJs("~/Scripts/plugins/c3/c3.min.js");
    @*@Html.RequiresJs("~/Scripts/plugins/chartJs/Chart.min.js");*@
var member = MhubMemberHelper.LoggedInMember;
var roleLevel=member.GetValue<int>("roleLevel");
}

<div ng-app="assessmentApp" class="container" ng-controller="assessmentReport as $ctrl">
    <div class="form-group">
        <label>Select an assessment</label>
        <select ng-model="$ctrl.selectedAssessment"
                ng-change="$ctrl.changeAssessment()"
                class="form-control">
            <option value=""></option>
            <option ng-repeat="(id, name) in $ctrl.assessments" value="{{id}}">{{name}}</option>

        </select>
    </div>
    <div ng-show="$ctrl.results">
        <div ng-repeat="r in $ctrl.results"></div>
        <div id="pie"></div>
        <canvas id="doughnutChart" height="140"></canvas>
    </div>
    <pre> {{ $ctrl | json}}</pre>
</div>

@section styles{
    <style>
    </style>
}
@section scripts{
    <script>
        (function () {
            'use strict';

            angular.module('assessmentApp', []);
            angular.module('assessmentApp')
                   .controller('assessmentReport', assessmentReport);

            assessmentReport.$inject = ['$http'];

            function assessmentReport($http) {
                var vm = this;
                vm.init = true;

                $http.get("/umbraco/api/assessment/GetAssessmentList").then(function (response) {
                    vm.assessments = response.data;

                });

                vm.changeAssessment = function () {
                    $http.get("/umbraco/api/assessment/GetResultsByAssessment/" + vm.selectedAssessment).then(function (response) {
                        vm.results = response.data;

                    });
                }


                c3.generate({
                    bindto: '#pie',
                    data: {
                        columns: [
                            ['Pass', 30],
                            ['Merit', 120]
                        ],
                        colors: {
                            data1: '#1ab394',
                            data2: '#BABABA'
                        },
                        type: 'pie'
                    }
                });


                //var doughnutData = [
                //        {
                //            value: 30,
                //            color: "#a3e1d4",
                //            highlight: "#1ab394",
                //            label: "Pass"
                //        },
                //        {
                //            value: 20,
                //            color: "#dedede",
                //            highlight: "#1ab394",
                //            label: "Merit"
                //        },
                //        {
                //            value: 10,
                //            color: "#A4CEE8",
                //            highlight: "#1ab394",
                //            label: "Distinction"
                //        },
                //        {
                //            value: 40,
                //            label: "Fail",
                //            color: "#ff9f9f"
                //        }
                //];

                //var doughnutOptions = {
                //    segmentShowStroke: true,
                //    segmentStrokeColor: "#fff",
                //    segmentStrokeWidth: 2,
                //    percentageInnerCutout: 45, // This is 0 for Pie charts
                //    animationSteps: 100,
                //    animationEasing: "easeOutBounce",
                //    animateRotate: true,
                //    animateScale: false,
                //    responsive: true,
                //};

                //var ctx = document.getElementById("doughnutChart").getContext("2d");
                //var myNewChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

            }
        })();


    </script>
}
