﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}
@section styles{
    <style>
        .hov {
            cursor: pointer;
        }

        .enterInfo{
            color:orange;

        }
         .supInfo{
            color:#f2e041;

        }
          .spmInfo{
            color: lightpink;

        }
          .payInfo{
            color: brown;

        }
          .advInfo{
            color: darkgreen;

        }
            .checkInfo{
            color: dodgerblue;

        }


.dtHorizontalVerticalExampleWrapper {
max-width: 600px;
margin: 0 auto;
}



    </style>
}
<div class="wrapper wrapper-content animated fadeInRight" ng-app="appTemplate">
    <div ng-controller="listController">
        <div class="row employees"  >
         
          
            <div class="container col-lg-12">
                <h2>@Umbraco.Field("title")</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 hover"><a href="/cash-flow-monitoring/enter-payment/"><div class="widget style1 navy-bg "><h3>General payment </h3> </div></a></div>
            <div class="col-lg-3"><div class="widget style1 lazur-bg hov" ng-click="ShowTable('AD')"><h3>Advanced Table ({{AdvanceList.length}})</h3></div></div>
            <div class="col-lg-2"><div class="widget style1 yellow-bg hov" ng-click="ShowTable('PR')"><h3>Old Debt ({{PRTable.length}})</h3></div></div>
            <div class="col-lg-3">
                <div class="widget style1 red-bg hov" ng-click="ShowTable('ES')"><h3>Estimate Table ({{EstimateTable.length}})</h3></div>
            </div>
            <div class="col-lg-1">
                <div class="widget style1 yellow-bg hov" ng-click="ShowTable('All')"><h3>All</h3></div>
            </div>

        </div>

        <!--PR Table begin-->
        @*<div class="col-lg-12" ng-if="ShowPRTable">

            <h2>Old Debt Payments</h2>
            <div class="table">
                <table class="table table-responsive table-hover">
                    <tr>
                        <th>PR Number</th>
                        <th>Supplier </th>
                        <th>Invoice Number</th>
                        <th>Tax Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="pr in PRTable">
                        <td>
                            {{pr.PR_Number}}
                        </td>
                        <td>{{pr.Supplier_Name}}</td>

                        <td ng-if="$index != tableIndex || !EditPR">  {{pr.Invoice_Number}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Invoice_Number" class="form-control" /></td>
                        <td ng-if="$index != tableIndex || !EditPR">  {{pr.Tax_Invoice_Number}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Tax_Invoice_Number" class="form-control" /></td>

                        <td ng-if="$index != tableIndex || !EditPR">  {{pr.Invoice_Date}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Invoice_Date" class="form-control" /></td>
                        <td>
                            <button class="btn btn-success" ng-click="EditPRTable($index)">Edit</button>
                            <button class="btn btn-success" ng-if="$index == tableIndex && EditPR" ng-click="UpdatePayment(pr)">Update</button>
                        </td>

                    </tr>
                </table>
            </div>*@

        <div class="col-lg-12" ng-if="ShowPRTable">

            <div class="col-lg-4"> <h2>Old Debt Payments</h2> </div> 
            <div class="col-lg-4" style="margin-top:15px;">
                <input class="form-control" ng-model="OldDebtSearch"  placeholder="Search Table"/>
                </div>
                <div class="table">
                    <table class="table table-responsive table-hover">
                        <tr>
                            <th>Supplier Name</th>
                            <th>Supplier Code</th>
                            <th>Invoice Number</th>
                            <th>Amount</th>
                            <th>Payments made</th>
                            <th>Remaining</th>
                            <th>Is Completed</th>
                        </tr>
                        <tr ng-repeat="pr in OldList | filter:OldDebtSearch">
                            <td>
                                {{pr.Supllier_Name}}
                            </td>
                            <td>{{pr.Supplier_Code}}</td>
                            <td>{{pr.Invoice_No}}</td>
                            <td>{{pr.Amount | number}}</td>
                            <td>{{pr.Payments}}</td>
                            <td>{{pr.Amount  - pr.Amount_Remaining | number}}</td>
                            <td><span ng-if="pr.Amount >pr.Amount_Remaining"><i class="fa fa-times fa-2x text-warning"></i></span>  <span ng-if="pr.Amount <=pr.Amount_Remaining"><i class="fa fa-check fa-2x text-success"></i></span> </td>

                            @*<td ng-if="$index != tableIndex || !EditPR">  {{pr.Invoice_Number}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Invoice_Number" class="form-control" /></td>
                        <td ng-if="$index != tableIndex || !EditPR">  {{pr.Tax_Invoice_Number}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Tax_Invoice_Number" class="form-control" /></td>

                        <td ng-if="$index != tableIndex || !EditPR">  {{pr.Invoice_Date}}</td>
                        <td ng-if="$index == tableIndex && EditPR"> <input type="text" ng-model="pr.Invoice_Date" class="form-control" /></td>*@
                            <td>
                                <button class="btn btn-success" ng-click="EditPRTable($index)">Edit</button>
                                <button class="btn btn-success" ng-if="$index == tableIndex && EditPR" ng-click="UpdatePayment(pr)">Update</button>
                            </td>

                        </tr>
                    </table>
                </div>

            </div>

        <!--Estimate Table table begin-->
        <div class="col-lg-12" ng-show="ShowESTable">
            <div class="row">
                <div class="col-lg-4">
                    <h2>Estimate Table - <small><span class="checkInfo">(Estimate)</span>  <span class="enterInfo">(Actual)</span></small></h2>
                </div>
                <label class="col-lg-1" style="margin-top:20px;">Filter</label>

                <div class="col-lg-3" style="margin-top:15px;">
                    <select ng-model="EstFilter3" class="form-control" >
                        <option value="">All</option>
                        <option value="false">Only Incomplete</option>
                        <option value="true">Completed</option>
                    </select>
                </div>
              

            
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Month/Year </th>
                            <th>Payment No </th>
                            <th style="min-width:120px;">Supplier Name</th>
                            <th style="min-width:200px;">Description</th>
                            <th>Fx</th>
                            <th>Amount (Fx)</th>
                            <th class="checkInfo">Exchange Rate</th>
                            <th class="checkInfo">Amount (THB)</th>
                            <th class="enterInfo">Fx</th>
                            <th class="enterInfo">Actual_Amount (Fx)</th>
                            <th class="enterInfo">Actual_Exchange Rate</th>
                            <th class="enterInfo">Actual Amount (THB)</th>
                            <th class="enterInfo">Bank Fee</th>
                            <th class="enterInfo" style="min-width:120px;">Net amount (THB)</th>

                            <th class="enterInfo">Variance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tr ng-repeat="es in EstimateTable | filter:{Estimated_Amount: EstFilter3}">
                    @*<tr ng-repeat="es in EstimateTable">*@

                        <td>{{es.Payment_Month}} / {{es.Payment_Year}}</td>
                        <td>{{es.Payment_letterNo}}</td>
                        <td>{{es.Supplier_Name}}</td>
                        <td>{{es.Description}}</td>

                        <td>{{es.Amount_Currency}}</td>
                        <td>{{es.Amount}}</td>
                        <td>{{es.Amount_ExchangeRate}}</td>
                        <td>{{es.Amount_Before_Discount}}</td>
                        <td>{{es.Amount_Currency}}</td>

                        <td ng-if="$index != tableIndex || !EditES">  {{es.Actual_Amount}}</td>
                        <td ng-if="$index == tableIndex && EditES"> <input class="form-control" type="number" ng-model="es.Actual_Amount" ng-change="UpdateCalculation(es, 'Estimate')" /></td>
                        <td ng-if="$index != tableIndex || !EditES">  {{es.Actual_Exchange_Rate }}</td>
                        <td ng-if="$index == tableIndex && EditES">
                            <input class="form-control" type="number" ng-model="es.Actual_Exchange_Rate" ng-change="UpdateCalculation(es, 'Estimate')" required />





                        </td>
                        <td>{{es.Actual_Amount * es.Actual_Exchange_Rate | number}}</td>
                        <td>{{es.NetAmount_Bank_Fee}}</td>

                        <td>{{es.Actual_Discount_Amount + es.NetAmount_Bank_Fee | number}} </td>
                        <td>  {{ es.Variance_Difference | number }}  </td>



                        @*<td ng-if="$index != tableIndex || !EditES">
                {{es.Withholding_Tax}}

            </td>
            <td ng-if="$index == tableIndex && EditES">
                <select class="form-control" ng-model="es.Withholding_Tax">
                    <option value="">Choose Withholding Tax</option>
                    <option value="1">1%</option>
                    <option value="2">2%</option>
                    <option value="3">3%</option>
                    <option value="5">5%</option>
                    <option value="0">No Witholding Tax</option>
                </select>
            </td>
            <td>Date</td>*@
                        <td>
                            <button class="btn btn-success" ng-click="EditESTable($index)" ng-if="$index != tableIndex || !EditES">Edit</button>
                            <button class="btn btn-success" ng-if="$index == tableIndex && EditES" ng-click="UpdatePayment(es, $index, EstimateTable,'Estimate')">Update</button>
                            <button class="btn btn-success" ng-if="$index == tableIndex && EditES" ng-click="EditESTable($index)" style="margin-left:10px;">Cancel</button>
                        </td>
                  

                    </tr>
                    <tfoot>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                           
                            <th><strong>{{ paymentFormTotals.Amount | number }} </strong></th>
                            <td></td>
                            <td><strong>{{ paymentFormTotals.Amount_Before_Discount | number }} </strong></td>
                            <td></td>
                            <td><strong>{{ paymentFormTotals.Actual_Amount | number }} </strong></td>
                            <td></td>
                            <td><strong> {{ paymentFormTotals.Actual_Discount_Amount}} </strong></td>
                            <td><strong>{{ paymentFormTotals.Bank_Fee | number }} </strong></td>
                            <td><strong>{{ paymentFormTotals.Actual_Net_Amount | number }} </strong></td>
                            <td><strong>{{ paymentFormTotals.Variance_Difference | number }} </strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

        <!--Advanced Table table begin-->
        <div class="col-lg-12" ng-if="ShowADTable">

            <h2>Advanced Table</h2>
            <div class="table">
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>PR Number</th>
                        <th>Supplier </th>
                        <th>Expense Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Invoice Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="ad in AdvanceList">
                        <td></td>
                        <td>{{ad.Supplier_Name}}</td>
                        <td>{{ad.Expense_Type}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="/cash-flow-monitoring/enter-payment?Id={{ad.Id}}"> <button class="btn btn-warning">Add</button> </a> <button class="btn btn-success" ng-click="CompleteAdvanced(ad.Id)">Complete</button></td>

                    </tr>
                </table>
            </div>

        </div>

        <!--All transaction table begin-->
        <div class="col-lg-12" ng-if="ShowAll">
            <div class="row">
                <div class="col-lg-3"><h2>All Transactions</h2></div>
                <div class="col-lg-3"><div style="padding-top:15px;"><input class="form-control" type="text" ng-model="SearchBox" placeholder="Search Table"/> </div></div>
                <div class="col-lg-3"><select ng-model="pMonth" class="form-control" style="margin-top:15px;">
                                          <option value="" >Payment Month</option>
                      <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="11">11</option>
                                          <option value="12">12</option>
                    </select></div>
                <div class="col-lg-3">
                    <select ng-model="pLetter" class="form-control" style="margin-top:15px;">
                        <option value="">Payment Letter No</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                </div>
           
         
            <div class="table-responsive" id="exportable">
                <table class="table table-striped table-bordered table-sm" id="dtHorizontalVerticalExample">
                   <thead>
                       <tr>
                        @*<th >Month/Year</th>
                        <th>Payment No </th>*@
                        <th class="supInfo">Supplier_Name</th>
                        <th class="supInfo">Location</th>
                        <th class="spmInfo">Payment_Date</th>
                        <th class="spmInfo">Supplier Code</th>
                        <th class="spmInfo">Check No</th>
                        <th class="spmInfo">PO No</th>
                        <th class="spmInfo">PR No</th>
                        <th class="spmInfo">Invoice No</th>
                        <th class="spmInfo">Tax Invoice</th>
                        <th class="spmInfo">Invoice_Date</th>

                        <th class="payInfo" style="min-width:200px;">Description</th>
                        <th class="payInfo">Amount</th>
                        <th class="payInfo">Currency</th>                        
                        <th class="payInfo">Exchange Rate</th>
                        <th class="payInfo">Amount</th>
                        <th class="payInfo">Discount</th>
                        <th class="payInfo">Amount After Discount</th>
                        <th class="payInfo">VAT Rate</th>
                        <th class="payInfo">VAT</th>
                        <th class="payInfo">Amount inc. VAT</th>
                        <th class="payInfo">WHT Rate</th>
                        <th class="payInfo">WHT</th>
                        <th class="payInfo">Cash Discount</th>
                        <th class="payInfo">Retention</th>
                        <th class="payInfo">Bank fee</th>
                        <th class="payInfo">Rounding</th>
                        <th class="payInfo">Net amount</th>

                        <th class="advInfo">Advance </th>
                        <th class="advInfo">Reviewed Inv. Date </th>

                        <th class="checkInfo">PO</th>
                        <th class="checkInfo">Invoice</th>
                        <th class="checkInfo">Contract</th>
                        <th class="checkInfo">Store Receiving Sheet</th>
                        <th class="checkInfo">Receipt</th>
                        <th class="checkInfo">Tax invoice</th>
                        <th class="checkInfo">Approve on PV</th>
                        <th class="checkInfo">Approve รายวันซื้อ</th>
                        <th class="checkInfo">WHT Certificate</th>
                        <th class="checkInfo">Amount from estimate</th>

                        <th class="">Type of expense</th>
                        <th class="">Grouping</th>
                        <th class="">Sub grouping</th>
                        <th>NO. of Payment</th>
                        <th class="checkInfo">Budget Code</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="all in AllList | filter:SearchBox | filter:{Payment_Month: pMonth} | filter:{Payment_letterNo: pLetter} ">

                            @*<td>{{all.Payment_Month}} / {{all.Payment_Year}}</td>
                <td>{{all.Payment_letterNo}}</td>*@
                            <td>{{all.Supplier_Name}}</td>
                            <td>{{all.Location}}</td>
                            <td>{{all.Pr_Date | date}}</td>
                            <td>{{all.Supplier_Code}}</td>
                            <td></td>
                            <td>{{all.PO_No}}</td>
                            <td>{{all.Pr_No}}</td>
                            <td>{{all.Invoice_No}}</td>
                            <td>{{all.Tax_Invoice}}</td>
                            <td>{{all.Invoice_Date | date}}</td>
                            <td>{{all.Description}}</td>
                            <td>{{all.Amount}}</td>
                            <td>{{all.Amount_Currency}}</td>

                            <td>{{all.Amount_ExchangeRate}}</td>
                            <td>{{all.Amount * all.Amount_ExchangeRate}}</td>
                            <td>Add Field</td>
                            <td>Add</td>
                            <td>{{all.Vat_Number}}</td>
                            <td>{{all.Vat_Amount}}</td>
                            <td>{{all.AmountplusVat}}</td>
                            <td>{{all.Withholding_Tax}}</td>
                            <td>{{all.Withholding_Tax_Amount}}</td>

                            <td>{{all.NetAmount_Cash_Discount}}</td>
                            <td>{{all.NetAmount_Retention}}</td>
                            <td>{{all.NetAmount_Bank_Fee}}</td>
                            <td>{{all.NetAmount_Rounding}}</td>
                            <td>{{all.NetAmount_Total}}</td>
                            <td><span ng-if="all.Advanced==true">Yes</span><span ng-if="all.Advanced==false">No</span></td>
                            <td>{{all.Invoice_Date | date}}</td>

                            <td>{{all.Blue_PO}}</td>
                            <td>{{all.Blue_Invoice}}</td>
                            <td>{{all.Blue_Contract}}</td>
                            <td>{{all.Blue_Delivery_Note}}</td>
                            <td>{{all.Blue_Receipt}} </td>
                            <td>{{all.Blue_Tax_Invoice}}  @*{{all.Tax_Invoice_Number}}*@</td>



                            <td>{{all.Blue_ApprovePV}}</td>
                            <td>{{all.Blue_ApprovePi}}</td>
                            <td>{{all.Blue_WHT_Cert}}</td>
                            <td>{{all.Blue_Amount_Estimate}}</td>
                            <td>{{all.Expense_Type}}</td>
                            <td>{{all.Group_Of_Expenses_Name}}</td>
                            <td>{{all.SubGroup_Of_Expenses_name}}</td>
                            <td>{{all.Payment_letterNo}}</td>
                            <td>Add field</td>
                            <td><a href="/cash-flow-monitoring/enter-payment?Id={{all.Id}}&Status=1"> <button class="btn btn-success">Edit</button> </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div><button ng-click="exportData()" class="btn btn-primary" ng-show="fail!=1">Export to Excell</button></div>
            </div>
        </div>
    </div>
@section scripts{

    @*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="/Scripts/plugins/DatePicker-th/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/DatePicker-th/bootstrap-datepicker-thai.js"></script>
    <script src="~/Scripts/plugins/DatePicker-th/locales/bootstrap-datepicker.th.js"></script>
@*<script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>*@
<script src="/Scripts/plugins/FileSaver/FileSaver.js" type="text/javascript"></script>
    <script>

        //$(document).ready(function () {
        //    $('#dtHorizontalVerticalExample').DataTable({
        //        "scrollX": true,
        //        "scrollY": 200,
        //    });
        //    $('.dataTables_length').addClass('bs-select');
        //});
        var appTemplate = angular.module('appTemplate', ['ui.bootstrap', 'ngAnimate']);


        appTemplate.controller('listController', function ($scope, $http, $uibModal, $log) {
            $scope.paymentForm = {};
            $scope.paymentFormTotals = {};
            $scope.Actioning = false;
            $scope.PRTable = [];
            $scope.CollatTotal = 0;
            $scope.InvoiceFound = false;
            $scope.Creditor = [];
            $scope.InvoiceTable = false;
            $scope.EstimateTable = [];
            $scope.AdvanceList = [];
            $scope.AllList = [];
            $scope.ShowPRTable = false;
            $scope.ShowESTable = false;
            $scope.ShowADTable = false;
            $scope.ShowAll = false;
            $scope.EditPR = false;
            $scope.EditAD = false;
            $scope.EditES = false;
            $scope.SearchBox = "";
            $scope.EstFilter = "true";
            $scope.TempFilter = false;

            $scope.GetPRTable = function () {


                var config = {};
                $http.get('/umbraco/API/CashFlowAPI/PRTable')
                           .success(function (data, status) {
                               $scope.PRTable = data;

                               // alert(data);

                               //  toastr.success("balance Updated Successfully");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch suppliers, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }

            $scope.GetModel = function () {


                var config = {};
                $http.get('/Umbraco/API/CashFlowApi/GetPaymentModel')
                           .success(function (data, status) {
                               $scope.paymentFormTotals = data;
                              
                               // alert(data);

                               //  toastr.success("Form");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch form, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }

            $scope.GetESTable = function () {


                var config = {};
                $http.get('/umbraco/API/CashFlowAPI/EstimateTable')
                           .success(function (data, status) {
                               $scope.EstimateTable = data;
                               var log = {};
                               angular.forEach($scope.EstimateTable, function (value, key) {
                                   //  console.log(value);
                                   value.Withholding_Tax = "" + value.Withholding_Tax + "";


                               }, log);

                               console.log(data)
                               $scope.TableTotals();

                           }).error(function (error, status) {
                               toastr.error("Unable to fetch Estimate Table, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            $scope.GetADTable = function () {


                var config = {};
                $http.get('/umbraco/API/CashFlowAPI/AdvanceList')
                           .success(function (data, status) {
                               $scope.AdvanceList = data;

                               // alert(data);

                               //  toastr.success("balance Updated Successfully");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch Advanced Table, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            $scope.GetOldTable = function () {


                var config = {};
                $http.get('/umbraco/API/CashFlowAPI/OldSupplierTable')
                           .success(function (data, status) {
                               $scope.OldList = data;

                               // alert(data);

                               //  toastr.success("balance Updated Successfully");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch Old Debt Table, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            $scope.GetAllTable = function () {


                var config = {};
                $http.get('/umbraco/API/CashFlowAPI/AllTable')
                           .success(function (data, status) {
                               $scope.AllList = data;

                               // alert(data);

                               //  toastr.success("balance Updated Successfully");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch all transactions table, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }

            $scope.GetPRTable();
            $scope.GetESTable();
            $scope.GetADTable();
            $scope.GetAllTable();
            $scope.GetOldTable();

            $scope.EditPRTable = function (index) {
                $scope.EditPR = $scope.EditPR == false ? true : false;
                $scope.tableIndex = index;
            }
            $scope.EditESTable = function (index) {
                $scope.EditES = $scope.EditES==false?true:false;
                $scope.tableIndex = index;
            }
            $scope.EditADTable = function (index) {
                $scope.EditAD = $scope.EditAD == false ? true : false;
                $scope.tableIndex = index;
            }

            $scope.CompleteAdvanced = function (id) {
                $http.get('/umbraco/API/CashFlowAPI/CompleteAdvanced?ID=' + id)
                          .success(function (data, status) {
                              $scope.AdvanceList = data;

                              // alert(data);

                              //  toastr.success("balance Updated Successfully");
                              console.log(data)


                          }).error(function (error, status) {
                              toastr.error("Unable to fetch Advanced Table, refresh page");
                              // $scope.deleting = false;
                              // $scope.Actioning1 = false;
                          });
            }
            $scope.UpdatePayment = function (pay, index, table, tableType) {
                var config = {};
                var ValidationsPassed = false;
                if (tableType == 'Estimate')
                {
                    ValidationsPassed =  $scope.EstimateValidations(pay);
                }
                if (ValidationsPassed) {
                    $http.post('/umbraco/API/CashFlowAPI/UpdatePayment/', pay, config).success(function (data, status) {

                        toastr.success("Payment updated successfully");
                      //  table.splice(index, 1);
                        $scope.EditES = false;
                        $scope.EditER = false;

                    }).error(function (error, status) {

                        toastr.error("Unable to update payment");
                    });
                }
                else {
                    alert("Failed, Enter required fields");
                }
            }

            $scope.UpdateCalculation= function (payForm, tableType)
            {
                //alert("gets here");
                payForm.Actual_Discount_Amount = parseFloat(payForm.Actual_Amount) * parseFloat(payForm.Actual_Exchange_Rate);
                payForm.Variance_Difference = payForm.Amount_Before_Discount - payForm.Actual_Discount_Amount;
                console.log(parseFloat(payForm.Actual_Exchange_Rate));
               $scope.TableTotals();
            }

            $scope.TableTotals= function(table)
            {

                var log = {};
                console.log($scope.EstimateTable);
                var Amount_Table = 0;
                var Amount_Before_Discount = 0;
                var Actual_Amount =0;
                var Bank_Fee =0;
              var   Actual_Discount_Amount=0;
                var Variance_Difference=0;

                angular.forEach($scope.EstimateTable, function (value, key) {
                    //  console.log(value);
                    Amount_Table = Amount_Table + value.Amount;
                    Amount_Before_Discount =Amount_Before_Discount + value.Amount_Before_Discount;
                    Actual_Amount =Actual_Amount + value.Actual_Amount;
                    Bank_Fee = Bank_Fee + parseFloat(value.NetAmount_Bank_Fee);

                    Actual_Discount_Amount=Actual_Discount_Amount + value.Actual_Discount_Amount;
                    Variance_Difference = Variance_Difference + value.Variance_Difference;
                  //  $scope.paymentFormTotals.Amount = value.Amount + $scope.paymentFormTotals.Amount;
                  //  value.Withholding_Tax = "" + value.Withholding_Tax + "";
                   // alert(Amount_Table);

                }, log);
                $scope.paymentFormTotals.Amount = Amount_Table;
                $scope.paymentFormTotals.Amount_Before_Discount=Amount_Before_Discount;
                $scope.paymentFormTotals.Actual_Amount=Actual_Amount;
                $scope.paymentFormTotals.Bank_Fee =Bank_Fee; 
                $scope.paymentFormTotals.Actual_Discount_Amount= Actual_Discount_Amount;
               
                $scope.paymentFormTotals.Actual_Net_Amount = parseFloat(Actual_Discount_Amount) + Bank_Fee;
                $scope.paymentFormTotals.Variance_Difference = Variance_Difference;
                console.log(parseFloat(Bank_Fee));
                         
                         
            }
            // export all table to csv
            $scope.exportData = function () {
                var blob = new Blob([document.getElementById('exportable').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                });
                saveAs(blob, "Report.xls");
            };
        
            ///validations
            $scope.EstimateValidations = function (Payment) {
                console.log(Payment);
                if (Payment.Actual_Amount > 0 && Payment.Actual_Exchange_Rate > 0) {
                    return true;
                }
                return false;
            }
            $scope.ShowTable = function (Table) {
                switch (Table) {
                    case "PR":
                        // code block
                        $scope.ShowPRTable = $scope.ShowPRTable == false ? true : false;
                        $scope.ShowESTable = false;
                        $scope.ShowADTable = false;
                        $scope.ShowAll = false;
                        break;
                    case "ES":
                        // code block
                        $scope.ShowESTable = $scope.ShowESTable == false ? true : false;
                        $scope.ShowPRTable = false;
                        $scope.ShowADTable = false;
                        $scope.ShowAll = false;
                        break;
                    case "AD":
                        // code block
                        $scope.ShowADTable = $scope.ShowADTable == false ? true : false;
                        $scope.ShowESTable = false;
                        $scope.ShowPRTable = false;
                        $scope.ShowAll = false;
                        break;
                    case "All":
                        $scope.ShowAll = $scope.ShowAll == false ? true : false;
                        $scope.ShowADTable = false;
                        $scope.ShowESTable = false;
                        $scope.ShowPRTable = false;
                    default:
                        // code block
                }

            }

            // turns a boolean string into a literal
            $scope.ReturnTrueFalse = function ()
            {
             //   alert($scope.EstFilter);
                if ($scope.EstFilter == "true")
                {
                    $scope.TempFilter = true;
                   // alert($scope.TempFilter);
                }
                else
                {
                    $scope.TempFilter= false;
                }
            }
        })
    </script>
}