﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" ng-app="appTemplate">
    <div ng-controller="listController">
        <div class="row employees">

            <div class="container col-lg-12">
                <h2>@Umbraco.Field("title")</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hover"><div class="widget style1 navy-bg " ng-click="OptionClick('New')"><h3>Enter New Budget </h3> </div></div>
            <div class="col-lg-4"><div class="widget style1 lazur-bg hov" ng-click="OptionClick('Edit')"><h3>Edit Existing Budget</h3></div></div>
            <div class="col-lg-4"><div class="widget style1 yellow-bg hov" ng-click="OptionClick('Review')"><h3>Review/Compare Budget</h3></div></div>

        </div>
        <h2>Select Budget Period</h2>
        <div class="row">
            <div class="col-lg-2"><label>Payment Letter</label></div>
            <div class="col-lg-2"><label>Payment Month</label></div>
            <div class="col-lg-2"><label>Payment Year</label></div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <select ng-model="Payment_Letter" class="form-control" ng-disabled="Review!=true">
                    <option value="0">Payment Letter</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select ng-model="Payment_Month" class="form-control">
                    <option value="0">Payment Month</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select ng-model="Payment_Year" class="form-control">
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>

                </select>

            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary" ng-click="StartBudget()" ng-if="ExistingChoosen!=true && Review!=true">Create New Budget</button>
                <button class="btn btn-warning" ng-click="CompareBudget()" ng-if="Review==true">Compare Budget</button>
                <button class="btn btn-info" ng-click="FindEditBudget()" ng-if="ExistingChoosen==true">Edit Budget</button>

            </div>
        </div>
        <div ng-show="NewChoosen==true">
            <div class="row" style="margin-top:20px;">
                <h3 class="col-lg-12">Add Groups To Budget</h3>
            </div>
            <div class="row" style="margin-top:20px;">
                <!--Supplier Names-->
                <div class="col-lg-4">
                    <select class="form-control" ng-model="SelectedGroup" ng-options="item as item.Group_Name for item in groups ">
                        <option value="">-- choose an option --</option>
                    </select>
                    @*<option value="">Select Group</option>
                            <option ng-repeat="gr in groups" value="{{gr.Id}}"> {{gr.Group_Name}}  </option>
                        </select>*@
                </div>
                <div class="col-lg-4">
                    <i class="fa fa-plus fa-2x" ng-click="AddVersion()"></i> {{br.$index}}

                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" style="margin-top:20px;">
                <!--Supplier Names-->
                <div class="col-lg-3">
                    <h4>Group Name</h4>
                </div>
                <div class="col-lg-3"> <h4>Version 1</h4></div>
                <div class="col-lg-3"><h4>Version 2</h4></div>

            </div>

            <div class="row">

            </div>
            <div class="row" ng-repeat="br in Budget" style="margin-top:20px; margin-bottom:20px;">
                <!--Supplier Names-->
                <div class="col-lg-3">
                    {{br.Group_Name}}
                </div>
                <div class="col-lg-3"> <input type="number" class="form-control" ng-model="br.Version1" /></div>
                <div class="col-lg-3"><input type="number" class="form-control" ng-model="br.Version2" /></div>


            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-9">
                    <button ng-click="submitBudget()" class="btn btn-success pull-right" ng-disabled="Budget.length==0 || Payment_Letter==0 || Payment_Month==0"><i class="fa fa-spin fa-spinner" ng-if="loading==true"></i> Submit</button>
                </div>


            </div>
        </div>

        <!--Start edit budget section-->
        <div ng-show="SelectedBudget.Budget.length>0 && ExistingChoosen==true">
            <div class="row">
                <div class="col-lg-12"><h2>Edit Budget <i class="fa fa-group" uib-tooltip="Add Groups to Existing budget" ng-click="ShowGroup=true"></i></h2></div>
            </div>
            <div class="row" ng-show="ShowGroup">
                <div class="col-lg-3">
                    <select class="form-control" ng-model="SelectedGroup" ng-options="item as item.Group_Name for item in GroupsList ">
                        <option value="">-- choose group --</option>
                    </select>

                </div>
                <div class="col-lg-1"><i class="fa fa-2x fa-plus" uib-tooltip="Add group to existing budget" ng-click="addGroupExisting()"></i></div>
                <div></div>
            </div>
            
             <div class="row" style="margin-top:20px;" ng-if="SelectedBudget.Payment_Year>0">
                <!--Supplier Names-->
                <div class="col-lg-3">
                    <h4>Group Name</h4>
                </div>
                <div class="col-lg-2"> <h4>Version 1</h4></div>
                <div class="col-lg-2"><h4>Version 2</h4></div>
                @*<div class="col-lg-3"><h4>Actual Budget</h4></div>*@
                <div class="col-lg-2"><h4>Remove Group</h4></div>

                </div>

            <div class="row" ng-repeat="bu in SelectedBudget.Budget" style="margin-top:15px;">
                <div class="col-lg-3">{{bu.Group_Name}}</div>
                <div class="col-lg-2"><input class="form-control" ng-model="bu.Version1" type="number" /></div>
                <div class="col-lg-2"> <input class="form-control" ng-model="bu.Version2" type="number" /></div>
                <div class="col-lg-3" style="margin-top:5px;"><i class="fa fa-trash hover" ng-if="bu.Delete_Group==false" uib-tooltip="Delete Group From Budget" ng-click="bu.Delete_Group=true"></i> <span class="text-danger" ng-if="bu.Delete_Group==true">Will be deleted on update <i class="fa fa-times fa-2x"  uib-tooltip="Undo Delete" ng-click="bu.Delete_Group=false"></i></span></div>
                @*<div class="col-lg-3">{{bu.Actual_Amount}}</div>*@
            </div>
            <div class="row" ng-if="SelectedBudget.Payment_Year>0" style="margin-top:15px;">
                <div class="col-lg-8"><button class="btn btn-warning pull-right" ng-click="UpdateBudget(SelectedBudget)"><i class="fa fa-spin fa-spinner" ng-if="loadingBud==true"></i> Update</button></div>
            </div>
        </div>
        <div ng-if="ExistingChoosen==true">
            <div class="row">
                <div class="col-lg-12"><h2>Existing Budgets</h2></div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-repeat="eb in ExistingBudgets" ng-click="EditExisting(eb)">
                    <div class="ibox collapsed">
                        <div class="ibox-title" style="background-color:#e8f2b5;">
                            <div class="col-lg-3"><h5>Payment Month : {{eb.Payment_Month}}</h5></div>
                            <div class="col-lg-3"><h5>Payment Letter : {{eb.Payment_Letter}}</h5></div>
                            <div class="col-lg-3"><h5>Payment Year : {{eb.Payment_Year}}</h5></div>



                        </div>
                    </div>
                </div>



                @*<div class="row" ng-repeat="eb in ExistingBudgets">
                        <div class="col-lg-3">Payment Month: {{eb.Payment_Month}}</div>
                        <div class="col-lg-3">Payment Letter: {{eb.Payment_Letter}} </div>
                        <div class="col-lg-3">Payment Year: {{eb.Payment_Year}} </div>
                    </div>*@
            </div>
          
            </div>
        <!--End edit budget section-->
        <!--Start Review budget Section-->
        <div ng-show="Review==true">
            <div class="row" ng-show="SelectedSummaryBudgets.length>0" style="margin-top:55px;background-color:#d1eb50;padding:10px; padding-right:15px;">
                <div class="col-lg-3"><h3>Group name </h3></div>
                <div class="col-lg-3"><h3>Version 1</h3></div>
                <div class="col-lg-3"><h3>Version 2</h3></div>
                <div class="col-lg-3"><h3>Actual Amount</h3></div>
            </div>
            <div class="row" ng-repeat="bu in SelectedSummaryBudgets" style="margin-top:15px;">
                <div class="col-lg-3">{{bu.Group_Name}}</div>
                <div class="col-lg-3">{{bu.Version1 | number}}</div>
                <div class="col-lg-3"> {{bu.Version2 | number}}</div>
                <div class="col-lg-3">{{bu.Actual_Amount | number}}</div>
            </div>
            <div class="row" style="margin-top:15px; background-color:#fbfbfb;padding:10px;" ng-show="SelectedSummaryBudgets.length>0">
                <div class="col-lg-3"><h3>Totals </h3></div>
                <div class="col-lg-3"><h3>{{ChoosenSummaryBudgets.Version1 | number}}</h3></div>
                <div class="col-lg-3"><h3> {{ChoosenSummaryBudgets.Version2 | number}}</h3></div>
                <div class="col-lg-3"><h3>{{ChoosenSummaryBudgets.Actual_Amount | number}}</h3></div>
            </div>
            <div class="row" style="margin-top:35px;">
                <div class="col-lg-12"><h2>Review Budgets</h2></div>
            </div>
            <div class="row" style="padding:15px">
                <div class="col-lg-2"><h3>Payment Letter</h3></div>
                <div class="col-lg-3"><h3>Payment Month / Year</h3></div>
                <div class="col-lg-2"><h3>Version 1 Total</h3></div>
                <div class="col-lg-2"><h3>Version 2 Total</h3></div>
                <div class="col-lg-2"><h3>Actual Total</h3></div>
                <div class="col-lg-1"><h3>Within Budget</h3></div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-repeat="rb in SummaryBudgets" ng-click="GetIndBudgets(rb)">
                    <div class="ibox collapsed">
                        <div class="ibox-title" style="background-color:#e8f2b5;">
                         
                            <div class="col-lg-2"><h5> All</h5></div>
                            <div class="col-lg-3"><h5> {{rb.Payment_Month}} / {{rb.Payment_Year}}</h5></div>
                         
                            <div class="col-lg-2"><h5> {{rb.Version1 | number}}</h5></div>
                            <div class="col-lg-2"><h5>{{rb.Version2 | number}}</h5></div>
                            <div class="col-lg-2 text-center" ><h5> {{rb.Actual_Amount | number}}</h5></div>
                            <div class="col-lg-1 text-right"><h5> <span><i class="text-danger fa fa-times pull-right" style="padding-left:10px;" ng-if="CheckOverbudget(rb)==false" uib-tooltip="Over budget"></i></span> <span><i class="text-success fa fa-check pull-right" style="padding-left:10px;" ng-if="CheckOverbudget(rb)==true" uib-tooltip="Under Budget"></i></span></h5></div>




                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--End Review budget Section-->
    </div>
    @section scripts{


        <script src="/Scripts/angular.min.js"></script>
        <script src="/Scripts/angular-animate.js"></script>
        <script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
        <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/plugins/datapicker/locales/bootstrap-datepicker.th.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

        <script>
            var appTemplate = angular.module('appTemplate', ['ui.bootstrap', 'ngAnimate', 'ui.filters']);


            appTemplate.controller('listController', function ($scope, $http, $uibModal, $log) {
                $scope.groups = [];
                $scope.Budget = [];
                $scope.IndivdualBudget = {};
                $scope.Payment_Month = "1";
                $scope.Payment_Letter = "1";
                $scope.Payment_Year = "2019";
                $scope.lmyObject = {};
                $scope.lmyObject.Payment_Month = 1;
                $scope.lmyObject.Payment_Year = 2018;
                $scope.lmyObject.Payment_Letter = 1;
                $scope.GroupsList = [];

                $scope.loading = false;
                $scope.ExistingBudgets = [];
                $scope.SelectedBudget = {};
                $scope.ExistingChoosen = false;
                $scope.NewChoosen = false;
                $scope.SummaryBudgets = [];
                $scope.SelectedGroup = {};
                $scope.Review = false;
                $scope.SelectedSummaryBudgets = {};
                $scope.ChoosenSummaryBudgets = {};
                $scope.CreateBudgetLoading = false;
                // $scope.SelectedGroup = {};
                //   $scope.SelectedGroup.Id = 0;
                // $scope.SelectedGroup.Group_Name="Select Group"

                $scope.GetGroups = function () {
                    $http.get('/Umbraco/API/CashFlowApi/GetGroups')
                             .success(function (data, status) {
                                 $scope.groups = data;
                                 $scope.GroupsList = angular.copy(data);
                                 console.log($scope.groups);
                             }).error(function (error, status) {
                                 toastr.error("Unable to fetch groups, refresh page");
                                 // $scope.deleting = false;
                                 // $scope.Actioning1 = false;
                             });
                }
                $scope.GetBudgetModel = function () {
                    $http.get('/Umbraco/API/CashFlowApi/GetBudgetModel')
                             .success(function (data, status) {
                                 $scope.IndivdualBudget = data;
                                 $scope.TempBudget = angular.copy($scope.IndivdualBudget);
                                 console.log($scope.IndivdualBudget);
                             }).error(function (error, status) {
                                 toastr.error("Unable to fetch groups, refresh page");
                                 // $scope.deleting = false;
                                 // $scope.Actioning1 = false;
                             });
                }
                $scope.AddVersion = function () {
                    $scope.NewBudget = angular.copy($scope.TempBudget);
                    console.log($scope.SelectedGroup);
                    var AddedAlready = $scope.CheckGroupNotAdded($scope.Budget);
                    if (AddedAlready != true) {
                        $scope.NewBudget.Group_Id = $scope.SelectedGroup.Id;
                        $scope.NewBudget.Group_Name = $scope.SelectedGroup.Group_Name;
                        $scope.NewBudget.Payment_Letter = $scope.Payment_Letter;
                        $scope.NewBudget.Payment_Month = $scope.Payment_Month;
                        $scope.NewBudget.Payment_Year = $scope.Payment_Year;
                        $scope.Budget.push($scope.NewBudget);
                        var index = $scope.groups.indexOf($scope.SelectedGroup);
                        $scope.groups.splice(index, 1);
                
                    }else {
                        toastr.warning("Group already in budget");
                    }

                }

                $scope.AddVersion2 = function (Group) {
                    $scope.NewBudget = angular.copy($scope.TempBudget);
                   
                        console.log($scope.SelectedGroup);
                        $scope.NewBudget.Group_Id = Group.Id;
                        $scope.NewBudget.Group_Name = Group.Group_Name;
                        $scope.NewBudget.Payment_Letter = Group.Payment_Letter;
                        $scope.NewBudget.Payment_Month = Group.Payment_Month;
                        $scope.NewBudget.Payment_Year = Group.Payment_Year;
                        $scope.Budget.push($scope.NewBudget);
                
                  
                   // var index = $scope.groups.indexOf($scope.SelectedGroup);
                  //  $scope.groups.splice(index, 1);

                }
                $scope.submitBudget = function () {
                    var config = {};
                    $scope.loading = true;

                    $http.post('/Umbraco/API/CashFlowApi/SubmitBudget', $scope.Budget, config)
                           .success(function (data, status) {
                               toastr.success("Budget submitted successfull");
                               $scope.Budget = [];
                               $scope.loading = false;
                           }).error(function (error, status) {
                               toastr.error("Please check that budget does not exist already");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                               $scope.loading = false;
                           });
                }

                $scope.UpdateBudget=function (budget)
                {
                    var config = {};
                    console.log(budget);
                    $scope.loadingBud = true;
                    $http.post('/Umbraco/API/CashFlowApi/UpdateBudget', budget.Budget, config)
                         .success(function (data, status) {
                             toastr.success("Budget Updated successfull");
                             $scope.SelectedBudget = {};
                             $scope.loadingBud = false;
                             $scope.ExistingBudgets = [];
                             $scope.GetExistingBudgets();
                         }).error(function (error, status) {
                             toastr.error("Budget cannot be updated, please refresh page");
                             // $scope.deleting = false;
                             // $scope.Actioning1 = false;
                             $scope.loadingBud = false;
                         });
                }
                $scope.GetExistingBudgets = function () {
                    $http.get('/Umbraco/API/CashFlowApi/GetExistingBudget')
                             .success(function (data, status) {
                                 $scope.ExistingBudgets = data;
                                 console.log($scope.ExistingBudgets);
                             }).error(function (error, status) {
                                 //  toastr.error("Unable to fetch groups, refresh page");
                                 // $scope.deleting = false;
                                 // $scope.Actioning1 = false;
                             });
                }
                $scope.GetExistingBudgets();
                $scope.GetBudgetModel();
                $scope.GetGroups();
                $scope.EditExisting = function (bg) {
                    $scope.SelectedBudget = bg;
                    $scope.Payment_Month = '' + $scope.SelectedBudget.Payment_Month + '';
                    $scope.Payment_Letter = '' + $scope.SelectedBudget.Payment_Letter + '';
                    $scope.Payment_Year = '' + $scope.SelectedBudget.Payment_Year + '';
                }

                //gets the budget from the list are clicking edit budget button
                $scope.FindEditBudget= function ()
                {
                    var Budget = {};
                    var log = [];
                    angular.forEach($scope.ExistingBudgets, function (value, key) {
                        //  console.log(value);
                        if (value.Payment_Month == $scope.Payment_Month && value.Payment_Letter == $scope.Payment_Letter && value.Payment_Year == $scope.Payment_Year)
                        {
                            Budget = value;
                        }
                    }, log);
                  
                    $scope.EditExisting(Budget);
                }

                /// hides and shows the correct section on the page
                $scope.OptionClick = function (type) {
            
                    switch (type) {
                        case "Edit": $scope.ExistingChoosen = $scope.ExistingChoosen == false ? true : false;
                            $scope.NewChoosen = false;
                            $scope.Review = false;
                            break;
                        case "New": $scope.NewChoosen = $scope.NewChoosen == false ? true : false;
                            $scope.ExistingChoosen = false;
                            $scope.Review = false;
                            break;
                           
                        case "Review": $scope.Review = $scope.Review == false ? true : false;
                            $scope.GetSummaryBudgets();
                            $scope.ExistingChoosen = false;
                            $scope.NewChoosen = false;
                           
                            break;
                    }
                }
                /// Gets the budgets to compare
                $scope.GetSummaryBudgets = function () {

                    $http.get('/Umbraco/API/CashFlowApi/BudgetSummary/')
                           .success(function (data, status) {
                               $scope.SummaryBudgets = data;

                           }).error(function (error, status) {
                               //  toastr.error("Unable to fetch groups, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
                }
                $scope.GetIndBudgets = function (bud) {
                  $scope.ChoosenSummaryBudgets = bud;
                    $scope.Payment_Letter = ""+bud.Payment_Letter+"";
                    $scope.Payment_Month = "" + bud.Payment_Month + "";
                    $scope.Payment_Year = "" + bud.Payment_Year + "";
                    $http.get('/Umbraco/API/CashFlowApi/GetIndivdualBudget?Payment_Letter='+bud.Payment_Letter+'&Payment_Month='+bud.Payment_Month+'&Payment_Year='+bud.Payment_Year+'&CreatedDate=5/5/2019')
                           .success(function (data, status) {
                               $scope.SelectedSummaryBudgets = data;
                               var log = [];
                               var totalV1 = 0;
                               var totalV2 = 0;
                               var totalActual = 0;
                               angular.forEach(data, function (value, key) {
                                   //  console.log(value);
                                   totalV1 = value.Version1 + totalV1;
                                   totalV2 = value.Version2 + totalV2;
                                   totalActual = value.Actual_Amount + totalActual;
                               }, log);

                               $scope.ChoosenSummaryBudgets.Actual_Amount = totalActual;
                               $scope.ChoosenSummaryBudgets.Version1 = totalV1;
                               $scope.ChoosenSummaryBudgets.Version2 = totalV2;
                           }).error(function (error, status) {
                               //  toastr.error("Unable to fetch groups, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
                }

                /// loads a new budget with the required groups if they are been set already
                $scope.StartBudget = function () {
                    $scope.CreateBudgetLoading = true;
                    $http.get('/Umbraco/API/CashFlowApi/GetNewBudget?Payment_Letter=' + $scope.Payment_Letter + '&Payment_Month=' + $scope.Payment_Month + '&Payment_Year=' + $scope.Payment_Year)
                          .success(function (data, status) {
                              $scope.Budget = data;
                              $scope.NewChoosen = true;
                              $scope.CreateBudgetLoading = false;
                              if (data.length<1)
                              {
                                  toastr.success("No budget groups created yet, choose groups below");
                              }
                              var log = {};
                               angular.forEach($scope.GroupsList, function (value, key) {
                                  //  console.log(value);
                                  $scope.AddVersion2(value);
                              }, log);

                          }).error(function (error, status) {
                                toastr.error("Budget being selected already exists");
                              // $scope.deleting = false;
                              // $scope.Actioning1 = false;
                                $scope.CreateBudgetLoading = false;
                          });

                }

                ////Add group to existing budget
                $scope.addGroupExisting=function()
                {
                   
                    var AddedAlready = $scope.CheckGroupNotAdded($scope.SelectedBudget.Budget);
                    if (AddedAlready != true) {
                        $scope.NewBudget2 = angular.copy($scope.TempBudget);

                        $scope.NewBudget2.Group_Id = $scope.SelectedGroup.Id;
                        $scope.NewBudget2.Group_Name = $scope.SelectedGroup.Group_Name;
                        $scope.NewBudget2.Payment_Letter = $scope.Payment_Letter;
                        $scope.NewBudget2.Payment_Month = $scope.Payment_Month;
                        $scope.NewBudget2.Payment_Year = $scope.Payment_Year;

                        $scope.SelectedBudget.Budget.push($scope.NewBudget2);
                    }
                    else {
                        toastr.error("Group selected is already in budget");
                    }
                }
                /// check if budget exists in group already
                $scope.CheckGroupNotAdded=function(budgetList)
                {
                    var groupExists = false;
                    var log = [];
                    console.log(budgetList);
                    console.log($scope.SelectedGroup);
                    angular.forEach(budgetList, function (value, key) {
                        //  console.log(value);
                        if (value.Group_Id==$scope.SelectedGroup.Id)
                        {
                            groupExists = true;
                        }
                    }, log);

                    return groupExists;
                }
                $scope.CompareBudget= function()
                {
                
                 
                    $scope.lmyObject.Payment_Month =  $scope.Payment_Month;
                    $scope.lmyObject.Payment_Year =   $scope.Payment_Year;
                    $scope.lmyObject.Payment_Letter = $scope.Payment_Letter;
                    $scope.GetIndBudgets($scope.lmyObject);
                }

                $scope.CheckOverbudget = function (bud) {
                    if (bud.Version2==0)
                    {
                        if (bud.Version1>bud.Actual_Amount)
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }
                    else {
                        if (bud.Version2>bud.Actual_Amount)
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                    }
                }
            })
        </script>
    }
