﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var Id = Request["id"];
    Id = String.IsNullOrWhiteSpace(Id) ? "" : Id;


}
@section styles{
    @*<link rel="stylesheet" type="text/css" href="/css/Plugins/datepicker-th/datepicker.css">*@
    <link rel="stylesheet" type="text/css" href="/css/Plugins/datapicker/datepicker3.css">

    <style>
        hr {
            border: none;
            border-top: 1px dotted #e9dfdf;
            color: #fff;
            background-color: #fff;
            height: 1px;
            width: 100%;
        }


        .leftRow {
            height: 323px;
        }

        .greyBox {
            border: 1px solid #dededd;
        }

        .Table_Heading {
            background-color: #eef7c0;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
         .Table_Heading1 {
            background-color:#bedbf7;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .ResultCol {
            padding-top: 10px;
            text-align: left;
            padding-left: 27px;
        }

        .hov {
            cursor: pointer;
        }

        @@media(max-width:1100px) {
            .leftRow {
                height: auto;
            }
        }

        .payment-form {
            transition: 0.5s linear all;
            background: white;
        }

        .form-control.ng-invalid {
            /*border-color:red;*/
            outline: none;
            border-color: #f2a6a6;
            box-shadow: 0 0 5px #f2a6a6;
            /*color:white;*/
        }
    </style>
}
<div class="wrapper wrapper-content animated fadeInRight" ng-app="appTemplate">
    <div class="row employees">

        <div class="container col-lg-12">
            <h2>@Umbraco.Field("title")</h2>

        </div>
    </div>
    <div class="row" ng-controller="listController">
        <div class="col-lg-12 ">
            <div class="ibox float-e-margins greyBox rightRow">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("title") <small>enter payment details below</small></h3>
                </div>




                <div class="ibox-content">
                    <form method="get" class="form-horizontal payment-form" name="payForm">
                        <div class="row">


                            <div class="Table_Heading"> <h3>Supplier <small>Select Name First if Existing Supplier</small></h3> </div>

                            <label class="col-sm-2 control-label">Title <i class="fa fa-question-circle" uib-tooltip="Supplier Title" tooltip-placement="top"></i></label>
                            <div class="col-sm-2">

                                <select class="form-control" ng-model="paymentForm.Supplier_Title">
                                    <option value="">Select Title</option>
                                    <option value="บริษัท จำกัด">บริษัท จำกัด</option>
                                    <option value="บริษัท จำกัด (มหาชน)">บริษัท จำกัด (มหาชน)</option>
                                    <option value="คุณ">คุณ</option>
                                    <option value="ห้างหุ้นส่วนจำกัด">ห้างหุ้นส่วนจำกัด</option>
                                    <option value="ห้างหุ้นส่วนสามัญ">ห้างหุ้นส่วนสามัญ</option>
                                    <option value="ร้าน">ร้าน</option>

                                </select>
                                @*<input type="text" placeholder="Title" class="form-control" ng-model="paymentForm.Supplier_Title" list="SupplierTitle" >*@

                                <datalist id="SupplierTitle">



                                    <option ng-repeat="sup in Suppliers |  unique: 'Supplier_Title'" value="{{sup.Supplier_Title}}">

                                </datalist>

                            </div>

                            <label class="col-sm-2 control-label">Name <i class="fa fa-question-circle" uib-tooltip="The Supplier name will auto complete fields if exists" tooltip-placement="left"></i></label>
                            <div class="col-sm-2">

                                <input type="text" placeholder="Full Name" class="form-control" ng-model="paymentForm.Supplier_Name" list="Supplier" ng-change="CheckSupplier()" required>
                                <datalist id="Supplier">
                                    <option ng-repeat="sup in Suppliers " value="{{sup.Supplier_Name}}">

                                </datalist>





                            </div>
                            <label class="col-sm-2 control-label">Code <i class="fa fa-question-circle" uib-tooltip="The Supplier code" tooltip-placement="left"></i></label>
                            <div class="col-sm-2">
                                <input class="form-control" type="text" ng-model="paymentForm.Supplier_Code" ng-change="CheckSupplierCode() " />
                            </div>

                            <div class="row">
                                <div class="col-lg-12"><hr class="Dashed" /></div>
                            </div>
                            <div class="row">

                                <label class="col-sm-2 control-label">Location</label>

                                <div class="col-lg-2">
                                    <select class="form-control" ng-model="paymentForm.Location">
                                        <option value="">Select Location</option>
                                        <option value="BKK">BKK</option>
                                        <option value="BPK">BPK</option>
                                    </select>
                                </div>


                                <label class="col-sm-2 control-label">Expense Type <i class="fa fa-question-circle" uib-tooltip="The type of Payment form to be entered" tooltip-placement="top"></i></label>

                                <div class="col-lg-2">
                                    <select class="form-control" ng-model="paymentForm.Expense_Type" required ng-change="UpdateAdvanced()">
                                        <option value="">Select type </option>
                                        <option value="regular">New payment </option>
                                        <option value="old">Old debt payment </option>
                                        <option value="advanced">Advanced payment </option>

                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Type of Payment</label>
                                <div class="col-lg-2">
                                    <select class="form-control" ng-model="paymentForm.Type_Payment" required>
                                        <option value="">Choose Type of Payment</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Transfer">Transfer</option>
                                    </select>

                                </div>
                                <label class="col-sm-2 control-label" style="margin-top:10px;">Payment Account</label>
                                <div class="col-lg-2" style="margin-top:10px;">

                                    <select class="form-control" ng-model="paymentForm.Payment_Account" required>
                                        <option value="">Select payment account type</option>
                                        <option value="AO">Operating Account (OA)</option>
                                        <option value="Buffer">Buffer</option>
                                        <option value="USD">FCD : USD</option>
                                        <option value="EUR">FCD : EUR</option>
                                        <option value="JYP">FCD : JYP</option>
                                    </select>

                                </div>
                                <label class="col-sm-2 control-label" style="margin-top:5px;">Month / Year</label>
                                <div class="col-lg-1" style="margin-top:10px;">
                                    <select ng-model="paymentForm.Payment_Month" class="form-control" required>
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="col-lg-1" style="margin-top:10px;">
                                    <select ng-model="paymentForm.Payment_Year" class="form-control" required>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                </div>
                                @*<div class="col-lg-4"></div>*@
                                <label class="col-sm-2 control-label" style="margin-top:10px;">Payment Letter No</label>
                                <div class="col-lg-2" style="margin-top:10px;">
                                    <input type="text" ng-model="paymentForm.Payment_letterNo" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="Table_Heading"> <h3>Invoice <small>Invoice details </small></h3> </div>

                            <label class="col-sm-2 control-label">Invoice No </label>

                            <div class="col-lg-2">
                                <input class="form-control" ng-model="paymentForm.Invoice_Number" type="text" ng-change="CheckInvoice()" />
                                <span class="badge badge-success hov" style="margin-top:10px;" ng-click="showInvoices()" ng-if="InvoiceFound"> View Payments</span>
                            </div>


                            <label class="col-sm-2 control-label">Tax Invoice No <i class="fa fa-question-circle" uib-tooltip="The type of Payment form to be entered" tooltip-placement="top"></i></label>

                            <div class="col-lg-2">
                                <input class="form-control" ng-model="paymentForm.Tax_Invoice_Number" type="text" />
                            </div>
                            <label class="col-sm-2 control-label">Invoice Date <i class="fa fa-question-circle" uib-tooltip="The type of Payment form to be entered" tooltip-placement="top"></i></label>

                            <div class="col-lg-2">
                                @*<input class="form-control" ng-model="paymentForm.Tax_Invoice_Number" type="date" />*@

                                <input class="input-medium form-control" type="text" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-language="th-th" ng-model="paymentForm.Invoice_Date">


                            </div>
                        </div>
                        <div class="row" ng-if="InvoiceTable">
                            <div class="col-lg-12" style="padding-top:20px;">
                                <div class="table table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Invoice No</th>
                                                <th>Supplier Name</th>
                                                <th>Amount</th>
                                                <th>PR Number</th>
                                            </tr>
                                            <tr ng-repeat="cr in Creditor" stlye="background-color:white">
                                                <td>{{ cr.Invoice_Number }}</td>
                                                <td>{{ cr.Supplier_Name }}</td>
                                                <td>{{ cr.Amount }}</td>
                                                <td>{{ cr.Pr_Number }}</td>

                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top:10px;margin-bottom:10px;">



                            <label class="col-sm-2 control-label">PO No </label>

                            <div class="col-lg-2">
                                <input class="form-control" ng-model="paymentForm.PO_Number" type="text" required />

                            </div>
                            <label class="col-sm-2 control-label">PO Date <i class="fa fa-question-circle" uib-tooltip="The type of Payment form to be entered" tooltip-placement="top"></i></label>

                            <div class="col-lg-2">
                                @*<input class="form-control" ng-model="paymentForm.Tax_Invoice_Number" type="date" />*@

                                @*<input class="input-medium form-control" type="text" data-provide="datepicker"  ng-model="paymentForm.PO_Date" required>*@
                                <input class="datepicker form-control" data-date-format="dd-mm-yyyy" data-date-language="th-th" ng-model="paymentForm.PO_Date" required>
                                @*data-date-format="dd-mm-yyyy"*@

                            </div>

                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-lg-2">
                                <input type="text" ng-model="paymentForm.Description" class="form-control" required />
                            </div>
                        </div>
                        <div class="row">





                            @*<label class="col-sm-2 control-label">Advance </label>

                                <div class="col-lg-2">

                                    <select class="form-control" ng-model="paymentForm.Advanced">
                                        <option value="">Is an advance? </option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>

                                </div>*@

                            <label class="col-sm-2 control-label">PR No </label>

                            <div class="col-lg-2">
                                <input class="form-control" ng-model="paymentForm.PR_Number" type="text" />

                            </div>
                            <label class="col-sm-2 control-label">PR Date <i class="fa fa-question-circle" uib-tooltip="The type of Payment form to be entered" tooltip-placement="top"></i></label>

                            <div class="col-lg-2">
                                @*<input class="form-control" ng-model="paymentForm.Tax_Invoice_Number" type="date" />*@

                                <input class="input-medium form-control" type="text" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-language="th-th" ng-model="paymentForm.PR_Date">


                            </div>
                        </div>



                        <div class="row" style="margin-top:10px;margin-bottom:10px;">
                            <div class="Table_Heading"> <h3>Amount <small>Amount Before Discount: {{paymentForm.Amount_ExchangeRate * paymentForm.Amount }} <span class="text-warning" ng-if="paymentForm.Amount_Remaining>0"> --- Amount Remaining :  {{paymentForm.Amount_Remaining | number}}</span></small> </h3> </div>
                            <label class="col-sm-2 control-label">Amount  </label>
                            <div class="col-lg-2">
                                <input type="text" ng-model="paymentForm.Amount" class="form-control" ng-change="UpdateCalculation()" pattern="[-+]?[0-9]*[.,]?[0-9]+" required />
                            </div>
                            <label class="col-sm-1 control-label">Currency </label>

                            <div class="col-lg-2">
                                <select class="form-control" ng-model="paymentForm.Amount_Currency " ng-change="UpdateCalculation()" required>
                                    <option value="">Choose Currency</option>
                                    <option value="BAHT">BAHT</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="JPY">JPY</option>
                                </select>

                            </div>
                            <label class="col-sm-2 control-label">Exchange Rate </label>

                            <div class="col-lg-2">
                                <input type="text" ng-model="paymentForm.Amount_ExchangeRate" class="form-control" ng-change="UpdateCalculation()" required />
                            </div>

                        </div>
                        <div class="row">


                            <label class="col-sm-2 control-label">Cash Discount {{paymentForm.Amount_Before_Discount}}</label>

                            <div class="col-lg-2">
                                <input type="number" ng-model="paymentForm.NetAmount_Cash_Discount" class="form-control" ng-change="UpdateCalculation()" />
                            </div>


                            <label class="col-sm-1 control-label">Vat </label>

                            <div class="col-lg-2">

                                <select class="form-control" ng-model="paymentForm.Vat_Number" ng-change="UpdateCalculation()" required>
                                    <option value="">VAT to add</option>
                                    <option value="7">7%</option>
                                    <option value="0">No Vat</option>
                                </select>

                            </div>

                            <label class="col-sm-1 control-label">VAT Amount: </label>

                            <div class="col-sm-1 ResultCol"> {{ paymentForm.Vat_Amount | number:2}} </div>


                            <label class="col-sm-2 control-label">Amount Including VAT: </label>
                            <div class="col-sm-1  ResultCol">{{  paymentForm.AmountplusVat | number:2}} </div>
                        </div>
                        <div class="row">

                            <label class="col-sm-2 control-label">% Withholding Tax </label>

                            <div class="col-lg-2">

                                <select class="form-control" ng-model="paymentForm.Withholding_Tax" ng-change="UpdateCalculation()">
                                    <option value="">Choose Withholding Tax</option>
                                    <option value="1">1%</option>
                                    <option value="2">2%</option>
                                    <option value="3">3%</option>
                                    <option value="5">5%</option>
                                    <option value="0">No Witholding Tax</option>
                                </select>

                            </div>
                            <label class="col-sm-2 control-label">Amount Excluded from WHT</label>
                            <div class="col-sm-2 ResultCol"><input class="form-control" ng-model="paymentForm.Withholding_Tax_Excluded" type="number" ng-change="UpdateCalculation()" /> </div>
                            <label class="col-sm-2 control-label">Withholding Tax Amount </label>
                            <label class="col-sm-2 ResultCol">{{ paymentForm.Withholding_Tax_Amount }} </label>
                        </div>

                        <div class="row" style="margin-top:10px;margin-bottom:10px;">
                            <div class="Table_Heading"><h3>Net Amount</h3></div>


                            <label class="col-sm-2 control-label">Retention</label>
                            <div class="col-lg-2">
                                <input type="number" ng-model="paymentForm.NetAmount_Retention" class="form-control" ng-change="UpdateCalculation()" />
                            </div>
                            <label class="col-sm-2 control-label">Bank Fee </label>
                            <div class="col-lg-2">
                                <input type="number" ng-model="paymentForm.NetAmount_Bank_Fee" class="form-control" ng-change="UpdateCalculation()" />
                            </div>
                            <label class="col-sm-2 control-label">Rounding </label>
                            <div class="col-lg-2">
                                <input type="number" ng-model="paymentForm.NetAmount_Rounding" class="form-control" ng-change="UpdateCalculation()" />
                            </div>
                            <label class="col-sm-2 control-label">Net Amount </label>

                            <label class="col-sm-2 ResultCol"> {{ paymentForm.NetAmount_Total | number:2}} </label>
                            <label class="col-sm-2 control-label">Estimated Amount</label>
                            <div class="col-lg-2">
                                <select class="form-control" ng-model="paymentForm.Estimated_Amount" required>
                                    <option value="">Amount is estimated?</option>
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>


                            </div>

                        </div>



                        <div class="row">
                            <div class="Table_Heading"><h3>Grouping <small>All required</small></h3></div>



                            <label class="col-sm-2 control-label">Group Expenses</label>
                            <div class="col-lg-2">

                                <select class="form-control" ng-model="paymentForm.Group_Of_Expenses" required ng-change="GetSubGroup()">
                                    <option value="">Select Group</option>
                                    <option ng-repeat="gr in groups" value="{{gr.Id}}">{{gr.Group_Name}}</option>
                                </select>
                                @*<input type="text" ng-model="paymentForm.Group_Of_Expenses" class="form-control" required/>*@
                            </div>




                            <label class="col-sm-2 control-label" style="margin-top:5px;">Sub Group</label>
                            <div class="col-lg-3">
                                <select class="form-control" ng-model="paymentForm.SubGroup_Of_Expenses" ng-required="subgroups.length>0">
                                    <option value="">Select Sub Group</option>
                                    <option ng-repeat="gr in subgroups" value="{{gr.Id}}">{{gr.Group_Name}}</option>
                                </select>
                                @*<input class="form-control" type="text" ng-model="paymentForm.SubGroup_Of_Expenses" />*@
                            </div>



                        </div>
                        <div class="row">
                            <div class="Table_Heading1"><h3>Check with document</h3></div>



                            <label class="col-sm-1 control-label">PO</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_PO" required >
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>
                                   
                                </select>
                              
                            </div>
                            <label class="col-sm-1 control-label">Invoice</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_Invoice" required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-1 control-label">Contract</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_Contract" required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-2 control-label">Delivery Note</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_Delivery_Note" required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-1 control-label">Receipt</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_Delivery_Note" required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <label class="col-sm-1 control-label">Tax invoice</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_Tax_Invoice " required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-1 control-label">Approve PV</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_ApprovePV " required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-1 control-label">Approve PI</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_ApprovePi " required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            <label class="col-sm-2 control-label">WHT Certificate</label>
                            <div class="col-lg-1">

                                <select class="form-control" ng-model="paymentForm.Blue_WHT_Cert  " required>
                                    <option value="O">O</option>
                                    <option value="/">/</option>
                                    <option value="X">X</option>

                                </select>

                            </div>
                            @*<label class="col-sm-1 control-label">Estimate</label>
                            <div class="col-lg-2">

                                <select class="form-control" ng-model="paymentForm.Blue_Amount_Estimate" required>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  

                                </select>

                            </div>*@
                        </div>

                        <div class="row">
                            <div class="col-lg-12 pull-right"></div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12 pull-right" style="padding-top:50px;"><button class="btn btn-outline-success pull-right" ng-click="submitForm('Keep')" style="margin-left:15px;" ng-if="PaymentId==''"><i class="fa fa-spin fa-spinner" ng-if="submittingForm"></i> Submit & Keep Supplier </button> <button class="btn btn-warning pull-right" ng-click="submitForm()" ng-if="PaymentId==''"><i class="fa fa-spin fa-spinner" ng-if="submittingForm"></i> Submit Payment </button>  <button ng-if="PaymentId!=''" class="btn btn-primary pull-right" ng-click="CompleteAdvanced()" style="margin-right:20px;"><i class="fa fa-spin fa-spinner" ng-if="completing"></i> Submit & Complete</button></div>
                        </div>
                        <div class="form-group">



                        </div>




                    </form>



                </div>
            </div>
        </div>


        <div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Old Debt Records from Supplier</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <h3>Choose the old debt invoice</h3>
                    @*<ul>
                            <li ng-repeat="item in items">
                                <a href="#" ng-click="$event.preventDefault(); selected.item = item">Invoice No{{ item.Invoice_No }} - Amount {{item.Invoice_No}}</a>
                            </li>
                        </ul>*@
                    <div class="table">
                        <table class="table table-responsive table-hover">
                            <tr>
                                <th>Supplier</th>
                                <th>Amount</th>
                                <th>Invoice Number</th>
                                <th>Amount Remaining</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in newitems" ng-click=SelectedItem(item)>
                                <td>{{item.Supllier_Name}}</td>
                                <td>{{item.Amount | number}}</td>
                                <td>{{item.Invoice_No}}</td>
                                <td> {{item.Amount - item.Amount_Remaining | number:2}}  </td>
                                <td><i class="fa fa-check fa-2x text-success" ng-if="item.Amount_Remaining -item.Amount >=0 " uib-tooltip="Payment has bee completed"></i>    <i class="fa fa-times fa-2x text-warning" ng-if="item.Amount_Remaining <item.Amount " uib-tooltip="Further payment needed"></i></td>
                            </tr>
                        </table>
                    </div>
                    Selected:
                    <span ng-if="invoice_Selected==false">None</span>
                    <span ng-if="invoice_Selected==true">
                        <b>Supplier: {{selected.Supllier_Name}}</b> <b>Amount: {{ selected.Amount }}</b> <b>Amount Remaining: {{selected.Amount - selected.Amount_Remaining | number:2}}</b>
                    </span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="invoice_Selected==false">Continue</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>

        </div>
    </div>
</div>

@section scripts{


    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/locales/bootstrap-datepicker.th.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

    @*/**Thai language solution**/*@
    @*<script src="/Scripts/plugins/DatePicker-th/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/plugins/DatePicker-th/bootstrap-datepicker-thai.js"></script>
        <script src="~/Scripts/plugins/DatePicker-th/locales/bootstrap-datepicker.th.js"></script>*@
    <script>



        //function demo() {
        //    $('.datepicker').datepicker();
        //}
        //$('.datepicker').datepicker({ language: 'th-th', format: 'dd/mm/yyyy' })

        //$(function () {
        //    $('pre[data-source]').each(function () {
        //        var $this = $(this),
        //          $source = $($this.data('source'));

        //        var text = [];
        //        $source.each(function () {
        //            var $s = $(this);
        //            if ($s.attr('type') == 'text/javascript') {
        //                text.push($s.html().replace(/(\n)*/, ''));
        //            } else {
        //                text.push($s.clone().wrap('<div>').parent().html()
        //                  .replace(/(\"(?=[[{]))/g, '\'')
        //                  .replace(/\]\"/g, ']\'').replace(/\}\"/g, '\'') // javascript not support lookbehind
        //                  .replace(/\&quot\;/g, '"'));
        //            }
        //        });

        //        $this.text(text.join('\n\n').replace(/\t/g, '    '));
        //    });


        //    demo();
        //});
        $('.datepicker').datepicker();

        var appTemplate = angular.module('appTemplate', ['ui.bootstrap', 'ngAnimate', 'ui.filters']);


        appTemplate.controller('listController', function ($scope, $http, $uibModal, $log, $timeout) {
            $scope.paymentForm = {}
            $scope.Actioning = false;
            $scope.Suppliers = [];
            $scope.CollatTotal = 0;
            $scope.InvoiceFound = false;
            $scope.Creditor = [];
            $scope.InvoiceTable = false;
            $scope.PaymentId = "@Id";
            $scope.completing = false;
            $scope.groups = {};
            $scope.subgroups = {};
            $scope.SelectedSupplier = {};
            //import moment from 'moment'
            //import 'moment/locale/es'  // without this line it didn't work
            moment.locale('th');




            $scope.GetModel = function () {


                var config = {};
                $http.get('/Umbraco/API/CashFlowApi/GetPaymentModel')
                           .success(function (data, status) {
                               $scope.paymentForm = data;
                               $scope.SetDefaults();
                               $scope.SetBlankModel();
                               //$scope.paymentForm.Amount = "";
                               //$scope.paymentForm.Amount_ExchangeRate = "";
                               //$scope.paymentForm.PO_Date = '';
                               //$scope.paymentForm.SubGroup_Of_Expenses = "";
                               //$scope.paymentForm.Group_Of_Expenses = "";
                               //$scope.paymentForm.Payment_Month = "";
                               //$scope.paymentForm.Payment_Year = "";
                               //$scope.paymentForm.Blue_PO = "O";
                               //$scope.paymentForm.Blue_Invoice = "O";
                               //$scope.paymentForm.Blue_Contract = "O";
                               //$scope.paymentForm.Blue_Delivery_Note = "O";
                               //$scope.paymentForm.Blue_Receipt = "O";
                               //$scope.paymentForm.Blue_Tax_Invoice = "O";
                               //$scope.paymentForm.Blue_ApprovePV = "O";
                               //$scope.paymentForm.Blue_ApprovePi = "O";
                               //$scope.paymentForm.Blue_WHT_Cert = "O";
                               //$scope.paymentForm.Blue_Amount_Estimate = "Yes";
                               // alert(data);

                               //  toastr.success("Form");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch form, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            $scope.GetExisting = function () {


                var config = {};
                $http.get('/Umbraco/API/CashFlowApi/PaymentById?ID=' + $scope.PaymentId)
                           .success(function (data, status) {
                               $scope.paymentForm = data;

                               $scope.SetDefaults();
                               // alert(data);
                               $scope.UpdateCalculation();
                               //  toastr.success("Form");
                               console.log(data)


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch form, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            if ($scope.PaymentId != '') {
                $scope.GetExisting();
            }
            else {
                $scope.GetModel();
            }


            $scope.GetSuppliers = function () {


                var config = {};
                $http.get('/Umbraco/API/CashFlowApi/GetSuppliers')
                           .success(function (data, status) {
                               $scope.Suppliers = data;

                               // alert(data);

                               //  toastr.success("balance Updated Successfully");
                               console.log(data)
                               $scope.CheckSupplierCode();


                           }).error(function (error, status) {
                               toastr.error("Unable to fetch suppliers, refresh page");
                               // $scope.deleting = false;
                               // $scope.Actioning1 = false;
                           });
            }
            $scope.GetSuppliers();
            $scope.GetGroups = function () {
                $http.get('/Umbraco/API/CashFlowApi/GetGroups')
                         .success(function (data, status) {
                             $scope.groups = data;
                             console.log($scope.groups);
                         }).error(function (error, status) {
                             toastr.error("Unable to fetch groups, refresh page");
                             // $scope.deleting = false;
                             // $scope.Actioning1 = false;
                         });
            }
            $scope.GetGroups();
            $scope.GetSubGroup = function () {
                $http.get('/Umbraco/API/CashFlowApi/GetSubGroups?Id=' + $scope.paymentForm.Group_Of_Expenses)
                         .success(function (data, status) {
                             $scope.subgroups = data;
                            // $scope.paymentForm.SubGroup_Of_Expenses = "";
                         }).error(function (error, status) {
                             toastr.error("Unable to fetch sub groups, refresh page");
                             // $scope.deleting = false;
                             // $scope.Actioning1 = false;
                         });
            }
            /// checks if selected supplier exists, setting the supplier id on the payment form
            $scope.CheckSupplier = function () {


                var log = [];
                var nameExists = false;
                angular.forEach($scope.Suppliers, function (value, key) {
                    //  console.log(value);
                    if (value.Supplier_Name == $scope.paymentForm.Supplier_Name) {
                        $scope.paymentForm.Supplier_Id = value.Id;
                        $scope.paymentForm.Supplier_Title = value.Supplier_Title;
                        $scope.paymentForm.Supplier_Code = value.Supplier_Code;
                        nameExists = true;

                    };
                }, log);

                if (nameExists == false) {
                    $scope.paymentForm.Supplier_Id = 0;
                }

            }
            $scope.CheckSupplierCode = function () {


                var log = [];
                var nameExists = false;
                angular.forEach($scope.Suppliers, function (value, key) {
                    //  console.log(value);
                    if (value.Supplier_Code == $scope.paymentForm.Supplier_Code) {
                        $scope.paymentForm.Supplier_Id = value.Id;
                        $scope.paymentForm.Supplier_Title = value.Supplier_Title;
                        $scope.paymentForm.Supplier_Code = value.Supplier_Code;
                        $scope.paymentForm.Supplier_Name = value.Supplier_Name;
                        nameExists = true;

                    };
                }, log);

                if (nameExists == false) {
                    //   $scope.paymentForm.Supplier_Id = 0;
                }

            }

            $scope.CheckInvoice = function () {
                $scope.InvoiceFound = false;
                if ($scope.paymentForm.Invoice_Number.length > 5) {
                    $http.get('/Umbraco/API/CashFlowApi/CheckInvoice?Invoice=' + $scope.paymentForm.Invoice_Number)
                             .success(function (data, status) {
                                 $scope.Creditor = data;

                                 // alert(data);
                                 if (data.length > 0) {
                                     toastr.success("Invoice Number exists, please review");
                                     $scope.InvoiceFound = true;
                                 }
                                 console.log(data)


                             }).error(function (error, status) {
                                 //  toastr.error("Unable to fetch suppliers, refresh page");
                                 // $scope.deleting = false;
                                 // $scope.Actioning1 = false;
                                 $scope.InvoiceFound = false;
                             });
                }

            }
            $scope.showInvoices = function () {
                $scope.InvoiceTable = $scope.InvoiceTable == true ? false : true;
            }

            /// submit payment form
            $scope.submitForm = function (keepSup) {
                $scope.submittingForm = true;
                var config = {};
                //   console.log($scope.payForm.$valid)
                $scope.SelectedSupplier.Id=$scope.paymentForm.Supplier_Id;
                //$scope.SelectedSupplier.Supplier_Title = $scope.paymentForm.Supplier_Title;
                $scope.SelectedSupplier.Supplier_Code = angular.copy($scope.paymentForm.Supplier_Code);
                //$scope.paymentForm.Supplier_Name = value.Supplier_Name;
                //  var dateTest = moment($scope.paymentForm.PO_Date, 'DD-MM-YYYY', false);
                //  console.log(dateTest.format());
                $scope.SetDates();
                if ($scope.payForm.$valid) {

                    //    $http.post('/Umbraco/Api/LeaveReport/GetDRange/', data1, config)
                    $http.post('/Umbraco/API/CashFlowApi/SubmitPayment', $scope.paymentForm, config).success(function (data, status) {
                        toastr.success("Form Submitted successfully");
                        $scope.paymentForm = data;
                        $scope.submittingForm = false;
                        $scope.GetSuppliers();
                        if (keepSup == "Keep") {
                            $scope.paymentForm.Supplier_Code = $scope.SelectedSupplier.Supplier_Code;
                            $scope.CheckSupplierCode();
                            
                        }
                        $scope.SetBlankModel();
                    }).error(function (error, status) {
                        toastr.error("Error submitting payment form, please refresh and try again");
                        $scope.submittingForm = false;
                    })
                }
                else {
                    alert("Please enter required fields");
                    $scope.submittingForm = false;
                }
            }
            //// sets completed for advanced payments
            $scope.CompleteAdvanced = function () {
                $scope.completing = true;
                $http.get('/umbraco/API/CashFlowAPI/CompleteAdvanced?ID=' + $scope.PaymentId)
                          .success(function (data, status) {
                              $scope.AdvanceList = data;
                              $scope.paymentForm = data;
                              $scope.paymentForm.SubGroup_Of_Expenses = "";
                              // alert(data);

                              toastr.success("Advanced Payment Completed");
                              console.log(data)
                              $scope.completing = false;

                          }).error(function (error, status) {
                              toastr.error("Unable to update Advanced Table, refresh page");
                              // $scope.deleting = false;
                              // $scope.Actioning1 = false;
                              $scope.completing = false;
                          });
            }

            /// redo all calculations on the page when triggered
            $scope.UpdateCalculation = function () {
                // calculate currency amount before discount
                $scope.paymentForm.Amount_Before_Discount = $scope.paymentForm.Amount_ExchangeRate * ($scope.paymentForm.Amount - $scope.paymentForm.NetAmount_Cash_Discount);
                // original
                // $scope.paymentForm.Amount_Before_Discount = $scope.paymentForm.Amount_ExchangeRate * $scope.paymentForm.Amount;

                // calculate VAT Amount
                if ($scope.paymentForm.Vat_Number == 7) {
                    $scope.paymentForm.Vat_Amount = $scope.paymentForm.Amount_Before_Discount * .07;
                }
                else {
                    $scope.paymentForm.Vat_Amount = 0;
                }
                // $scope.paymentForm.AmountplusVat = $scope.paymentForm.Amount_Before_Discount + $scope.paymentForm.Vat_Amount;

                // calculateVAT Amount including Vat
                $scope.paymentForm.AmountplusVat = $scope.paymentForm.Amount_Before_Discount + $scope.paymentForm.Vat_Amount;

                //Calculate withholding tax amount
                //$scope.paymentForm.Withholding_Tax_Amount = $scope.paymentForm.Amount_Before_Discount - ($scope.paymentForm.Withholding_Tax_Excluded * $scope.paymentForm.Amount_ExchangeRate) * $scope.paymentForm.Withholding_Tax / 100;
                $scope.paymentForm.Withholding_Tax_Amount = ($scope.paymentForm.Amount_Before_Discount - $scope.paymentForm.Withholding_Tax_Excluded) * $scope.paymentForm.Withholding_Tax / 100;

                //Calculate Net Amount

                $scope.paymentForm.NetAmount_Total = $scope.paymentForm.AmountplusVat - $scope.paymentForm.Withholding_Tax_Amount - $scope.paymentForm.NetAmount_Retention - $scope.paymentForm.NetAmount_Rounding + $scope.paymentForm.NetAmount_Bank_Fee;
                //original
                //   $scope.paymentForm.NetAmount_Total = $scope.paymentForm.AmountplusVat - $scope.paymentForm.Withholding_Tax_Amount - $scope.paymentForm.NetAmount_Cash_Discount - $scope.paymentForm.NetAmount_Retention - $scope.paymentForm.NetAmount_Rounding + $scope.paymentForm.NetAmount_Bank_Fee;

                console.log($scope.paymentForm.NetAmount_Total);
            }
            $scope.UpdateAdvanced = function () {
                //  $scope.open('lg');
                if ($scope.paymentForm.Expense_Type == "advanced") {
                    $scope.paymentForm.Advanced = "true";
                }
                else {
                    $scope.paymentForm.Advanced = "false";
                }
                if ($scope.paymentForm.Expense_Type == "old" && $scope.paymentForm.Supplier_Id > 0)
                { $scope.open('lg'); }
            }
            $scope.SetDates = function () {
                $scope.paymentForm.PO_Date = $scope.paymentForm.PO_Date ? moment($scope.paymentForm.PO_Date, 'DD-MM-YYYY', false).format() : '';
                $scope.paymentForm.PR_Date = $scope.paymentForm.PR_Date ? moment($scope.paymentForm.PR_Date, 'DD-MM-YYYY', false).format() : '';
                $scope.paymentForm.Invoice_Date = $scope.paymentForm.Invoice_Date ? moment($scope.paymentForm.Invoice_Date, 'DD-MM-YYYY', false).format() : '';
                console.log($scope.paymentForm.PO_Date)
            }

            $scope.SetDefaults = function () {
                $scope.paymentForm.Advanced = $scope.paymentForm.Advanced == true ? "true" : "false";
                $scope.paymentForm.Estimated_Amount = $scope.paymentForm.Estimated_Amount == true ? "true" : "false";
                $scope.paymentForm.Group_Of_Expenses = "" + $scope.paymentForm.Group_Of_Expenses + "";
                $scope.paymentForm.Payment_Month = "" + $scope.paymentForm.Payment_Month + "";
                $scope.paymentForm.Payment_Year = "" + $scope.paymentForm.Payment_Year + "";
                $scope.GetSubGroup();
                $scope.paymentForm.SubGroup_Of_Expenses = "" + $scope.paymentForm.SubGroup_Of_Expenses + "";
               // setTimeout(, 10000);
              //  $timeout($scope.CheckSupplierCode(), 30000);
                $scope.CheckSupplierCode()
                
               
            }
            $scope.SetBlankModel = function () {
                $scope.paymentForm.Amount = "";
                $scope.paymentForm.Amount_ExchangeRate = "";
                $scope.paymentForm.PO_Date = '';
                $scope.paymentForm.SubGroup_Of_Expenses = "";
                $scope.paymentForm.Group_Of_Expenses = "";
                $scope.paymentForm.Payment_Month = "";
                $scope.paymentForm.Payment_Year = "";
                $scope.paymentForm.Blue_PO = "O";
                $scope.paymentForm.Blue_Invoice = "O";
                $scope.paymentForm.Blue_Contract = "O";
                $scope.paymentForm.Blue_Delivery_Note = "O";
                $scope.paymentForm.Blue_Receipt = "O";
                $scope.paymentForm.Blue_Tax_Invoice = "O";
                $scope.paymentForm.Blue_ApprovePV = "O";
                $scope.paymentForm.Blue_ApprovePi = "O";
                $scope.paymentForm.Blue_WHT_Cert = "O";
                $scope.paymentForm.Blue_Amount_Estimate = "Yes";
            }
            /****************    Modal    *******************/
            $scope.items = {};

            $scope.animationsEnabled = true;

            $scope.open = function (size) {

                $scope.items.Code = $scope.paymentForm.Supplier_Code;

                var modalInstance = $uibModal.open({
                    animation: $scope.animationsEnabled,
                    ariaLabelledBy: 'modal-title',
                    ariaDescribedBy: 'modal-body',
                    templateUrl: 'myModalContent.html',
                    controller: 'ModalInstanceCtrl',
                    size: size,
                    resolve: {
                        items: function () {
                            return $scope.items;
                        }
                    }
                });


                modalInstance.result.then(function (selectedItem) {
                    $scope.selected = selectedItem;
                    $scope.paymentForm.Invoice_Number = selectedItem.Invoice_No;
                    $scope.paymentForm.Amount_Remaining = selectedItem.Amount - selectedItem.Amount_Remaining;

                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
            };

            $scope.toggleAnimation = function () {
                $scope.animationsEnabled = !$scope.animationsEnabled;
            };


        })



        angular.module('appTemplate').controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items, $http) {
            $scope.newitems = [];
            $scope.selected = {};
            $scope.invoice_Selected = false;

            $http.get('/umbraco/API/CashFlowAPI/OldSupplier?ID=' + items.Code)
                         .success(function (data, status) {
                             $scope.newitems = data;

                         }).error(function (error, status) {
                             toastr.error("Cannot find Old Debt Supplier");
                             // $scope.deleting = false;
                             // $scope.Actioning1 = false;
                             $scope.completing = false;
                             $scope.cancel();
                         });

            $scope.selected = {
                //item: $scope.newitems[0]
            };
            $scope.SelectedItem = function (Invoice) {
                //item: $scope.newitems[0]
                $scope.invoice_Selected = true;

                $scope.selected = Invoice;
            };
            $scope.ok = function () {
                $uibModalInstance.close($scope.selected);
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });

    </script>

}
