﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}
@section scripts {
    <style>
        .letterFont {
            font-size: 16px;
            font-family: Arial;
            text-indent: 10%;
            line-height: 180%;
        }

        .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
            background-color: #D1EB50;
        }

        .table-bordered2 > tbody > tr > th, .table-bordered2 > tbody > tr > td {
            border-top: 0 none;
            border-bottom: 0 none;
        }

        .table-bordered2 > tfoot > tr > th, .table-bordered2 > tfoot > tr > td {
            background-color: #e7f4a4;
        }
    </style>
}
<div class="wrapper wrapper-content animated fadeInRight" ng-app="appTemplate">
    <div ng-controller="listController">
        <div class="row employees">

            <div class="container col-lg-12">
                <h2>@Umbraco.Field("title")</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 hover"><div class="widget style1 navy-bg " ng-click="ShowTable('SL')"><h3>Summary by type of expenses </h3> </div></div>
            <div class="col-lg-4"><div class="widget style1 lazur-bg hov" ng-click="ShowTable('AD')"><h3>Table of payment ({{AdvanceList.length}})</h3></div></div>
            <div class="col-lg-4"><div class="widget style1 yellow-bg hov" ng-click="ShowTable('PR')"><h3>Compare to budget({{PRTable.length}})</h3></div></div>


        </div>
      
        <div class="row" ng-show="ShowSummary" >
            <div class="col-lg-12">
                <h2>Generate Payment Letter</h2>

            </div>
            <label class="col-lg-2"> Payment Letter No </label>
            <div class="col-lg-2"> <input type="text" ng-model="PaymentLetter" class="form-control" /> </div>
            <div class="col-lg-2">
                <select class="form-control" ng-model="PaymentMonth">
                    <option value="">Month</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

            </div>
            <div class="col-lg-2">
                <select class="form-control" ng-model="PaymentYear">
                    <option value="">Year</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>

            </div>
            <div class="col-lg-2"><button class="btn btn success" ng-click="RetrieveSummary()">Create Report</button></div>
        </div>

        <div class="row" ng-if="Loading">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"> <i class="fa fa-5x fa-spin fa-spinner"></i></div>
            <div class="col-lg-4"></div>
        </div>
        <!-- ******Start Report******* -->
        <div id="exportable">
            <div ng-if="ShowSummary && Loaded">
                <div class="col-lg-10">
                    <h2>Payment Letter</h2>
                    <p class="letterFont">
                        อ้างถึงหนังสือจากบริษัทฯ ถึงธนาคารไทยพาณิชย์ จำกัด (มหาชน) (“ธนาคาร”) ข้างต้น เพื่อขอเบิกเงินจากบัญชีเงินฝากควบคุม ประเภทออมทรัพย์ ธนาคารไทยพาณิชย์ จำกัด (มหาชน) เลขที่ 111-4-668322 (“บัญชี Revenue account”) เพื่อนำฝากเข้าบัญชีเงินฝากควบคุม ประเภทออมทรัพย์ ธนาคารไทยพาณิชย์ จำกัด (มหาชน) เลขที่ 054-2-607083 (“บัญชี Operating account”) จำนวน {{SummaryTotal | number}} บาท เพื่อจ่ายชำระค่าวัตถุดิบ และค่าใช้จ่ายในการดำเนินงาน ในวันที่ 6-10 มิถุนายน {{YearThai | number}} โดยรายละเอียดการจ่ายชำระสามารถสรุปได้ ดังนี้
                    </p>

                </div>
                <div class="col-lg-10 table-responsive">
                    <table class="table table-bordered table-bordered2">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>วัตถุประสงค์ในการจ่ายชำระ</th>
                                <th>จำนวนเงิน</th>
                                <th>หมายเหตุ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in paymentForm " ng-if="p.Type_Payment=='Group'">
                                <td>{{p.Payment_Year}}</td>

                                <td>{{p.Group_Of_Expenses_Name}}</td>
                                <td>{{p.NetAmount_Total | number}}</td>
                                <td rowspan="{{paymentForm.length}}" ng-if="$index==0">รายละเอียดการจ่ายชำระโปรดดูเอกสารแนบที่ 1</td>
                            </tr>
                        </tbody>

                        <tr style="background-color:greenyellow;" ng-if="EstimateTotal>0">
                            <th colspan="2">รวมจำนวนเงินค่าใช้จ่า (THB)</th>
                            <th>{{SummaryTotal | number}} </th>
                            <th></th>
                        </tr>

                        <tr ng-if="EstimateTotal>0">
                            <td>หัก</td>
                            <td></td>
                            <td>({{EstimateTotal | number}})</td>
                            <td>รายละเอียดการจ่ายชำระโปรดดูเอกสารแนบที่ 2</td>
                        </tr>
                        <tfoot>
                            <tr>
                                <th colspan="2">รวมจำนวนเงินค่าใช้จ่ายในการดำเนินงาน (THB)</th>

                                <th>{{FinalTotal | number}}</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>


                <!--  Text from first page  -->
                <div class="row">
                    <div class="letterFont col-lg-10">
                        <p>
                            บริษัท เบเคอร์ ทิลลี่ คอร์ปอเรท แอ็ดไวเซอรี่ เซอร์วิสเซส (ประเทศไทย) จำกัด ได้ดำเนินการสอบทานรายการจ่ายตามตารางข้างต้นแล้ว ซึ่งรายการจ่ายเหล่านี้มีเอกสารประกอบครบถ้วนสมบูรณ์ และได้รวมอยู่ในประมาณการ <span>{{ MonthThai}}</span>  <!--Month to the left in thai --> {{ YearThai | number}} <span ng-if="paymentForm[0].Version2">(ฉบับปรับปรุง)</span> ที่ได้นำเสนอแก่ธนาคารแล้ว
                        </p><p>
                            จึงเรียนมาเพื่อโปรดทราบและพิจารณา
                        </p>

                        <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                <p class="text-center m-t-lg">
                                    ขอแสดงความนับถือ <br />
                                    บริษัท เบเคอร์ ทิลลี่ คอร์ปอเรท แอ็ดไวเซอรี่ เซอร์วิสเซส (ประเทศไทย) จำกัด

                                </p>
                                <p class="text-center m-t-xl"> นายอำนาจ มังกรพันธุ์</p>
                                <p class="text-center">Partner </p>
                                <p class="text-center">วันที่ 5 มิถุนายน 2562</p>


                            </div>
                        </div>
                    </div>
                </div>

                <!--  Text from second page summary  -->
                <div class="col-lg-10 table-responsive m-t-xl">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>จ่ายให้</th>
                                <th>จำนวนเงิน (THB)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="k in paymentForm ">

                            <tr ng-if="k.Type_Payment=='Group'" style="background-color:#e7f4a4;">
                                <th></th>

                                <th>{{k.Group_Of_Expenses_Name}}</th>
                                <th>{{k.NetAmount_Total | number}}</th>
                                <th></th>
                            </tr>
                            <tr ng-if="k.Type_Payment=='SubGroup'" style="background-color:#e6e3e3">
                                <th></th>

                                <th>{{k.SubGroup_Of_Expenses_name}}</th>
                                <th>{{k.NetAmount_Total | number}}</th>
                                <th></th>
                            </tr>
                            <tr ng-if="k.Type_Payment!='Group' && k.Type_Payment!='SubGroup'  ">
                                <td>{{k.Payment_Year}}</td>

                                <td> {{k.Supplier_Title_First}} {{k.Supplier_Name}} {{k.Supplier_Title_Last}}</td>
                                <td> {{k.NetAmount_Total | number}} </td>
                                <td>  {{k.Description}} </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div><button ng-click="exportData()" class="btn btn-primary" ng-show="fail!=1">Export to Word</button></div>*@
                </div>

            </div>
        </div>
    </div>
 
</div>
<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
<script src="/Scripts/plugins/FileSaver/FileSaver.js" type="text/javascript"></script>
<script>
    var appTemplate = angular.module('appTemplate', ['ui.bootstrap', 'ngAnimate']);


    appTemplate.controller('listController', function ($scope, $http, $uibModal, $log) {
        var cdt = new Date();
        var year = cdt.getYear() + 1900;
        var month = cdt.getMonth();// + 1;
        $scope.paymentForm = {}
        $scope.PaymentYear = '' + year + '';
        $scope.PaymentMonth = '' + month + '';
        $scope.PaymentLetter = 1;
        $scope.EstimateTotal = 0;
        $scope.SummaryTotal = 0;
        $scope.FinalTotal = 0;
        $scope.i = 0;
        $scope.SummaryShow = false;
        $scope.Loading = false;
        $scope.Loaded = false;
        $scope.MonthThai = "";
        $scope.YearThai = "";
     
        //   alert(cdt.getYear()+1900);
        $scope.RetrieveSummary = function () {
            var config = {};
            $scope.Loading = true;
           // $scope.Loaded = false;

            $http.get('/umbraco/API/CashFlowAPI/GetPaymentSummary?Letter_No=' + $scope.PaymentLetter + '&Month=' + $scope.PaymentMonth + '&Year=' + $scope.PaymentYear).success(function (data, status) {
                $scope.paymentForm = data;
                $scope.EstimateTotal = data[0]["Actual_Amount"];
                $scope.Loading = false;
                $scope.Loaded = true;
                var tempTotal = 0;
                var log = {};
                angular.forEach($scope.paymentForm, function (value, key) {
                    //  console.log(value);
                    if (value.Type_Payment == "Group") {
                        tempTotal = tempTotal + value.NetAmount_Total;
                    }

                   

                }, log);
                $scope.MonthToThai($scope.PaymentMonth);
                toastr.success("Summary Loaded");
                $scope.SummaryTotal = tempTotal;
                $scope.FinalTotal = $scope.SummaryTotal - $scope.EstimateTotal;
            }).error(function (error, status) {
                $scope.Loading = false;
                toastr.error("Unable to retrieve Summary");
            });
        }
        $scope.MonthToThai= function (monthNo)
        {
            $scope.YearThai = parseInt($scope.PaymentYear) + 543;
            switch(monthNo)
            {
                case 1: $scope.MonthThai = "มกราคม";
                    break;
                case 2: $scope.MonthThai = "กุมภาพันธ์";
                    break;
                case 3: $scope.MonthThai = "มีนาคม";
                    break;
                case 4: $scope.MonthThai = "เมษายน";
                    break;
                case 5: $scope.MonthThai = "พฤษภาคม";
                    break;
                case 6: $scope.MonthThai = "มิถุนายน";
                    break;
                case 7: $scope.MonthThai = "กรกฎาคม";
                    break;
                case 8: $scope.MonthThai = "สิงหาคม";
                    break;
                case 9: $scope.MonthThai = "กันยายน";
                    break;
                case 10: $scope.MonthThai = "ตุลาคม";
                    break;
                case 11: $scope.MonthThai = "พฤศจิกายน";
                    break;
                case 12: $scope.MonthThai = "ธันวาคม";
                    break;
            }
        }
        $scope.displayIndex = function () {
            $scope.i = $scope.i + 1;
            var payments = $scope.i;
            return payments;
        }
        $scope.ShowTable = function (table) {
            switch (table) {
                case 'SL': $scope.ShowSummary =$scope.ShowSummary ==true?false: true;
                    break;
            }
        }


        // export all table to csv
        $scope.exportData = function () {
            var blob = new Blob([document.getElementById('exportable').innerHTML], {
                type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            });
            saveAs(blob, "payment_Letter.xls");
        };
    });
</script>
