﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var passData = "5";
    string dstring= "27-May-19";


    string[] arrayTest = dstring.Split('-');
    var index= dstring.IndexOf("-");
    var day = arrayTest[0].Length == 1 ? "0" + arrayTest[0]: arrayTest[0];
    var test=DateTime.ParseExact(day+"-"+arrayTest[1] + "-20" + arrayTest[2], "dd-MMMM-yyyy", null);
    CFUploadHelper.ReadExcelFile();


    string authors = "Mahesh Chand, Henry He, Chris Love, Raj Beniwal, Praveen Kumar";
    // Split authors separated by a comma followed by space  

            }
            @section styles
            {
    <link href="~/css/jasny-bootstrap.min.css"  rel="stylesheet"/>
<link href="~/css/animate.css" rel="stylesheet" />
    }
<div class="wrapper wrapper-content" ng-app="appTemplate">
    <div ng-controller="listController">
       @day
        @arrayTest[2]
            <div class="row">
                @if (TempData["customerval"] != null)
            {
                    <div class="alert alert-success">
                        @TempData["customerval"]
                    </div>

                }
                @if (TempData["tempvalErr"] != null)
        {
                    <div class="alert alert-warning">
                        @TempData["tempvalErr"]
                    </div>

                }
                <div class="row">

                    <div class="col-lg-12 ">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h1>@Umbraco.Field("pageTitle") Upload Payments</h1>

                            </div>
                            <div class="ibox-content">
                                @Html.Partial("UploadForm", new eLearningModel(), new ViewDataDictionary { { "app", passData } })
                            </div>
                            @*<div style="padding:30px;padding-bottom:0px;"> <button class="btn btn-success" uib-tooltip="Delete all uploaded staff, click before uploading if loading large number of staff" ng-click="clearStaff()"><i class="fa fa-spin fa-spinner" ng-if="actioningDel"></i> Clear all users</button> </div>
                        <div class="alert alert-warning hideAlert" id="uploadMess"><i class="fa fa-clock-o"></i> Please be patient while the system removes the old data, uploads the new Employee information and then calculates bonus and salary information. The process will take up to 5 minutes, depending on the number of employees uploaded.</div>*@
                        </div>

                    </div>

                </div>
            </div>
    </div>
</div>
@section scripts{
<script src="~/Scripts/jasny-bootstrap.min.js" type="text/javascript"></script>
}