﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Course>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "mhubMasterPage.cshtml";
	
}
<style>
	.smallPadleft{
	padding-left:2px;
	}
	</style>
@if (!String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString()))
{
    <div class="row  learn white-bg dashboard-header smallPadleft" >

                    <div class="col-sm-10">
        <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
        @Umbraco.Field("bodyContent")
    </div>
						</div>
}
else
{
    @CurrentPage.GetGridHtml(Html, "bodyGrid")
}
<ul>
    @foreach (var child in CurrentPage.Children)
    {
        <li><a href="@child.Url">@child.Name</a></li>
    }
</ul>
