﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
}
<div class="container" >
	<div class="learn">
		<h3>eLearning</h3>
		</div>
	<div id="frame" class="col-lg-10" style="height:500px;">	
  <iframe id="iframe1" src="" frameborder="1" style="" ></iframe>
   </div>
	   </div>
	   

@section scripts {
	
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
        }

        #iframe1 {
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
        }
	
    </style>
		
		<script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var srcId = getUrlVars()["srcId"];
        var test = window.opener.document.getElementById(srcId);
        var opener = window.opener;
        var hasy = "#";
       var scrIdhash = hasy.concat(srcId);
     // alert(scrIdhash);
      var elem = opener.$(scrIdhash).attr('Eurl');
     $('iframe').attr("src", elem);
     //   alert(srcId);
      //  alert(elem);
    </script>
	
}