﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc;


@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    int memberReset = 0;
    if (member.HasProperty("passwordChecker"))
    {
        memberReset = member.GetValue<int>("passwordChecker");
    }
    //memberReset = 0;
    var TrainingList = TrainingHelper.pendingTrainingList();
    var userLevel = "staff";
    var managerList = new List<UmbracoWithMvc.Entities.TrainingDays>();
    if (member.GetValue<int>("roleLevel") != 152)
    {
        managerList = TrainingHelper.managerTrainingList();
        userLevel = "man";
    }
    var trainingStatus = "";
    var bDay = member.GetValue<DateTime>("birthday").ToString("D");
    var YearlyLeave = LeaveHelpers.AvailableLeaveDec;
    decimal LeaveUsed = LeaveHelpers.LeaveUsed;
    decimal addCarryOver = LeaveHelpers.CarryOverLeaveToAdd(member);
    YearlyLeave = YearlyLeave + addCarryOver;
    decimal LeaveRemaining = YearlyLeave - LeaveUsed;
    var StartTime = member.GetValue<int>("startingTime");
    var StartTimeString = "";
    switch (StartTime)
    {
        case 470:
            StartTimeString = "9:00 AM";

            break;
        case 472:
            StartTimeString = "8:30 AM";
            break;
        case 469:
            StartTimeString = "9:30 AM";
            break;
        default:
            StartTimeString = "None Choosen";
            break;
    }
}


@section styles{
    <link href="~/css/animate.css" rel="stylesheet"/>
    <style>
        .pbot {
            padding-bottom: 10px;
        }
    </style>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">
        <div class="container col-lg-12">

            <h2>@Umbraco.Field("title") </h2>

        </div>
        <div class="row">

            <div class="col-sm-12">

                @if (userLevel == "man")
                {
                    <div class="ibox float-e-margins greyBox rightRow">
                        <div class="ibox-title">
                            <h3>Manager Information</h3>
                        </div>

                       
                        <div class="ibox-content">
                           <div class="row">  <div class="col-lg-12"><h4>Approve Training Requests</h4></div></div>
                            @foreach (var LR in managerList)

                            {
                                <div class="row">
                                    <div class="col-lg-3" >
                                        @LR.title
                                    </div>
                                    <div class="col-lg-3">
                                        @LR.start.ToString("D")
                                    </div>
                                    <div class="col-lg-2 @LR.Id">
                                        @switch (@LR.trainingStatus)
                                        {
                                            case 0:
                                                trainingStatus = "<span class='badge badge-warning'>Pending</span>";
                                                break;
                                            case 1:
                                                trainingStatus = "<span class='badge badge-success'>Approved</span>";
                                                break;
                                            case 2:
                                                trainingStatus = "<span class='badge badge-danger'>Rejected</span>";
                                                break;


                                        }

                                        @Html.Raw(trainingStatus)
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" class="btn btn-primary btn-xs Approve" alt="Click to Approve" data-toggle="tooltip" data-placement="top" title="Approve training request" id="@LR.Id"> Approve</button>  
                                    </div>
                               
                                    <div class="col-lg-1">
                                        <button type="button" class="btn btn-danger btn-xs Reject" alt="Click to Approve" data-toggle="tooltip" data-placement="top" title="Reject training request" id="@LR.Id"> Reject</button> 
                                    </div>
                                </div>

                            }

                        </div>

                    </div>
                }

                    <div class="ibox float-e-margins greyBox rightRow">
                        <div class="ibox-title">
                            <h3>Employee Information</h3>
                        </div>


                        <div class="ibox-content">
                            <div class="row pbot">
                                <div class="col-md-1"><Strong>Name:</Strong></div>
                                <div class="col-md-2">@member.Name</div>
                                <div class="col-md-1"><Strong>UserName</Strong></div>
                                <div class="col-md-2">@member.Username</div>
                                <div class="col-md-2"><Strong>Email</Strong></div>
                                <div class="col-md-2">@member.Email</div>

                            </div>
                            <div class="row pbot">
                                <div class="col-md-1"><Strong>Division:</Strong></div>
                                <div class="col-md-2">@member.GetValue("division")</div>
                                <div class="col-md-1"><Strong>Branch</Strong></div>
                                <div class="col-md-2">@member.GetValue("branch")</div>
                                <div class="col-md-2"><Strong>Start Time</Strong></div>
                                <div class="col-md-2">@StartTimeString</div>
                                @*<div class="col-md-1"><Strong>Birthday</Strong></div>
                                <div class="col-md-2">@bDay</div>*@

                            </div>
                            <div class="row pbot">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div>
                                            <div ng-app="pReset" ng-controller="passCtrl">

                                                <div ng-show="prst==1">
                                                    @if (memberReset == 1)
                                                    {
                                                        <p class="text-danger">{{resetMessage}}</p>
                                                    }
                                                    <div class="row ">
                                                        <div class="alert alert-danger" ng-show="pMatch==1">Passwords Do Not Match</div>
                                                        <div class="checkbox form-group col-sm-3"><input placeholder="New Password" ng-model="mem.Password" class="form-control" type="password" /></div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="checkbox form-group col-sm-3"><input placeholder="Retype Password" ng-model="mem.Password2" class="form-control" type="password" /></div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-2">
                                                            <button class="btn btn-success block m-b text-center" ng-click="resetPass(mem)">Reset Password</button>
                                                        </div>
                                                        <div class="form-group col-sm-1">
                                                            <button class="btn btn-primary block m-b text-center" ng-click="prst=0">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <br />
                                                    <button class="btn btn-success block m-b text-center" ng-click="prst=1" ng-hide="prst==1">Change Password</button>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>


                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="ibox float-e-margins greyBox rightRow">
                                <div class="ibox-title">
                                    <h3>Training Requests</h3>
                                </div>

                                <div class="ibox-content">
                                    <div class="row"><div class="col-lg-4"><h4>Training Request Date</h4></div><div class="col-lg-4"><h4>Training Status</h4></div></div>
                                    @foreach (var TR in TrainingList)

                                    {
                                        <div class="row">
                                            <div class="col-lg-4">
                                                @TR.start.ToString("D")
                                            </div>
                                            <div class="col-lg-4">
                                                @switch (@TR.trainingStatus)
                                                {
                                                    case 0:
                                                        trainingStatus = "<span class='badge badge-warning'>Pending</span>";
                                                        break;
                                                    case 1:
                                                        trainingStatus = "<span class='badge badge-warning'>Approved</span>";
                                                        break;
                                                    case 2:
                                                        trainingStatus = "<span class='badge badge-warning'>Rejected</span>";
                                                        break;


                                                }
                                                @*@TR.trainingApproved*@

                                                @Html.Raw(trainingStatus)
                                            </div>


                                        </div>
                                    }
                                </div>
                            </div>

                            <div></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins greyBox rightRow">
                                <div class="ibox-title">
                                    <h3>Other Information and Links</h3>
                                </div>

                                <div class="ibox-content">
                                    <div class="row pbot"><div class="col-md-4"><strong>Available Leave </strong>:@LeaveRemaining</div><div class="col-md-4"><a href="~/Reports/user-leave-report/">View Personal Leave Report</a></div><div class="col-md-4"><a href="/administration/leave-request/">Make Request Leave</a></div></div>



                                    <div class="row pbot">
                                        <div class="col-md-4"><strong>Training Links </strong></div>
                                        <div class="col-md-4"><a href="/learn/learning-overview">Learning Progress</a></div><div class="col-md-4"> <a href="/knowledge/knowledge-overview">Knowledge Progress</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
                </div>
                    @section scripts{
                        @*<script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>*@
<script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                        <script src="/Appraisal/js/angular.min.js"></script>
                        <script>
                            var pReset = angular.module('pReset', []);

                            pReset.controller('passCtrl',
                             function ($scope, $compile, $http) {
                                 $scope.prst = @memberReset;
                                 $scope.resetMessage="Please Reset Your password Immediately, the temporary password is not secure and will expire shortly!";
                                 $scope.mem = {};
                                 $scope.pMatch = 0;

                                 $scope.resetPass = function (mem) {
                                     $scope.pMatch = 0;


                                     if (mem.Password == mem.Password2) {
                                         var mem1 = { "Password": mem.Password }
                                         var config = {};
                                         $http.post('/Umbraco/Api/Member/resetTemp/', mem1, config)
                                              .success(function (data, status) {


                                                  switch (data) {
                                                      case 0:
                                                          toastr.error("Could not update password");
                                                          break;
                                                      case 1:
                                                          toastr.success("Password reset successfully");
                                                          $scope.resetMessage="Updated Successfully"
                                                          $scope.prst = 1;
                                                          break;
                                                      case 2:
                                                          toastr.error("Password must be a minimum of 8 characters");
                                                          break;
                                                  }
                                              })

                                     }
                                     else { $scope.pMatch = 1; }







                                 }
                             });
                        </script>
                        <script>
                            $( ".Approve" ).click(function() {
                              //  alert( $( this ).attr('Id'));
                                var id=$( this ).attr('Id');
                                var dataP= { Key: "app",Value:id };
                                var classUp="."+id+"";
                              //  var data="hello";
                                //var jqxhr = $.post( "/Umbraco/Api/Training/ApproveTraining/", function(data) {
                                //    alert( data );
                                //})

                                $.ajax({
                                    url: '/Umbraco/Api/Training/ApproveTraining/',
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (data) {
                                        //alert( data );
                                        toastr.success("Training Approved Successfully");
                                        $(classUp).html('<span class="badge badge-success">Approved</span>');
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                                        toastr.warning("There was an error, please contact support");
                                    },
                                    data: dataP
                                });
                            });
                      

                          $( ".Reject" ).click(function() {
                              //  alert( $( this ).attr('Id'));
                                var id=$( this ).attr('Id');
                                var dataP= { Key: "rej",Value:id };
                                var classUp="."+id+"";
                              //  var data="hello";
                                //var jqxhr = $.post( "/Umbraco/Api/Training/ApproveTraining/", function(data) {
                                //    alert( data );
                                //})

                                $.ajax({
                                    url: '/Umbraco/Api/Training/ApproveTraining/',
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (data) {
                                     
                                        toastr.success("Training Rejected Successfully");
                                        $(classUp).html('<span class="badge badge-danger">Rejected</span>');
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                                        toastr.warning("There was an error, please contact support");
                                    },
                                    data: dataP
                                });
                            });
                        </script>
                    }
