﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var StationaryManager = DataHelpers.GetStationaryManager;
}
@if (StationaryManager.Id != MhubMemberHelper.LoggedInMember.Id)
{ <h1>You do not have persmission to access this page, please contact admin </h1>}
else
{
    <div ng-app="appTemplate">

        <div ng-controller="listController">

            <div class="row ">
                <div class="col-lg-12 administration white-bg dashboard-header smallPadleft">
                    <div class="container col-lg-12">

                        <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
                    </div>

                </div>

            </div>
            <h2>Handle Stationary Requests</h2>
            <div class="table table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>User</th>
                        <th>Category</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Comments</th>
                        <th>Date Submitted</th>
                        <th>For job</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="rl in requestlist">

                        <td>{{rl.LoginName}}</td>
                        <td>{{rl.Category_Name}}</td>
                        <td>{{rl.Item_Name}}</td>
                        <td>{{rl.Quantity_Ordered}}</td>
                        <td>{{rl.Comments}}</td>
                        <td>{{rl.Date_Subumited | date}}</td>
                        <td>{{rl.Job_Name}}</td>
                        <td>
                        <span class="badge badge-warning" ng-if="rl.Status==0">Pending</span>
                            <span class="badge badge-success" ng-if="rl.Status==1">Processed</span>
                            <span class="badge badge-danger" ng-if="rl.Status==2">Rejected</span>
                        </td>
                        <td><i class="fa fa-edit" tooltip-trigger="mouseenter" tooltip="Process / edit request" ng-click="editRequest(rl, $index)"></i></td>
                    </tr>

                </table>
                <div class="col-lg-12"><hr /></div>
            </div>
           
            <h2>Manage Stationary Inventory</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Add New Category <i class="fa fa-plus-circle" ng-click="AddCat=AddCat?false:true;"></i></h2>
                    <div class="row m-b-2" ng-hide="AddCat">
                        <div class="col-md-3">
                            <input class="form-control" ng-model="StationaryCategory" />
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-success" ng-Click="AddCategory()"><i class="fa fa-spin fa-spinner" ng-hide="Actioning"></i> Add Category</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel panel-default" style="margin-bottom:20px;">
                <div class="panel-heading">
                    <h2>Add New Stationary Item </h2>
                </div>
                <div class="row m-b-2 panel-body">
                    <form>
                        <div class="col-md-2">
                            <select ng-model="StationaryItem.Categories" class="form-control">
                                <option value="">Select category</option>
                                <option ng-repeat="cg in categorylist" value="{{cg.Id}}">{{cg.Category_Name}}</option>
                            </select>

                        </div>


                        <div class="col-md-3">
                            <input class="form-control" ng-model="StationaryItem.Description" placeholder="Stationary Description" />
                        </div>
                        <div class="col-md-2">
                            <select ng-model="StationaryItem.IsAvailable" class="form-control">
                                <option value="">Is in Stock</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" ng-model="StationaryItem.Type" placeholder="Stationary Type" />
                        </div>
                        @*<div class="col-md-2">
                                <input class="form-control" ng-model="StationaryItem.Quantity" placeholder="Quantity"  type="number"/>
                            </div>*@
                        <div class="col-md-1">
                            <button class="btn btn-success" ng-Click="AddStationary()"><i class="fa fa-spin fa-spinner" ng-hide="Actioning1"></i> Add Stationary Item</button>
                        </div>



                    </form>
                </div>
            </div>

            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-3">

                    <input type="text" placeholder="Search Stationary" class="form-control" ng-model="custSearch" ng-change="testPage(1)" />
                </div>


            </div>
            <table class="table table-hover">
                <thead>

                    <tr>

                        <th>Category</th>
                        <th>Item Description</th>
                        <th>Added Date</th>
                        <th>In Stock</th>
                        <th>Disable</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @*<tr ng-repeat="tr in custlistFiltered = (custlist | filter:custSearch | orderBy:'-Transfered_Date' )" ng-if="$index>=startIndex && $index<endIndex">*@
                    <tr ng-repeat="gm in custlistFiltered = ( stationarylist | filter:custSearch )" ng-if="$index>=startIndex && $index<IndexList.endIndex1">


                        <td>{{gm.Category_Name}}</td>
                        <td>{{gm.Description }}</td>

                        <td>{{gm.Last_Update | date:'medium'}}</td>
                        <td>
                            <span class="badge badge-danger" ng-if="gm.IsAvailable==0">No</span>
                            <span class="badge badge-success" ng-if="gm.IsAvailable!=0">Yes</span>
                        </td>

                        <td>
                            <span class="badge badge-danger" ng-if="gm.IsActive==0">Disabled Item</span>
                            <span class="badge badge-success" ng-if="gm.IsActive!=0">Active</span>
                        </td>


                        <td>
                            @*@if (memberRole == 18 || memberRole == 17 || memberRole == 15)
                                {*@
                            <i class="fa fa-edit iconPadding text-primary iconHover" uib-tooltip="Edit/View Game Details" ng-click="editStationary(gm,$index)"></i>
                            @* }
                                @if (memberRole == 18)
                                    {*@
                            <i class="fa fa-trash iconPadding text-danger iconHover" uib-tooltip="Disable Stationary Item Selection" ng-click="DeleteItem(gm,$index)" ng-hide="updating && $index==tempindex"></i> <i class="fa fa-trash fa-spin" ng-hide="!updating || $index!=tempindex"></i>
                            @*}*@
                        </td>
                    </tr>



                </tbody>
            </table>
        </div>


        <!-- Pagination beginning -->
        <ul uib-pagination total-items="custlistFiltered.length" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" items-per-page="50" ng-Click="testPage(bigCurrentPage)"></ul>
        <!-- pagination ending-->



        <script type="text/ng-template" id="stationaryModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Edit Stationary Item  <i class="pull-right fa fa-times iconHover" ng-click="cancel()"></i></h3>
            </div>
            <div class="modal-body">
                <form name="UserForm">
                    <div class="row rowPadding">
                        <div class="col-md-3 ">
                            <label>Category:</label>
                            <br />
                            <select ng-model="StationaryItems.Category_Name" class="form-control">
                                <option value="{{StationaryItems.Category_Name}}">{{StationaryItems.Category_Name}}</option>
                                <option ng-repeat="ct in categories" value="{{ct.Id}}">{{ct.Category_Name}}</option>
                            </select>

                        </div>
                        <div class="col-md-2">
                            <label>Is in stock </label>
                            <br />
                            <select ng-model="StationaryItems.IsAvailable" class="form-control">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">

                            <label>Item Description</label>
                            <br />
                            <input type="text" ng-model="StationaryItems.Description" class="form-control" />

                        </div>
                        <div class="col-md-2">
                            <label>Disable Item</label>

                            <select class="form-control">
                                <option value="0">Pending</option>
                                <option value="1">Processed</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Date Updated</label>
                            <br />
                            {{StationaryItems.Last_Update | date }}



                        </div>
                    </div>
                    <div class="row ">






                    </div>

                    <div class="row rowPadding">






                    </div>

                </form>
            </div>

            <div class="modal-footer">


                <button class="btn btn-primary" type="button" ng-click="SaveItem()" ng-disabled="Actioning"> <i class="fa fa-spin fa-spinner" ng-if="Actioning"></i> Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>

            </div>
        </script>
        <!--Reply to request form-->
        <script type="text/ng-template" id="requestModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Approve Stationary Request  <i class="pull-right fa fa-times iconHover" ng-click="cancel()"></i></h3>
            </div>
            <div class="modal-body">
                <form name="UserForm">
                    <div class="row rowPadding">
                        <div class="col-md-2 ">
                            <label>Username:</label>
                            <br />
                           {{activeRequest.LoginName}}

                        </div>
                        <div class="col-md-2">
                            <label>Date Submitted</label>
                            <br />
                            {{activeRequest.Date_Subumited | date }}
                        </div>
                        <div class="col-md-2">
                            <label>Approve</label>
                            <br />
                            <select ng-model="activeRequest.Status" class="form-control">
                                <option value="0">Pending</option>
                                <option value="1">Approve</option>
                                <option value="2">Reject</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Add Comment</label>
                            <br />
                         <textarea ng-model="activeRequest.AdminComments" class="form-control"></textarea>

                        </div>
                        <div class="col-md-2">
                            <label>Pick Up <i class="fa fa-info-circle" uib-tooltip="If box checked email will tell staff to come and pick up the stationary. Ifbox not checked email will tell staff that Items will be delivered."></i></label>
                            <br />
                            <input type="checkbox" ng-model="activeRequest.PickUp" />

                        </div>
                        
                      
                    </div>
                    <div class="row ">






                    </div>

                    <div class="row rowPadding">






                    </div>

                </form>
            </div>

            <div class="modal-footer">


                <button class="btn btn-primary" type="button" ng-click="UpdateRequest()" ng-disabled="Actioning"> <i class="fa fa-spin fa-spinner" ng-if="Actioning"></i> Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>

            </div>
        </script>

    </div>

}

@section scripts{
    <script src="/Scripts/angular.min.js"></script>
    @*<script src="/Scripts/angular-animate.js"></script>*@

    @*<script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>*@
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
    @*<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>*@


    <script>
        var appTemplate = angular.module('appTemplate', ['ui.bootstrap']);

        appTemplate.controller('listController', function ($scope, $http, $uibModal, $log) {
            $scope.endlist = []
            $scope.IndexList = {}
            $scope.AddCat = true;
            $scope.Actioning = true;
            $scope.Actioning1 = true;
            $scope.searching = false;
            $scope.deleting = false;
            $scope.DeleteIndex = 999;
            $scope.MemberLite = {};
            $scope.WebDetails = {};
            $scope.WebDetails.Index = 0;
            $scope.totalItems = 64;
            $scope.currentPage = 4;
            $scope.pagingSize = 50;
            $scope.startIndex = 0;
            $scope.IndexList.endIndex1 = 50;
            $scope.categorylist = {};
            $scope.BlankGameAccount = {};
            $scope.Categories = "";
            $scope.StationaryItem = {};
            $scope.updating = false;


            $scope.setPage = function (pageNo) {
                $scope.currentPage = pageNo;

            };
            $scope.testPage = function (pageNo) {

                $scope.startIndex = (pageNo * $scope.pagingSize) - 51;
                $scope.IndexList.endIndex1 = (pageNo * $scope.pagingSize) - 1;
                $scope.bigCurrentPage = pageNo;
            }

            $scope.pageChanged = function () {
                $log.log('Page changed to: ' + $scope.currentPage);
                $scope.startIndex = ($scope.currentPage * $scope.pagingSize) - 51;
                $scope.IndexList.endIndex1 = ($scope.currentPage * $scope.pagingSize) - 1;
            };

            $scope.RetrieveGameAccount = function () {
                $http.get('/umbraco/APi/StationaryApi/Get').success(function (data) {
                    $scope.stationarylist = data;
                    $scope.bigTotalItems = $scope.stationarylist.length;

                });
            }

            $scope.RetrieveCategories = function () {
                $http.get('/umbraco/APi/StationaryApi/GetCategories').success(function (data) {
                    $scope.categorylist = data;
                    console.log($scope.categorylist);


                });
            }
            $scope.RetrieveRequests = function () {
                $http.get('/umbraco/APi/StationaryApi/GetStationeryRequestsPending').success(function (data) {
                    $scope.requestlist = data;

                    console.log(data);
                });
            }

            $scope.DeleteItem = function (item, index) {
                $scope.updating = true;
                $scope.tempindex = index;

                $http.get('/umbraco/APi/StationaryApi/DisableStationaryItem?Item_Id=' + item.Item_Id).success(function (data, index) {

                    $scope.stationarylist.splice($scope.tempindex, 1, data);
                    toastr.success('Updated Successfully');
                    console.log(data);
                    $scope.updating = false;
                    $scope.tempindex = 10000;
                }).error(function (error, status) {
                    toastr.error("Unable to delete, contact administrator");
                    $scope.tempindex = 10000;
                    $scope.updating = false;
                });
            }

            $scope.AddCategory = function () {
                $scope.Actioning = false;
                $http.get('/umbraco/APi/StationaryApi/AddCategory?Category=' + $scope.StationaryCategory).success(function (data) {
                    $scope.AddCat = true;
                    $scope.Actioning = true;
                    toastr.success('Category Added Successfully');
                    $scope.categorylist.push(data)
                });
            }

            $scope.AddStationary = function () {
                $scope.Actioning1 = false;

                $http.get('/umbraco/APi/StationaryApi/AddItem?Category_Id=' + $scope.StationaryItem.Categories + '&Item_Description=' + $scope.StationaryItem.Description + '&IsAvailable=' + $scope.StationaryItem.IsAvailable + '&Item_Type=' + $scope.StationaryItem.Type).success(function (data) {

                    $scope.Actioning1 = true;
                    toastr.success('New Stationary Added Successfully');
                    $scope.stationarylist.push(data);
                }).error(function (error, status) {
                    toastr.error("There was an error adding the stationary item, please refresh the page and try again");
                    $scope.Actioning1 = true;
                });

            }
            $scope.RetrieveCategories();
            $scope.RetrieveRequests();
            $scope.RetrieveGameAccount();

            $scope.animationsEnabled = true;
            $scope.toggleAnimation = function () {
                $scope.animationsEnabled = !$scope.animationsEnabled;
            };

            $scope.editStationary = function (item, index) {
                var stationaryModalInstance;

                $scope.WebDetails.items = item;
                $scope.WebDetails.index = index;
                $scope.WebDetails.categories = $scope.categorylist;

                $scope.config = {};
                stationaryModalInstance = $uibModal.open({
                    animation: $scope.animationsEnabled,
                    templateUrl: 'stationaryModal.html',
                    controller: 'stationaryInstanceCtrl',
                    size: 'lg',
                    backdrop: 'static',
                    resolve: {
                        items: function () {
                            return $scope.WebDetails;
                        }
                    }
                });




                stationaryModalInstance.result.then(function (item) {
                    //$scope.selected = selectedItem;

                }, function (item) {
                    $log.info('Modal dismissed at: ' + new Date());
                    console.log(item);

                    if (item.Item_Id) {

                        $scope.stationarylist.splice($scope.WebDetails.index, 1, item);
                    }

                    //  $scope.custlist.push(item);



                });
            }


            //activate the request approval
            $scope.editRequest= function (item, index) {
                var requestModalInstance;

                $scope.WebDetails.items = item;
                $scope.WebDetails.index = index;
                $scope.WebDetails.categories = $scope.categorylist;

                $scope.config = {};
                requestModalInstance = $uibModal.open({
                    animation: $scope.animationsEnabled,
                    templateUrl: 'requestModal.html',
                    controller: 'requestInstanceCtrl',
                    size: 'lg',
                    backdrop: 'static',
                    resolve: {
                        items: function () {
                            return $scope.WebDetails;
                        }
                    }
                });




                requestModalInstance.result.then(function (item) {
                    //$scope.selected = selectedItem;

                }, function (item) {
                    $log.info('Modal dismissed at: ' + new Date());
                    console.log(item);

                  

                    //  $scope.custlist.push(item);



                });
            }

        })

        appTemplate.controller('stationaryInstanceCtrl', function ($scope, $uibModalInstance, items, $http, $uibModal, $log) {
            console.log(items);

            $scope.StationaryItems = angular.copy(items.items);
            $scope.categories = items.categories;
            $scope.index = items.index;
            console.log($scope.StationaryItems);
            $scope.StationaryItems.IsAvailable = $scope.StationaryItems.IsAvailable ? 'true' : 'false';
            //$scope.TransactionDetails.Transfer_Status = "" + $scope.TransactionDetails.Transfer_Status + "";
            $scope.BlankData = {};
            $scope.SaveItem = function () {
                $scope.Actioning = true;
                var config = {};
                $http.post('/Umbraco/Api/StationaryApi/UpdateItem/', $scope.StationaryItems, config)
                           .success(function (data, status) {

                               $scope.Actioning = false;

                               // alert(data);
                               $uibModalInstance.dismiss(data);
                               toastr.success("Stationary Item Updated Successfully");
                               $uibModalInstance.dismiss($scope.TransactionDetails);

                           }).error(function (error, status) {
                               toastr.error("Error updating Stationary Items, please refresh and try again");
                               $scope.Actioning = false;
                           });

            }



            $scope.ok = function () {
                $uibModalInstance.dismiss(BlankData);
            };


            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            };

        })

        appTemplate.controller('requestInstanceCtrl', function ($scope, $uibModalInstance, items, $http, $uibModal, $log) {
            console.log(items);
            $scope.activeRequest = items.items;
            $scope.activeRequest.Status = '' + $scope.activeRequest.Status + '';
            $scope.BackUpRequest = angular.copy(items.items);


            $scope.UpdateRequest = function () {
                $scope.Actioning = true;
                var config = {};
                $http.post('/Umbraco/Api/StationaryApi/UpdateRequest/', $scope.activeRequest, config)
                           .success(function (data, status) {

                               $scope.Actioning = false;

                               // alert(data);
                               $uibModalInstance.dismiss(data);
                               toastr.success("Stationary request Updated Successfully");
                               $console.log($scope.activeRequest);

                           }).error(function (error, status) {
                               toastr.error("Error updating Stationary request, please refresh and try again");
                               $scope.Actioning = false;
                           });

            }
            $scope.ok = function () {
                $uibModalInstance.dismiss(BlankData);
            };


            $scope.cancel = function () {
             
                $scope.activeRequest.Status = $scope.BackUpRequest.Status;
                $scope.activeRequest.AdminComments = $scope.BackUpRequest.AdminComments;
                $uibModalInstance.dismiss();
            };
        })
    </script>
}