﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";

    var member = MhubMemberHelper.LoggedInMember;
    var root = member.GetValue<int>("hub");
    var RootPage = Umbraco.TypedContent(root);

    String[] Branch = (String[])RootPage.GetProperty("branches").Value;
    String[] Division = (String[])RootPage.GetProperty("divisions").Value;
    String[] Position = (String[])RootPage.GetProperty("companyPositions").Value;


    var roleLevel = member.GetValue<int>("roleLevel");
    var app = member.GetValue<int>("appraisalSchedule");
}
@section styles{
    <style>
        .figure {
            writing-mode: vertical-rl;
        }

        .textwrap {
            position: relative;
            padding-left: 70px;
        }

        .section-title {
            position: absolute;
            left: 0;
            transform-origin: left top;
            transform: rotate(90deg);
        }

        th {
            vertical-align: bottom;
        }
    </style>
}

@if (roleLevel == 152)
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
{
    <div ng-app="appTemplate" class="wrapper wrapper-content animated fadeInRight">
        <div ng-controller="listController" class="row employees">

            <!-- Date Picker in Angular -->
            <!-- end angular Datepicker -->




            <div class="container col-lg-12 ">
                <h2>@Umbraco.Field("title")</h2>
            </div>
            <div class="container col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">


                            @*<div class="col-sm-2">
                                <label class="font-noraml">Branch</label>
                                <select class="form-control" ng-model="repVar.Branch" placeholder="Branch">
                                    <option value="" checked="checked">All</option>
                                    @foreach (string s in Branch)
                                    {
                                        if (s != "")
                                        {
                                            <option value="@s">@s</option>
                                        }
                                    }
                                </select>
                            </div>*@
                            @*<div class="col-md-3">
                                <label class="font-noraml">Position</label>
                                <select class="form-control" ng-model="repVar.Position" multiple>
                                    <option value="">All</option>
                                    @foreach (string p in Position)
                                    {
                                        if (p != "")
                                        {
                                            <option value="@p">@p</option>
                                        }
                                    }
                                </select>
                            </div>*@

                          


                          
                        </div>
                    </div>
                    <div class="col-sm-5 " style="margin-top:20px;" >
                        <div class="row">
                            <div class="col-sm-12">  <label>Select Date Range</label> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default form-control" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-6" >
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default form-control" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top:20px;">
                        <label>Division</label>

                        <select class="form-control" ng-model="repVar.Division" placeholder="Division" multiple>
                            <option value="" checked="checked">All</option>

                            @foreach (string s in Division)
                            {
                                if (s != "")
                                {
                                    <option value="@s">@s</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-sm-4 pull-right" style="margin-top:20px;">
                        <label> Search</label><br />
                        <button ng-click="dRange(dt,dt2,repVar);" class="btn btn-primary"><i class="fa fa-spinner fa-spin" ng-If="search.searching"></i> Find Reports</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label class="font-noraml">Filter by Items</label>
                        <input type="text" ng-model="assessment.user" placeholder="Dynamic Search" class="form-control" />
                    </div>
                    <!--  <div class="col-sm-4">
                                        <label class="font-noraml">Filter by Assessment</label>
                                        <input type="text" ng-model="assessment.Id" placeholder="Search by user" class="form-control" />
                                         <select name="repeatSelect" id="repeatSelect" ng-model="assessment.Id">
                      <option ng-repeat="option in UserAss" value="{{option.id}}" >{{option.AssessmentName}}</option>
                    </select>
                                    </div>
                                -->
                </div>
              

                <div class="table-responsive" id="exportable">
                    <table class="table table-hover">
                        <tr>
                            <th style="vertical-align: bottom;">CategoryName</th>
                            <!-- <th>Category</th>
                             <th>Username</th>
                                -->
                            <th class="tbbottom" style="vertical-align: bottom;">Stationary Item</th>


                          <th>Total Ordered</th>
                        </tr>
                        <tr ng-repeat="aReports in reportlist | filter:assessment.user">
                            <td>{{aReports.Category_Name}}</td>
                          
                            <td>{{aReports.Item_Name}}</td>
                            <td>{{aReports.Stationary_Totals}}</td>
                         




                                         </tr>
                    </table>
                   
                </div>
              
                <div><button ng-click="exportData()" class="btn btn-primary" ng-show="fail!=1">Export to Excell</button></div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
    @*<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>*@
    <script src="/Scripts/plugins/FileSaver/FileSaver.js" type="text/javascript"></script>
    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }

        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>

    <script>
        var appTemplate = angular.module('appTemplate', ['ui.bootstrap']);

        appTemplate.controller('listController', function ($scope, $http) {
            $scope.leaveList = [];
            $scope.repVar = {};
            $scope.fail = 0;
            $scope.search = {};
            $scope.search.searching = true;


            $http.get('/Umbraco/Api/StationaryApi/GetReport/').success(function (data) {
                $scope.reportlist = data;
                $scope.search.searching = false;

                // console.log(data[0].UserAssessments);
                // alert("hello");
                // alert($scope.leavelist[0].memberId)
               
            })
                $scope.dRange = function (dtStart, dtEnd, rVar) {
                    $scope.search.searching = true;
                    data = $scope.dtEnd;
                    var m1 = dtStart.getMonth()+1;
                    var d1 = dtStart.getDate();
                    var y1 = dtStart.getFullYear();
                    // var dStart = d1 + "/" + m1 + "/" + y1;
                    var dStart = y1 + "-" + m1 + "-" + d1;
                    var m = dtEnd.getMonth()+1;
                    var d = dtEnd.getDate();
                    var y = dtEnd.getFullYear();
                    //  var dEnd = d + "/" + m + "/" + y;
                    var dEnd = y + "-" + m + "-" + d;
                   // console.log(y);
                    if (rVar.Branch == undefined)
                    { rVar.Branch = ""; }
                    if (rVar.Division == undefined)
                    { rVar.Division = ""; }
                    if (rVar.CourseType == undefined)
                    { rVar.CourseType = ""; }
                    data1 = { "CourseType": rVar.Course, "Branch": rVar.Branch, "CompanyPositions": rVar.Position, "Division": rVar.Division, "startRange": dStart, "endRange": dEnd };
                   // console.log(dEnd);
                    //console.log(dStart);
                    console.log(data1);
                    var config = {}
                    $http.post('/Umbraco/Api/StationaryApi/GetReportByVariables/', data1, config)
                                .success(function (dataResult, status) {
                                    $scope.search.searching = false;
                                    console.log(dataResult);

                                    $scope.reportlist = dataResult;
                                    if (dataResult.length == 0) {

                                        $scope.fail = 1;
                                    }
                                    else {
                                        $scope.fail = 0;
                                    }

                                })

                    //alert(reportings.SDate);
                };

          

            $scope.exportData = function () {
                var blob = new Blob([document.getElementById('exportable').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, "Report.xls");
            };

            $scope.today = function () {
                var curDate = new Date();
                var curYear = curDate.getFullYear();
                // alert(curYear);

                $scope.dt = new Date(curYear, 0, 1);
                 $scope.dt2 = new Date(curYear,11,31);

                // var tomorrowDate = new Date();
                //tomorrowDate .setDate(tomorrowDate .getDate() + 3);
              //  $scope.dt2 = new Date(curYear, 11, 31);
                // alert($scope.dtEnd);
            };
            $scope.today();

            $scope.clear = function () {
                $scope.dt = null;
            };

            $scope.inlineOptions = {
                customClass: getDayClass,
                minDate: new Date(),
                showWeeks: true
            };

            $scope.dateOptions = {
                dateDisabled: disabled,
                formatYear: 'yy',
                maxDate: new Date(2020, 5, 22),
                minDate: new Date(),
                startingDay: 1
            };

            // Disable weekend selection
            function disabled(data) {
                var date = data.date,
                  mode = data.mode;
                return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
            }

            $scope.toggleMin = function () {
                $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
                $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
            };

            $scope.toggleMin();

            $scope.open1 = function () {
                $scope.popup1.opened = true;
            };

            $scope.open2 = function () {
                $scope.popup2.opened = true;
            };


            $scope.setDate = function (year, month, day) {
                $scope.dt = new Date(year, month, day);
                //  $scope.dtEnd = new Date(year, month, day);
            };

            $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
            $scope.format = $scope.formats[0];
            $scope.altInputFormats = ['M!/d!/yyyy'];

            $scope.popup1 = {
                opened: false
            };

            $scope.popup2 = {
                opened: false
            };

            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            var afterTomorrow = new Date();
            afterTomorrow.setDate(tomorrow.getDate() + 1);
            $scope.events = [
              {
                  date: tomorrow,
                  status: 'full'
              },
              {
                  date: afterTomorrow,
                  status: 'partially'
              }
            ];

            function getDayClass(data) {
                var date = data.date,
                  mode = data.mode;
                if (mode === 'day') {
                    var dayToCheck = new Date(date).setHours(0, 0, 0, 0);

                    for (var i = 0; i < $scope.events.length; i++) {
                        var currentDay = new Date($scope.events[i].date).setHours(0, 0, 0, 0);

                        if (dayToCheck === currentDay) {
                            return $scope.events[i].status;
                        }
                    }
                }

                return '';
            }

       })

    </script>
}
