﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";

    var LeaveRequestList = StationaryHelper.GetRequestsById();
    var OrderTotals = StationaryHelper.GetTotalsById();
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">

        <div class="container col-lg-12">
            <h2>@Umbraco.Field("title")</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 ">
            <div class="ibox float-e-margins greyBox rightRow">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("stationaryHeading") <small>complete form below</small></h3>
                </div>




                <div class="ibox-content">
                    @Html.Partial("StationForm", new StationaryRequisition())



                </div>
            </div>
        </div>

        <div class="col-lg-4 ">
            <div class="ibox float-e-margins greyBox leftRow">
                <div class="ibox-title">
                    <h4>@Umbraco.Field("requestHistory")</h4>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p></p>
                        <div class="form-group">
                            <div class="col-lg-6">Pending Requests</div>

                            <div class="col-lg-4">
                                <p class="text-warning">@OrderTotals.Pending_Requests </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">Approved Requests</div>

                            <div class="col-lg-4">
                                <p class="text-success">@OrderTotals.Approved Items</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">Total Items Ordered</div>

                            <div class="col-lg-4">
                                <p class="text-navy"><strong>@OrderTotals.AllOrdered</strong> Items</p>
                            </div>
                        </div>
                       
                          
                        @*<div class="progress progress-small tooltip-demo">
                                <div style="width: @leavepercent%;" class="progress-bar progress-bar-danger" title="@LeaveRemaining days Remaining" data-toggle="tooltip" data-placement="top"> </div>
                            </div>*@

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins greyBox">
            <div class="ibox-title">
                <h3>@Umbraco.Field("listHeading") <small>status</small> </h3>
                <div class="ibox-tools">




                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Category Name</th>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Comments</th>
                                <th>Date Submitted</th>
                                <th>Status</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var SR in LeaveRequestList)
                            {
                            <tr class="tbClass">
                                <td>@SR.Category_Name </td>
                                <td>@SR.Item_Name </td>
                                <td>@SR.Quantity_Ordered </td>
                                <td>@SR.AdminComments </td>
                                <td>@SR.Date_Subumited.ToString("MMMM dd, yyyy")</td>
                                <td>
                                    @if (SR.Status == 0)
                                    {
                                        <span class="badge badge-warning">  Pending</span>

                                    }
                                    else if (SR.Status == 1)
                                    {
                                        <span class="badge badge-warning">  Proccessed</span>
                                    }
                                    else if (SR.Status == 2)
                                    {
                                        <span class="badge badge-success">  Rejected</span>
                                    }
                                </td>


                            </tr>

                                    }




                        </tbody>
                    </table>
                </div>




            </div>
        </div>
    </div>
</div>
</div>
@section styles{
    <style>
    .leftRow {
        height: 323px;
    }

    .greyBox {
        border: 1px solid #dededd;
    }

    @@media(max-width:1100px) {
        .leftRow {
            height: auto;
        }
    }
</style>
    }
@section scripts{
    <script>
        //  $(".form-control").change(function () {
        $(document).ready(function () {
            var Cat_Id = $("#Stationary_Category_Id").val();
            GetStationary(Cat_Id);
            $("#Stationary_Category_Id").change(function () {
                //  alert("Handler for .change() called.");
                var cat = $(this).val();
                $("#completeButton").addClass("fa-spin fa-spinner")
                $('#Stationary_Item_Id').empty();

                GetStationary(cat);

            });
            ////$(".btn-success").one('click', function (event) {
            ////    event.preventDefault();
            ////    //do something
            ////    $(this).prop('disabled', true);
            ////});
            $('.form-group').submit(function () {
                alert("gets to submit");
                $('#btn-success').prop("disabled", "disabled");
            });

            function GetStationary(cat) {
                $.get("/Umbraco/Api/StationaryApi/GetItemsByCatergory?Cat_Id=" + cat, function (data) {
                    console.log(data);
                    $.each(data, function (index, value) {

                        $('<option>').val(value.Value).text(value.Text).appendTo("#Stationary_Item_Id")
                    })

                    $("#completeButton").removeClass("fa-spin fa-spinner")
                });

            }

            $(window).on('beforeunload', function () {
                console.log("test");
                $('.btn-success').prop('disabled', true);
            });
        })
        function preventMultipleSubmissions() {
            alert("gets here");
            $('#btn-success').prop('disabled', true);
        }


    </script>
}
