﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "HomePage.cshtml";
}
@section newCSS{
 <link href="/css/introjs.css" rel="stylesheet">
 
}

@section PageTop
{
	 @{var headerID=Umbraco.Field("TopHeader").ToString();
	  
	
		var mediaItem = Umbraco.Media(headerID);
	 	var file = mediaItem.UmbracoFile; 
	   
		}
	
		
		 <section class="bg-custom-lg" style="background:url(@file); background-repeat:no-repeat; background-size: cover">
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">
              <div class="padding-md">
                <h1><span class="text-white">Welcome to the Monroe Hub</span></h1>
                <h4><span class="text-white"><i>What would you like to do today?</i></span></h4>
                <a href="##" class="btn btn-primary">View Training Courses</a>
              </div><!-- /.padding -->
            </div><!-- /.col -->
          </div><!-- /.row -->
           <div class="row">
            <div class="col-md-12">
            &nbsp;
            </div>
           </div>
        </div><!-- /.container -->
        <div class="padding-sm bg-black-trans">
          <div class="row">
            <div class="col-md-12 text-right">
             
              <p><strong>The portal is your friend</strong></p>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.padding -->
      </section>
}
@section about{
<div class="col-lg-6" id="step1">
		<h3><i class="fa fa-info-circle" aria-hidden="true"></i> About the Monroe Hub</h3>
	<div class="panel panel-primary">
			<div class="panel-heading panel-primary">
    <h3 class="panel-title">Welcome</h3>
  </div>
		
	
			
 
  <div class="panel-body">
  	@Umbraco.Field("homeText")
	   <p id="step4" class="lead">Begin tutorial</p>
        <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="startIntro();">Show me how</a>
	  </div>
</div>
	  </div>


       
     
	  }
@section lUpdates{
	<div class="col-lg-6" >

	<h3><i class="fa fa-calendar" aria-hidden="true"></i> Latest Updates</h3>
		
		<div class="row" id="step2">
			<div class="col-lg-6">
				<div class="panel panel-default">

 
   <div class="panel-body">
	   <p><i class="fa fa-desktop" aria-hidden="true"></i> - April 21st</p>
	   <hr>
	   <p>New training Course added - Upselling</p>
	<p><a href="##" class="btn btn-primary">View New Courses</a></p>
	  </div>
		    </div>
				</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
						<div class="panel-body">
	   <p> <i class="fa fa-graduation-cap" aria-hidden="true"></i> - April 19th </p>
	   <hr>
	   <p>New Assessment added - Upselling</p>
	<p><a href="##" class="btn btn-primary">Attempt Assesment</a></p>
	  </div>
		    </div>
						</div>
				</div>
		
		
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">

 
   <div class="panel-body">
	   <p><i class="fa fa-desktop" aria-hidden="true"></i> - April 21st</p>
	   <hr>
	   <p>New training Course added - Upselling</p>
	<p><a href="##" class="btn btn-primary">View New Courses</a></p>
	  </div>
		    </div>
				</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
						<div class="panel-body">
	   <p> <i class="fa fa-graduation-cap" aria-hidden="true"></i> - April 19th </p>
	   <hr>
	   <p>New Assessment added - Upselling</p>
	<p><a href="##" class="btn btn-primary">Attempt Assesment</a></p>
	  </div>
		    </div>
						</div>
				</div>
		</div>
	
	
 <script type="text/javascript" src="/js/intro.js"></script>

 <script type="text/javascript">
      function startIntro(){
        var intro = introJs();
          intro.setOptions({
            steps: [
              { 
                intro: "This tutorial will show you how to navigate the MHUB and use all of the features available"
              },
             
              {
                element: document.querySelector('#step1'),
                intro: "This section displays the main content on each page, here it shows Monroes goals going forward. But on other pages you willl see news, courses and assesments."
              },
              {
                element: document.querySelector('#step2'),
                intro: "In this section of the page you can see what new courses and assessemnts have been uploaded.",
                position: 'left'
              },
              {
                element: '#step3',
                intro: "This is the notification center, where you can see leave approvals, latests requests etc.",
                position: 'left'
              },
              {
                element: '#step4',
                intro: "Another step.",
                position: 'bottom'
              },
              {
                element: '#step5',
                intro: 'Get it, use it.'
              }
            ]
          });

          intro.start();
      }
    </script>	 
	
}