﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "HomePage.cshtml";
	
		var folderId=Umbraco.Field("mediaFolder").ToString();
			var knowFolder=Umbraco.Media(folderId);
	

}

   
  
@section about{
	
	<div class="row">
	

	<div class="col-lg-12">
		<h2>@Umbraco.Field("Header")</h2>
		
		</div>
	
	</div>
}

@section knowledge{
	<div class="panel panel-default">
  <div class="panel-body">
<div class="row">
	
	@if (knowFolder==null) 
		{
			@* set content to be full screen layout *@
		@:<div class="col-lg-12">
          @Umbraco.Field("course")
		}
	else if (Umbraco.Field("course")==null)
		
		{
		@* set files to be full screen layout *@
		@:<div class="col-lg-12">
			  @* loop through files in folder *@
			foreach (	var media in knowFolder.Children		) 
					{
		
			@:<a href="@media.UmbracoFile">@media.Name</a>
				@:<br>
		
					}
			
			}
	else {
		@* split columns half content/ files *@
	@:<div class="col-lg-6">
		  @Umbraco.Field("course")
		@:</div>
		@:<div class="col-lg-6">
			<h3>Files </h3>
			<hr>
			  @* loop through files in folder *@
			foreach (	var media in knowFolder.Children		) {
		
			@:<a href="@media.UmbracoFile">@media.Name</a>
				@:<br>
		
		}
		@:</div>
	}

			
	
	

		
		</div>
		</div>
	</div></div>
}

