﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";

    var root = MhubMemberHelper.LoggedInMember.GetValue<int>("hub");
    var RootPage = Umbraco.TypedContent(root);

    String[] Branch = (String[])RootPage.GetProperty("branches").Value;
    var roleLevel = MhubMemberHelper.LoggedInMember.GetValue<int>("roleLevel");
    var member = MhubMemberHelper.LoggedInMember;
    int trainerId = 0;
    if (CurrentPage.Site().HasValue("trainingManager"))
    {
        string tId = CurrentPage.Site().trainingManager.ToString();
        trainerId = tId.AsInt();

    }
  

}
@if ((roleLevel == 152 || roleLevel == 153 || roleLevel==154) && member.Id != trainerId)
{<h3>You are not authorised to view this page - To request training please click on Training Request in the side menu</h3> }
else if (member.Id == trainerId || roleLevel == 155)
{
<div class="row" ng-app="calendarDemoApp">
    <section id="directives-calendar" ng-controller="CalendarCtrl">
        <div class="col-lg-12 employees  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">

                <h2>
                   @Umbraco.Field("heading") <small>Make sure to save all changes before leaving this page.</small>
                </h2>
            </div>
        </div>

        <!--Start Modal  -->
        <!-- look at 'type' and 'id' values -->
        <script type="text/ng-template" id="myTestModal.tmpl.html">
            <div class="modal-header">
                <h3>Confirm Delete</h3>
            </div>
            <div class="modal-body">
                <p>Delete {{elDetails.CourseType}} training {{elDetails.title}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="doSomething()">
                    Delete Training
                </button>
            </div>
        </script>




        <!--End Modal  -->



                <div class="well col-lg-12 container" style="margin-left:10px;">
                    <div class="row">
                        <div class="span4 col-sm-4">



                            <h3>@Umbraco.Field("title")</h3>
                            <p>
                                @Umbraco.Field("description")
                        </p>
                          
                          
                            <!--Saved Requests-->

                              <div class="row alert alert-info" style="padding:4px;" ng-repeat="activeEvent in calEventsExt.events" ng-if="requestId==activeEvent.Id">
                                  <div class="col-md-12"><h3>Training Requested</h3></div>
                                      <div class="col-md-12"> <strong>{{activeEvent.title}}</strong> Has requested training on {{activeEvent.start | date}}</div>
                                      <div class="col-md-9"> <strong>Description:</strong> {{activeEvent.comment }}</div>
                                      <div class="col-md-3"><i class="fa fa-trash fa-2x pull-right" tooltip="Delete Training Request"ng-click="openModal('sm', activeEvent,$index);"></i></div>
                                  </div>
                            <!--Viewing Saved Events-->

                            <div class="row alert alert-info" style="padding:4px;" ng-repeat="activeEvent in events" ng-if="trainingId==activeEvent.Id">
                                <div class="col-md-12">
                                    <strong>{{activeEvent.title}}</strong></div>
                                    <div class="col-md-2">  Start:</div><div class="col-md-10"><input class="form-control"  type="datetime-local" ng-model="activeEvent.start" value={{activeEvent.start}} ng-change="isSaved=0;test(isSaved)"></div>
                            <div class="col-md-2"> End:</div><div class="col-md-10"><input class="form-control"  type="datetime-local" ng-model="activeEvent.end" value={{activeEvent.end}} ng-change="isSaved=0;test(isSaved)"></div>



                                    <div class="col-md-12 ">
                                        Description
                                        <textarea class="form-control " rows="3" ng-model="activeEvent.Description">{{activeEvent.Description}}</textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&nbsp;</h4>
                                        <button class="btn btn-success" ng-click="users.Email=1;listSet(activeEvent)">Send Email</button>

                                    </div>
                                    <div class="col-md-8 text-center text-default" >
                                        <h3>Confirm</h3>
                                        <i class="glyphicon glyphicon-check text-danger isLink" title="Confirm Training" tooltip="Confirm Training" ng-click="approveTraining($index, activeEvent);activeEvent.trainingStatus=1" ng-if="activeEvent.trainingStatus==0"></i>

                                        <i class="glyphicon glyphicon-ok-circle text-primary " title="Confirm Training" tooltip="Training Confirmed" ng-click="approveTraining($index, activeEvent);activeEvent.trainingStatus=1" ng-if="activeEvent.trainingStatus==1"></i>
                                        &nbsp;
                                        <!-- <i class="glyphicon glyphicon-trash isLink" title="Remove Training Date" tooltip="Remove Training Date" ng-click="remove($index,activeEvent);" style="color:black;"></i> -->

                                        <i class="glyphicon glyphicon-trash isLink" title="Remove Training Date" tooltip="Remove Training Date" ng-click="openModal('sm', activeEvent,$index);" style="color:black;"></i>
                                    </div>

                                    <div class="row">

                                    </div>
                                    <div class="row" style="padding-top:20px;">
                                        <div class="col-sm-3"><h4>Name</h4></div>
                                        <div class="col-sm-6"><h4>Email</h4></div>
                                        <div class="col-sm-2"><h4>Approved</h4></div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div ng-repeat="tDays in activeEvent.tRequests" class="row">
                                        <div class="col-sm-3">{{tDays.Name}}</div>
                                        <div class="col-sm-6">{{tDays.Email}}</div>
                                        <div class="col-sm-3" ng-if="tDays.trainingApproved==0">No     <i class="glyphicon glyphicon-comment" tooltip="{{tDays.comments}}" ng-if="tDays.comments!=null"></i></div><div class="col-sm-2" ng-if="tDays.trainingApproved==1">Yes    <i class="glyphicon glyphicon-comment" tooltip="{{tDays.comments}}" ng-if="tDays.comments!=null"></i></div>

                                    </div>
                                    {{activeEvent.emailList}}
                                </div>

                            <!--End Event click-->
                            <div class="row" ng-init="isSaved=1">
                                <div class="col-md-5"><h4>Training Name</h4></div> <div class="col-md-5"><h4>Course Type</h4></div><div class="col-md-2"><h4>Actions</h4></div>

                            </div>

                            <!--Created Events // Unsaved-->

                            <div>

                                <div class="row alert alert-success  " ng-repeat="evens in events" style="padding:4px;" ng-if="evens.Id==0 || evens.Id==null">
                                    <div class="col-md-5"> <input class="form-control" ng-model="evens.title" value={{evens.title}} ng-change="isSaved=0;test(isSaved)"></div>
                                    <div class="col-md-5"> <input class="form-control" ng-model="evens.CourseType" value={{evens.CourseType}} ng-change="isSaved=0;test(isSaved)"></div>
                                    <div class="col-md-2 text-center text-default">
                                        <i class="glyphicon glyphicon-check text-danger isLink" title="Confirm Training" tooltip="Confirm Training" ng-click="approveTraining($index, evens);evens.trainingStatus=1" ng-if="evens.trainingStatus==0"></i>

                                        <i class="glyphicon glyphicon-ok-circle text-primary " title="Confirm Training" tooltip="Training Confirmed" ng-click="approveTraining($index, evens);evens.trainingStatus=1" ng-if="evens.trainingStatus==1"></i>

                                        <i class="glyphicon glyphicon-trash isLink" title="Remove Training Date" tooltip="Remove Training Date" ng-click="remove($index,evens);" style="color:black;"></i>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12 "><div style="margin-left:20px;"><strong>Start</strong> <i> {{ evens.start | date:" MMM d, y h:mm a" }}</i>  <strong> - End </strong><i>{{ evens.end | date:" MMM d, y h:mm a" }}</i></div> </div>
                                    </div>



                                </div>


                            </div>



                        </div>

                        <div class="span7 col-sm-8">
                            <tabset>

                                <tab select="renderCalender('myCalendar3');">
                                    <tab-heading>
                                        <i class="glyphicon glyphicon-bell"></i> Training Calendar<span class="alert" ng-if="isSaved!=1"><i class="glyphicon glyphicon-floppy-remove text-warning"></i> (Unsaved changes - save changes below Calendar)</span>
                                    </tab-heading>
                                    <div class="btn-toolbar">
                                        <p>
                                            @Umbraco.Field("sepcialAlerts")
                                        </p>

                                        <!-- <div class="row " style="padding:10px;">
                                            <div class="span3 col-sm-4"><input type="date" ng-model="cal.eDate" placeholder="enter date" class="form-control" /></div>
                                            <div class="span2 col-sm-3"><input class="form-control" ng-model="cal.eTitle" placeholder="custom training name" /></div>
                                            <div class="span2  col-sm-2"><button class="btn btn-success" ng-click="addTraining(cal)"> Add Training</button></div>

                                        </div>
                                        -->
                                        <!--  angular date input box -->


                                        <div class="row">
                                            <div class="col-md-4">

                                                <h4>Start Date and Time </h4>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cal.eDate" is-open="model.opener1" min-date="2016-06-22" max-date="'2030-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                                <h4>Start Time </h4>
                                                <select style="height:33px;" id="workHours_hoursWork_hour" name="startHours" ng-model="cal.startHours"><option value="0" ng-selected="true">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<select style="height:33px;" id="workHours_hoursWork_minute" name="workHours[hoursWork][minute]" ng-model="cal.startMinutes"><option value="0" ng-selected="true">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select>
                                                <!-- <timepicker ng-model="cal.mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker> -->
                                            </div>
                                            <div class="col-md-4">
                                                <h4>End Date </h4>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cal.endDate" is-open="model.opener2" min-date="2016-06-22" max-date="'2030-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                                <h4>End Time </h4>
                                                <select style="height:33px;" id="workHours_hoursWork_hour" name="endHours" ng-model="cal.endHours"><option value="0" ng-selected="true">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>:<select style="height:33px;" id="workHours_hoursWork_minute" name="workHours" ng-model="cal.endMinutes"><option value="0" ng-selected="true">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="span2 col-sm-3"><input class="form-control" ng-model="cal.eTitle" placeholder="Training Name" /></div>
                                            <div class="span2 col-sm-3">
                                                <select class="form-control" ng-model="cal.Branch" placeholder="Branch">
                                                    <option value="" checked="checked">Branch</option>
                                                    @foreach (string s in Branch)
                                                    {
                                                        if (s != "")
                                                        {
                                                            <option value="@s">@s</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="span2 col-sm-4"><input class="form-control" ng-model="cal.CourseType" placeholder="Course Type" /></div>
                                            <div class="span2 col-sm-2"><input class="form-control" ng-model="cal.Duration" placeholder="Duration" /></div>

                                        </div>
                                        <div class="row" style="padding-top:15px;padding-bottom:15px;">

                                            <div class="span2 col-sm-6"><textarea class="form-control" ng-model="cal.Description" placeholder="Training Course Description"></textarea></div>

                                            <div class="span2  col-sm-2"><span>&nbsp;</span><button class="btn btn-success" ng-click="addTraining(cal)"> Add Training</button></div>

                                        </div>
                                    </div>

                                    <div class="alert alert-info" ng-show="users.Email==1">
                                        <div class="row">
                                            <div class="col-lg-12"><h3>Email</h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4"><strong>Subject</strong></div>
                                            <div class="col-lg-6"><strong>Description</strong></div>
                                            <div class="col-lg-2"></div>


                                        </div><div class="row">
                                            <div class="col-lg-4"><textarea type="text" class="form-control" ng-model="email.Subject" placeholder="Subject">Training event {{activeEvent.CourseType}} ({{activeEvent.title}})</textarea></div>
                                            <div class="col-lg-6"><textarea class="form-control" ng-model="email.Body" placeholder="Email Message To send"></textarea></div>
                                            <div class="col-lg-2" style="vertical-align:bottom;"><button class="btn btn-success" ng-click="sendEmail(email,activeEvent.emailList)">Send Email</button></div>


                                        </div>
                                    </div>



                                    <div class="alert alert-danger calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                        <h4>{{alertMessage}}</h4>
                                    </div>
                                    <div class="alert alert-success calAlert" ng-show="successMessage != undefined && successMessage != ''">
                                        <h4>{{successMessage}}</h4>
                                    </div>



                                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                                    <div class="text-right"><br /><button class="btn btn-primary" ng-click="SaveTraining()"><i class="glyphicon glyphicon-floppy-remove text-warning" ng-if="isSaved!=1"></i> <i class="glyphicon glyphicon-floppy-saved  text-primary" ng-if="isSaved==1"></i> Save Additions <i class="fa fa-spin fa-spinner" ng-if="isUpdating==1"></i></button> </div>
                                </tab>
                            </tabset>


                        </div>
                    </div>
                </div>

    </section>
</div>
}

@section scripts {

    <link rel="stylesheet" href="/css/plugins/fullcalendar/fullcalendar.css">





    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>


    <script src="/Scripts/plugins/fullcalendar/moment.min.js"></script>
<script src="/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
   



    <script src="/Scripts/plugins/fullcalendar/gcal.js"></script>
    <style>
        .isLink:hover {
            color: darkblue;
            cursor: pointer;
        }
    </style>

    <script src="/App/src/calendar.js"> </script>
    <script>
        var calendarDemoApp = angular.module('calendarDemoApp', ['ui.calendar', 'ui.bootstrap']); calendarDemoApp.controller('CalendarCtrl', function($scope, $compile, $timeout, $http,$modal,$log,uiCalendarConfig) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $scope.trainingId=43583942043;
            $scope.requestId=43583942043;
            $scope.changeTo = 'Hungarian';
            $scope.isUpdating=0;
            $scope.users={};
          //  $scope.loading="";
            $scope.activeEvent={};
            $scope.users.Email=0;
            /* event source that pulls from google.com */
            $scope.eventSource = {
                /*  url: "http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic",
                  className: 'gcal-event',           // an option!
                  currentTimezone: 'America/Chicago' // an option!
                  */
            };

            /* event source that contains custom events on the scope */
            $scope.events = [  ];




            //alert(someDate);


            $http.get('/Umbraco/Api/Training/Get').success(function (data) {

                ////////// If getting day is null error, it just means the data is being loaded too fast. Put a delay, or load more data.
                if (data)
                {
                    $scope.AvDays=data.length;
                    var list=data;
                    var someDate= new Date();
                    var endDate= new Date();
                    var i=0;
                    for (i=0; i < data.length; i++)
                    { 
                 
                        someDate = new Date(data[i]['start']);
                        var d1 = someDate.getDate();
                        var m1 = someDate.getMonth();
                        var y1 = someDate.getFullYear();

                        endDate = new Date(data[i]['end']);
                        var d2 = endDate.getDate();
                        var m2 = endDate.getMonth();
                        var y2 = endDate.getFullYear();

                        var startHours= CheckTime(someDate.getHours());
                        var startMins= CheckTime(someDate.getMinutes());
                       
                        var endHours= CheckTime(endDate.getHours());
                        var endMins= CheckTime(endDate.getMinutes());
                       
                        //var mins=CheckTime(event.startMinutes);
                        //var hrs=CheckTime(event.startHours);
                        //var mins1=CheckTime(event.endMinutes);
                        //var hrs1=CheckTime(event.endHours);
                      //  startHours= 14;
                      //  startMins= 30;
                       
                       // endHours= 14;
                        //  endMins= 30;
                      
                        var startD=new Date(y1, m1, d1,startHours,startMins);
                        var endD=new Date(y2, m2, d2,endHours, endMins);
                        //  alert( startD+":"+ endD);
                        var cTitle=data[i]['title'];
                        var date = new Date();
                        var d = date.getDate();
                        var m = date.getMonth();
                        var y = date.getFullYear();
                        //  $scope.calEventsExt.events.push(
                    
                       $scope.events.push(

                            // { Id:12,member_id:12,color: "orange",textColor: "White",  comment:"comment" , CourseType:"course",  title:"title", start:new Date(y, m, d - 1, 16, 0),end:new Date(y, m, d + 4, 16, 0), stick:true, allDay:false, trainingStatus:"active", Description:"drd", Duration:"34"}
                                    
                                //   {title: 'Long Event',start: new Date(2017, 0,  11- 5)}
                                    { Id:data[i]['Id'],member_id:data[i]['member_id'],color: "orange",textColor: "White",  comment:data[i]['CourseType']+" ("+cTitle+")" , CourseType:data[i]['CourseType'],  title:cTitle, start:startD,end:endD, stick:true, allDay:false, trainingStatus:data[i]['trainingStatus'],tRequests:data[i]['tRequests'], emailList:data[i]['emailList'], Description:data[i]['Description'], Duration:data[i]['Duration']  }
                                     );
            
                  

                    }
                    //,startHours,startMins
                    //,endHours, endMins
                } // if end

            });
            $scope.calEventsExt = {
                color: '#f00',
                textColor: 'yellow',
                events:[

                ]
            };

            $http.get('/Umbraco/Api/Training/GetTrainingRequest').success(function (data) {

                if (data)
                {
                    var list=data;
                    var someDate= new Date();
                    var i=0;
                    for (i=0; i < data.length; i++)
                    {
                        someDate = new Date(data[i]['start']);
                        var d1 = someDate.getDate();
                        var m1 = someDate.getMonth();
                        var y1 = someDate.getFullYear();
                        var endDate = new Date(data[i]['end'])
                        var d2 = endDate.getDate();
                        var m2 = endDate.getMonth();
                        var y2 = endDate.getFullYear();

                        var cTitle=data[i]['title']
                        var userComments=data[i]['comments'];

                        if (!userComments)
                        {

                            userComments="";
                        }
                        console.log(userComments);
                        var comments="registered for "+data[i]['TrainingName']+" "+userComments;
                        var colour='green';
                        if (data[i]['trainingApproved']==1)
                        {
                            var colour='blue';
                        }
                        //alert(data[i]['TrainingName'])
                        if (!data[i]['TrainingName'])
                        {
                            comments="Requests training on this day: "+userComments;
                        }
                        $scope.calEventsExt.events.push( {

                            Id:data[i].Id,type:'party',title: cTitle,color:colour,comment:comments,start: new Date(y1, m1, d1,14, 0),start: new Date(y2, m2, d2,14, 0),allDay: false, stick:true

                        }
                           );
                    }
                }

            });

            function CheckTime(time){

                if (!time)
                {

                    return 00;
                }
                else
                {
                    return time;
                }
            }

            $scope.sendEmail=function(email,active)
            {
                var eList=$scope.activeEvent.emailList;

                if (active)
                {

                    emailBody={comment:email.Body,title:email.Subject,Email:"fsdfds",emailList:eList};
                    config={};
                    $http.post('/Umbraco/Api/Training/TrainingEmail/', emailBody, config)
                    .success(function (data, status) {
                       // alert(data);
                        $scope.users.Email=0;
                        $scope.successMessage = ('Email was sent successfuly');
                    });
                }
                else
                {
                    $scope.users.Email=0;
                    $scope.alertMessage = ('There are no users to email');
                }
            }
            $scope.addTraining = function (event) {
                $scope.alertMessage = '';
                var eDate = new Date(event.eDate)
                var d = eDate.getDate();
                var m = eDate.getMonth();
                var y = eDate.getFullYear();


                var endDate = new Date(event.endDate)
                var d1 = endDate.getDate();
                var m1 = endDate.getMonth();
                var y1 = endDate.getFullYear();

                var mins=CheckTime(event.startMinutes);
                var hrs=CheckTime(event.startHours);
                var mins1=CheckTime(event.endMinutes);
                var hrs1=CheckTime(event.endHours);

                console.log(event.Branch);
                $scope.events.push({

                    title: event.eTitle,
                    allDay: false,
                    stick:true,
                    color: "orange",
                    textColor: "White",
                    Duration:event.Duration,
                    startTime:hrs+":"+mins,
                    endTime:hrs1+":"+mins1,
                    trainingStatus:0,
                    Branch:event.Branch,
                    Description:event.Description,
                    comment:event.CourseType +" ("+event.eTitle+")" ,
                    CourseType:event.CourseType,
                    start: new Date(y,m,d,hrs,mins),// new Date(y, m, 29),
                    end: new Date(y1,m1,d1, hrs1,mins1 ) // new Date(y, m, 29)

                });
                $scope.isSaved=0
                $scope.alertMessage = 'Custom Taining Added - Save Changes to confirm';
                uiCalendarConfig.calendars['myCalendar1'].fullCalendar('gotoDate', new Date(y,m,d));


                // alert(event.eDate);
            }
            /* event source that calls a function on every view switch */
            $scope.eventsF = function (start, end, timezone, callback) {
                var s = new Date(start).getTime() / 1000;
                var e = new Date(end).getTime() / 1000;
                var m = new Date(start).getMonth();
                var events = [{title: 'Feed Me ' + m,start: s + (50000),end: s + (100000),allDay: false, className: ['customFeed']}];
                callback(events);
            };
            //$scope.MyCalendar1.fullCalendar( 'prevYear' );

            /* alert on eventClick */
            $scope.alertOnEventClick = function( date, jsEvent, view){
                console.log(date);
                // $scope.trainingId=0;
                $scope.users.Email=0;
                if (date.color=="orange")
                    {
                    $scope.trainingId=date.Id;
                }
                else if( date.color=="green")
                {
                   
                    $scope.requestId=date.Id;
                }

                $scope.alertMessage = '';
            };
            $scope.Rupdate = function(index, data) {
                alert(data.Description);
                $scope.events[index].Description = data.Description;
                $scope.events[index].color = 'blue';
                $scope.events[index].type = data.Description;;
                // $scope.events.push(data)

                alert($scope.events[index].Description)
            };
            $scope.Rupdate2 = function(index, data) {
                console.log($scope.events);
            }

            $scope.test=function(event){

                $scope.isSaved=0;
            };
            /* alert on Drop */
            $scope.alertOnDrop = function(event, delta, revertFunc, jsEvent, ui, view){
                $scope.alertMessage = '';
            };
            /* alert on Resize */
            $scope.alertOnResize = function(event, delta, revertFunc, jsEvent, ui, view ){
                $scope.alertMessage = '';
            };
            $scope.alertOnDayClick = function (date, jsEvent, view) {
                $scope.alertMessage ='';
                $scope.successMessage ='';
                $scope.isSaved=0;
                // alert("event clicked");

                //startDate = new date(date);
                $scope.events.push({
                    Id: 0,
                    member_id:@member.Id,
                    title:"New Training Date",
                    allDay: false,
                    trainingStatus:0,
                    color: "orange",
                    textColor: "White",
                    start: date.format(),// new Date(y, m, 29),
                    end: date.format() // new Date(y, m, 29)

                });
                $scope.alertMessage = ('New Training date added for ' + date.format("dddd, MMMM Do YYYY") );
            };
            /* add and removes an event source of choice */
            $scope.addRemoveEventSource = function(sources,source) {
                var canAdd = 0;
                angular.forEach(sources,function(value, key){
                    if(sources[key] === source){
                        sources.splice(key,1);
                        canAdd = 1;
                    }
                });
                if(canAdd === 0){
                    sources.push(source);
                }
            };
            $scope.listSet=function(activeEvent)
            {
                $scope.activeEvent=activeEvent;
                console.log(activeEvent)
            }
            $scope.addHello=function(title3,startDay,endDay){
                //alert(title);
                $scope.events.push({
                    title: title3,
                    start: startDay,
                    end: new Date(y, m, 29)

                });

            };
            $scope.SaveTraining=function(event){
                console.log($scope.events)
                $scope.isUpdating=1;
                $scope.alertMessage ='';
                dEvents=$scope.events.length;
                //var i=0;
                //alert(dEvents);

                var config = {}

                $scope.trainingData={
                    tName:'TrainingList',
                    tDays:$scope.events




                },

                trainingData= $scope.trainingData;
                data=$scope.events;
                console.log(data);
                $http.post('/Umbraco/Api/Training/SaveTraining/', trainingData, config)
                     .success(function (data, status) {
                         //alert(data);
                         $scope.successMessage = ('Training Details were saved successfuly');
                         //  alert(data.length+" "+dEvents);
                         $scope.isUpdating=0;
                         $scope.isSaved=1;
                         for (i = dEvents; i>=0; i--)
                         {
                             //alert(i);
                             $scope.events.splice(i,1);
                         }

                         if (data)
                         {
                             var list=data;
                             var someDate= new Date();
                             var i=0;
                             for (i=0; i < data.length; i++)
                             {
                                 someDate = new Date(data[i]['start']);
                                 var d1 = someDate.getDate();
                                 var m1 = someDate.getMonth();
                                 var y1 = someDate.getFullYear();
                                 var startHours=  someDate.getHours();
                                 var startMins=  someDate.getMinutes();
                                 endDate = new Date(data[i]['end']);
                                 var d2 = endDate.getDate();
                                 var m2 = endDate.getMonth();
                                 var y2 = endDate.getFullYear();
                                 var endHours= endDate.getHours();
                                 var endMins= endDate.getMinutes();
                                 var cTitle=data[i]['title']
                                 //alert(data[i]['trainingStatus'])
                                 $scope.events.push(

                                             { Id:data[i]['Id'],member_id:data[i]['member_id'],color: "orange",textColor: "White",  comment:data[i]['CourseType']+" ("+cTitle+")" , CourseType:data[i]['CourseType'], title:cTitle, start:new Date(y1, m1, d1,startHours, startMins),end:new Date(y2, m2, d2,endHours, endMins), stick:true, allDay:false, trainingStatus:data[i]['trainingStatus'], Description:data[i]['Description'], Duration:data[i]['Duration'] }
                                           );

                             }
                             //alert(someDate);
                         } // if end

                         //  $scope.events=data;

                     })


            };
            /* add custom event*/
            $scope.addEvent = function(calendar) {
                uiCalendarConfig.calendars['myCalendar1'].fullCalendar('gotoDate', new Date (y, m ));
                $scope.events.push({
                    title: 'Open Sesame',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    className: ['openSesame']
                });
            };
            /* remove event */
            $scope.remove = function(index, event) {
                //  alert(index);
                var config = {

                }
                if (!event.Id)
                {
                    $scope.events.splice(index,1);
                }
                else
                {

                    $http.post('/Umbraco/Api/Training/RemoveTraining/', event, config)
                    .success(function (data, status) {
                        //$scope.ApproveLeave = data;
                        //  alert(data);
                        $scope.events.splice(index,1);
                        if (!data)
                        {
                            $scope.alertMessage=('Training does not exist')
                        }
                        else
                        {

                            $scope.alertMessage=('Training date deleted')
                        }

                    })

                }
            };
            /* Change View */
            $scope.changeView = function(view,calendar) {
                uiCalendarConfig.calendars[calendar].fullCalendar('changeView',view);
            };
            /* Change View */
            $scope.renderCalender = function(calendar) {
                $timeout(function() {
                    if(uiCalendarConfig.calendars[calendar]){
                        uiCalendarConfig.calendars[calendar].fullCalendar('render');
                    }
                });
            };
            /* Render Tooltip */
            $scope.eventRender = function( event, element, view ) {

                element.attr({'tooltip': event.comment,
                    'tooltip-append-to-body': true});
                $compile(element)($scope);


            };
            /* config object */
            $scope.uiConfig = {
                calendar:{
                    height: 550,
                    editable: true,
                    eventLimit: true,
                    eventLimitClick:"popover",
                    header:{
                        left: 'title',
                        center: '',
                        right: 'today prev,next'
                    },
                    eventClick: $scope.alertOnEventClick,
                    eventDrop: $scope.alertOnDrop,
                    eventResize: $scope.alertOnResize,
                    eventRender: $scope.eventRender,
                    dayClick: $scope.alertOnDayClick
                }
            };

            $scope.changeLang = function() {
                if($scope.changeTo === 'Hungarian'){
                    $scope.uiConfig.calendar.dayNames = ["Vasárnap", "Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek", "Szombat"];
                    $scope.uiConfig.calendar.dayNamesShort = ["Vas", "Hét", "Kedd", "Sze", "Csüt", "Pén", "Szo"];
                    $scope.changeTo= 'English';
                } else {
                    $scope.uiConfig.calendar.dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    $scope.uiConfig.calendar.dayNamesShort = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                    $scope.changeTo = 'Hungarian';
                }
            };
            /* event sources array*/
            $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
            $scope.eventSources2 = [$scope.calEventsExt, $scope.eventsF, $scope.events];


            /*  For the angular date popup  */
            $scope.model = {};
            $scope.cal={};
            $scope.today = function() {
                $scope.cal.eDate = new Date();
                $scope.cal.endDate = new Date();
                //$scope.eventActive.end = new Date();
            };
            $scope.today();

            $scope.clear = function () {
                $scope.dt = null;
            };

            // Disable weekend selection
            //$scope.disabled = function(date, mode) {
            //    return ( mode === 'day' && ( date.getDay() === 0 || date.getDay() === 6 ) );
            //};

            $scope.toggleMin = function() {
                $scope.minDate = $scope.minDate ? null : new Date();
            };
            $scope.toggleMin();

            $scope.open1 = function($event) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.model['opener1'] = true;
            };

            $scope.open2 = function($event) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.model['opener2'] = true;
                // alert($scope.opener2);

            };
            $scope.open3 = function($event) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.model['opener3'] = true;
                // alert($scope.opener2);

            };

            $scope.dateOptions = {
                formatYear: 'yy',
                startingDay: 1
            };

            //$scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
            // $scope.format = $scope.formats[0];
            $scope.format = 'dd-MMMM-yyyy';
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            var afterTomorrow = new Date();
            afterTomorrow.setDate(tomorrow.getDate() + 2);


            $scope.getDayClass = function(date, mode) {
                if (mode === 'day') {
                    var dayToCheck = new Date(date).setHours(0,0,0,0);

                    for (var i=0;i<$scope.events.length;i++){
                        var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);

                        if (dayToCheck === currentDay) {
                            return $scope.events[i].status;
                        }
                    }
                }

                return '';
            };

            /* Time Picker Settings */
            $scope.mytime = new Date();

            $scope.hstep = 1;
            $scope.mstep = 15;



            $scope.ismeridian = true;
            $scope.toggleMode = function() {
                $scope.ismeridian = ! $scope.ismeridian;
            };

            $scope.update = function() {
                var d = new Date();
                d.setHours( 14 );
                d.setMinutes( 0 );
                $scope.mytime = d;
            };

            /* Modal Code*/
            $scope.items = ['item1', 'item2', 'item3'];
            $scope.elDetails={};
            $scope.cEv={};
            $scope.mInst={};


            $scope.animationsEnabled = true;
            $scope.openModal=function(size, activeEvent,index){
                $scope.elDetails=activeEvent;
                $scope.cEv=index;
                $scope.modalInstance=$modal.open({
                    templateUrl: 'myTestModal.tmpl.html',
                    size:size,
                    scope:$scope
                });
            }

            $scope.close=function(){
                $scope.modalInstance.dismiss();//$scope.modalInstance.close() also works I think
            };

            $scope.doSomething=function(){
                //any actions to take place
                console.log($scope.elDetails);
                console.log($scope.cEv);

               
                var config = {

                }
                if (!$scope.elDetails.Id)
                {
                    $scope.events.splice($scope.cEv,1);
                }
                else if ($scope.elDetails.color=="orange")
                {

                    $http.post('/Umbraco/Api/Training/RemoveTraining/', $scope.elDetails, config)
                    .success(function (data, status) {
                        //$scope.ApproveLeave = data;
                        //  alert(data);
                        $scope.events.splice($scope.cEv,1);
                        if (!data)
                        {
                            $scope.alertMessage=('Training does not exist')
                        }
                        else
                        {

                            $scope.alertMessage=('Training date deleted')
                        }

                    })

                }
                else if ($scope.elDetails.color=="green")
                {

                    $http.post('/Umbraco/Api/Training/RemoveTrainingRequest/', $scope.elDetails, config)
                    .success(function (data, status) {
                        //$scope.ApproveLeave = data;
                        //  alert(data);
                     //   $scope.events.splice($scope.cEv,1);
                        if (!data)
                        {
                            $scope.alertMessage=('Training does not exist')
                        }
                        else
                        {

                            $scope.alertMessage=('Training date deleted')
                        }

                    })

                }

                $scope.modalInstance.dismiss();
            }

        });

        // Please note that $modalInstance represents a modal window (instance) dependency.
        // It is not the same as the $modal service used above.

        angular.module('ui.bootstrap.demo').controller('ModalInstanceCtrl', function ($scope, $modalInstance, items) {

            $scope.items = items;
            $scope.selected = {
                item: $scope.items[0]
            };

            $scope.ok = function () {
                $modalInstance.close($scope.selected.item);
            };

            $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
            };
        });

        /*Modal Controller*/


         </script>
}
