﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers

@{
    Layout = "mhubMasterPage.cshtml";
    Html.RequiresJs("~/Scripts/angular.min.js");
    Html.RequiresJs("~/Scripts/ui-bootstrap-tpls-2.0.1.min.js");
    //Html.RequiresJs("~/Scripts/app/employeeList.js");
    var member = MhubMemberHelper.LoggedInMember;
    var root = member.GetValue<int>("hub");
    var RootPage = Umbraco.TypedContent(root);
    String[] Division = (String[])RootPage.GetProperty("divisions").Value;
    String[] Branch = (String[])RootPage.GetProperty("branches").Value;

    var roleLevel = member.GetValue<int>("roleLevel");
    var mBranch = member.GetValue<string>("branch");
   // roleLevel = 154;
}

@section scripts{
    <script>

        (function () {
            'use strict';

            var app = angular.module('employees', ['ui.bootstrap']);

            app.controller('EmployeesController', EmployeesController);

            EmployeesController.$inject = ['$scope', '$location', '$templateCache', '$http', '$uibModal'];
            function EmployeesController($scope, $location, $templateCache, $http, $uibModal) {
                /* jshint validthis:true */
                var vm = this;
                vm.members = [];
                vm.reverse = false;
                vm.predicate = 'name';
                vm.filterTeams = [];
                vm.selectedTeam = '';
                vm.textSearch = '';
                vm.toggleSearchFilter = false;
                vm.TeamList = [];
                vm.Branch = '';
                vm.isApproved = true;
                vm.userApproved = "Professional";
                // vm.Branch=@mBranch;

                activate();

                function activate() {
                    $http.get('/umbraco/api/member/getall').then(function (result) {
                        vm.members = result.data.Members;
                        console.log(vm.members)
                       
                        loadTeamList();

                        loadDistinctTeamArray();
                    });
                }

                vm.order = function (predicate) {
                    vm.reverse = (vm.predicate === predicate) ? !vm.reverse : false;
                    vm.predicate = predicate;
                };

                function loadDistinctTeamArray() {
                    if (vm.members.length > 0) {
                        var flags = [], i;
                        for (i = 0; i < vm.members.length; i++) {
                            if (flags[vm.members[i].team] || vm.members[i].team === null) {
                                continue;
                            }

                            flags[vm.members[i].team] = true;
                            vm.filterTeams.push(vm.members[i].team);
                        }
                    }
                }

                function loadTeamList() {
                    $http.get('/umbraco/api/member/getteamlist').then(function (result) {
                        vm.TeamList = result.data;
                    });
                }

                //vm.showProfile = function (memberId)
                //{
                //    var modalScope = $scope.$new();
                //    modalScope.member = _.findWhere(vm.members, { id: memberId });

                //    if (modalScope.member !== undefined)
                //    {
                //        var modalInstance = $modal.open({
                //            animation: false,
                //            templateUrl: '/scripts/app/employees/profileModal.html',
                //            scope: modalScope
                //        });
                //    }
                //};
            }
        })();

    </script>
    
    }
@if (roleLevel == 152 )
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 154 || roleLevel == 155 || roleLevel == 153)
{
  
<div ng-app="employees">

    <div class="amos-panel" ng-controller="EmployeesController as vm" data-ng-cloak>

        <div class="ng-hide" ng-show="vm.members.length > 0">

            <div class="amos-panel-header">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4">

						<div class="pull-left">

							<h2 style="margin:0;">Employees</h2>
							

						</div>

                        <a href="" class="btn-filter visible-xs pull-right" ng-click="vm.toggleSearchFilter = !vm.toggleSearchFilter">Search &amp; Filter</a>

                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-8 text-right">

                        <form class="form-inline" ng-class="{ 'hidden-xs' : !vm.toggleSearchFilter }">

                            <div class="form-group">
                                <div class="input-group" ng-init="pending=0">
                                    <label>
                                        Hide Inactive


                                        <input type="checkbox" ng-model="vm.isApproved" ng-true-value="true" ng-false-value="" ng-checked="true" class="checkbox" />
                                    </label>
                                      
                                        

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="input-group" ng-init="vm.Branch=@mBranch">

                                    <input type="search" placeholder="Search employees.." class="form-control form-control-search" ng-model="vm.textSearch" />

                                    <div class="input-group-addon" ng-click="vm.textSearch = ''">
                                        <span class="glyphicon glyphicon-search" ng-class="{'glyphicon-remove' : vm.textSearch}"></span>
                                    </div> 

                                </div>

                            </div>
                           
                                <div class="form-group">

                                    @*<select ng-model="vm.selectedTeam" class="form-control">

                    <option value="">All teams</option>
                    <option value="{{team}}" ng-repeat="team in vm.filterTeams">{{team}}</option>

                </select>*@


                                    <select class="form-control" ng-model="vm.Division" placeholder="Branch">
                                        <option value="" checked="checked">All Divisions</option>
                                        @foreach (string d in Division)
                                        {
                                            if (d != "")
                                            {
                                                <option value="@d">@d</option>
                                            }
                                        }
                                    </select>

                                    @if (roleLevel == 154)
                                    {
                                        <select class="form-control" ng-model="vm.Branch=('@mBranch')" placeholder="Branch">
                                            <option value="@mBranch" ng-selected="true">@mBranch</option>

                                        </select>
                                        @*<div ng-init="vm.Branch=('@mBranch')"></div>
                    <input type="text" ng-model="vm.Branch=('@mBranch')"/>*@
                                    }
                                    else
                                    { <select class="form-control" ng-model="vm.Branch" placeholder="Branch">
                                    <option value="" checked="checked">All Branches</option>
                                    @foreach (string s in Branch)
                                    {
                                        if (s != "")
                                        {
                                            <option value="@s">@s</option>
                                        }
                                    }
                                </select>
                                    }


                                    <a href="../add-employee" class="btn btn-default">
                                        <i class="glyphicon glyphicon-edit"></i>
                                        Add employee
                                    </a>

                                </div>

</form>

                    </div>

                </div>

            </div>

            <div class="amos-panel-body">

                <div class="alert help-block text-center h3" ng-show="!vm.filteredMembers.length">

                    <span class="glyphicon glyphicon-trash"></span><br />
                    <small class="text-uppercase">No matches</small>

                </div>

                <div class="table-responsive" ng-show="vm.filteredMembers.length">

                    <table class="table table-default employee-list">

                        <thead>

                            <tr>

                                <th class="emName">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'name', reverse:vm.reverse}" ng-click="vm.order('name')">Name</a>
                                </th>

                                <th class="emBranch">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'branch', reverse:vm.reverse}" ng-click="vm.order('branch')">Branch</a>
                                </th>

                                <th class="emDivision">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'division', reverse:vm.reverse}" ng-click="vm.order('division')">Division</a>
                                </th>

                                <th class="emPosition">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'position', reverse:vm.reverse}" ng-click="vm.order('position')">Position</a>
                                </th>
                                <th class="emStartingTime">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'startingTime', reverse:vm.reverse}" ng-click="vm.order('startingTime')">Starting Time</a>
                                </th>

                                <th class="emPhone">
                                    <a href="" ng-class="{'sortorder':vm.predicate == 'phone', reverse:vm.reverse}" ng-click="vm.order('username')">User Name</a>
                                </th>

                            </tr>

                        </thead>

                        <tbody>
                          
<tr ng-repeat="member in vm.filteredMembers = (vm.members | filter : vm.selectedTeam : vm.filterTeams | filter : vm.textSearch | filter : vm.Branch | filter : vm.Division | orderBy : vm.predicate : vm.reverse | filter :{ inActive:vm.isApproved }) " class="employeeList" >

                                <td class="emName">

                                    <div class="pull-left" style="width: 70px; margin-left: 9px; margin-right: 10px; margin-top: 7px; margin-bottom: 7px;">

                                        <a href="" ng-click="vm.showProfile(member.memberId)">
                                            <img ng-src="{{member.photo || '/media/default-profile-pic.png'}}" alt="Photo" class="img-responsive" />
                                        </a>

                                    </div>
                                    <div class="member-name-container">

										<h2 style="margin: 0;">
											<a ng-href="/administration/add-employee/?id={{member.memberId}}">
												{{member.name}} <span ng-if="member.nickname!=''">({{member.nickname}}) </span>
											</a>
											<br>
											<small>
												<a href="mailto:{{member.email}}" class="email">{{member.email}}</a>
											</small>
										</h2>

                                    </div>

                                </td>

                                <td class="text-uppercase ">
                                    <div>{{member.branch}}</div>
                                </td>


                                <td class="">
                                    <span >{{member.division}}</span>
                                </td>

                                <td class="text-uppercase emPosition">
                                    {{member.position}}
                                </td>
    <td class="text-uppercase emPosition">
       <span ng-if="member.startingTime==469">9:30 AM</span><span ng-if="member.startingTime==472">8:30 AM</span><span ng-if="member.startingTime==470">9:00 AM</span><span ng-if="member.startingTime==0">None Choosen</span> 
    </td>

                                <td class="emPhone">
                                    <p  class="help-block no-margin">
                                        <span class="glyphicon glyphicon-user" title="Phone" style="margin-right: 4px;"></span>
                                        <span>{{member.username}}</span>
                                    </p>

                                    @*<p data-ng-show="member.mobile" class="help-block no-margin">
                                        <span class="glyphicon glyphicon-earphone" title="Mobile" style="margin-right: 4px;"></span>
                                        <span>{{member.mobile}}</span>
                                    </p>

                                    <p data-ng-show="!member.phone && !member.mobile" class="text-muted"></p>*@
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>


</div>
}