﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}
@section styles{
    <style>
    .gridContainer {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
    }
    #grid_container .container {
        margin-left:1px;
        padding-left:0px;
        margin-right:0px;
        padding-right:0px;
        width:100%;

    }
        </style>
    }
<div class="row">
    <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
        <div class="container col-lg-12">
            <h2> @Umbraco.Field("title")</h2>
        </div>
       
          
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="row">
              <div class="col-lg-12" id="grid_container">

                  @CurrentPage.GetGridHtml(Html, "bodyGrid")
              </div>
              </div>

                    @foreach (var post in CurrentPage.Children)
            {
                        <div class="row">
                            <div class="col-lg-8">
                                <h2>@post.title</h2>

                                @post.CreateDate.ToLongDateString()
                            </div>


                            <div class="col-lg-9">

                                @Umbraco.Truncate(post.articleSummary, 240, true)
                                <a href="@post.url">view more</a>
                                <hr>
                            </div>
                        </div>

                    }
                </div>
            </div>
