﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
}
@section scripts {
	
	 <script src="/Appraisal/js/angular.min.js"></script>
 <script src="/Appraisal/js/module.js"></script>
 <script src="/Appraisal/js/viewappraisal1.component.js"></script>
   
   <script src="/Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
        }
<div class="container col-md-12" ng-app="vApprais">

<app-list></app-list>


</div>
