﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
}

@section bodTop{
<div role="content">

	<section class="light blogarchive equalizer">
		<div class="container">

			<div class="row">
				@foreach(var post in CurrentPage.Children) 
				{
					<div class="col-sm-6">
						<div class="content equal">
							<a href="@post.Url" >
								<div class="date">@post.CreateDate.ToLongDateString()</div>
								<h2>@post.Name</h2>		
								<p>@Umbraco.Truncate(post.articleContent, 240, true)</p>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
       
	</section>
    </div>
}