﻿@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.mhubKnowledgeOverview>
    @using ContentModels = Umbraco.Web.PublishedContentModels;*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{    Layout = "mhubMasterPage.cshtml";
    var completedContent = MhubContentHelper.GetCompletedKnowledgeNoCache();
    // var completedAssessments = MhubContentHelper.GetCompletedKnowledge();
    var resultAss = new AssessmentAnswerSet();
    var totalCourses = MhubContentHelper.GetTotalKnowledge;
    var completeTotal = 0;
    var learningPage = CurrentPage.Parent;
    foreach (var totTrain in totalCourses)
    {
        if (completedContent.Exists(x => x == totTrain.ToString()))
        {
            completeTotal = completeTotal + 1;

        }
    }
}

@*
    <div class="row">
        <div class="col-md-4">@foreach (var content in totalCourses)
        {
            @content
            <br />
        }</div><div class="col-md-4">
            @foreach (var content in completedContent)
            {
                @content
                <br />
            }
        </div>
    </div>
*@
@*Something below
    @foreach (var cc in completedContent)
    {
        @cc
    }*@


<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row"><div class="col-sm-9">Knowledge Overview</div> <div class="col-sm-3"> @completeTotal of @totalCourses.Count() completed</div></div>
        </div>
        <div class="panel-body">

            <div class="">
                @foreach (var module in learningPage.Children)
                {
                    <div class="">
                        @if (@module.Id == CurrentPage.Id)
                        {
                            @*<div class="row">
                                <div class="col-lg-3">
                                    <h2>Knowledge Overview</h2>
                                    <hr />
                                </div>
                            </div>*@
                        }
                        else
                        {
                            <div class="row">
                                <h4 class="col-xs-10" style="padding-left:25px;"><a href="@module.Url">@module.Title</a></h4>

                                @if (module.Children.Count() == 0)
                                {
                                    var completed = completedContent.Exists(x => x == module.Id.ToString());
                                    <div class="col-xs-2 " style="padding:4px;margin:0px;">
                                        @if (completed)
                                        {
                                            <i class="text-success glyphicon glyphicon-check"></i>
                                        }
                                        else
                                        {
                                            <i class="glyphicon glyphicon-unchecked"></i>
                                        }

                                    </div>
                                }
                            </div>
                        }
                        @if (module.Children.Count() > 0)
                        {
                            <ul class="list-group">
                                @foreach (var training in module.Children)
                                {
                                    var completed = completedContent.Exists(x => x == training.Id.ToString());

                                    //   var completed = completedContent.Contains(training.Id.ToString());

                                    <li class="list-group-item @((completed)?"list-group-item-success":"")">
                                        <div class="row">
                                            <div class="col-xs-10"><a href="@training.Url">@training.Name</a></div>
                                            <div class="col-xs-2">
                                                @if (completed)
                                                {

                                                    <i class="glyphicon glyphicon-check"></i>

                                                }
                                                else
                                                {


                                                    <i class="glyphicon glyphicon-unchecked"></i>

                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>
