﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var rssUrl = Umbraco.Field("rSSURL");
    @* var pName=Model.Content.Name;  *@
var pName = Umbraco.Field("rSStitle");
}
@section styles{
    <style>
        H4{
            color:#000;
        }
        a{
             text-decoration: none;
             color:#000;
        }
        #page-wrapper .company .list-group-item a, #page-wrapper .company a {
    color: #000;
}

    </style>
    }
	<div  >
        <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">
                <h2>@pName</h2>

            </div>
            <div>

            </div>
           
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="container col-lg-12" style="padding-left:30px;">
                                  @Html.Partial("RssFeed", new ViewDataDictionary { { "RSStitle", @pName }, { "RSSURL", @rssUrl } })
                                </div>
                            </div>
                        </div>
                   
                </div>
                </div>
        </div>