﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Umbraco.Web.PublishedContentModels;
@using Umbraco.Core;
@using ClientDependency.Core.Mvc

@{
    Layout = "mhubMasterPage.cshtml";
    Html.RequiresJs("~/Scripts/angular.min.js");
    Html.RequiresJs("~/Scripts/angular-messages.min.js");
    Html.RequiresJs("~/Scripts/angular-route.min.js");
    Html.RequiresJs("~/Scripts/ui-bootstrap-tpls-2.0.1.min.js");
    Html.RequiresJs("~/Scripts/app/employeeEntry.js");
    var member = MhubMemberHelper.LoggedInMember;
    var branch = member.GetValue<string>("branch");
    var roleLevel = member.GetValue<int>("roleLevel");
}
@section scripts{

    <script  src="/Scripts/plugins/sweetalert/sweetalert.min.js")></script>;
   
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/Plugins/sweetalert/sweetalert.css">
    }
@if (roleLevel == 152)
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
{
<section data-ng-app="employee-entry-app" data-ng-controller="employeeEntryCtrl as $ctrl">

    <input type="hidden" id="pageId" value="@(CurrentPage.Id)" />

	<div data-ng-if="$ctrl.isLoading">
		<h3 class="text-center">Loading..</h3>
	</div>

	<div data-ng-if="!$ctrl.isLoading" data-ng-cloak>

		<div class="card" data-ng-class="{'editMode': $ctrl.inEditMode('general')}">

			<form action="" name="$ctrl.forms.general" novalidate data-ng-submit="$ctrl.submitAll($event, 'general')">

				<div class="card-header">

					<div class="row">

						<div class="col-xs-6">
							<h2 style="margin: 0.5rem 0 0 0;">General</h2>
						</div>

						<div class="col-xs-6 text-right">

							<div data-ng-if="!$ctrl.createMode">

								<button type="button" class="btn btn-default" data-ng-if="!$ctrl.inEditMode('general')" data-ng-click="$ctrl.setMode('general', 1)">
									<i class="fa fa-edit"></i>
									Edit
								</button>

								<button type="submit" class="btn btn-primary" data-ng-if="$ctrl.inEditMode('general')">
									<i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('general', 2)}"></i>
									Save
								</button>

							</div>

						</div>

					</div>

				</div>

				<div class="card-block">

					<div class="row">

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'name')}">

								<label for="name">Name</label>

								<div data-ng-if="$ctrl.inEditMode('general')">
									
									<input type="text" name="name" id="name" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.name" />

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'name')">
										<p class="help-block" data-ng-message="required">Name is required</p>
									</div>

								</div>

								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.employee.name || 'Undefined'}}</p>

							</div>

						</div>

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'username')}">

								<label for="username">Username</label>
									
								<div data-ng-if="$ctrl.inEditMode('general')">

									<input type="text" name="username" id="username" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.username" />

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'username')">
										<p class="help-block" data-ng-message="required">Username is required</p>
									</div>

								</div>

								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.employee.username || 'Undefined'}}</p>

							</div>

						</div>

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'email')}">

								<label for="email">Email</label>

								<div data-ng-if="$ctrl.inEditMode('general')">

									<input type="text" name="email" id="email" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.email" />

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'email')">
										<p class="help-block" data-ng-message="required">Email is required</p>
									</div>

								</div>

								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.employee.email || 'Undefined'}}</p>

							</div>

						</div>

					</div>

					<br>

					<div class="row">

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'birthday')}">

								<label for="birthday">Birthday</label>

								<div data-ng-if="$ctrl.inEditMode('general')">

									<div class="input-group">

										<input type="text" id="birthday" name="birthday" class="form-control" 
												uib-datepicker-popup="dd-MM-yyyy"
												data-ng-model="$ctrl.employee.birthday"
												data-ng-model-options="{timezone: 'UTC'}"
												data-is-open="$ctrl.calendars.birthday.opened"
												data-datepicker-options="$ctrl.calendars.birthday.options"
												data-ng-required="true" />

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" data-ng-click="$ctrl.openCalendar('birthday')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'birthday')">
										<p class="help-block" data-ng-message="required">Birthday is required</p>
									</div>

								</div>

								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.getDateAsString('birthday')}}</p>
							
							</div>

						</div>

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'careerStart')}">

								<label for="careerStart">Career start</label>

								<div data-ng-if="$ctrl.inEditMode('general')">

									<div class="input-group">
										
										<input type="text" id="careerStart" name="careerStart" class="form-control" 
												uib-datepicker-popup="dd-MM-yyyy"
												data-ng-model="$ctrl.employee.careerStart"
												data-ng-model-options="{timezone: '0000'}"
												data-is-open="$ctrl.calendars.careerStart.opened"
												data-datepicker-options="$ctrl.calendars.careerStart.options"
												data-ng-required="true" />

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" data-ng-click="$ctrl.openCalendar('careerStart')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'careerStart')">
										<p class="help-block" data-ng-message="required">Career start is required</p>
									</div>

								</div>
								
								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.getDateAsString('careerStart')}}</p>

							</div>

						</div>

						<div class="col-sm-4">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('general', 'companyStart')}">

								<label for="careerStart">Company start</label>

								<div data-ng-if="$ctrl.inEditMode('general')">

									<div class="input-group">
										
										<input type="text" id="companyStart" name="companyStart" class="form-control" 
												uib-datepicker-popup="dd-MM-yyyy"
												data-ng-model="$ctrl.employee.companyStart"
												data-ng-model-options="{timezone: '0000'}"
												data-is-open="$ctrl.calendars.companyStart.opened"
												data-datepicker-options="$ctrl.calendars.companyStart.options"
												data-ng-required="true" />

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" data-ng-click="$ctrl.openCalendar('companyStart')">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('general', 'companyStart')">
										<p class="help-block" data-ng-message="required">Company start is required</p>
									</div>

								</div>
								
								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('general')">{{$ctrl.getDateAsString('companyStart')}}</p>

							</div>

						</div>
	<!--
						<div class="col-sm-4">

							<div class="form-group">

								<label for="experienceLevel">Experience level</label>
								<p class="form-control-static">{{$ctrl.getExperience() || 'Undefined'}}</p>

							</div>

						</div>-->

					</div>

				</div>

	<!--
				<div class="form-group">
					<label for="experience">Experience</label>
					<span id="experience" class="static-label">{{$ctrl.model.experience}}</span>
					<p class="form-control-static" data-ng-if="!$ctrl.editMode.general">{{$ctrl.member.experience}}</p>
				</div>

				<div class="form-group checkbox">
					<label>
						<input type="checkbox" id="isApproved" data-ng-model="$ctrl.model.isApproved" />
						Is approved
					</label>
				</div>

				<hr>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" data-ng-model="$ctrl.model.password" class="form-control" />
				</div>

				<div class="form-group">
					<label for="repeatPassword">Repeat password</label>
					<input type="password" id="repeatPassword" data-ng-model="$ctrl.model.repeatPassword" class="form-control" />
				</div>-->

			</form>

		</div>

		<div class="row">

			<div class="col-sm-6">

				<div class="card">

					<form action="" name="$ctrl.forms.hrinfo" novalidate data-ng-submit="$ctrl.submitAll($event, 'hrinfo')">

						<div class="card-header">

							<div class="row">

								<div class="col-xs-6">
									<h2 style="margin: 0.5rem 0 0 0;">HR Information</h2>
								</div>

								<div class="col-xs-6 text-right">

									<div data-ng-if="!$ctrl.createMode">

										<button type="button" class="btn btn-default" data-ng-if="!$ctrl.inEditMode('hrinfo')" data-ng-click="$ctrl.setMode('hrinfo', 1)">
											<i class="fa fa-edit"></i>
											Edit
										</button>

										<button type="submit" class="btn btn-primary" data-ng-if="$ctrl.inEditMode('hrinfo')">
											<i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('hrinfo', 2)}"></i>
											Save
										</button>

									</div>

								</div>

							</div>

						</div>

						<div class="card-block">

							<div class="row">

								<div class="col-sm-4">

									<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('hrinfo', 'position')}">
										
										<label for="position">Position</label>
										
										<div data-ng-if="$ctrl.inEditMode('hrinfo')">

											<select id="position" name="position" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.position">
												<option data-ng-repeat="position in $ctrl.positions" value="{{position}}">{{position}}</option>
											</select>

											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('hrinfo', 'position')">
												<p class="help-block" data-ng-message="required">Position must be selected</p>
											</div>

										</div>

										<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('hrinfo')">{{$ctrl.employee.position || 'Undefined'}}</p>

									</div>

								</div>

								<div class="col-sm-4">

									<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('hrinfo', 'role')}">
										
										<label for="role">Role</label>
										
										<div data-ng-if="$ctrl.inEditMode('hrinfo')">
                                            
                                            
											<select id="role" name="role" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.role">
												<option ng-if="role.id!=155" data-ng-repeat="role in $ctrl.roles" value="{{role.id}}">{{role.value}}</option>
                                                <option ng-if="role.id==155 && role.id==@roleLevel" data-ng-repeat="role in $ctrl.roles" value="{{role.id}}">{{role.value}}</option>
											</select>
                                              
                                             
											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('hrinfo', 'role')">
												<p class="help-block" data-ng-message="required">Role must be selected</p>
											</div>

										</div>
										
										<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('hrinfo')">{{$ctrl.getRoleName($ctrl.employee.role) || 'Undefined'}}</p>
									
									</div>

								</div>

								<div class="col-sm-4">

									<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('hrinfo', 'division')}">
										
										<label for="division">Division</label>
										
										<div data-ng-if="$ctrl.inEditMode('hrinfo')">

											<select name="division" id="division" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.division">
												<option data-ng-repeat="division in $ctrl.divisions" value="{{division}}">{{division}}</option>
											</select>

											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('hrinfo', 'division')">
												<p class="help-block" data-ng-message="required">Division must be selected</p>
											</div>

										</div>

										<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('hrinfo')">{{$ctrl.employee.division || 'Undefined'}}</p>

									</div>

								</div>

							</div>

							<div class="row">

								<div class="col-sm-4">

									<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('hrinfo', 'branch')}">

										<label for="branch">Branch</label>

										<div data-ng-if="$ctrl.inEditMode('hrinfo')">
                                            @if (roleLevel == 155)
                                            {
											<select name="branch" id="branch" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.branch">
												<option data-ng-repeat="branch in $ctrl.branches" value="{{branch}}">{{branch}}</option>
											</select>
                                            }
                                            else
                                            {<select name="branch" id="branch" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.branch">
                                                <option  value="@branch">@branch</option>
                                            </select> }
											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('hrinfo', 'branch')">
												<p class="help-block" data-ng-message="required">Branch must be selected</p>
											</div>

										</div>

										<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('hrinfo')">{{$ctrl.employee.branch || 'Undefined'}}</p>

									</div>

								</div>

								<div class="col-sm-4">

									<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('hrinfo', 'lineManager')}">

										<label for="lineManager">Line Manager</label>

										<div data-ng-if="$ctrl.inEditMode('hrinfo')">

											<select name="lineManager" id="lineManager" class="form-control" data-ng-required="true" data-ng-model="$ctrl.employee.lineManager">
												<option data-ng-repeat="member in $ctrl.members" value="{{member.id}}">{{member.name}}</option>
											</select>
											
											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('hrinfo', 'lineManager')">
												<p class="help-block" data-ng-message="required">Line Manager must be selected</p>
											</div>

										</div>

										<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('hrinfo')">{{$ctrl.getLineManagerName($ctrl.employee.lineManager) || 'Undefined'}}</p>

									</div>

								</div>


							</div>

						</div>

					</form>

				</div>

			</div>

			<div class="col-sm-6">

				<div class="card">

					<form action="" name="$ctrl.forms.leave" novalidate data-ng-submit="$ctrl.submitAll($event, 'leave')">

						<div class="card-header">

							<div class="row">

								<div class="col-xs-6">
									<h2 style="margin: 0.5rem 0 0 0;">Annual Leave</h2>
								</div>

								<div class="col-xs-6 text-right">

									<div data-ng-if="!$ctrl.createMode">

										<button type="button" class="btn btn-default" data-ng-if="!$ctrl.inEditMode('leave')" data-ng-click="$ctrl.setMode('leave', 1)">
											<i class="fa fa-edit"></i>
											Edit
										</button>

										<button type="submit" class="btn btn-primary" data-ng-if="$ctrl.inEditMode('leave')">
											<i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('leave', 2)}"></i>
											Save
										</button>

									</div>

								</div>

							</div>
							
						</div>

					</form>

					<div data-ng-if="!$ctrl.inEditMode('leave')">

						<h4 data-ng-if="!$ctrl.getLeaves().length">
							No registered leaves
						</h4>

						<table class="table table-default" data-ng-if="$ctrl.getLeaves().length">

							<tbody>

								<tr>
									<td>Year</td>
									<td>Days</td>
								</tr>

								<tr data-ng-repeat="annualLeave in $ctrl.getLeaves()">
									<td>{{annualLeave.key}}</td>
									<td>{{annualLeave.value}}</td>
								</tr>

							</tbody>

						</table>

					</div>

					<form action="" name="$ctrl.forms.addLeave" novalidate data-ng-submit="$ctrl.addLeave($event)" data-ng-if="$ctrl.inEditMode('leave')">

						<table class="table table-default">

							<tbody data-ng-if="$ctrl.getLeaves().length">

								<tr>
									<td>Year</td>
									<td colspan="2">Days</td>
								</tr>

								<tr data-ng-repeat="(annualLeaveIndex, annualLeave) in $ctrl.getLeaves()">
									<td>
										<input type="text" class="form-control" readonly data-ng-value="annualLeave.key" />
									</td>
									<td>
										<input type="text" class="form-control"  data-ng-value="annualLeave.value" />
									</td>
									<td class="text-right">
										<button type="button" class="btn btn-default" data-ng-click="$ctrl.removeLeave(annualLeaveIndex)">
											<i class="glyphicon glyphicon-remove"></i>
										</button>
									</td>
								</tr>

							</tbody>

							<tbody data-ng-if="$ctrl.addLeaveModel">

								<tr>
									<td>

										<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('addLeave', 'leaveYear')}">

											<select name="leaveYear" id="leaveYear" class="form-control" data-ng-required="true" data-ng-model="$ctrl.addLeaveModel.key">
												<option value="{{year}}" data-ng-repeat="year in $ctrl.getAvailableYears()">{{year}}</option>
											</select>

											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('addLeave', 'leaveYear')">
												<p class="help-block" data-ng-message="required">Year must be selected</p>
											</div>

										</div>

									</td>
									<td>
										<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('addLeave', 'leaveDays')}">

											<input type="number" id="leaveDays" name="leaveDays" class="form-control"
													data-ng-required="true"
													data-ng-model="$ctrl.addLeaveModel.value" />

											<div role="alert" data-ng-messages="$ctrl.getErrorMessages('addLeave', 'leaveDays')">
												<p class="help-block" data-ng-message="required">Must be a valid number</p>
												<p class="help-block" data-ng-message="number">Must be a valid number</p>
											</div>

										</div>
									</td>
									<td class="text-right">
										<button type="submit" class="btn btn-primary">
											<i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('leave', 2)}"></i>
										</button>
									</td>
								</tr>

							</tbody>

							<tbody data-ng-if="!$ctrl.addLeaveModel">
								<tr>
									<td colspan="3">
										<button type="button" class="btn btn-default" data-ng-click="$ctrl.newLeaveForm($event)">
											<i class="glyphicon glyphicon-plus"></i>
											Add
										</button>
									</td>
								</tr>
							</tbody>

						</table>

					</form>

				</div>
				
                <div class="card">

                    <form action="" name="$ctrl.forms.appraisals" novalidate data-ng-submit="$ctrl.submitAll($event, 'appraisals')">

                        <div class="card-header">

                            <div class="row">

                                <div class="col-sm-6">
                                    <h2 style="margin: 0;">Appraisals</h2>
                                </div>

                                <div class="col-xs-6 text-right">

                                    <div data-ng-if="!$ctrl.createMode">

                                        <button type="button" class="btn btn-default" data-ng-if="!$ctrl.inEditMode('appraisals')" data-ng-click="$ctrl.setMode('appraisals', 1)">
                                            <i class="fa fa-edit"></i>
                                            Edit
                                        </button>

                                        <button type="submit" class="btn btn-primary" data-ng-if="$ctrl.inEditMode('appraisals')">
                                            <i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('appraisals', 2)}"></i>
                                            Save
                                        </button>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="card-block">

                            <div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('appraisals', 'schedule')}">

                                <label for="schedule">Schedule</label>

                                <div data-ng-if="$ctrl.inEditMode('appraisals')">

                                    <select id="schedule" name="schedule" class="form-control" data-ng-model="$ctrl.employee.appraisalSchedule">
                                        <option value="{{s.id}}" data-ng-repeat="s in $ctrl.appraisalSchedules">{{s.value}}</option>
                                    </select>

                                    <div role="alert" data-ng-messages="$ctrl.getErrorMessages('appraisals', 'schedule')">
                                        <p class="help-block" data-ng-message="required">Selection of schedule is required</p>
                                    </div>

                                </div>

                                <p class="form-control-static" data-ng-if="!$ctrl.inEditMode('appraisals')">{{$ctrl.getScheduleName($ctrl.employee.appraisalSchedule)}}</p>

                            </div>

                            <div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('appraisals', 'template')}">

                                <label for="template">Template</label>

                                <div data-ng-if="$ctrl.inEditMode('appraisals')">

                                    <select id="template" name="template" class="form-control" data-ng-model="$ctrl.employee.appraisal">
                                        <option value="{{a.Id}}" data-ng-repeat="a in $ctrl.appraisals">{{a.TemplateName}}</option>
                                    </select>

                                    <div role="alert" data-ng-messages="$ctrl.getErrorMessages('appraisals', 'template')">
                                        <p class="help-block" data-ng-message="required">Selection of template is required</p>
                                    </div>

                                </div>

                                <p class="form-control-static" data-ng-if="!$ctrl.inEditMode('appraisals')">{{$ctrl.getAppraisalName($ctrl.employee.appraisal)}}</p>

                            </div>

                        </div>

                    </form>


                </div>

			</div>


		</div>

		<div class="row">

			<div class="col-sm-6">

				<div >

					<form action="" name="$ctrl.forms.assessment" novalidate data-ng-submit="$ctrl.submitAll($event, 'assessment')">
@*
						<div class="card-header">

							<div class="row">

								<div class="col-sm-6">

									<h2 style="margin: 0;">Training and Assessment</h2>

								</div>

								<div class="col-xs-6 text-right">

									<div data-ng-if="!$ctrl.createMode">

										<button type="button" class="btn btn-default" data-ng-if="!$ctrl.inEditMode('assessment')" data-ng-click="$ctrl.setMode('assessment', 1)">
											<i class="fa fa-edit"></i>
											Edit
										</button>

										<button type="submit" class="btn btn-primary" data-ng-if="$ctrl.inEditMode('assessment')">
											<i class="fa fa-check" data-ng-class="{'fa-spin fa-spinner': $ctrl.inEditMode('assessment', 2)}"></i>
											Save
										</button>

									</div>

								</div>

							</div>

						</div>

						<div class="card-block">

							<div class="form-group" data-ng-class="{'has-error': $ctrl.hasError('assessment', 'assessmentLevel')}">

								<label for="assessmentLevel">Assessment level</label>

								<div data-ng-if="$ctrl.inEditMode('assessment')">

									<input type="text" name="assessmentLevel" id="assessmentLevel" class="form-control"  data-ng-model="$ctrl.employee.assessmentLevel" />

									<div role="alert" data-ng-messages="$ctrl.getErrorMessages('assessment', 'assessmentLevel')">
										<p class="help-block" data-ng-message="required">Assessment level is required</p>
									</div>

								</div>

								<p class="form-control-static" data-ng-if="!$ctrl.inEditMode('assessment')">{{$ctrl.employee.assessmentLevel || 'Undefined'}}</p>

							</div>

							

							<div class="form-group">
								<label for="assessmentsCompleted">Assessments completed</label>
								<p class="form-control-static">{{$ctrl.employee.assessmentsCompleted || 'Undefined'}}</p>
							</div>

						

						</div>
                        *@

					</form>

				</div>

			</div>

			<div class="col-sm-6">

			

			</div>

		</div>
        <div class="form-group" data-ng-if="$ctrl.createMode==false">
            <div class="row">
                <div class="col-sm-6"></div>

                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.deactivateUser($event,'Hello')" data-ng-if="$ctrl.employee.inActive"><i class="fa fa-spin fa-spinner" ng-show="$ctrl.Searching"></i> Deactivate User</button>
                    <button type="button" class="btn btn-primary" data-ng-click="$ctrl.activateUser($event,'Hello')" data-ng-if="!$ctrl.employee.inActive"><i class="fa fa-spin fa-spinner" ng-show="$ctrl.Searching"></i> Activate User</button>

                    <button type="button" class="btn btn-danger" data-ng-click="$ctrl.deleteUser($event,'Hello')" ng-show="false"><i class="glyphicon glyphicon-trash" data-ng-if="!$ctrl.DelSpin"></i><i class="fa fa-spin fa-spinner" data-ng-if="$ctrl.DelSpin"></i> Delete User</button>
                    </div>
                </div>

        </div>
		<hr>

		<div class="form-group" data-ng-if="$ctrl.createMode">

			<button type="button" class="btn btn-primary" data-ng-click="$ctrl.submitAll($event)">Create</button>
			<a href="/employees" class="btn btn-link">Go back</a>

		</div>

	



	</div>
    
</section>
}
