﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var rssUrl =Umbraco.Field("urlForRssFeed");
}

	
@Html.Partial("RSSFeed", new ViewDataDictionary{{"RSStitle","GMC Jobs"},{"RSSURL",@rssUrl}} ) 
