﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var folderId = Umbraco.Field("mediaFolder").ToString();
    var knowFolder = Umbraco.Media(folderId);
    var cBody = Umbraco.Field("contentBody");
    var fcolSize = "";
    var colSize = "";
    var fileHeading = "";
	

    if (cBody != null && knowFolder != null)
    {
        fcolSize = "col-lg-6";
        colSize = "col-lg-6";
        fileHeading = "Files";
    }
    else if (knowFolder == null)
    {
        colSize = "col-lg-12";
        fcolSize = "";
    }
    else
    {
        fcolSize = "col-lg-12";

    }
}

<div class="card ">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-6">
                <h2>@Umbraco.Field("title")</h2>
            </div>
            <div class="col-lg-6">
                <h2>@fileHeading</h2>

            </div>
        </div>
        <hr>
    </div>
    <div class="card-body card-padding">

        <div class="row">
            <div class="@(colSize)">
                @cBody
            </div>
            <div class="@(fcolSize)">

                @foreach (var media in knowFolder.Children)
                {

                    <a href="@media.UmbracoFile">@media.Name</a>
                    <br>

                }
            </div>
        </div>
    </div>
</div>