﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var roleLevel = member.GetValue<int>("roleLevel");
}
@section scripts{
	<!--<script src="/umbraco/lib/angular/1.1.5/angular.min.js?cdv=830948660" class="lazyload" charset="utf-8"></script>-->
<script src="/Scripts/angular.min.js"></script>
	
  <script src="/Appraisal/js/appraisals.js"></script>

<script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
}

@if (roleLevel == 152 || roleLevel == 153 || roleLevel == 154 )
{<h3>You are not authorised to view this page</h3> }
else if (  roleLevel == 155)
{
<div ng-app="appraisals-app">

<div ng-controller="appTemplate">
	<div class="">
        <!--Start Modal  -->
        <!-- look at 'type' and 'id' values -->
        <script type="text/ng-template" id="myTestModal.tmpl.html">
            <div class="modal-header">
                <h3>Confirm Delete</h3>
            </div>
            <div class="modal-body" ng-if="elDetails.TemplateName">
                <p>Confirm you wish to delete the template named {{elDetails.TemplateName}} </p>
            </div>
            <div class="modal-body" ng-if="elDetails.QWording">
                <p>Confirm you wish to delete this question </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="deleteTemplate(elDetails);close()" ng-if="elDetails.TemplateName">
                    Delete Template
                </button>
                <button type="button" class="btn btn-primary" ng-click="deleteQuestion(elDetails);close()" ng-if="elDetails.QWording">
                    Delete Question 
                </button>
            </div>
        </script>




        <!--End Modal  -->  
<div class="container col-md-12 employees">
  <h2>@Umbraco.Field("title")</h2>
	
  <p>@Umbraco.Field("instructions")
	
	</p>

  <div class="row">
    <div class="col-sm-3">
        <textarea placeholder="Appraisal Question" ng-model="question.text" id="appQuestion" name="longname" class="form-control"></textarea>
<!--<input type="text" placeholder="Appraisal Question" ng-model="question.text" id="appQuestion" name="longname" class="form-control"/>
   
    --></div>
   <div class="col-sm-2">
<select ng-model="question.type" class="form-control">
<option value="Text">Text Box </option>
<option value="checkbox">Yes No Question</option>
<option value="TextArea">Text Area</option>
<option value="Range">Slider 1-5</option>

</select>
   </div>
   <div class="col-sm-2">
<select ng-model="question.section" class="form-control">
<option value="1">Section 1 (User Appraisal)</option>
<option value="2">Section 2 (Managers Response)</option>
<option value="3">Section 3 (Final Comments)</option>
<option value="4">Section 4 (Addition Form)</option>
</select>
  </div>
  <div class="col-sm-2">
<button  ng-click="addQuestion(question);" onClick="Clear1('appQuestion');" class="btn"> Add Question</button>
   </div>

</div>
   <div class="panel panel-default" style="margin-top:10px">
  <!-- Default panel contents -->
  <div class="panel-heading">Appraisal Questions</div>
  <div class="panel-body">
    <p>Listed below are all the current question added into the new template. Click save below, and be sure to give the appraisal template a name.</p>
  </div>
<div>
 <table class="table">

    <tr ng-repeat="question in questions">
    <td ng-if="question.QType=='TextArea'">  <textarea></textarea>  </td>
        <td ng-if="question.QType=='Range'">  <input type="range" min="1" max="5" value="2" id="fader" class="form-control"
       step="1">  </td>
        <td ng-if="question.QType=='checkbox'">
            <div class="switch">
                <div class="onoffswitch">
                    <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                    <label class="onoffswitch-label" for="example1">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            </td>
<td ng-if="question.QType!='TextArea' && question.QType!='Section'  && question.QType!='Range' && question.QType!='checkbox'">  <input type="{{question.QType }}" />   </td>
    
         <td ng-if="question.QType=='Section'"> 'Section Heading' </td>
      <td >{{question.QWording}}</td>
       <td >Section {{question.QSection}}</td>
    
      <td><button ng-click="removeQuestion($index)">Remove Question</button></td>
    </tr>
  </table>
</div>
<div class="panel-footer "> <div class="row">
     <div class="col-sm-4">Template Name <input type="text" ng-model="qtemplates.name"/></div>
     <div class="col-sm-8">
        <button ng-click="addTemplate(qtemplates)" class="btn btn-primary"> Save this template
      </button> 
    </div>
  </div>
</div>

</div>


<div style="padding-top:10px;">

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Appraisal Templates</div>
  <div class="panel-body">
    <p>Listed below are all the currently available Appraisal Forms, click show questions to see the questions added to each form.</p>
  </div>
<div>

<table class="table">
<thead>
    <tr ng-init="firstIndex">
<th>Template Name</th>
<th> Number of Questions</th>

<th>View Questions</th>
<th>Delete Template</th>
      <th>Save Changes</th>
    </tr>
</thead>
<tbody ng-repeat="qtemplate in qtemplates">
<tr >
<td>{{ qtemplate.TemplateName }}</td>
<td>{{ qtemplate.AppQuest.length }}</td>
<td><button class="btn" ng-click="showDetails = ! showDetails;setIndex($index)">Show Questions</button></td>
    
    <td><button ng-click="openModal('sm', qtemplate,$index)"><i class="glyphicon glyphicon-trash" ng-click="openModal('sm', qtemplate,$index)"></i> Delete</button></td>
    <td><button ng-click="saveTempChanges(qtemplate)"><i class="glyphicon glyphicon-floppy-save"></i> Save Changes</button></td>

</tr>
    
    <tr ng-show="showDetails"><td colspan="2">Question</td><td>input Type</td><td>section</td><td >delete Question</td></tr>
<tr ng-repeat="tquestion in qtemplate.AppQuest" ng-show="showDetails">
<td colspan="2"><textArea type="text" cols="50" rows="3" ng-model="tquestion.QWording"></textarea></td>
<td ng-if="tquestion.QType=='TextArea'">  <textarea></textarea>  </td>
    <td ng-if="question.QType=='Range'">
        <input type="range" min="1" max="5" value="2" id="fader" class="form-control"
               step="1">
    </td>
    <td ng-if="tquestion.QType=='checkbox'">
        <div class="switch">
            <div class="onoffswitch">
                <input type="checkbox" checked class="onoffswitch-checkbox" id="{{tquestion.Id}}">
                <label class="onoffswitch-label" for="{{tquestion.Id}}">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </td>
    <td ng-if="tquestion.QType!='TextArea' && question.QType!='Range' && tquestion.QType!='checkbox'">  <input type="{{tquestion.QType }}" />   </td>
    
    <td> <input type="number" Max="5" size="5" ng-model="tquestion.QSection " /> </td>
    <td><button ng-click="openModal1('sm', tquestion,$index,firstIndex)"><i class="glyphicon glyphicon-trash" ng-click="openModal1('sm', AppQuest,$index)"></i> Delete Question </button></td>
</tr>
</tbody>


</table>
</div>
</div>
</div>
</div>
        </div>
    </div>
    </div>
}
<script>
function Clear1(str)
{    
 
   document.getElementById(str).value= "";
}

</script>


