﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*<ContentModels.MhubBasicPage>*@
@*@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@{
    Layout = "mhubMasterPage.cshtml";
}
<style>
    .smallPadleft {
        padding-left: 2px;
    }

    .gridContainer {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
    }
    #grid_container .container {
        margin-left:1px;
        padding-left:0px;
        margin-right:0px;
        padding-right:0px;
        width:100%;

    }
    .Compstuff >img{
        max-width:100%;
        height:auto;

    }

    /*@@media screen and (min-width:1200px) {
        #grid_container .container {
           min-width:1200px;
           max-width:1400px;
        }
    }*/
        /*@@media screen and (min-width:1300px) {
            #grid_container .container {
                min-width:1250px;
            }
        }
         @@media screen and (min-width:1400px) {
            #grid_container .container {
                min-width:1300px;
            }
        }*/
}
</style>

@if (!String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString()))
{
    <div class="row ">
        <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">

                <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 container">
                    @Umbraco.Field("bodyContent")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row ">
        <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">

                <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
            </div>
        
           
                <div class="col-lg-12"  id="grid_container">
                    
                    @CurrentPage.GetGridHtml(Html, "bodyGrid")
                </div>
          
        </div>
    </div>

    @*<div class="row ">
        <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">
                <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">

                @CurrentPage.GetGridHtml(Html, "bodyGrid")
            </div>
        </div>


    </div>*@

}
