﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}
@if (TempData["tempval"] != null)
{
    <div class="alert alert-success">
        @TempData["tempval"]
    </div>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">
        <div class="container col-lg-12"> <h2>@Umbraco.Field("title")</h2></div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <div class="ibox float-e-margins ">
                <div class="ibox-title NoTopBorder">
                    <p>@Umbraco.Field("bodyContent") </p>
                </div>
                <div class="ibox-content">
                    @Html.Partial("[mhub] Virtual Form", new UmbracoWithMvc.Entities.VirtualSupport())
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <style>
        .NoTopBorder{
            border-top:0px;
            padding-top:0px;
            margin-top:0px;
        }
    </style>
    }