﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var YearlyLeave = LeaveHelpers.AvailableLeaveDec;
    var CurrentDate = DateTime.Today;
    var CurrentYear = CurrentDate.Year;
    //var CarryOverAdditions = LeaveHelpers.CarryOverLeaveToAdd(MhubMemberHelper.LoggedInMember);
    //var ProRata = LeaveHelpers.DetermineProRataLeave(MhubMemberHelper.LoggedInMember);

    var MID = Request["id"];
    var MonthlyUnpaid = LeaveHelpers.MonthlyUnpaidLeave();

    var member = String.IsNullOrWhiteSpace(MID)?MhubMemberHelper.LoggedInMember: ApplicationContext.Services.MemberService.GetById(Convert.ToInt16(MID));
    var memberMessage = member.GetValue<string>("leaveMessage");
    MID = String.IsNullOrWhiteSpace(MID) ? "33333" : MID;
}


<div ng-app="appTemplate" ng-controller="leaveDetails">
    <div class="row employees">
        <div class="container col-lg-12"> <h2>Leave Report for - {{leaveList.fullname}} </h2></div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">  <h2>Select Date Range</h2> </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default form-control" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default form-control" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-3"><div class="row"><h2>&nbsp;</h2></div><div class="col-sm-12"></div><button class="btn btn-success" ng-click="dRange(dt,dt2);"><i class="fa fa-spinner fa-spin" ng-if="search.searching"></i> Select Range</button></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        @if (!String.IsNullOrWhiteSpace(memberMessage))
        {
            <div class="row"><div class="alert alert-warning"><strong>Notification: </strong>@memberMessage</div></div>
        }
        <div class="row">
            <div class="col-lg-3">
                <div class="widget navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Allocated Leave for @CurrentYear</span>
                            <h2 class="font-bold">{{leaveList.AvailableLeave}} Days</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="widget lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-medkit fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Sick Leave</span>
                            <h2 class="font-bold">{{leaveList.SickLeave}} Days</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget link_4">

                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-road fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> All Holiday/ Annual Leave</span>
                            <h2 class="font-bold">{{leaveList.TotalAnnual}}  Days</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget link_1">

                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-paw fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Non Sick Paid Leave</span>
                            <h2 class="font-bold">{{leaveList.OtherPaid}}  Days</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <div class="widget link_3">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-suitcase fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Holidays Remaining in @CurrentYear</span>
                        <h2 class="font-bold">{{leaveList.AvailableLeave-leaveList.TotalAnnual}} Days</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget link_2">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-paper-plane fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Other Leave</span>
                        <h2 class="font-bold">{{leaveList.otherLeave}} Days</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget navy-bg">

                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-gavel fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Offical /Unpaid Leave</span>
                        <h2 class="font-bold">{{leaveList.OtherUnPaid}}  Days</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget link_1">
                <!--     <div>

                        <h2 class="font-bold no-margins">
                            Total
                        </h2>
                        <small>All leave types</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
                </div>
                      -->
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-plus-square fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <h2> Total leave</h2>
                        <h2 class="font-bold">{{leaveList.TotalDays}} Days</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3  fontUp"><strong>Staff Name: </strong>{{leaveList.fullname}} </div>
        <div class="col-lg-3 fontUp"><strong>User Name:</strong> {{leaveList.username}} </div>
        <div class="col-lg-3 fontUp"><strong>Pro-rata Leave:</strong> {{leaveList.ProRataLeave}} ({{leaveList.ProRataLeave-leaveList.TotalAnnual}}) Days <i class="fa fa-question-circle pull-right" tooltip-placement="top-right" uib-tooltip="The amount of leave accumulated, remaining  pro rata leave in brackets()"></i></div>
    </div>
    <div><h2>Sick / Paid Leave with comments</h2></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Leave Date</th>
                    <th>Day of the week</th>
                    <th>Leave Type</th>
                    <th>Half Day</th>
                    <th>Comments/Reasons</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="leave in leaveList.leaveDays | orderBy:'-LeaveDay'" ng-if="leave.LeaveCounted==2">
                    <td>{{leave.LeaveDay | date:" MMM d, y" }}</td>
                    <td>{{leave.LeaveDay | date:"EEEE" }}</td>
                    <td>{{leave.LeaveType}}</td>
                    <td><i class="fa fa-check fa-2x text-center" ng-if="leave.HalfDay==true"></i></td>
                    <td>{{leave.Comment}}</td>

                </tr>
            </tbody>
        </table>
    </div>


<div><h2>Holiday Leave with comments</h2></div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Leave Date</th>
                <th>Day of the week</th>
                <th>Leave Type</th>
                <th>Half Day</th>
                <th>Comments/Reasons</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="leave in leaveList.leaveDays | orderBy:'-LeaveDay'" ng-if="leave.LeaveCounted==1">
                <td>{{leave.LeaveDay | date:" MMM d, y" }}</td>
                <td>{{leave.LeaveDay | date:"EEEE" }}</td>
                <td>{{leave.LeaveType}}</td>
                <td><i class="fa fa-check fa-2x text-center" ng-if="leave.HalfDay==true"></i></td>
                <td>{{leave.Comment}}</td>

            </tr>
        </tbody>
    </table>
</div>

<div><h2>Official Leave / Unpaid Leave</h2></div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Leave Date</th>
                <th>Day of the week</th>
                <th>Leave Type</th>
                <th>Half Day</th>
                <th>Comments/Reasons</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="leave in leaveList.leaveDays | orderBy:'-LeaveDay'" ng-if="leave.LeaveCounted==0">
                <td>{{leave.LeaveDay | date:" MMM d, y" }}</td>
                <td>{{leave.LeaveDay | date:"EEEE" }}</td>
                <td>{{leave.LeaveType}}</td>
                <td><i class="fa fa-check fa-2x text-center" ng-if="leave.HalfDay==true"></i></td>
                <td>{{leave.Comment}}</td>

            </tr>
        </tbody>
    </table>
</div>


<div class="wrapper wrapper-content animated fadeInRight ">

</div>
</div>
@section Scripts {
    <style>
        .pLeft {
            padding-left: 25px;
        }

        .fontUp {
            font-size: 125%;
        }
    </style>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>

    <script>
        var appTemplate = angular.module('appTemplate', ['ui.bootstrap']);

        appTemplate.controller('leaveDetails', function ($scope, $http, $location) {
            $scope.search = {};
            $scope.search.searching = true;
            var config = {};
            var Year = new Date();
            //  console.log(Year.getFullYear());
            dStart = "01/01/" + Year.getFullYear();
            dEnd = "12/31/" + Year.getFullYear();

            var mId = @MID;//$location.search().id;
            if (mId == undefined) {
                mId = 33333;
            }

            //  mId = "1527";
            data1 = { "StartDate": dStart, "EndDate": dEnd, "MemberId": mId };
            console.log(data1);
            // data1 = { "StartDate": "01/01/2016", "EndDate": "12/31/2016", "MemberId": mId };
            $http.post('/Umbraco/Api/LeaveReport/GetUserRange/', data1, config)
     .success(function (dataResult, status) {
         console.log(dataResult);
         $scope.leaveList = dataResult;
         console.log($scope.leaveList);
         $scope.search.searching = false;
         if (dataResult == null) {

             $scope.fail = 1;
         }
         else {
             $scope.fail = 0;
         }

     })

            $scope.dRange = function (dtStart, dtEnd) {
                $scope.search.searching = true;
                data = $scope.dtEnd;
                var m = dtStart.getMonth();
                m = m + 1;
                var d = dtStart.getDate();
                var y = dtStart.getFullYear();
                var dStart = m + "/" + d + "/" + y;
                var m = dtEnd.getMonth();
                m = m + 1;
                var d = dtEnd.getDate();
                var y = dtEnd.getFullYear();
                var dEnd = m + "/" + d + "/" + y;
                console.log(dStart);

                data1 = { "StartDate": dStart, "EndDate": dEnd, "MemberId": mId };
                $http.post('/Umbraco/Api/LeaveReport/GetUserRange/', data1, config)
   .success(function (dataResult, status) {
       console.log(dataResult);
       $scope.search.searching = false;
       $scope.leaveList = dataResult;
   })


            }


            $scope.today = function () {
                var curDate = new Date();
                var curYear = curDate.getFullYear();


                $scope.dt = new Date(curYear, 0, 1);

                $scope.dt2 = new Date(curYear, 11, 31);

            };
            $scope.today();

            $scope.clear = function () {
                $scope.dt = null;
            };

            $scope.inlineOptions = {
                customClass: getDayClass,
                minDate: new Date(),
                showWeeks: true
            };

            $scope.dateOptions = {
                dateDisabled: disabled,
                formatYear: 'yy',
                maxDate: new Date(2020, 5, 22),
                minDate: new Date(),
                startingDay: 1
            };

            // Disable weekend selection
            function disabled(data) {
                var date = data.date,
                  mode = data.mode;
                return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
            }

            $scope.toggleMin = function () {
                $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
                $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
            };

            $scope.toggleMin();

            $scope.open1 = function () {
                $scope.popup1.opened = true;
            };

            $scope.open2 = function () {
                $scope.popup2.opened = true;
            };


            $scope.setDate = function (year, month, day) {
                $scope.dt = new Date(year, month, day);
                //  $scope.dtEnd = new Date(year, month, day);
            };

            $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
            $scope.format = $scope.formats[0];
            $scope.altInputFormats = ['M!/d!/yyyy'];

            $scope.popup1 = {
                opened: false
            };

            $scope.popup2 = {
                opened: false
            };

            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            var afterTomorrow = new Date();
            afterTomorrow.setDate(tomorrow.getDate() + 1);
            $scope.events = [
              {
                  date: tomorrow,
                  status: 'full'
              },
              {
                  date: afterTomorrow,
                  status: 'partially'
              }
            ];

            function getDayClass(data) {
                var date = data.date,
                  mode = data.mode;
                if (mode === 'day') {
                    var dayToCheck = new Date(date).setHours(0, 0, 0, 0);

                    for (var i = 0; i < $scope.events.length; i++) {
                        var currentDay = new Date($scope.events[i].date).setHours(0, 0, 0, 0);

                        if (dayToCheck === currentDay) {
                            return $scope.events[i].status;
                        }
                    }
                }

                return '';
            }
        })
    </script>
}
