﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
	
	
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}
@if (TempData["tempval"] != null)
{
    <div class="alert alert-success">
      @TempData["tempval"]
    </div>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">

        <div class="container col-lg-12"> <h2>@Umbraco.Field("title")</h2></div>
    </div>

    <div class="row">
        <div class="col-lg-11">
            <div class="ibox float-e-margins greyBox">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("bodyContent") </h3>
                </div>
                <div class="ibox-content">

                    @Html.Partial("[mhub] Travel Form", new UmbracoWithMvc.Entities.TravelRequest())

                </div>

            </div>
        </div>
    </div>
    </div>

    @section scripts{
        <link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
        <script src="/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Data picker -->
        <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
        <script>
            $(document).ready(function () {


                $('#data_1 .input-group.date').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true
                });

                $('#data_2 .input-group.date').datepicker({
                    startView: 1,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    format: "mm/dd/yyyy"
                });

                $('#data_3 .input-group.date').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true
                });

                $('#data_4 .input-group.date').datepicker({
                    minViewMode: 1,
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    todayHighlight: true
                });

                $('#data_5 .input-daterange').datepicker({
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true
                });

              //  $("input[name='HotelNeed']").click(function () {
               
                    
                        $('#HotelLocation').prop('disabled', true);
                        $('#HotelName').prop('disabled', true);
                   
            });

            $("input[name='HotelNeed']").click(function () {
                if ($(this).val()=='True')
                {
                    $('#HotelLocation').prop('disabled', false);
                    $('#HotelName').prop('disabled', false);
                }
                else {
                  
                    $('#HotelLocation').prop('disabled', true);
                    $('#HotelName').prop('disabled', true);
                }
            });
        </script>
    }
