﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@{
    Layout = "mhubMasterPage.cshtml";
    var tempval = TempData["Ddif"];
    var YearlyLeave = LeaveManager.AvailableLeave;
    var LeaveUsed = LeaveManager.LeaveUsed;
    var LeaveRemaining = YearlyLeave - LeaveUsed;

    var leaveResult = LeaveManager.PendingLeave;
    var tbClass = "success";
    var statusMsg = "Pending";
    var totDays = 0;
}


@section bodTop{
    <h1>Staff Leave Page</h1>

    <div class="card">
        <div class="card-header"> <h2>Staff Leave</h2></div>
        <div class="card-body card-padding">
            <div>
                <div class="col-lg-3">Leave Days for 2016: @YearlyLeave</div>
                <div class="col-lg-3">Leave Days Used:@LeaveUsed</div>
                <div class="col-lg-3">Leave Days Remaining:@LeaveRemaining</div>

            </div>
            <br />



        </div>

    </div>

    <div class="card">
        <div class="card-header"><h2>Latest Leave Requests<small>See all future leave requests and their status in the table below</small></h2></div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Leave Type</th>
                        <th>Leave Days Used</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>


                    @{ foreach (var reqs in leaveResult)
                        {
                            switch (@reqs.ApprovedLeave)
                            {
                                case 0:
                                    tbClass = "warning c-white";
                                    statusMsg = "Pending";
                                    break;
                                case 1:

                                    tbClass = "success";
                                    statusMsg = "Approved";
                                    break;
                            }

                            switch (@reqs.LeaveType)
                            {
                                case "Holiday":
                                    totDays = reqs.ApprovedBy;
                                    break;
                                case "Duvet":
                                    totDays = reqs.ApprovedBy;
                                    break;
                                default:
                                    totDays = 0;
                                    break;
                            }

                            <tr class="@tbClass">
                                <td>@reqs.LeaveStart.ToString("MMMM dd, yyyy")</td>
                                <td>@reqs.LeaveEnd.ToString("MMMM dd, yyyy")</td>
                                <td>@reqs.LeaveType</td>
                                <td>@reqs.ApprovedBy</td>
                                <td>@statusMsg</td>
                            </tr>


                        }
                    }
                    <tr class="success c-white">
                        <td>12th of June 2016</td>
                        <td>17th of June 2016</td>
                        <td>Compassionate Leave</td>
                        <td>0</td>
                        <td>Approved</td>
                    </tr>


                </tbody>
            </table>

        </div>

    </div>

    @TempData["tempval"]
    @ViewBag.Message
    @ViewBag.test
    <br />
    @ViewBag.uID
    @Html.Partial("LeaveForm", new LeaveRequestStart())
}