﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var roleLevel = member.GetValue<int>("roleLevel");
    var branch = member.GetValue<string>("branch");
    var pageLevel = CurrentPage.GetPropertyValue<string>("staffLevel");
    //ng-if="users.roleLevel==152 || users.roleLevel=153"
    //ng-if="users.roleLevel==154 || users.roleLevel=155"

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">
        <div class="container col-lg-12">

            <h2>@Umbraco.Field("title") </h2>

        </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div ng-app>
                    <div ng-controller="holidayListCtrl">
                        <div ng-if="(users.roleLevel==155)||(users.roleLevel==154)">
                            <h3> Add Public Holiday</h3>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Enter Date (Click Arrow Below)</label>
                                    <input type="date" class="form-control" ng-model="hol.date" />
                                </div>
                                <div class="col-sm-2">
                                    <label>Enter Holiday Name</label>
                                    <input type="text" class="form-control" placeholder="Holiday Name" ng-model="hol.name" />
                                </div>

                                <div class="col-sm-2">
                                    <label>Enter Country</label>
                                    @if (roleLevel == 155)
                                    {
                                        <select ng-model="hol.country" class="form-control">
                                            <option value="">Select Country</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Myanmar">Myanmar</option>

                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-control" ng-model="hol.country">
                                            <option value="@branch" ng-selected="true">@branch</option>
                                        </select>

                                    }

                                </div>
                                <div class="col-sm-2">

                                    <label>Search By Year</label>
                                  
                                    <select ng-model="hol.year" class="form-control">
                                        <option  value="{{hol.prevyear}}">{{hol.prevyear}}</option>

                                        <option ng-selected="true" value="{{hol.curryear}}">{{hol.curryear}}</option>
                                       
                                      
                                        <option ng-repeat="option in hol.years" value="{{option.holyear}}" >{{option.holyear}}</option>
                                        <option value="">All Years</option>
                                     
                                    </select>

                                    @*<select name="mySelect" id="mySelect"
                                            ng-options="option.holyear for option in hol.years track by option.holyear"
                                            ng-model="hol.year"></select>*@
                                </div>
                            </div>
                            <br />
                            <button ng-click="addHoliday(hol);" class="btn btn-primary"><i class="fa fa-spin fa-spinner" ng-if="hol.searching"></i> Add Holiday</button>
                        </div>
                        <br /><br />

                        <div ng-if="(users.roleLevel==152)||(users.roleLevel==153)">
                            <h3>View Public Holidays Set</h3>
                            <p>Below is the list of public holidays set for your branch, you can filter by the year menu</p>
                            <div class="row">
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="hol.country">
                                        <option value="@branch" ng-selected="true">@branch</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select ng-model="hol.year" class="form-control">
                                        <option value="{{hol.prevyear}}">{{hol.prevyear}}</option>

                                        <option ng-selected="true" value="{{hol.curryear}}">{{hol.curryear}}</option>


                                        <option ng-repeat="option in hol.years" value="{{option.holyear}}">{{option.holyear}}</option>
                                        <option value="">All Years</option>

                                    </select>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div ng-if="(users.roleLevel==154)||(users.roleLevel==155)">
                            <h3>Holidays Currently added to the system<br /><small>Select Country above to filter for your countries holidays</small></h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Date</th>
                                    <th>Holiday Name</th>

                                    <th>Country</th>
                                    <th ng-if="(users.roleLevel==154)||(users.roleLevel==155)">Delete Holiday</th>
                                </tr>
                                <tr ng-if="hol.loading"><td colspan="4" class="text-center"><i class="fa fa-spin fa-spinner fa-2x" ng-if="hol.loading"></i></td></tr>
                                <tr ng-repeat="holiday in holidays | filter:{Location:hol.country,HoliDayDate:hol.year}">
                                    <td>  {{holiday.HoliDayDate | date:" MMM d, y" }}   </td>
                                    <td>{{holiday.Description}}</td>
                                    <td>{{holiday.Location}}</td>
                                    <td ng-if="(users.roleLevel==154)||(users.roleLevel==155)">
                                        <i class="icon icon-wine-glass">
                                            <button class="btn btn-Danger btn-xs"
                                                    ng-click="removeHoliday(holiday,$index)">

                                                Remove
                                            </button>
                                        </i>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>

                @section scripts{
                    <!--<script src="~/umbraco/lib/angular/1.1.5/angular.min.js"></script>-->
                    <script src="https://code.angularjs.org/1.2.0/angular.min.js"></script>
                    <!--<script src="~/App_Plugins/angularControllers/holidayController.js"></script>-->

                    <script>
                        //var app = angular.module('plunker', []);
                        //app.controller('holidayListCtrl', function($scope, $http) {
                        function holidayListCtrl($scope, $http) {
                            var cDate = new Date();
                            var cYear = cDate.getFullYear();
                            $scope.hol = {};
                            $scope.hol.searching = false;
                            $scope.hol.loading = true;
                            $scope.hol.years = [ { "holyear": cYear + 1 }, { "holyear": cYear + 2 }];
                            
                            $scope.things = {};
                            $scope.things.hol = {};
                            $scope.things.hol.country = "Thailand";
                            $scope.hol.country = "";//
                            $scope.users = {};
                            //console.log(@branch);
                            $scope.hol.year = cYear;//new Date().getFullYear;
                            var preyear1 = cYear - 1;
                            $scope.hol.prevyear = ""+preyear1+"";
                            $scope.hol.curryear = ""+cYear+"";
                            $scope.holidays = [];
                            console.log("Does this get here");
                            $http.get('/Umbraco/Api/Member/GetLoggedInMemberDetails/').success(function (data) {

                                $scope.users = data;
                                $scope.hol.country = data.branch;

                            });
                            $http.get('/Umbraco/Api/Holiday/GetHolidays').success(function (data) {
                                $scope.holidays = data;
                                $scope.hol.loading = false;

                            });
                            /* $scope.holidays = [
                               {"date": "2016-07-07T00:00:00Z","holDescription": "Fast just got faster with Nexus S.", "location":"Thailand", "holName":"Macha Bucha" },
                               {"date": "2016-10-11T00:00:00Z", "holDescription": "The Next, Next Generation tablet.","location":"Malaysia", "holName":"Somestupid Holiday" },
                               {"date": "2016-07-01T00:00:00Z","holDescription": "The Next, Next Generation tablet.","location":"Thailand", "holName":"Waste of time" }
                             ];
                             */


                            $scope.removeHoliday = function (holiday, index) {

                                var data = {
                                    Id: holiday.Id,
                                    Location: holiday.Location,
                                    HoliDayDate: holiday.HoliDayDate,
                                    Description: holiday.Description
                                };
                                var config = {}
                                // if (holiday.Id) {
                                $http.post('/Umbraco/Api/Holiday/RemoveHoliday/', data, config)
                                   .success(function (data, status) {
                                       if (data != 2) {
                                           $scope.holidays.splice($scope.holidays.indexOf(holiday), 1);
                                           toastr.success("Holiday Removed Successfully");
                                       }
                                       else
                                       {
                                           toastr.error("Could not Delete Holiday, please refresh page");
                                       }
                                       // $scope.holidays.splice(index, 1);
                                   })
                                //   }
                                //else {
                                //    console.log(index);
                                //    $scope.holidays.splice($scope.holidays.indexOf(holiday), 1);
                                //    $scope.holidays.splice(index, 1);
                                //}

                            };
                            $scope.addHoliday = function (hol) {
                                $scope.hol.searching = true;
                              
                                var data = {
                                    Location: hol.country,
                                    HoliDayDate: hol.date,
                                    Description: hol.name
                                };
                                var config = {}
                                $http.post('/Umbraco/Api/Holiday/AddHoliday/', data, config)
                               .success(function (data, status) {
                                   // alert(data)
                                   toastr.success("Holiday Added Successfully");
                                   $scope.hol.searching = false;
                                   $scope.holidays.push({
                                       HoliDayDate: hol.date,//"2016-07-07T00:00:00Z",
                                       Description: hol.name, //"Fun new holiday",
                                       Location: hol.country//"Malaysia" // new Date(y, m, 29)
                                   });

                               })
                            }
                        }

                    </script>
                }
