﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var roleLevel = member.GetValue<int>("roleLevel");
}
@if (roleLevel == 152)
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
{
 <div ng-app="appTemplate">
     <div ng-controller="listController">

         <!-- Date Picker in Angular -->
         <!-- end angular Datepicker -->

         <div class="wrapper wrapper-content animated fadeInRight">
             <div class="row employees">
                 <div class="container col-lg-12">
                    
                         <h2>@Umbraco.Field("title") <small> @Umbraco.Field("reportDescription")</small></h2>

                     </div>
                 <div class="container">
                     <div class="row" style="padding:10px;">
                         <div class="col-sm-4">
                             <label>User Search</label>
                             <input type="text" ng-model="leave.user" placeholder="Search by user" class="form-control" />
                         </div>

                         <div class="col-sm-5 ">
                             <div class="row">
                                 <div class="col-sm-12">  <label>Select Date Range</label> </div>
                             </div>
                             <div class="row">
                                 <div class="col-md-6">
                                     <p class="input-group">
                                         <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                         <span class="input-group-btn">
                                             <button type="button" class="btn btn-default form-control" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                     </p>
                                 </div>
                                 <div class="col-md-6">
                                     <p class="input-group">
                                         <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" ng-required="true" close-text="Close" />
                                         <span class="input-group-btn">
                                             <button type="button" class="btn btn-default form-control" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                     </p>
                                 </div>
                             </div>
                         </div>

                         <div class="col-sm-3">
                             <label> New Date range</label><br />
                             <button ng-click="dRange(dt,dt2);" class="btn btn-success"><i class="fa fa-spinner fa-spin" ng-If="search.searching"></i> Show by range</button>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="table-responsive" id="exportable">
                                 <table class="table">
                                     <tr ng-repeat="lReports in leavelist" ng-if="$first">
                                         <th>Leave Types</th>
                                         <th ng-repeat="stuff in lReports.lCounts ">	{{ stuff.LeaveType}}</th>
                                     </tr>
                                     <tr ng-repeat="lReports in leavelist | filter:leave.user | orderBy: 'MemberName'">
                                         <td><a href="/reports/user-leave-report?id={{lReports.MemberId}}">{{ lReports.MemberName }}  <span ng-if="lReports.carryOverLeave>0" uib-tooltip="{{lReports.carryOverLeave}} days Carry Over">*</span></a></td>
                                         <td ng-repeat="stuff in lReports.lCounts">	{{ stuff.TotalDays}}</td>
                                     </tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="well well-danger" ng-show="fail==1">There are no results in the date range selected</div>
                     <div><button ng-click="exportData()" class="btn btn-success" ng-show="fail!=1">Export to Excell</button></div>
                 </div>
             </div>
         </div>
     </div>
     </div>
     }
         @section Scripts {

             <script src="/Scripts/angular.min.js"></script>

             <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
             <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
             @*<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>*@
<script src="/Scripts/plugins/FileSaver/FileSaver.js" type="text/javascript"></script>
             <script>
                 var appTemplate = angular.module('appTemplate', ['ui.bootstrap']);

                 appTemplate.controller('listController', function ($scope, $http, $sce) {
                     $scope.leaveList = [];
                     $scope.fail = 0;
                     $scope.search = {};
                     $scope.search.searching = true;

                     $http.get('/Umbraco/Api/LeaveReport/Get/').success(function (data) {
                         $scope.leavelist = data;
                         $scope.search.searching = false;
                        
                         var config = {}

                         $scope.dRange = function (dtStart, dtEnd) {
                             $scope.search.searching = true;
                             data = $scope.dtEnd;
                             var m = dtStart.getMonth();
                             var d = dtStart.getDate();
                             var y = dtStart.getFullYear();
                             m = m + 1;
                             var dStart = m + "/" + d + "/" + y;
                             var m = dtEnd.getMonth();
                             var d = dtEnd.getDate();
                             var y = dtEnd.getFullYear();
                             m = m + 1;
                             var dEnd = m + "/" + d + "/" + y;
                            
                             console.log(dEnd);
                             console.log(dStart);

                             data1 = { "StartDate": dStart, "EndDate": dEnd };

                             $http.post('/Umbraco/Api/LeaveReport/GetDRange/', data1, config)
                                         .success(function (dataResult, status) {
                                             $scope.search.searching = false;
                                           
                                             $scope.leavelist = dataResult;
                                             if (dataResult == null) {

                                                 $scope.fail = 1;
                                             }
                                             else {
                                                 $scope.fail = 0;
                                             }

                                         })

                             //alert(reportings.SDate);
                         };

                     });

                     $scope.exportData = function () {
                         var blob = new Blob([document.getElementById('exportable').innerHTML], {
                             type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                         });
                         saveAs(blob, "Report.xls");
                     };

                     $scope.today = function () {
                         var curDate = new Date();
                         var curYear = curDate.getFullYear();


                         $scope.dt = new Date(curYear, 0, 1);

                         $scope.dt2 = new Date(curYear, 11, 31);

                     };
                     $scope.today();

                     $scope.clear = function () {
                         $scope.dt = null;
                     };

                     $scope.inlineOptions = {
                         customClass: getDayClass,
                         minDate: new Date(),
                         showWeeks: true
                     };

                     $scope.dateOptions = {
                         dateDisabled: disabled,
                         formatYear: 'yy',
                         maxDate: new Date(2020, 5, 22),
                         minDate: new Date(),
                         startingDay: 1
                     };

                     // Disable weekend selection
                     function disabled(data) {
                         var date = data.date,
                           mode = data.mode;
                         return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
                     }

                     $scope.toggleMin = function () {
                         $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
                         $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
                     };

                     $scope.toggleMin();

                     $scope.open1 = function () {
                         $scope.popup1.opened = true;
                     };

                     $scope.open2 = function () {
                         $scope.popup2.opened = true;
                     };


                     $scope.setDate = function (year, month, day) {
                         $scope.dt = new Date(year, month, day);
                         //  $scope.dtEnd = new Date(year, month, day);
                     };

                     $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
                     $scope.format = $scope.formats[0];
                     $scope.altInputFormats = ['M!/d!/yyyy'];

                     $scope.popup1 = {
                         opened: false
                     };

                     $scope.popup2 = {
                         opened: false
                     };

                     var tomorrow = new Date();
                     tomorrow.setDate(tomorrow.getDate() + 1);
                     var afterTomorrow = new Date();
                     afterTomorrow.setDate(tomorrow.getDate() + 1);
                     $scope.events = [
                       {
                           date: tomorrow,
                           status: 'full'
                       },
                       {
                           date: afterTomorrow,
                           status: 'partially'
                       }
                     ];

                     function getDayClass(data) {
                         var date = data.date,
                           mode = data.mode;
                         if (mode === 'day') {
                             var dayToCheck = new Date(date).setHours(0, 0, 0, 0);

                             for (var i = 0; i < $scope.events.length; i++) {
                                 var currentDay = new Date($scope.events[i].date).setHours(0, 0, 0, 0);

                                 if (dayToCheck === currentDay) {
                                     return $scope.events[i].status;
                                 }
                             }
                         }

                         return '';
                     }

                 });


             </script>
         }
