﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var roleLevel = member.GetValue<int>("roleLevel");
}
@if (roleLevel == 152)
{<h3>You are not authorised to view this page</h3> }
else if (roleLevel == 153 || roleLevel == 154 || roleLevel == 155)
{
 <div class="row  ">
     <div class="col-lg-12 employees white-bg dashboard-header smallPadleft">
         <div class="col-lg-12 container">

             <h2>
                 @Umbraco.Field("title")
         </h2>
     </div>
 </div>
     </div>
	@Html.Partial("[mhub]LeaveManger")
}

