﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MhubTraining>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "mhubMasterPage.cshtml";
    var completedContent = MhubContentHelper.GetCompletedTraining();
    var completedAssessments = MhubContentHelper.GetCompletedAssessments();
    var resultAss = new AssessmentAnswerSet();
    var totalCourses = MhubContentHelper.GetTotalCourse;
    var completeTotal = 0;
    var learningPage = CurrentPage.Parent;
    foreach (var totTrain in totalCourses)
    {
        if (completedContent.Exists(x => x == totTrain.ToString()))
        {
            completeTotal = completeTotal + 1;

        }
    }
}

@*
<div class="row">
    <div class="col-md-4">@foreach (var content in totalCourses)
    {
        @content
        <br />
    }</div><div class="col-md-4">
        @foreach (var content in completedContent)
        {
            @content
            <br />
        }
    </div>
</div>
    *@
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading"><div class="row"><div class="col-sm-9">Training</div> <div class="col-sm-3"> @completeTotal of @totalCourses.Count() completed</div></div></div>
        <div class="panel-body">

            <div class="">
                @foreach (var module in learningPage.Children)
                {
                    <div class="">
                        @if (@module.Title == "Learning Progress")
                        {

                        }
                        else
                        {
                        <h3><a href="@module.Url">@module.Title</a></h3>
                        }
                        @if (module.Children.Count() > 0)
                        {
                            <ul class="list-group">
                                @foreach (var training in module.Children)
                                {
                                    var completed = completedContent.Exists(x => x == training.Id.ToString());
                                    //   var completed = completedContent.Contains(training.Id.ToString());

                                    <li class="list-group-item @((completed)?"list-group-item-success":"")">
                                        <div class="row">
                                            <div class="col-sm-10"><a href="@training.Url">@training.Name</a></div>
                                            <div class="col-sm-2">
                                                @if (completed)
                                                {
                                                    <i class="glyphicon glyphicon-check"></i>
                                                }
                                                else
                                                {
                                                    <i class="glyphicon glyphicon-unchecked"></i>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading"><div class="row"><div class="col-sm-8">Assessment</div><div class="col-sm-4"></div> Average Score - @MhubMemberHelper.LoggedInMember.GetValue("averageAssessmentScore")%</div></div>
        <div class="panel-body">
            <ul class="list-group">
                @foreach (var assessment in CurrentPage.AncestorOrSelf(1).Descendants("assessment"))
                {
                    var completedAss = completedAssessments.Exists(x => x.AssessmentId == @assessment.Id);

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9">
                                @assessment.Name
                            </div>
                            <div class="col-sm-3">
                                @if (completedAss)
                                {
                                    resultAss = completedAssessments.First(s => s.AssessmentId == @assessment.Id);
                                    <span class="text-right @(resultAss.Grade=="Fail"?"text-danger":"text-primary")" style="padding-left:25px;">
                                        @(resultAss.Grade) - @(resultAss.Score)%
                                    </span>
                                }

                            </div>
                        </div>

                    </li>

                }
            </ul>
        </div>
    </div>
</div>