﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "mhubHtmlWrapper.cshtml";
    var themeVal = CurrentPage.Site().GetProperty("useDarkTheme");
    bool themeVal2 = CurrentPage.Site().HasProperty("useDarkTheme");
    var theme3 = CurrentPage.Site().useDarkTheme;
    var themes = CurrentPage.Site().siteTheme;
}

<!-- Navigation -->
@Html.Partial("_Navigation")

<!-- Page wraper -->
<div id="page-wrapper">

    <!-- Top Navbar -->
    @Html.Partial("_TopNavbar", null)

    <!-- Breadcrumb -->
    @Html.Partial("_breadcrumbs")

    <!-- Main view  -->
    @RenderBody()

    <!-- Footer -->
    @*@Html.Partial("_Footer")*@

</div>
<!-- End page wrapper-->

@section styles{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    @if (themes == 324)
    {
        <link href="~/css/style.css" rel="stylesheet" />
    }
    else if (themes==325)
    {
    <link href="~/css/style2.css" rel="stylesheet" />
    }
    else if (themes==326)
    {
    <link href="~/css/style3.css" rel="stylesheet" />
    }
    else if (themes==327)
    {
    <link href="~/css/style4.css" rel="stylesheet" />
    }
    else if (themes==328)
    {
    <link href="~/css/style5.css" rel="stylesheet" />
    }
    else
    {
    <link href="~/css/style.css" rel="stylesheet" />
    }

    @RenderSection("styles", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}