﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc;
@{
    Layout = "mhubMasterPage.cshtml";
    if (!String.IsNullOrWhiteSpace(Request["logout"]))
    {
        FormsAuthentication.SignOut();
        Session.Clear();
        Response.Redirect("/");
    }

    //Html.RequiresJs("/umbraco_client/ui/jquery.js");
}
@section styles{
    <style>
        .nav-header {
            height:50px;
        }
    </style>
    }

<!--<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-3">
        <div id="login-page">
            <div class="full-screen text-center">
                <div class="display-form">
                  @if (Members.IsLoggedIn())
                   {
                     <p> Logged In Successfully</p>
                        @*
                      @Html.Partial("LoginStatus")
                      
                        @Html.Partial("EditProfile")   *@  
                         
                    }
                    else
                    {

                        @Html.Partial("login")
                   } 

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>

</div>
    -->
<div class="row">
    <div class="col-sm-8 hidden-sm">
        @{
            if (CurrentPage.Site().HasValue("loginImage"))
            {
                var dynamicMediaItem = Umbraco.Media(CurrentPage.Site().loginImage);
                <img src="@dynamicMediaItem.umbracoFile" class="img-responsive" />
                /*  <style>
                          .backImg{
                               background: url(@dynamicMediaItem.umbracoFile) no-repeat;
                          }
                  </style>

                  */
            }
            else
            {
                <img src="/images/people-bokeh2.jpg" class="img-responsive" />
            }
        }
    </div>
    @if (Members.IsLoggedIn())
    {
        <H2> Logged In Successfully</H2>
        <p>To view your profile go <a href="/administration/employee-overview/">click here </a></p>
        @*
    @Html.Partial("LoginStatus")


            @Html.Partial("EditProfile")
        *@

    }
    else
    {

    <div class="middle-box text-center loginscreen animated fadeInDown col-sm-4">

        <div>
            <h1 class="logo-name"> </h1>
        </div>
        <h3>@Umbraco.Field("title")</h3>
        

        <p>
          @Umbraco.Field("bodyContent")
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>


        <div class="form-group">

            @Html.Partial("login")
            <fieldset class="container">
                <div>
                    <div ng-app="pReset" ng-controller="passCtrl">
                        <div class="row" ng-init="pasRest=0">
                            <div class="form-group col-sm-3">
                                <a href="#" ng-click="passRest=1"><small>Forgot password?</small></a>
                            </div>

                        </div>
                        <div ng-show="passRest==1">
                            <div class="row ">

                                <div class="checkbox form-group col-sm-3"><input placeholder="UserName" ng-model="mem.Username" class="form-control" type="text" /></div>
                            </div>
                            <div class="row ">

                                <div class="checkbox form-group col-sm-3"><input placeholder="Email" ng-model="mem.Email" class="form-control" type="text" /></div>
                                {{mem.password}}
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-2">

                                    <button class="btn btn-success block m-b text-center" ng-click="resetPass(mem)">Reset Password</button>

                                </div>
                                <div class="form-group col-sm-1">

                                    <button class="btn btn-primary block m-b text-center" ng-click="passRest=0">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    }
</div>


@section scripts{
    <script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/Appraisal/js/angular.min.js"></script>
    <script>
        var pReset = angular.module('pReset', []);

        pReset.controller('passCtrl',
         function ($scope, $compile, $http) {

             $scope.mem = {};

             $scope.resetPass = function (mem) {
                 var config = {};
                 $http.post('/Umbraco/Api/Member/resetPass/', mem, config)
                      .success(function (data, status) {


                          switch(data){
                              case 0:
                                  toastr.error("Username not found");
                                  break;
                              case 1:
                                  toastr.success("Password reset, Check your email");
                                  break;
                              case 2:
                                  toastr.error("Email does not match username");
                                  break;
                          }
                      })
             }
         });
    </script>
}