﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">

        <div class="container col-lg-12"> <h2>@Umbraco.Field("title")</h2></div>
    </div>

    <div class="row">
        <div class="col-lg-11">
            <div class="ibox float-e-margins greyBox">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("bodyContent") </h3>
                </div>
                <div class="ibox-content">
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>

                    }
                    @if (TempData["tempvalSucc"]!=null)
                    {
                    <div class="alert alert-success">
                        @TempData["tempvalSucc"]
                    </div>
                    }
                    @Html.Partial("[mhub]TrainingForm", new UmbracoWithMvc.Entities.TrainingAppraisal())

                </div>

            </div>
        </div>
    </div>
    </div>
