﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "HomePage.cshtml";
}

@section About{
	<div class="row">
		<div class="col-lg-12">
		
<h2> @Umbraco.Field("articleTitle") </h2>
			<hr>
			<p>@Umbraco.Field("articleContent")</p>
			</div>
			</div>
			
}