﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
}

<div class="card ">
    <div class="card-header">
        <h2> @Umbraco.Field("Title") </h2>
        <hr>
    </div>
    <div class="card-body card-padding">
        <div style="padding:15px;">
            @Umbraco.Field("articleContent")
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">


        <hr>
    </div>
</div>

