﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*<ContentModels.MhubBasicPage>*@
@*@using ContentModels = Umbraco.Web.PublishedContentModels;*@
@{
    Layout = "mhubMasterPage.cshtml";
}
<style>
    .smallPadleft {
        padding-left: 2px;
    }

    .gridContainer {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
    }
</style>

@if (!String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString()))
{
    <div class="row ">
        <div class="col-lg-12 knowledge  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">

                <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 container">
                    @Umbraco.Field("bodyContent")
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row ">
        <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">
                <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                @CurrentPage.GetGridHtml(Html, "bodyGrid")
            </div>
        </div>


    </div>

}
