﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var tempval = TempData["Ddif"];
    var YearlyLeave = LeaveHelpers.AvailableLeaveDec;
    decimal LeaveUsed = LeaveHelpers.LeaveUsed;
    decimal addCarryOver = LeaveHelpers.CarryOverLeaveToAdd(member);
    YearlyLeave = YearlyLeave + addCarryOver;
    decimal LeaveRemaining = YearlyLeave - LeaveUsed;


    var leaveResult = LeaveManager.PendingLeave;
    var tbClass = "success";
    var statusMsg = "Pending";
    var totDays = 0;
    decimal leavepercent = 100;
    if (YearlyLeave != 0)
    { leavepercent = (LeaveUsed) / (YearlyLeave) * 100; }

    var badgeClass = "";
    var currentDate = DateTime.UtcNow;
    var LeaveId = Umbraco.TypedContentAtRoot().First();
    //var leaveDic = LeaveId.GetPropertyValue("eszhzab7l0lgo9m4l56zuxr").ToString();
    //var leavetypes = MhubJsonHelper<eLearningModel>.ConvertJson(leaveDic);
    var leavetypes = LeaveHelpers.GetLeaveTypes;
    var checkd1 = "";
    var checkd2 = "";
    


}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/css/animate.css" rel="stylesheet">
<link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
@section scripts{

    <script src="/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Scripts/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Data picker -->
    <script src="/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Custom and plugin javascript -->

    <script src="/Scripts/plugins/pace/pace.min.js"></script>
    <script src="/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                orientation:"top",
                keyboardNavigation: false,
               forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "MM dd, yyyy"
            });

            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "MM dd, yyyy"
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });







        });


        $('.cancel').click(function () {
            if (confirm('Are you sure you want to cancel your leave request?')) {
                // Save it!
                var lStart=$(this).attr('lStart');
                var lEnd=$(this).attr('lEnd');
                var lRequest = {leaveStart:lStart,leaveEnd:lEnd, memberId:@member.Id};
                console.log(lRequest);
                $.ajax({
                    url: '/Umbraco/Api/LeaveManager/CancelLeave/',
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        //alert( data );
                        toastr.success("Leave Successfully Canceled");
                       // $(classUp).html('<span class="badge badge-danger">Rejected</span>');
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        toastr.warning("There was an error, please contact support");
                    },
                    data: lRequest
                });
            } else {
                return false;
                // Do nothing!
            }

        });
    </script>

    <style>
        .leftRow {
        height:323px;
        }
        .greyBox {
            border: 1px solid #dededd;
        }
        @@media(max-width:1100px) {
              .leftRow {
        height:auto;
        }
        }
    </style>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row employees">

        <div class="container col-lg-12"> <h2>@Umbraco.Field("title")</h2>
        

        </div>
          </div>
    <div class="row">
        <div class="col-lg-8 ">
            <div class="ibox float-e-margins greyBox rightRow">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("leaveRequ") <small>complete form below</small></h3>
                </div>




                <div class="ibox-content">
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Message
                        </div>

                    }
                    @if (TempData["tempval"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["tempval"]
                        </div>

                    }
                    @if (TempData["tempvalErr"] != null)
                    {
                        <div class="alert alert-warning">
                            @TempData["tempvalErr"]
                        </div>

                    }

                    @Html.Partial("NewLeaveForm", new LeaveRequestStart())
                </div>
            </div>
        </div>

        <div class="col-lg-4 ">
            <div class="ibox float-e-margins greyBox leftRow">
                <div class="ibox-title">
                    <h4>@Umbraco.Field("entitlement")</h4>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p></p>
                        <div class="form-group">
                            <div class="col-lg-4">Leave Days</div>

                            <div class="col-lg-6">
                                <p>@YearlyLeave days</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">Days Used</div>

                            <div class="col-lg-6">
                                <p>@LeaveUsed days</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">Remaining</div>

                            <div class="col-lg-6"><p> @LeaveRemaining days</p></div>

                        </div>
                        <div>
                            <span>Total</span>
                            <small class="pull-right">@LeaveUsed /@YearlyLeave  Used</small>
                        </div>
                        <div class="progress progress-small tooltip-demo">
                            <div style="width: @leavepercent%;" class="progress-bar progress-bar-danger" title="@LeaveRemaining days Remaining" data-toggle="tooltip" data-placement="top"> </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-lg-12">
            <div class="ibox float-e-margins greyBox">
                <div class="ibox-title">
                    <h3>@Umbraco.Field("currentRequests") <small>status</small> </h3>
                    <div class="ibox-tools">




                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Leave Start Date</th>
                                    <th> Half Day Start</th>
                                    <th>Leave End Date</th>
                                    <th>Half Day End</th>
                                    <th>Leave Type</th>
                                    <th>Total Days Used</th>
                                    <th>Status</th>
                                    <th>Cancel Leave Request</th>

                                </tr>
                            </thead>
                            <tbody>

                                @{ foreach (var reqs in leaveResult)
                                    {
                                        switch (@reqs.ApprovedLeave)
                                        {
                                            case 0:
                                                tbClass = "warning c-white";
                                                badgeClass = "badge-warning";
                                                statusMsg = "Pending";
                                                break;
                                            case 1:

                                                tbClass = "success";
                                                statusMsg = "Approved";
                                                badgeClass = "badge-success";
                                                break;
                                            case 2:

                                                tbClass = "success";
                                                statusMsg = "Rejected";
                                                badgeClass = "badge-danger";
                                                break;
                                        }

                                        switch (@reqs.LeaveType)
                                        {
                                            case "Holiday":
                                                totDays = reqs.ApprovedBy;
                                                break;
                                            case "Duvet":
                                                totDays = reqs.ApprovedBy;
                                                break;
                                            default:
                                                totDays = 0;
                                                break;
                                        }

                                        switch (@reqs.LeaveCounted)
                                        {
                                            case 0:
                                                checkd1 = "unchecked";
                                                checkd2 = "unchecked";
                                                break;
                                            case 1:
                                                checkd1 = "checked";
                                                checkd2 = "unchecked";
                                                break;
                                            case 2:
                                                checkd1 = "checked";
                                                checkd2 = "checked";
                                                break;
                                            default:
                                                checkd1 = "unchecked";
                                                checkd2 = "unchecked";
                                                break;
                                        }

                                        <tr class="tbClass">
                                            <td>@reqs.LeaveStart.ToString("MMMM dd, yyyy")</td>
                                            <td><input type="checkbox" @checkd1 class="i-checks" name="input[]" disabled></td>
                                            <td>@reqs.LeaveEnd.ToString("MMMM dd, yyyy")</td>
                                            <td><input type="checkbox" @checkd2 class="i-checks" name="input[]" disabled></td>
                                            <td>@reqs.LeaveType</td>
                                            <td>@(reqs.ApprovedBy- reqs.LeaveCounted*0.5) </td>
                                            <td><span class="badge @badgeClass">@statusMsg </span></td>
                                            @if (currentDate <= reqs.LeaveStart)
                                            {
                                            <td><button type="button" class="btn btn-xs btn-danger cancel" lStart="@reqs.LeaveStart" lEnd="@reqs.LeaveEnd">Cancel Leave</button></td>
                                            }
                                        </tr>


                                    }
                                }




                            </tbody>
                        </table>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

