﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Monroe Hub</title>

        <!-- Vendor CSS -->
        <link href="http://byrushan.com/projects/ma/1-5-2/jquery/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="http://byrushan.com/projects/ma/1-5-2/jquery/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="http://byrushan.com/projects/ma/1-5-2/jquery/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="http://byrushan.com/projects/ma/1-5-2/jquery/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
            
        <!-- CSS -->
        <link href="/css/app.min.1.css" rel="stylesheet">
         <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="http://byrushan.com/projects/ma/1-5-2/jquery/css/app.min.2.css" rel="stylesheet">
       
    </head>
    <body>
  
       
                         @RenderBody()    
						
                  

        
    </body>
  </html>



             