﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "mhubMasterPage.cshtml";
    var newsItems = CurrentPage.AncestorOrSelf(1).Descendants("mhubArticlePost").Take(3);
    var courses = MhubContentHelper.GetNextTraining();
    var totalKnowledge = MhubContentHelper.GetTotalKnowledge;
    var totalAssessment = MhubContentHelper.GetTotalAssessment;
  
    //  var member = MhubMemberHelper.LoggedInMember;

    var i = 1;
    int appPend = AppraisalHelpers.PendingAppraisals;
    int trainingPend = TrainingHelper.pendingTraining();
    int leavePend = LeaveHelpers.PendingLeave;
    string leaveUrl = "/employees/leave-request/";
    string appUrl = "/employees/employee-appraisal/";
    string trainingUrl = "/employees/training-request/";
    var p = 0;
    var member = ApplicationContext.Current.Services.MemberService.GetByUsername(MhubMemberHelper.CurrentLoggedInMemberName);
    int roleLevel = member.GetValue<int>("roleLevel");
    if (roleLevel!= 152)
    {
        appPend = AppraisalHelpers.PendingAppraisalsManages;
        trainingPend = TrainingHelper.pendingTrainingManages();
        leavePend = LeaveHelpers.PendingLeaveManages;
        leaveUrl = "/employees/leave-manager/";
        appUrl = "/employees/manage-all-appraisals/";
    }

    Html.RequiresJs("~/Scripts/jquery.knob.min.js");
}
@section scripts{
    <link href="~/css/boxes.css" rel="stylesheet">
    <script>
        $(function () {
            $("#assesmentsCompleted").val(@MhubMemberHelper.AssessmentsCompleted).knob({
                'min': 0,
                'max': @totalAssessment.Count(),
            //'thickness': '3px',
                'fgColor': '#C0274C',
                'inputColor': '#333333',
                'height': '65px',

                'readOnly': true
        });

        $("#inProgress").val(@MhubMemberHelper.TrainingModulesCompleted).knob({
            'min': 0,
            'max': 100,
            // 'thickness': '3px',
            'fgColor': '#59853C',
            'inputColor': '#333333',
            'width': '100px',
            'height': '60px',
            'readOnly': true
        });

        $("#score").val(@MhubMemberHelper.AverageAssessmentScore).knob({
            'min': 0,
            'max': 120,
            //'thickness': '3px',
            'fgColor': '#804099',
            'inputColor': '#333333',
            'height': '65px',
            'readOnly': true
        });

        $("#knowledge").val(@(MhubContentHelper.GetCompletedKnowledge().Count)-1).knob({
            'min': 0,
            'max': @totalKnowledge.Count(),
            //'thickness': '3px',
            'height': '60px',
            'fgColor': '#f6ad3d',
            'inputColor': '#333333',
            'readOnly': true
        });

        // make the news items all the same height
        var h = 0;
        $("#middleRow .greyBox").each(function (index) {
            if ($(this).height() > h) {
                h = $(this).height();
            }
        }).each(function (index) {
            //$(this).height(h);
        });

        var p = 0;
        $("#trainingRow .greyBox").each(function (index) {
            if ($(this).height() > p) {
                p = $(this).height();
            }
        }).each(function (index) {
            //$(this).height(h);
        });
        });

    </script>
    <style>
        .greyBox {
            border: 1px solid #dededd;
        }
         .greyBoxBord {
            border: 1px solid #dededd;
        }

        .greyTop {
            border-top: solid;
            border-top-color: #f6f3f6;
            border-top-width: 2px;
        }

        .whiteIcons {
            /* background-color: #23c6c8; */
            color: #ffffff;
            padding: 15px 0px 10px 0;
        }

        .cara {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        .nocara {
            background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
            background: rgba(54, 25, 25, .5);
        }

        .cara:hover {
            opacity: 1.0;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }

        #linkRow div a {
            font-size: 24px;
            color: #fff;
        }

        #newsPanel .col-md-4 > div {
            background-color: #f9f8f8;
            padding: 7px;
        }

        .panelHead {
            font-size: 10px;
        }

        @@media(min-width:992px) {
            .newsDetails {
                height: 130px;
                overflow: hidden;
            }

            #middleRow .greyBox {
                height: 345px;
            }

            #trainingRow .greyBox {
                height: 238px;
               margin-bottom:0px;
            }
               #trainingRow .noBox {
               height: 238px;
               margin-bottom:0px;
            }

            .iconSwing:hover {
                -webkit-animation: swing 1s;
                animation: swing 1s;
            }

            .icon:hover {
                -webkit-animation: pulse 1s;
                animation: pulse 1s;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" id="dashboard">
  
    <div class="row">

        <div class="col-sm-6 hidden-sm hidden-xs animated flipInX" id="welcomePanel">
            <div class="ibox float-e-margins text-center">
                @if (Model.Content.HasValue("SliderImageFolder"))
                {
                    <div class="carousel slide" id="carousel2" > 
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-target="#carousel2" class="active"></li>
                            <li data-slide-to="1" data-target="#carousel2"></li>
                            <li data-slide-to="2" data-target="#carousel2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var slider in Umbraco.Media(CurrentPage.SliderImageFolder).Children)
                            {
                                if (@p == 0)
                                {
                                    <div class="item active">
                                       <!-- <img alt="image" class="img-responsive" src="/images/BangkokSky3.jpg">
                                        <div class="carousel-caption">
                                            <button class="btn link_1"><h3>View Training Material</h3></button>

                                        </div>
                                        -->
                                        <img alt="@slider.Name" class="img-responsive" src="@slider.Url">
                                        <div class="carousel-caption">
                                            @if (@slider.HasProperty("textContent"))
                                            {
                                              <h3>@slider.GetProperty("textContent")</h3> 
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                <div class="item">
                                    <img alt="@slider.Name" class="img-responsive" src="@slider.Url">
                                    <div class="carousel-caption">
                                        @if (@slider.HasProperty("textContent"))
                                        {
                                           <h3>@slider.GetProperty("textContent")</h3>
                                        }
                                    </div>
                                </div>
                                }
                                { p = p + 1; }
                            }
                           
                               
                        </div>
                        <a data-slide="prev" href="#carousel2" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel2" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                <!--<h2>Welcome to @CurrentPage.Name Hub</h2> -->
                    }
                </div>
          @*  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  

@foreach (var slider in Umbraco.Media(CurrentPage.SliderImageFolder).Children)
{
    if (@p == 0)
    {

        <div class="item active">
            <img src="..." alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    }
    else
    {


                    <div class="item">
                        <img src="..." alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
    }
    { p = p + 1; }
}
                </div>


                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            </div>
              *@

            <!-- news -->
            <div class="col-sm-6 animated flipInX" id="newsPanel">
                <div class="ibox float-e-margins greyBox greyTop">
                    <h3 class="text-center">Latest News</h3>
                    <div class="row">
                      @*  @foreach (var item in newsItems)
    {
        <div class="col-md-4">
            <div>
                <div class="newsDetails">
                    <small> <i class="fa fa-calendar-o"></i>   @item.CreateDate.ToString("d MMMM yyyy") <br /></small>

                    <strong><a href="@item.url">@item.name</a></strong>

                    <br />
                    @Html.Raw(item.articleSummary)
                </div>
                <span class="text-success"><a href="@item.url">Read More</a></span>
                <div class="clearfix"></div>
            </div>
        </div>
    }
                    *@
                        @Html.Partial("homePageFeed", new ViewDataDictionary { { "RSStitle", "Home" }, { "RSSURL", @Umbraco.Field("newsRssFeed") } })
                    </div>
                    <div class="row" style="padding-top:7px;">
                        <div class="text-right col-md-12"><span class="btn link_2 success btn-sm"><a href="/company/company-news/"> All News</a></span></div>
                    </div>
                </div>
            </div>
        </div>


            <div class="row " id="trainingRow">
                <!--<div class="col-lg-6 noBox">
                    <div class="row "> -->

                        <!-- training -->
                        <div class="col-lg-3  col-md-6 animated slideInRight">
                            <div class="ibox greyBox">
                                <div class="ibox-title border-bottom">

                                  <!-- <div class="col-lg-6 col-md-6  animated slideInLeft">
                                        <div class="ibox ">
                                            <div class="ibox-title border-bottom" style="border-top:0px;"> -->
                                                <h5>Next Training</h5>
                                            </div>
                                            <div class="row">
                                                @foreach (var cr in courses)
                                                {
                                                    <a href="@cr.key">
                                                        <div class="mini-charts-item link_@i">
                                                            <div class="count text-right">
                                                                <h2 class="panelHead"> @cr.value</h2>

                                                            </div>
                                                        </div>
                                                    </a>
                                                    i = i + 1;
                                                }





                                            </div>
                                        </div>
                                    </div>

                                    <!-- Assessments -->
                                    <div class="col-lg-3  col-md-6  animated slideInRight">
                                        <div class="ibox float-e-margins greyBox">
                                            <div class="ibox-title">
                                                <h5>Assessment</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <!-- <div class="row text-center">
                                     <input type="text" value="75" id="assesmentsCompleted">
                                     <h4>Assessments Completed</h4>
                                 </div>
                                    -->
                                            </div>
                                            <div class="row text-center">
                                                <div class="col-xs-6">
                                                    <!--   <input type="text" value="75" id="inProgress">
                                       <h4>In Progress</h4>
                                        -->
                                                    <input type="text" value="75" id="assesmentsCompleted">
                                                    <h4>Completed</h4>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input type="text" value="75" id="score">
                                                    <h4>Average Score</h4>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                         <!--       </div>
                            </div> -->

                            <!-- Admin box -->
                            <div class="col-lg-3  col-md-6 animated slideInRight">
                                <div class="ibox greyBox">
                                    <div class="ibox-title border-bottom">
                                        <h5 class="text-center">Admin</h5>
                                    </div>
                                    <div class="col-lg-12 col-xs-4">

                                        <div class="row">
                                            <div class="col-lg-3 text_4"><h2><i class="fa fa-check-circle"></i></h2></div>
                                            <div class="col-lg-6"><h4><a href="@leaveUrl">Leave To Approve</a></h4></div>
                                            <div class="col-lg-3 text_4">
                                                <h2>@leavePend</h2>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-xs-4" style="background-color:white;">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-3 text_2"><h2><i class="fa fa-list-alt" style="color:rebeccapurple;"></i></h2></div>
                                                <div class="col-lg-6"><h4><a href="@appUrl">Appraisals Pending</a></h4></div>
                                                <div class="col-lg-3 text_2">
                                                    <h2>@appPend</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-xs-4" style="background-color:#ffe6fd;">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-3 text_3"><h2><i class="fa fa-laptop" style="color:darkgreen;"></i></h2></div>
                                                <div class="col-lg-6"><h4><a href="@trainingUrl">Training Request</a> </h4></div>
                                                <div class="col-lg-3 text_3">
                                                    <h2>@trainingPend</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <!-- Knowledge box -->
                            <div class="col-lg-3 col-md-6 animated slideInRight">
                                <div class="greyBox">
                                    <div class="ibox-title">
                                        <h5>Knowledge</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row text-center">
                                            <input type="text" value="75" id="knowledge">
                                            <h4> You have completed <strong>@((MhubContentHelper.GetCompletedKnowledge().Count)-1) </strong>out of <strong>@totalKnowledge.Count()</strong> articles </h4>

                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="row">&nbsp;</div>
                        <!-- links -->
                        <div class="row" id="linkRow">
                            <div class="col-lg-3  col-md-6 animated slideInLeft">
                                <div class="link_1 whiteIcons">
                                    <div class="row">

                                        <div class="col-xs-2  text-center">
                                            <i class="fa fa-laptop fa-2x iconSwing"></i>
                                        </div>  <div class="col-xs-10  text-center">

                                            <a href="#">Mhub Tutorial</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3  col-md-6  animated slideInLeft">
                                <div class="link_2 whiteIcons">
                                    <div class="row">

                                        <div class="col-xs-2  text-center">
                                            <i class="fa fa-line-chart fa-2x"></i>
                                        </div>  <div class="col-xs-10  text-center">
                                            <a href="/employees/employee-appraisal/">Appraisals</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3  col-md-6 animated slideInDown">
                                <div class="link_3 whiteIcons ">
                                    <div class="row">

                                        <div class="col-xs-2  text-center">
                                            <i class="fa fa-calendar-o fa-2x"></i>
                                        </div>  <div class="col-xs-10  text-center">
                                            <a href="/employees/training-request/">Request Training</a>
                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-3  col-md-6  animated slideInRight">
                                <div class="link_4 whiteIcons ">
                                    <div class="row">

                                        <div class="col-xs-12 text-center">
                                            <!--  <h4>Request Leave</h4> -->
                                            <div class="col-xs-2  text-center">
                                                <i class="fa fa-clock-o fa-2x"></i>
                                            </div>  <div class="col-xs-10  text-center">
                                                <a href="/employees/leave-request/">Request Leave</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> <div class="col-12">&nbsp;</div></div>

                            <!-- links -->
                            <!--
            <div class="row" id="linkRow">
                <div class="col-lg-3  col-md-6">
                    <div class="link_1 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">

                                <a href="#">Mhub Tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_2 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="#">Appraisals</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_3 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa  fa-calendar-o fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="#">Request Training</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_4 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa fa-clock-o fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="">Request Leave</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                -->

                        </div>
                    </div>