﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "mhubMasterPage.cshtml";

    var i = 1;
    var j = 0;
    var nextTraining = MhubContentHelper.GetNextTraining();
    int appPend = AppraisalHelpers.PendingAppraisals;
    int trainingPend = TrainingHelper.pendingTraining();
    int leavePend = LeaveHelpers.PendingLeave;
    var knobColours = ThemeHelpers.knobColours("theme1");
    var knowCompleted = MhubContentHelper.GetCompletedKnowledge().Where(x => x != "").Count();//.Count();
    string leaveUrl = "/administration/leave-request/";
    string appUrl = "/administration/employee-appraisal/";
    string trainingUrl = "/administration/employee-overview/";
    string trainingMan = "Pending Training Requests";
    string leaveTitleBox = "Pending Leave";
    var cPage = CurrentPage.Site();
    var PollOptions = cPage.pollForm;

    var pollName = cPage.pollName;
    var pollDescription = cPage.pollDescription;
    var p = 0;
    var bkLatestNews = Umbraco.TypedContent(3802);
    var alertMsg = Umbraco.Field("systemAlert");
    var member = MhubMemberHelper.LoggedInMember;
    var memberMessage = member.GetValue<string>("leaveMessage");
    var pagename = CurrentPage.Name;
    int roleLevel = member.GetValue<int>("roleLevel");
    if (roleLevel != 152)
    {
        appPend = AppraisalHelpers.PendingAppraisalsManages;
        trainingPend = TrainingHelper.pendingTrainingManages();
        leavePend = LeaveHelpers.PendingLeaveManages;
        leaveUrl = "/administration/leave-manager/";
        appUrl = "/administration/manage-all-appraisals/";
        trainingMan = "Training to Approve";
        leaveTitleBox = "Leave to Approve";
    }

    var ShowPoll = MhubContentHelper.ShowPoll(cPage.hide, member.Id, pollName);
    int memberReset = 0;
    var themes = CurrentPage.Site().siteTheme;
    if (member.HasProperty("passwordChecker"))

    {
        member = MhubMemberHelper.UpdateMemberCache(member);
        memberReset = member.GetValue<int>("passwordChecker");
        if (memberReset == 1)
        {
            // var upmember = MhubMemberHelper.UpdateMemberCache(member);
            // memberReset = upmember.GetValue<int>("passwordChecker");
            //if (memberReset == 1)
            //{
            Response.Redirect("~/Administration/employee-overview/");
            //}
        }
    }
    var choice = member.GetValue<string>("startingTime");
    Html.RequiresJs("~/Scripts/jquery.knob.min.js");
}


@section styles{
    <link href="http://webapplayers.com/inspinia_rtl_v2.6.2/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    }

@section scripts{
    <style>
        .mini-charts-item h1 {
            font-size: 18px;
            padding: 1px;
            margin: 1px;
        }
        .topBotPadding {
            padding-top:30px;
            padding-bottom:20px;
        }
    </style>


    <link href="~/css/boxes.css" rel="stylesheet">
     <!-- iCheck -->
<script src="http://webapplayers.com/inspinia_rtl_v2.6.2/js/plugins/iCheck/icheck.min.js"></script>
<script>
            $(document).ready(function () {
                //$('.i-checks').iCheck({
                //    checkboxClass: 'icheckbox_square-green',
                //    radioClass: 'iradio_square-green',
                //});

                $( "#pollSubmit" ).click(function() {
                    var optName= $( "input[type=radio][name=pollOption]:checked" ).val();
                    $("#pollSubmiti").addClass("fa-spin fa-spinner")
                    $("#pollSubmit").prop('disabled', true);
                    $.get("/Umbraco/Api/Assessment/RecordPoll?pollNumber="+optName+"&pollName=@pollName", function (data) {

                        console.log(data);
                        toastr.success("Poll answer recorded successfully");

                        $("#pollSubmiti").removeClass("fa-spin fa-spinner")
                        $( "#poll" ).fadeOut( "slow", function() {
                            // Animation complete.
                        });
                    });
                });

                $( "#timeSubmit" ).click(function() {
                    var optName= $( "input[type=radio][name=startOption]:checked" ).val();
                    $("#timeSubmiti").addClass("fa-spin fa-spinner")
                    $("#timeSubmit").prop('disabled', true);
                  $.get("/Umbraco/Api/Assessment/timeChoice?timeSel="+optName, function (data) {
                        console.log(data);
                        toastr.success("Starting time recorded successfully");

                        $("#timeSubmiti").removeClass("fa-spin fa-spinner")
                        $( "#time" ).fadeOut( "slow", function() {
                            // Animation complete.
                        });
                    });
                });

            });
</script>

    <script>
        $(function () {
            var testCol= @themes;
           // alert(testCol);
            switch(testCol) {
                case 324:
                    var assAverage = '#804099';
                    var assCompleted = '#C0274C';
                    var Knowledge = '#f6ad3d';
                    break;
                case 325:
                    var assAverage = '#468966';
                    var assCompleted = '#B64926';
                    var Knowledge = '#E74C3C';
                    break;
                case 326:
                    var assAverage = '#4895c2';
                    var assCompleted = '#464899';
                    var Knowledge = '#3f9e96';
                    break;
                case 327:
                    var assAverage = '#8f797a';
                    var assCompleted = '#666e64';
                    var Knowledge = '#4d493f';
                    break;
                case 328:
                    var assAverage = '#4b5a69';
                    var assCompleted = '#58718a';
                    var Knowledge = '#176485';
                    break;
                default:
                    var assAverage = '#804099';
                    var assCompleted = '#C0274C';
                    var Knowledge = '#8a816b';
            }
            $("#assesmentsCompleted").val(@MhubMemberHelper.AssessmentsCompleted).knob({
                'min': 0,
                'max': @MhubContentHelper.GetTotalAssessment.Count(),
                //'thickness': '3px',
               //   'fgColor': '#C0274C',
                'fgColor': assCompleted ,
                'inputColor': '#333333',
                'height': '65px',
                'readOnly': true
            });

            $("#inProgress").val(@MhubMemberHelper.TrainingModulesCompleted).knob({
                'min': 0,
                'max': 100,
                // 'thickness': '3px',
                'fgColor': '#59853C',
               'inputColor': '#333333',
                'width': '100px',
                'height': '60px',
                'readOnly': true
            });

            $("#score").val(@MhubMemberHelper.AverageAssessmentScore).knob({
                'min': 0,
                'max': 100,
                //'thickness': '3px',
               // 'fgColor': '#804099',
                'fgColor':  assAverage,
                'inputColor': '#333333',
                'height': '65px',
                'readOnly': true
            });

            $("#knowledge").val(@knowCompleted).knob({
                'min': 0,
                'max': @MhubContentHelper.GetTotalKnowledge.Count(),
                //'thickness': '3px',
                'height': '65px',
               // 'fgColor': '#f6ad3d',
                'fgColor': Knowledge,
                'inputColor': '#333333',
                'readOnly': true
            });

            // make the news items all the same height
            var h = 0;
            $("#middleRow .greyBox").each(function (index) {
                if ($(this).height() > h) {
                    h = $(this).height();
                }
            }).each(function (index) {
                //$(this).height(h);
            });

            var p = 0;
            $("#trainingRow .greyBox").each(function (index) {
                if ($(this).height() > p) {
                    p = $(this).height();
                }
            }).each(function (index) {
                //$(this).height(h);
            });

            $("div.newsDetails").find("a").attr('target','_blank');
            $("span.text-success").find("a").attr('target','_blank');
        });

    </script>
    <style>
        .greyBox {
            border: 1px solid #dededd;
        }

        .greyBoxBord {
            border: 1px solid #dededd;
        }

        .greyTop {
            border-top: solid;
            border-top-color: #f6f3f6;
            border-top-width: 2px;
        }

        .whiteIcons {
            /* background-color: #23c6c8; */
            color: #ffffff;
            padding: 15px 0px 10px 0;
        }

        .cara {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        .nocara {
            background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
            background: rgba(54, 25, 25, .5);
        }

        .cara:hover {
            opacity: 1.0;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }

        #linkRow div a {
            font-size: 18px;
            color: #fff;
        }

        #newsPanel .col-md-4 > div {
            background-color: #f9f8f8;
            padding: 7px;
        }

        .panelHead {
            font-size: 12px;
        }

        .AdminSection {
            padding-top: 20px;
        }


        @@media(min-width:992px) {
            .newsDetails {
                height: 130px;
                overflow: hidden;
            }

            #middleRow .greyBox {
                height: 345px;
            }

            #trainingRow .greyBox {
                height: 238px;
                margin-bottom: 0px;
            }

            #trainingRow .noBox {
                height: 238px;
                margin-bottom: 0px;
            }

            .iconSwing:hover {
                -webkit-animation: swing 1s;
                animation: swing 1s;
            }

            .icon:hover {
                -webkit-animation: pulse 1s;
                animation: pulse 1s;
            }
        }

        @@media(min-width:1192px) {
            #newsPanel {
                height: 250px;
            }
        }
    </style>
    <script>
        $('.carousel').carousel({
            interval: 10000
        })
    </script>
}

<div class="wrapper wrapper-content" id="dashboard">

    <div class="row">

        <div class="col-sm-6 hidden-md hidden-sm hidden-xs animated flipInX" id="welcomePanel">
            <div class="ibox float-e-margins text-center">

                @if (Model.Content.HasValue("SliderImageFolder"))
                {
                    <div class="carousel slide" id="carousel2" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-target="#carousel2" class="active"></li>
                            <li data-slide-to="1" data-target="#carousel2"></li>
                            <li data-slide-to="2" data-target="#carousel2" class=""></li>
                        </ol>
                        <div class="carousel-inner" style="max-height:250px;">
                            @foreach (var slider in Umbraco.Media(CurrentPage.SliderImageFolder).Children)
                            {
                                if (@p == 0)
                                {
                                    <div class="item active">
                                        <img alt="@slider.Name" class="img-responsive" src="@slider.Url">
                                        <div class="carousel-caption">
                                            @if (@slider.HasProperty("textContent"))
                                            {
                                                <h3>@slider.GetProperty("textContent")</h3>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img alt="@slider.Name" class="img-responsive" src="@slider.Url">
                                        <div class="carousel-caption">
                                            @if (@slider.HasProperty("textContent"))
                                            {
                                                <h3>@slider.GetProperty("textContent")</h3>
                                            }
                                        </div>
                                    </div>
                                }
                                { p = p + 1; }
                            }


                        </div>
                        <a data-slide="prev" href="#carousel2" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel2" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                }
            </div>
        </div>



        <!-- news -->
        <div class="col-lg-6 col-md-12 animated flipInX" id="newsPanel">
            <div class="ibox float-e-margins greyBox greyTop">
                <h3 class="text-center">Latest News</h3>
                <div class="row">
                    @*@foreach (var item in CurrentPage.AncestorOrSelf(1).Descendants("mhubArticlePost").Take(3))*@
                    @foreach (var item in bkLatestNews.Children.Reverse().Take(3))
                    {
                        <div class="col-sm-4">
                            <div>
                                <div class="newsDetails">
                                    <small> <i class="fa fa-calendar-o"></i>   @item.CreateDate.ToString("d MMMM yyyy") <br /></small>

                                    <strong><a href="@item.Url">@item.Name</a></strong>

                                    <br />
                                    @Html.Raw(item.GetProperty("articleSummary").Value)
                                </div>
                                <span class="text-success"><a href="@item.Url">Read More</a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                    @*@Html.Partial("homePageFeed", new ViewDataDictionary { { "RSStitle", "Home" }, { "RSSURL", @Umbraco.Field("newsRssFeed") }, { "SiteName", @pagename } })*@
                </div>
                <div class="row" style="padding-top:7px;">
                    <div class="text-right col-md-12"><span class="btn link_2 success btn-sm"><a href="/company/monroe-news/"> All News</a></span></div>
                </div>
            </div>
        </div>
    </div>

    @if (!String.IsNullOrWhiteSpace(alertMsg.ToString()))
    {
        <div class="row"><div class="alert alert-warning"><strong>Notification: </strong>@alertMsg</div></div>
    }
    @if (!String.IsNullOrWhiteSpace(memberMessage))
    {
        <div class="row"><div class="alert alert-warning"><strong>Notification: </strong>@memberMessage</div></div>
    }
    <!--Poll start-->
   
    <div class="row " >
        <!-- poll-->
@if (!ShowPoll)
{
        <div class="col-lg-12  col-md-12 animated slideInRight" id="poll">
            <div class="ibox greyBox">
                <div class="ibox-title border-bottom">


                    <h5>@pollName - @pollDescription</h5>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="form-group">
                            

                            <div class="col-sm-10">

                                @*<form>*@
                                    @foreach (var lt in PollOptions)
                                    {
                                        j++;
                                        if (lt!="")
                                        {
                                        <input type="radio" name="pollOption" value="@lt" > @lt<br>    
                                        }
                                    }

                                    <br />
                                    <button class="btn btn-success" id="pollSubmit"><i class="fa" id="pollSubmiti"></i> Submit Answer</button>
                                    <br /><br />
                                @*</form>*@
                               
                                @*<div class="i-checks"><label> <input type="radio" value="option1" name="a"> <i></i> Option one </label></div>
                                <div class="i-checks"><label> <input type="radio" checked="" value="option2" name="a"> <i></i> Option two checked </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" checked="" value="option2"> <i></i> Option three checked and disabled </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" name="a"> <i></i> Option four disabled </label></div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        }

        <!--Time submit option for staff-->
        @if (String.IsNullOrWhiteSpace(choice))
        {
        <div class="col-lg-12  col-md-12 animated slideInRight" id="time">
            <div class="ibox greyBox">
                <div class="ibox-title border-bottom">


                    <h5>Select Starting Time - <small> This is your starting time for the year 2019. Please select the time that fits your lifestyle</small></h5>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="form-group">


                            <div class="col-sm-10">

                               
                                        <input type="radio" name="startOption" value="472"> 8:30AM<br>
                                <input type="radio" name="startOption" value="470"> 9:00AM<br>
                                <input type="radio" name="startOption" value="469"> 9:30AM<br>
                                 

                                <br />
                                <button class="btn btn-success" id="timeSubmit"><i class="fa" id="timeSubmiti"></i> Submit Answer</button>
                                <br /><br />
                                @*</form>*@

                                @*<div class="i-checks"><label> <input type="radio" value="option1" name="a"> <i></i> Option one </label></div>
                                <div class="i-checks"><label> <input type="radio" checked="" value="option2" name="a"> <i></i> Option two checked </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" checked="" value="option2"> <i></i> Option three checked and disabled </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" name="a"> <i></i> Option four disabled </label></div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        }
        <div class="row " id="trainingRow">
            <!-- training -->
            <div class="col-lg-3  col-md-6 animated slideInRight">
                <div class="ibox greyBox">
                    <div class="ibox-title border-bottom">


                        <h5>Next Training</h5>
                    </div>
                    <div class="row">
                        @if (nextTraining.Count() == 0)
                        {<div class="col-sm-12 text-center link_4 padded topBotPadding">
                                        <h3>Congratulations, your training is up to date!</h3>
                                    </div>
                        }

                        @foreach (var cr in nextTraining)
                        {
                            <a href="@cr.key">
                                <div class="mini-charts-item link_@i">
                                    <div class="count text-right">
                                        <h1>@Umbraco.Truncate(cr.value, 20, true)</h1>

                                    </div>
                                </div>
                            </a>
                            i = i + 1;
                        }

                    </div>
                </div>
            </div>

            <!-- Assessments -->
            <div class="col-lg-3  col-md-6  animated slideInRight">
                <div class="ibox float-e-margins greyBox">
                    <div class="ibox-title">
                        <h5>Assessment</h5>
                    </div>
                    <div class="ibox-content">
                        <!--
                          <div class="row text-center">
                             <input type="text" value="75" id="assesmentsCompleted">
                             <h4>Assessments Completed</h4>
                         </div>
                            -->
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6">
                            <input type="text" value="75" id="assesmentsCompleted">
                            <h4>Completed</h4>

                        </div>
                        <div class="col-sm-6">
                            <!--   <input type="text" value="75" id="inProgress">
                            <h4>In Progress</h4>
                             -->
                            @*<input type="text" value="75" id="assesmentsCompletedTest">*@
                            <input type="text" value="75" id="score">
                            <h4>Average</h4>
                        </div>

                    </div>

                </div>
            </div>
            <!--       </div>
               </div> -->
            <!-- Admin box -->
            <div class="col-lg-3  col-md-6 animated slideInRight">
                <div class="ibox greyBox">
                    <div class="ibox-title border-bottom">
                        <h5 class="text-center">Admin</h5>
                    </div>
                    <div class="col-lg-12 col-xs-4">

                        <div class="row">
                            <div class="col-lg-3 text_4"><h2><i class="fa fa-check-circle"></i></h2></div>
                            <div class="col-lg-6"><h4 class="AdminSection"><a href="@leaveUrl" style="padding-top:10px;">@leaveTitleBox</a></h4></div>
                            <div class="col-lg-3 text_4">
                                <h2>@leavePend</h2>
                            </div>

                        </div>

                    </div>




                    @*<div class="col-lg-12 col-xs-4" style="background-color:white;">
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 text_2"><h2><i class="fa fa-list-alt" style="color:rebeccapurple;"></i></h2></div>
                                    <div class="col-lg-6"><h4 class="AdminSection"><a href="@appUrl">Appraisals Pending</a></h4></div>
                                    <div class="col-lg-3 text_2">
                                        <h2>@appPend</h2>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="col-lg-12 col-xs-4" style="background-color:#ffe6fd;">
                            <div>
                                <div class="row">
                                    <div class="col-lg-3 text_3"><h2><i class="fa fa-laptop" style="color:darkgreen;"></i></h2></div>
                                    <div class="col-lg-6"><h4 class="AdminSection"><a href="@trainingUrl">@trainingMan</a> </h4></div>
                                    <div class="col-lg-3 text_3">
                                        <h2>@trainingPend</h2>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- Knowledge box -->
            <div class="col-lg-3 col-md-6 animated slideInRight">
                <div class="greyBox">
                    <div class="ibox-title">
                        <h5>Knowledge</h5>
                    </div>
                    <div class="ibox-content">
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <input type="text" value="75" id="knowledge">
                            <h4><strong>@knowCompleted </strong>out of <strong>@MhubContentHelper.GetTotalKnowledge.Count()</strong> articles </h4>
                        </div>
                    </div>
                </div>




            </div>

        </div>
        <div class="row">&nbsp;</div>
        <!-- links -->
        <div class="row" id="linkRow">
            <div class="col-lg-3  col-md-6 animated slideInLeft">
                <div class="link_5 whiteIcons">
                    <div class="row">

                        <div class="col-xs-2  text-center">
                            <i class="fa fa-laptop fa-2x iconSwing"></i>
                        </div>  <div class="col-xs-10  text-center">

                            <a href="/learn/learning-overview/">Learning Hub</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3  col-md-6  animated slideInLeft">
                <div class="link_2 whiteIcons">
                    <div class="row">

                        <div class="col-xs-2  text-center">
                            <i class="fa fa-line-chart fa-2x"></i>
                        </div>  <div class="col-xs-10  text-center">
                            <a href="/company/staff-contact-details/">Staff Contact Details</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3  col-md-6 animated slideInDown">
                <div class="link_3 whiteIcons ">
                    <div class="row">

                        <div class="col-xs-2  text-center">
                            <i class="fa fa-calendar-o fa-2x"></i>
                        </div>  <div class="col-xs-10  text-center">
                            <a href="/company/seating-chart/">Staff Seating Chart</a>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-lg-3  col-md-6  animated slideInRight">
                <div class="link_4 whiteIcons ">
                    <div class="row">


                        <!--  <h4>Request Leave</h4> -->
                        <div class="col-xs-2  text-center">
                            <i class="fa fa-clock-o fa-2x"></i>
                        </div>  <div class="col-xs-10  text-center">
                            <a href="/administration/leave-request/">Request Leave</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row"> <div class="col-12">&nbsp;</div></div>

            <!-- links -->
            <!--
            <div class="row" id="linkRow">
                <div class="col-lg-3  col-md-6">
                    <div class="link_1 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="fa fa-laptop fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">

                                <a href="#">Mhub Tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_2 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa fa-line-chart fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="#">Appraisals</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_3 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa  fa-calendar-o fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="#">Request Training</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3  col-md-6">
                    <div class="link_4 whiteIcons">
                        <div class="row">
                            <div class="col-xs-12  text-center">
                                <i class="fa fa-clock-o fa-2x"></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="">Request Leave</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                -->

        </div>
    </div>

