﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "mhubMasterPage.cshtml";
}
@section scripts{
	 <script src="/Appraisal/js/angular.min.js"></script>
 <script src="/Appraisal/js/module.js"></script>
 <script src="/Appraisal/js/userappraisal.component.js"></script>

} 

<div class="container col-md-12" ng-app="vApprais">
<user-app></user-app>

 
</div>