﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Supporty>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "mhubMasterPage.cshtml";
}
<div class="row ">
    <div class="col-lg-12 company  white-bg dashboard-header smallPadleft">
        <div class="container col-lg-12">
            <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 container">
                @{
                    Html.RenderPartial("~/Views/Partials/SupportForm.cshtml", new SupportFormViewModel());
                }
            </div>
        </div>
    </div>
</div>
