﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TrainingModule>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    // TODO - Refactor with the training page.
    Layout = "mhubMasterPage.cshtml";

    var siblings = Model.Content.Children();
    var folderId = Umbraco.Field("File").ToString();
    var knowFolder = Umbraco.Media(folderId);
    var mediaItems = 0;
    var contentCompleted = MhubContentHelper.GetCompletedTraining();
    var contCount = contentCompleted.Count();
    if (folderId != null && folderId != "")
    { mediaItems = knowFolder.Children.Count(); }
    bool emptyContent = String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString());

    var contentTest = Umbraco.Field("BodyContent").ToString();
    var cBody = Umbraco.Field("BodyContent");
    var fcolSize = "";
    var colSize = "";
    var headingCol = "col-md-12";
    var fileHeading = "";
    var i = 0;
    var SrcId = "";

    var fileIcon = "";
    //var dictionaryId = Umbraco.Field("eLearning").ToString();
    var dictionaryId = CurrentPage.eLearning;
    ///var LeaveId = Umbraco.ContentAtRoot().eszhzab7l0lgo9m4l56zuxr;
    var LeaveId = Umbraco.TypedContentAtRoot().First();
    var leaveDic = LeaveId.GetPropertyValue("eszhzab7l0lgo9m4l56zuxr");
    //var eLearning = MhubJsonHelper<eLearningModel>.ConvertJson(dictionaryId);
    var eLearning = dictionaryId;



    if ((!emptyContent) && (mediaItems != 0))
    {
        fcolSize = "col-lg-4";
        colSize = "col-lg-8";
        fileHeading = "Files";

    }
    else if (mediaItems == 0)
    {
        colSize = "col-lg-12";
        fcolSize = "";

    }
    else
    {

        fcolSize = "col-lg-12";
        fileHeading = "Files for " + Umbraco.Field("title", altFieldAlias: "pageName");

    }


    if (siblings.Count() != 0)
    {
        headingCol = "col-md-9";
    }


}

<div class="row ">
    <div class="@headingCol learn  white-bg dashboard-header smallPadleft">

        <div class="container @(colSize)">
            @{
                if (folderId == "")
                {
                    <h2>@Umbraco.Field("title", altFieldAlias: "pageName") </h2>

                }
                else if (folderId != "" && !emptyContent)
                {

                    <h2>@Umbraco.Field("title", altFieldAlias: "pageName")</h2>
                }
            }
        </div>
        <div class="container @(fcolSize)">
            @{
                if (folderId != "")
                {
                    <h2>@fileHeading</h2>

                }
            }
        </div>

    </div>
</div>







<div class="row ">

    <div class="@headingCol">

        @*  @if (!String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString())) *@
        @if (!emptyContent || folderId != "")
        {
            <div class="row  learn white-bg dashboard-header smallPadleft">

                @if (!emptyContent)
                {
                    <div class="@(colSize)">

                        @Umbraco.Field("bodyContent")


                    </div>
                }

                <div class="@(fcolSize)">

                    @foreach (var media in knowFolder.Children)
                    {
                        string test1 = media.GetPropertyValue("umbracoExtension");

                        string medName = media.name;
                        string namefilter = medName.Replace("." + test1, "");



                        switch (test1)
                        {
                            case "pdf":
                                fileIcon = "fa fa-file-pdf-o text-danger";
                                break;
                            case "jpg":
                                fileIcon = "fa fa-file-image-o";
                                break;
                            case "xls":
                                fileIcon = "fa fa-file-image-o text-success";
                                break;
                            default:
                                fileIcon = "fa fa-file text-success";
                                break;
                        }
                        if (media.eLearningLink != null && media.eLearningLink != "")
                        {
                            SrcId = "learn" + i;
                            <a href="" Eurl="@media.eLearningLink" class="test1 text-left" id="@SrcId">
                                <i class="glyphicon glyphicon-blackboard"></i> @media.Name
                            </a>
                        }
                        else if (media.youTubeUrl != null && media.youTubeUrl != "")
                        {
                            <a href="#" class="uTubeURL" data-toggle="modal" data-target="#myModal" dsrc="@media.youTubeUrl">
                                <i class="fa fa-file-video-o"></i> @media.Name

                            </a>
                        }
                        else
                        {
                            <a href="@media.UmbracoFile">
                                <i class="@fileIcon "></i> @namefilter
                            </a>


                        }
                        <br>

                    }
                    @if (eLearning != null)
                    {
                        foreach (var eLink in eLearning)
                        {
                            i = i + 1;
                          <!--  Link.value" name="Hello" value="five"><i class="glyphicon glyphicon-blackboard"></i> @eLink.key</a> -->
                            SrcId = "learn" + i;                            <a href="#" id="@SrcId" Eurl="@eLink.value" class="test1 text-left"><i class="gl
                            <a href="#" id="@SrcId" Eurl="@eLink.value" class="test1 text-left"><i class="glyphicon glyphicon-blackboard"></i> @eLink.key</a>

                        }
                    }
                    <br />

                    <!-- Modal -->
                    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closing"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">You Tube Video</h4>
                                </div>
                                <div class="modal-body col-sm-12">
                                    <iframe width="500" height="350" src="" id="uTube" data="Hello"></iframe>
                                </div>
                                <div class="modal-footer">
                                    <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                      -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        }
        else
        {
            <div id="grid_container">

                @CurrentPage.GetGridHtml(Html, "bodyGrid")
            </div>

        }


        @if (siblings.Count() != 0)
        {

            <a class="btn btn-success" href="@Model.Content.FirstChild().Url">Get Started</a>


        }
    </div>

    <div class="col-md-3">
        <div>
            <ul class="list-group">
                @foreach (var item in siblings.Where(x => x.Id != Model.Content.Id))
                {
                    <li class="list-group-item @(item.DocumentTypeAlias == "assessment"?"list-group-item-info":"") @(item.Id == CurrentPage.Id?"active":"") @(contentCompleted.Exists(x => x==item.Id.ToString())?"list-group-item-complete":"")">
                        @if (item.DocumentTypeAlias == "assessment")
                        {
                            <i class="fa fa-trophy fa" aria-hidden="true"></i>
                        }
                        <a title="@item.Name" href="@item.Url">@item.Name</a>

                    </li>

                }
            </ul>
        </div>
    </div>
</div>
@section scripts{
    <style>
        .list-group .list-group-item-info a {
            background-color: #4D990F;
            color: white;
        }

        .list-group .list-group-item-info {
            background-color: #4D990F;
            color: white;
        }

        .list-group .list-group-item-complete {
            background-color: lightgrey;
            /* border-bottom:solid;
                                        border-bottom-color:white;
                                          */
        }

            .list-group .list-group-item-complete a {
                background-color: transparent;
            }
              #grid_container .container {
        margin-left:1px;
        padding-left:0px;
        margin-right:0px;
        padding-right:0px;
        width:100%;

    }
    </style>
    <script>
                                        $("#closing").click(function () {

                                            var leg = $('#uTube').attr("src");
                                            //alert(leg)
                                            $('#uTube').attr("src", leg);
                                        });

                                        $('#openBtn').click(function () {

                                            var learnUrl = $(this).attr("Eurl");
                                            //alert(learnUrl);
                                            $('iframe').attr("src", learnUrl);


                                        });

                                        $('.uTubeURL').click(function () {

                                            var learnUrl = $(this).attr("dsrc");
                                            //alert(learnUrl);
                                            $('iframe').attr("src", learnUrl);


                                        });
                                        $('.test1').click(function () {
                                            var srcId = $(this).attr("id");
                                            window.iframeSrc = "hello";//$(this).attr("Eurl");
                                            window.open('/elearning-embed-page#?srcId=' + srcId);
                                        });
    </script>
}
