﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TrainingPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core;

@{
   //var stuff= CurrentPage.Id;
    Layout = "mhubMasterPage.cshtml";
    int currentMemberId = Members.GetCurrentMemberId();
    var currentMember = ApplicationContext.Current.Services.MemberService.GetById(currentMemberId);

    // todo record that the number read this page

    var contentCompleted = MhubContentHelper.GetCompletedTraining();
    var previous = Model.Content.Previous();
    var next = Model.Content.Next();

    Layout = "mhubMasterPage.cshtml";
    var siblings = Model.Content.Parent.Children();
    var folderId = Umbraco.Field("File").ToString();
    var knowFolder = Umbraco.Media(folderId);
    var parentId = Model.Content.Parent.Id;
    var mediaItems=0;
    if (folderId != null && folderId != "")
    {mediaItems=knowFolder.Children.Count();}
    var contentTest = Umbraco.Field("BodyContent").ToString();
    var cBody = Umbraco.Field("BodyContent");
    var fcolSize = "";
    var colSize = "";
    var headingCol = "col-md-12";
    var fileHeading = "";
    var i = 0;
    var SrcId = "";
    var medExt = "";
    var fileIcon = "";
    //var dictionaryId = Umbraco.Field("eLearning").ToString();
    var dictionaryId = CurrentPage.eLearning;

    //var eLearning = MhubJsonHelper<eLearningModel>.ConvertJson(dictionaryId);
    var eLearning = dictionaryId;
    if ((contentTest != "") && (mediaItems!=0))
    {
        fcolSize = "col-lg-4";
        colSize = "col-lg-8";
        fileHeading = "Files";
    }
    else if ((mediaItems==0))
    {
        colSize = "col-lg-12";
        fcolSize = "";
    }
    else
    {
        fcolSize = "col-lg-12";

    }
    if (siblings.Count() != 0)
    {
        headingCol = "col-md-9";
    }

}

<div class="row " >
    <div class="@headingCol learn  white-bg dashboard-header smallPadleft">

        <div class="container @(colSize)">
            @{
                if (contentTest != "" || folderId == "")
                {
                    <h2>@Umbraco.Field("title", altFieldAlias: "pageName") </h2>

                }
            }
        </div>
        <div class="container @(fcolSize)">
            @{
                if (folderId != "")
                {
                    <h2>@fileHeading</h2>

                }
            }
        </div>

    </div>
</div>

<div class="row">

    <div class="@headingCol">
        @if (!String.IsNullOrWhiteSpace(@Umbraco.Field("bodyContent").ToString()))
            {

            <div class="row">
                <div class="@(colSize)">
                    <div class="container-fluid">

                        @Umbraco.Field("bodyContent")
                    </div>


                </div>

                <div class="@(fcolSize)">
                    @if (folderId != null && folderId != "")
                    {
                        <h3>Files</h3>
                    }

                    @foreach (var media in knowFolder.Children)
                    {
                        string test1 = media.GetPropertyValue("umbracoExtension");

                        string medName = media.name;
                        string namefilter = medName.Replace("." + test1, "");

                        medExt = "pdf";

                        switch (test1)
                        {
                            case "pdf":
                                fileIcon = "fa fa-file-pdf-o text-danger";
                                break;
                            case "jpg":
                                fileIcon = "fa fa-file-image-o";
                                break;
                            case "xls":
                                fileIcon = "fa fa-file-image-o text-success";
                                break;
                            default:
                                fileIcon = "fa fa-file text-success";
                                break;
                        }
                        if (media.eLearningLink != null && media.eLearningLink != "")
                        {
                            //  SrcId = "files" + i;
                            SrcId = "learn" + i;
                            <a href="" Eurl="@media.eLearningLink" class="test1 text-left" id="@SrcId">
                                <i class="glyphicon glyphicon-blackboard"></i> @media.Name 32
                            </a>
                        }
                        else if (media.youTubeUrl != null && media.youTubeUrl != "")
                        {
                            <a href="#" class="uTubeURL" data-toggle="modal" data-target="#myModal" dsrc="@media.youTubeUrl">
                                <i class="fa fa-file-video-o"></i> @media.Name

                            </a>
                        }
                        else
                        {
                            <a href="@media.UmbracoFile">
                                <i class="@fileIcon "></i> @namefilter
                            </a>


                        }
                        <br>















                         }
                         @if (eLearning!=null)
                          {
                             foreach (var eLink in eLearning)
                             {
                                 i = i + 1;
     <!--<a href="#" id="openBtn" data-toggle="modal" data-target="#myModal" Eurl="@eLink.value" name="Hello" value="five"><i class="glyphicon glyphicon-blackboard"></i> @eLink.key</a> -->
                                 SrcId = "learn" + i;
                        <a href="#" id="@SrcId" Eurl="@eLink.value" class="test1 text-left"><i class="glyphicon glyphicon-blackboard"></i> @eLink.key</a>

    }
}
<br />

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closing"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You Tube Video</h4>
            </div>
            <div class="modal-body col-sm-12">
                <iframe width="500" height="350" src="" id="uTube" data="Hello"></iframe>
            </div>
            <div class="modal-footer">
                <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                  -->
            </div>
        </div>
    </div>
</div>



</div>
</div>
            }
            else
            {
         
                        @CurrentPage.GetGridHtml(Html, "bodyGrid")
                      
                        }

                        <div class="text-center">
                            <span class="btn btn-primary" id="MarkComplete">Mark As Complete</span>
                        </div>

                        @if (previous != null)
                        {
                            <div class="pull-left"><a href="@previous.Url">< @previous.Name</a></div>
                        }
                        @if (next != null)
                        {
                            <div class="pull-right"><a href="@next.Url">@next.Name ></a></div>
                        }
                    </div>

                    <div class="col-md-3">
                        <div class="clearfix">
                            <ul class="list-group">
                                @foreach (var item in Model.Content.Parent.Children)
                                {
                                    <li class="list-group-item @(item.DocumentTypeAlias == "assessment"?"list-group-item-info Assessment":"")  @(contentCompleted.Exists(x => x==item.Id.ToString())?"list-group-item-complete":"") @(item.Id == CurrentPage.Id?"active":"")">
                                        @if (item.DocumentTypeAlias == "assessment")
                                        {<i class="fa fa-trophy fa" aria-hidden="true"></i>}
                                        <a title="@item.Name" href="@item.Url">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @section scripts{
                <style>
                                .list-group .list-group-item-info a {
                                    background-color: #4D990F;
                                    color: white;
                                }

                                .list-group .list-group-item-info {
                                    background-color: #4D990F;
                                    color: white;
                                }

                                .list-group .list-group-item-complete {
                                    background-color: lightgrey;
                                    /* border-bottom:solid;
                    border-bottom-color:white;
                      */
                                }

                                    .list-group .list-group-item-complete a {
                                        background-color: transparent;
                                    }
                </style>
                <script>


                    $(function () {
                        // toastr.success("Marked as complete.");
                        $("#MarkComplete").click(function () {
                            $.get("/Umbraco/Api/Assessment/MarkTrainingComplete/@CurrentPage.Id", function (data) {
                                console.log(data);
                                toastr.success("Marked as complete.");
                            });
                        });
                    });
                </script>

                <script>
                    $("#closing").click(function () {

                        var leg = $('#uTube').attr("src");
                        //alert(leg)
                        $('#uTube').attr("src", leg);
                    });

                    $('#openBtn').click(function () {

                        var learnUrl = $(this).attr("Eurl");
                        //alert(learnUrl);
                        $('iframe').attr("src", learnUrl);


                    });

                    $('.uTubeURL').click(function () {

                        var learnUrl = $(this).attr("dsrc");
                        //alert(learnUrl);
                        $('iframe').attr("src", learnUrl);


                    });
                    $('.test1').click(function () {
                        var srcId = $(this).attr("id");
                        window.iframeSrc = "hello";//$(this).attr("Eurl");
                        window.open('/Appraisal/elEarning.html?srcId=' + srcId);
                    });
                </script>
            }
