﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "mhubMasterPage.cshtml";
    var member = MhubMemberHelper.LoggedInMember;
    var rootHub = member.GetValue<int>("hub");
    var lineMang = member.GetValue<int>("lineManager");
    var trainerId = CurrentPage.Site().trainingManager.ToString();
}


<div class="row" ng-app="calendarDemoApp">
    <section id="directives-calendar" ng-controller="CalendarCtrl">
        <div class="col-lg-12 employees  white-bg dashboard-header smallPadleft">
            <div class="container col-lg-12">

                <h2>@Umbraco.Field("heading") <small>Click on training event </small></h2>
            </div>
        </div>


        <div class="well" style="margin-left:10px;">
            <div class="row">
                <div class="span4 col-sm-4">



                    <h3>@Umbraco.Field("title")</h3>
                    <p>@Umbraco.Field("description")
                     </p>
                    <p class="text-warning">@Umbraco.Field("sepcialAlerts")</p>

                    <div class="row">
                        <div class="col-md-9"></div> <div class="col-md-3"><h4>Actions</h4></div>
                    </div>
                    <div ng-repeat="evens in calEventsExt.events">

                        <div class="row alert alert-success  " style="padding:4px;">

                            <div class="col-md-4"> {{evens.title}} ({{evens.TrainingName}} ) </div>
                            <div class="col-md-5">  <i class="glyphicon glyphicon-calendar"> {{ evens.start | date:" MMM d, y" }}</i> </div>
                            <div class="col-md-2 text-center text-default">



                                <i class="glyphicon glyphicon-trash isLink" title="Remove Training Date" tooltip="Remove Training" ng-click="remove($index,evens);" style="color:black;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span7 col-sm-8">
                    <tabset>
                        <tab select="renderCalender('myCalendar3');">
                            <tab-heading>
                                <i class="glyphicon glyphicon-bell"></i> Training Calendar <span ng-if="AvDays">-{{AvDays}} days available </span>
                            </tab-heading>
                            <div><p>&nbsp;</p></div>
                            <div ng-show="model.sForm==1" class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-10">

                                        <p><strong>Training course:</strong> {{training.title}} ({{training.CourseType}})- on {{training.start.format("dddd, MMMM Do YYYY - hh:mma") }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p>
                                            <strong>Description :</strong> {{training.Description}}  Duration : {{training.Duration}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <textarea class="form-control" placeholder="Add any comments for the trainer, or manager" ng-model="training.newComments"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-default" ng-click="model.sForm=0">Cancel</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-success" ng-click="addDays(training)"><i class="fa fa-spinner fa-spin" ng-If="search.searching"></i> Enroll in Training</button>
                                    </div>
                                </div>



                            </div>

                            <div ng-show="model.tReq==1" class="alert alert-info">
                                <div class="row">
                                    <div class="col-md-10">

                                        <p>Request training for the date {{reqDate.dt.format("dddd, MMMM Do YYYY")}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <textarea class="form-control" placeholder="Add any comments for the trainer, or manager" ng-model="reqDate.newComments"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-default" ng-click="model.tReq=0">Cancel</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-success" ng-click="addTRequest(reqDate)"><i class="fa fa-spinner fa-spin" ng-If="search.searching"></i> Request Training</button>
                                    </div>
                                </div>



                            </div>
                            <div class="alert alert-danger calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                            </div>

                            <div class="alert alert-success calAlert" ng-show="successMessage != undefined && successMessage != ''">
                                <h4>{{successMessage}}</h4>
                            </div>

                            <div style="background-color:white;padding:5px;">
                                <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>

                        </tab>
                </div>
                </tabset>
            </div>
        </div>
    </section>
</div>



@section scripts {



    <link rel="stylesheet" href="/css/plugins/fullcalendar/fullcalendar.css">




    @*<script src="/Scripts/plugins/fullcalendar/jquery.js"></script>*@
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/Scripts/plugins/fullcalendar/moment.min.js"></script>
    <script src="/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>



    <script src="/Scripts/plugins/fullcalendar/gcal.js"></script>


    <script src="/App/src/calendar.js"></script>
    <style>
        .isLink:hover {
            color: deeppink;
            cursor: pointer;
        }
    </style>

    <script>

        var calendarDemoApp = angular.module('calendarDemoApp', ['ui.calendar', 'ui.bootstrap']);

        calendarDemoApp.controller('CalendarCtrl',
           function($scope, $compile, $timeout, $http, uiCalendarConfig) {
               var date = new Date();
               var d = date.getDate();
               var m = date.getMonth();
               var y = date.getFullYear();
               $scope.model={};
               $scope.model.sForm=0;
               $scope.model.tReq=0;
               $scope.reqDate={};
               $scope.reqDate.newComments="";
               $scope.training={};
               $scope.training.newComments="";
               $scope.changeTo = 'Hungarian';
               $scope.search = {};
               $scope.search.searching=false;
               /* event source that pulls from google.com */
               $scope.eventSource = {
                   /*  url: "http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic",
                     className: 'gcal-event',           // an option!
                     currentTimezone: 'America/Chicago' // an option!
                     */
               };

               /* event source that contains custom events on the scope */
               $scope.events = [

               ];




               //alert(someDate);


               $http.get('/Umbraco/Api/Training/Get').success(function (data) {

                   //$scope.ApproveLeave = data;
                   //alert(data.length);
                   //  alert(data);
                   /*  if (data)
                     {
                         $scope.AvDays=data.length;
                     var list=data;
                      var someDate= new Date();
                      var i=0;
                     for (i=0; i < data.length; i++)
                     {
                    someDate = new Date(data[i]['start']);
       var d1 = someDate.getDate();
          var m1 = someDate.getMonth();
          var y1 = someDate.getFullYear();
           var cTitle=data[i]['title']
       $scope.events.push(

                    { Id:data[i]['Id'],member_id:data[i]['member_id'], title:cTitle, start:new Date(y1, m1, d1), stick:true, allDay:true, trainingStatus:data[i]['trainingStatus'],end:new Date(y1, m1, d1) }
                     );

                  }
                     //alert(someDate);
                    } // if end
                    */

                   if (data)
                   {
                       $scope.AvDays=data.length;
                       var list=data;
                       var someDate= new Date();
                       var i=0;
                       for (i=0; i < data.length; i++)
                       {
                           someDate = new Date(data[i]['start']);
                           var d1 = someDate.getDate();
                           var m1 = someDate.getMonth();
                           var y1 = someDate.getFullYear();

                           endDate = new Date(data[i]['end']);
                           var d2 = endDate.getDate();
                           var m2 = endDate.getMonth();
                           var y2 = endDate.getFullYear();

                           var startHours= someDate.getHours();
                           var startMins= someDate.getMinutes();
                           var endHours= endDate.getHours();
                           var endMins= endDate.getMinutes();
                           var cTitle=data[i]['title'];
                         //  alert( m1+":"+ m2);
                           $scope.events.push(

                                        { Id:data[i]['Id'],member_id:data[i]['member_id'],color: "orange",textColor: "White",  comment:data[i]['CourseType']+" ("+cTitle+") "+startHours+":"+startMins , CourseType:data[i]['CourseType'],  title:cTitle, start:new Date(y1, m1, d1,startHours,startMins),end:new Date(y2, m2, d2,endHours, endMins), stick:true, allDay:false, trainingStatus:data[i]['trainingStatus'], Description:data[i]['Description'], Duration:data[i]['Duration'], appointment_id:data[i]['appointment_id'] }
                                         );

                       }
                       //alert(someDate);
                   } // if end


               });

               $scope.addTraining = function (event) {
                   alert("gets here");
                   $scope.alertMessage = '';
                   var eDate = new Date(event.eDate)
                   var d = eDate.getDate();
                   var m = eDate.getMonth();
                   var y = eDate.getFullYear();
                   $scope.events.push({

                       title: event.eTitle,
                       allDay: false,
                       stick:true,
                       color: "orange",
                       textColor: "White",
                       trainingStatus:0,
                       start: new Date(y,m,d),// new Date(y, m, 29),
                       end: new Date(y,m,d) // new Date(y, m, 29)

                   });
                   uiCalendarConfig.calendars['myCalendar3'].fullCalendar('gotoDate', new Date(y,m,d));

                   $scope.alertMessage = ('Custom Taining Added - Save Changes to confirm');
                   // alert(event.eDate);
               }
               /* event source that calls a function on every view switch */
               $scope.eventsF = function (start, end, timezone, callback) {
                   var s = new Date(start).getTime() / 1000;
                   var e = new Date(end).getTime() / 1000;
                   var m = new Date(start).getMonth();
                   var events = [{title: 'Feed Me ' + m,start: s + (50000),end: s + (100000),allDay: false, className: ['customFeed']}];
                   callback(events);
               };
               //$scope.MyCalendar1.fullCalendar( 'prevYear' );
               $scope.calEventsExt = {
                   color: '#f00',
                   textColor: 'yellow',
                   events:[

                   ]
               };
               $http.get('/Umbraco/Api/Training/GetTraining').success(function (data) {

                   if (data)
                   {
                       var list=data;
                       var someDate= new Date();
                       var i=0;
                       for (i=0; i < data.length; i++)
                       {
                           someDate = new Date(data[i]['start']);
                           var d1 = someDate.getDate();
                           var m1 = someDate.getMonth();
                           var y1 = someDate.getFullYear();
                           endDate = new Date(data[i]['end']);
                           var d2 = endDate.getDate();
                           var m2 = endDate.getMonth();
                           var y2 = endDate.getFullYear();
                           var cTitle=data[i]['title'];
                           var colour="green";

                           var comments="registered for "+data[i]['TrainingName'];
                           if (!data[i]['TrainingName'])
                           {
                               comments="Requests training on this day"
                           }
                           if (data[i]['trainingApproved'])
                           {
                               colour="blue"
                           }

                           $scope.calEventsExt.events.push( {

                               Id:data[i].Id,type:'party',title: cTitle,color:colour,start: new Date(y1, m1, d1),end: new Date(y2, m2, d2),allDay: false, stick:true,comment:comments, TrainingName:data[i]['TrainingName']

                           }
                              );
                       }
                   }

               });
               /* alert on eventClick */
               $scope.alertOnDayClick = function (date, jsEvent, view) {
                   $scope.model.tReq=1;
                   $scope.reqDate.dt=date;



               }
               $scope.addTRequest=function (tRequest){
                   $scope.search.searching=true;
                   var dt= new Date();

                   someDate = new Date(tRequest.dt);
                   var d1 = someDate.getDate();
                   var m1 = someDate.getMonth();
                   var y1 = someDate.getFullYear();

                   var config = {};
                   var tRequest1={
                       title:"@MhubMemberHelper.LoggedInMember.Name",
                       start:tRequest.dt.format(),end: tRequest.dt.format(),
                       member_id:@MhubMemberHelper.LoggedInMember.Id,
                       trainingDay_id:0,
                       member_group:"Monroe",
                       rootHub:@rootHub,
                       trainer_id:@trainerId,
                       registerDate:dt,
                       comments:tRequest.newComments,
                       appointment_id:tRequest.appointment_id
                   };
                
                   $http.post('/Umbraco/Api/Training/AddTrainingRequest/', tRequest1, config)
                      .success(function (data, status) {
                          $scope.search.searching=false;
                          var titleComments="registered for "+data.TrainingName;
                          if (!data.TrainingName)
                          {
                              titleComments="Requests training on this day"
                          }
                          $scope.calEventsExt.events.push( {
                              Id:data,
                              type:'party',
                              title: '@MhubMemberHelper.LoggedInMember.Name',
                              color:'green',
                              start: new Date(y1, m1, d1),
                              end: new Date(y1, m1, d1),
                              trainingApproved:0,rootHub:1057,
                              registerDate:dt,allDay: false,
                              comment:titleComments,
                              comments:data.comments
                          }
                     );
                          $scope.model.tReq=0
                          $scope.successMessage = ('Added to Training Event on ' + someDate);
                      });


               };
               /* alert on eventClick */
               $scope.addDays = function (date) {
                   $scope.search.searching=true;
                   console.log(date.newComments);
                   $scope.model.sForm=0;
                   someDate = new Date(date.start);
                   var d1 = someDate.getDate();
                   var m1 = someDate.getMonth();
                   var y1 = someDate.getFullYear();
                   //var ddate=date.start.format("dddd, MMMM Do YYYY");

                   var dt = new Date();


                   var config = {};
                   var tRequest={
                       title:"@MhubMemberHelper.LoggedInMember.Name",
                       start: date.start.format(),
                       end: date.start.format(),
                       member_id:@MhubMemberHelper.LoggedInMember.Id,
                       trainingDay_id:date.Id,
                       member_group:"Monroe",
                       rootHub:@rootHub,
                       trainer_id:@trainerId,
                       registerDate:dt,
                       comment:"Registered",
                       comments:date.newComments,
                       TrainingName:date.title,
                       Name:"New",
                       appointment_id:date.appointment_id
                   };

                   console.log(tRequest);
                  
                   $http.post('/Umbraco/Api/Training/AddTrainingRequest/', tRequest, config)
                       .success(function (data, status) {
                           $scope.search.searching=false;
                           toastr.success("Training Request Added");
                           $scope.calEventsExt.events.push( {
                               Id:data,
                               type:'party',
                               title: '@MhubMemberHelper.LoggedInMember.Name',
                               color:'green',
                               start: new Date(y1, m1, d1),
                               end: new Date(y1, m1, d1),
                               trainingApproved:0,
                               rootHub:1057,
                               registerDate:dt,
                               allDay: false,
                               comment:"registered for " + date.title
                           }

                      );

                           $scope.successMessage = ('Added to Training Event on ' + date.start.format("dddd, MMMM Do YYYY"));
                           //alert(ddate.format("dddd, MMMM Do YYYY"));
                       });
               };
               /* alert on eventClick */
               $scope.alertOnEventClick = function( date, jsEvent, view){
                   // set member id on page
                   //  console.log(date);
                   if (date.type!='party')
                   {
                       $scope.model.sForm=1;

                       $scope.alertMessage = '';
                       $scope.training=date;

                   }
                   else
                   {


                   }

               };
               /* alert on Drop */
               $scope.alertOnDrop = function(event, delta, revertFunc, jsEvent, ui, view){
                   $scope.alertMessage = '';
               };
               /* alert on Resize */
               $scope.alertOnResize = function(event, delta, revertFunc, jsEvent, ui, view ){
                   $scope.alertMessage = '';
               };
               /*
              $scope.alertOnDayClick = function (date, jsEvent, view) {
                $scope.alertMessage ='';
                      // alert("event clicked");

                       //startDate = new date(date);
                       $scope.events.push({
                           Id:0,
                           title:"New Training Date",
                           allDay: true,
                           trainingStatus:0,
                           color: "orange",
                           textColor: "White",
                           start: date.format(),// new Date(y, m, 29),
                           end: date.format() // new Date(y, m, 29)

                       });
                        $scope.successMessage = ('New Training date added for ' + date.format("dddd, MMMM Do YYYY") );
                   };
                   */
               /* add and removes an event source of choice */
               $scope.addRemoveEventSource = function(sources,source) {
                   var canAdd = 0;
                   angular.forEach(sources,function(value, key){
                       if(sources[key] === source){
                           sources.splice(key,1);
                           canAdd = 1;
                       }
                   });
                   if(canAdd === 0){
                       sources.push(source);
                   }
               };

               $scope.addHello=function(title3,startDay,endDay){
                   //alert(title);
                   $scope.events.push({
                       title: title3,
                       start: startDay,
                       end: new Date(y, m, 29)

                   });

               };
               $scope.SaveTraining=function(event){

                   $scope.alertMessage ='';
                   dEvents=$scope.events.length;
                   //var i=0;
                   //alert(dEvents);

                   var config = {}

                   $scope.trainingData={
                       tName:'TrainingList',
                       tDays:$scope.events



                   },
                   trainingData= $scope.trainingData;
                   data=$scope.events;
                   console.log(data);
                   $http.post('/Umbraco/Api/Training/SaveTraining/', trainingData, config)
                        .success(function (data, status) {
                            //alert(data);
                            $scope.successMessage = ('Training Details were saved successfuly');
                            //  alert(data.length+" "+dEvents);
                            for (i = dEvents; i>=0; i--)
                            {
                                //alert(i);
                                $scope.events.splice(i,1);
                            }

                            if (data)
                            {
                                var list=data;
                                var someDate= new Date();
                                var i=0;
                                for (i=0; i < data.length; i++)
                                {
                                    someDate = new Date(data[i]['start']);
                                    var d1 = someDate.getDate();
                                    var m1 = someDate.getMonth();
                                    var y1 = someDate.getFullYear();
                                    var cTitle=data[i]['title']
                                    //alert(data[i]['trainingStatus'])
                                    $scope.events.push(

                                                { Id:data[i]['Id'],member_id:data[i]['member_id'], title:cTitle, start:new Date(y1, m1, d1), stick:true, allDay:true, trainingStatus:data[i]['trainingStatus'],end:new Date(y1, m1, d1) }
                                              );

                                }
                                //alert(someDate);
                            } // if end

                            //  $scope.events=data;

                        })


               };
               /* add custom event*/
               $scope.addEvent = function(calendar) {
                   uiCalendarConfig.calendars['myCalendar1'].fullCalendar('gotoDate', new Date (y, m ));
                   $scope.events.push({
                       title: 'Open Sesame',
                       start: new Date(y, m, 28),
                       end: new Date(y, m, 29),
                       className: ['openSesame']
                   });
               };
               /* remove event */
               $scope.remove = function(index, event) {
                   // alert(event.Id);
                   var config = {

                   }
                   if (!event.Id)
                   {
                       $scope.calEventsExt.events.splice(index,1);
                   }
                   else
                   {

                       $http.post('/Umbraco/Api/Training/RemoveTrainingRequest/', event, config)
                       .success(function (data, status) {
                           //$scope.ApproveLeave = data;
                           //  alert(data);
                           $scope.calEventsExt.events.splice(index,1);
                           if (!data)
                           {
                               $scope.alertMessage=('Training does not exist')
                           }
                           else
                           {

                               $scope.alertMessage=('Training date deleted')
                           }

                       })

                   }
               };
               /* Change View */
               $scope.changeView = function(view,calendar) {
                   uiCalendarConfig.calendars[calendar].fullCalendar('changeView',view);
               };
               /* Change View */
               $scope.renderCalender = function(calendar) {
                   $timeout(function() {
                       if(uiCalendarConfig.calendars[calendar]){
                           uiCalendarConfig.calendars[calendar].fullCalendar('render');
                       }
                   });
               };
               /* Render Tooltip */
               $scope.eventRender = function( event, element, view ) {

                   element.attr({'tooltip': event.comment,
                       'tooltip-append-to-body': true});
                   $compile(element)($scope);


               };
               /* config object */
               $scope.uiConfig = {
                   calendar:{
                       height: 450,
                       editable: true,
                       eventLimit: false,
                       header:{
                           left: 'title',
                           center: '',
                           right: 'today prev,next'
                       },
                       eventClick: $scope.alertOnEventClick,
                       eventDrop: $scope.alertOnDrop,
                       eventResize: $scope.alertOnResize,
                       eventRender: $scope.eventRender,
                       dayClick: $scope.alertOnDayClick,
                       //dayClick: $scope.alertOnDayClick
                   }
               };

               $scope.changeLang = function() {
                   if($scope.changeTo === 'Hungarian'){
                       $scope.uiConfig.calendar.dayNames = ["Vasárnap", "Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek", "Szombat"];
                       $scope.uiConfig.calendar.dayNamesShort = ["Vas", "Hét", "Kedd", "Sze", "Csüt", "Pén", "Szo"];
                       $scope.changeTo= 'English';
                   } else {
                       $scope.uiConfig.calendar.dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                       $scope.uiConfig.calendar.dayNamesShort = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                       $scope.changeTo = 'Hungarian';
                   }
               };
               /* event sources array*/
               $scope.eventSources = [$scope.events, $scope.eventSource, $scope.eventsF];
               $scope.eventSources2 = [$scope.calEventsExt, $scope.eventsF, $scope.events];
           });
        /* EOF */

    </script>

}