﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <script src="angular/1.1.5/angular.js"></script>
    <script src="/App_Plugins/angularControllers/holidayController.js"></script>
</head>

<body ng-app >

    <div ng-controller="holidayListCtrl">
        <h3> Add Public Holiday</h3>

            <input type="date" ng-model="hol.date" />
            <input type="text" placeholder="Holiday Name" ng-model="hol.name" />
            <select ng-model="hol.country">
                <option value="">Select Country</option>
                <option value="Thailand" selected>Thailand</option>
                <option value="Malaysia">Malaysia</option>
            </select>

            <br />
            <button ng-click="addHoliday(hol);" class="btn btn-primary">Add Holiday</button>
            <br /><br />



        <h3>Holidays Currently added to the system<br /><small>Select Country above to filter for your countries holidays</small></h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Holiday Name</th>

                    <th>Country</th>
                    <th>Delete Holiday</th>
                </tr>
                <tr ng-repeat="holiday in holidays | filter:{Location:hol.country}">
                    <td>  {{holiday.HoliDayDate | date:" MMM d, y" }}   </td>
                    <td>{{holiday.Description}}</td>
                    <td>{{holiday.Location}}</td>
                    <td>
                        <i class="icon icon-wine-glass">
                            <button class="btn btn-Danger"
                                    ng-click="removeHoliday(holiday,$index)"
                                    >
                                
                               Remove
                            </button>
                        </i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<!-- <a confirmed-click="removeHoliday(holiday)" ng-click="Are you sure you wish to remove this holiday?">Remove Holiday</a></i></td>
    -->
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
