﻿<html>
<head>
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
        }

        #iframe1 {
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
        }
    </style>
</head>

<body>
    <iframe id="iframe1" src="https://elearning.easygenerator.com/cc2b086b-f28b-4f99-935f-60e53effeac5" frameborder="0"></iframe>
   <!-- <iframe src="https://elearning.easygenerator.com/cc2b086b-f28b-4f99-935f-60e53effeac5" class="col-sm-12" height="500px"></iframe> -->
</body>
</html>
