
#page-wrapper .container h2 {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
   // margin-right: 100px;
    font-weight: bold;
}


// Dahsboard
#dashboard .row {
    margin-bottom: 10px;
    margin: 0;
}

#welcomePanel {
    background-size: 100% 100%;
    height: 100%;
    min-height: 174px;
    color: #d3d3dd;

    h2 {
        font-weight: bold;
    }
}

#newsPanel {
    min-height: 174px;
}

#dashboard #linkRow .dashboardPanel {
    height: 45px;
    padding: 15px;
    margin-right: 10px;
}

#dashboard #linkRow .dashboardPanel a, #newsPanel .btn a {
    color: #fff;
}

.dashboardPanel {
    box-shadow: 3px 3px 2px #888888;
    height: 100%;
    border: 1px solide #ccc;
}

.dashboardLink {
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

.dashboardLink a {
    color: #fff;
}

.smallPadleft {
    padding-left: 2px;
}

.link_1 {
    background-color: $mhubOrange;
    color: #fff;
}

.link_2 {
    background-color: $mhubPurple;
    color: #fff;
}

.link_3 {
    background-color: $mhubPink;
    color: #fff;
}

.link_4 {
    background-color: $mhubGreen;
    color: #fff;
}
.link_5 {
    background-color: $mhubDarkGreen;
    color: #fff;
}

.text_1 {
    color: $mhubOrange;
}

.text_2 {
    color: $mhubPurple;
}

.text_3 {
    color: $mhubPink;
}

.text_4 {
    color: $mhubGreen;
}

.navbar-static-side {
    border-right: 1px solid $light-gray;
    height: 100%;
}

#newsPanel {

}

/// Spinner

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ccc; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** Naviogation menu */

li.list-group-item.active a {
    color: #fff;
}

 /*.navbar-default .nav li:nth-child(8) {
       background-color: $mhubOrange;
            border-color: $mhubLightGreen;
     }*/


@mixin navSectionRand($section-name, $main-color, $background-color) {

    .navbar-default .nav li:nth-child(#{$section-name}) {
        &.active {
            background-color: $background-color;
            border-color: $main-color;
            border-width:$section-name;
        }

        a {
            color: $main-color;
        }

        .nav-second-level li {
            background-color: $background-color;
        }
         .nav-second-level li a:focus  {
            background-color: $main-color;
             color: #fff;
        }
          .nav-second-level li a:hover {
            background-color: $main-color !important;
             color: #fff;
        }



       .nav-third-level li {
            background-color: lighten($background-color, 5%);
        }

        > a:hover, > a:focus {
            background-color: $main-color ;
            color: #fff;
        }


    }

    #page-wrapper li:nth-child() {
        .list-group-item a,
        a {
            color: $main-color;
        }

        .list-group-item.active {
            background-color: $main-color;
            border-color: $main-color;
        }

        .list-group-item-info {
            background-color: $background-color;
            font-weight: bold;
        }

        h2 {
            border-color: $main-color;
            color: $main-color;
        }
    }
}


@mixin navSection($section-name, $main-color, $background-color) {

    .navbar-default .nav li.#{$section-name} {
        &.active {
            background-color: $background-color;
            border-color: $main-color;
        }

        a {
            color: $main-color;
        }

        .nav-second-level li {
            background-color: $background-color;
        }
         .nav-second-level li a:focus  {
            background-color: $main-color;
             color: #fff;
        }
          .nav-second-level li a:hover {
            background-color: $main-color !important;
             color: #fff;
        }


        /*.nav-second-level > li.active
           {
            background-color:$main-color !important;
            color:#fff !important;
       }
         .nav-second-level > li.active a
           {

            color:#fff;
       }
          .nav-third-level a
           {

            color:$main-color !important;
       }*/



       .nav-third-level li {
            background-color: lighten($background-color, 5%);
        }

        > a:hover, > a:focus {
            background-color: $main-color !important;
            color: #fff;
        }
    }

    #page-wrapper .#{$section-name} {
        .list-group-item a,
        a {
            color: $main-color;
        }

        .list-group-item.active {
            background-color: $main-color;
            border-color: $main-color;
        }

        .list-group-item-info {
            background-color: $background-color;
            font-weight: bold;
        }

        h2 {
            border-color: $main-color;
            color: $main-color;
        }

    }
}

$anumber:8;
/*@include navSectionRand(1, $mhubPink, $mhubLightPink);*/
@include navSectionRand($anumber, $mhubOrange, $mhubLightOrange);
@include navSectionRand(9, $mhubPurple, $mhubLightPurple);

@include navSection(company, $mhubOrange, $mhubLightOrange);

@include navSection(knowledge, $mhubPurple, $mhubLightPurple);

@include navSection(learn, $mhubGreen, $mhubLightGreen);

@include navSection(employees, $mhubPink, $mhubLightPink);
@include navSection(administration, $mhubPink, $mhubLightPink);
@include navSection(industry, $mhubDarkGreen, $mhubLightDarkGreen);
@include navSection(home, $mhubMonroeBlue, $mhubMonroeBlue);







