// Basic Colors
$navy: #333; // #1ab394;       // Primary color
$dark-gray: #fff; //#c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color


$nav-userame:#fff;
// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// Various colors
$text-color: #333;//#676a6c;   // Body text
$gray: #d3d3d4;// #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #dededd;// #2F4050;
$nav-profil-pattern:;// url("patterns/header-profile.png");
$nav-text-color: #333;// #a7b1c2;


// Mhub Color variables.
$mhubOrange: #3f9e96;
$mhubPurple: #4895c2;
$mhubGreen: #366954;
$mhubPink: #464899;
$mhubDarkGreen: #38325c;
$mhubMonroeBlue:#0c486e;
$mhubMonroeDarkBlue: #232340; //hamburger Menu - mini menu button

$mhubLightOrange: #c5ebe6;
$mhubLightPurple: #b7dbed;
$mhubLightGreen: #bcebd7;
$mhubLightPink: #a8adff;
$mhubLightDarkGreen: #b1afbd;//#9ac7cd;
$indNews: industry;