<!-- hide or show appraisal view if clicked/ and managers questions-->
<!-- no Appraisal selected, show user appraisals -->
<div ng-show="!model.questionsAns && !model.comments">
    <div class="">
        <div class="row animated fadeInLeft">
            <div class="col-lg-12 employees  white-bg dashboard-header smallPadleft">

                <div class="col-lg-12  container"><h2>Review  User Appraisals Section</h2><p>Users who don't appear in this list have not been assigned an appraisal type</p>      </div>
                <!-- displays latest appraisal -->
                <div class="">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>User Appraisals</h4>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Search by Name" class="form-control" ng-model="uName">
                            </div>
                            <div class="col-sm-1">
                                <input type="checkbox" class="checkbox" ng-model="checkboxModel.pending" ng-init="checkboxModel.pending=true">


                            </div>
                            <div class="col-sm-3">
                                View only pending

                            </div>
                        </div>
                    </div>
                  
                    <div class="ibox-content" style="border-top:0px;">
                     
                        <div class="row" style="margin: 10px 0px 10px 0px; padding:5px 0px 5px 0px;background-color:lightgray; ">
                            <div class="col-sm-3"><h4>User name (Click to view)</h4></div>
                            <div class="col-sm-3"><h5>Appraisal Schedule</h5></div>
                            <div class="col-sm-3"><h5>Appraisal Status</h5></div>
                            <div class="col-sm-3"><h5> View Active Appraisal</h5></div>
                        </div>
                        <div ng-if="model.Loading==true" class="text-center">
                            <p><i class="fa fa-spin fa-spinner fa-3x"></i></p>
                        </div>
                        <div ng-repeat="user in model.users | filter:{membername:uName}" ng-show="checkboxModel.pending==false || user.App_Status==2 || user.App_Status==3">


                            <div class="row">
                                <div>
                                    <div class="col-sm-3">

                                        <h4><a href="/administration/manage-user-appraisals#?userid={{user.member_id}}">Appraisals for {{user.membername}} </a> </h4>

                                    </div>
                                </div>

                                <div ng-repeat="appraisal in user.MemberApps" ng-if="$first">
                                    <div ng-if="appraisal.AppStatus!=2 && appraisal.AppStatus!=3">

                                        <div class="col-sm-9">
                                            <h4>There are no Active appraisals, click on username name to view all past appraisals</h4>
                                        </div>

                                    </div>
                                    <div ng-if="appraisal.AppStatus==2">
                                        <div class="col-sm-3">
                                            <p>{{appraisal.ScheduleAlias}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><span class="badge badge-warning">Pending </span> <!--{{appraisal.appStatus}}--></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="/administration//manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}"><button class="btn btn-success">view Appraisal</button></a>
                                        </div>
                                    </div>
                                    <div ng-if="appraisal.AppStatus==3">
                                        <div class="col-sm-3">
                                            <p>{{appraisal.ScheduleAlias}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><span class="badge badge-warning">Awaiting Final Appraisal Comments</span> <!--{{appraisal.appStatus}}--></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="/administration/manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}"><button class="btn btn-success">Review Appraisal</button></a>
                                        </div>
                                    </div>
                                    <!--<div class="row" ng-if="appraisal.status==4">
                                        <div class="col-sm-4" >
                                            <p>Current Appraisal for 1st quarter 2016</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p ><span class="badge badge-warning">aWaiting Final Appraisal Comments</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}"><button  class="btn btn-success">Review Appraisal</button></a>
                                        </div>
                                    </div>
                                    -->

                                    <div ng-if="appraisal.status==4" ng-show="checkboxModel.pending==false">
                                        <div class="col-sm-3">
                                            <p>{{appraisal.ScheduleAlias}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><span class="badge badge-warning">inCompleted </span> <!--{{appraisal.appStatus}}--></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="./">View Past Appraisal</a>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="appraisal.status==5" ng-show="checkboxModel.pending==false">
                                        <div class="col-sm-3">
                                            <p>Not completed</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <p><span class="badge badge-warning">inCompleted </span> </p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}">View Past Appraisal</a>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <hr />
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>


