<div class="col-lg-12">
<!-- start answer/view appraisal show -->           
<div ng-show="model.questionsAns">
	<div class="row">
<div class="col-sm-12">
<h3> Complete Appraisal</h3>
	<p>Complete or edit your appraisal below</p>
</div>
	</div>

	
  <div class="panel panel-default">
  	
  <div class="panel-heading">Appraisal Form</div>


  <div class="panel-body">
   

  <div ng-repeat="question in model.questionsAns" class="form-group">
  	<div ng-if="question.QSection==1 || question.QSection==0">
 <div ng-if="question.QType=='TextArea'">
  <div class="row">
	<div class="col-sm-4">
<label>{{ question.QWording }}</label>
	</div>
	<div class="col-sm-7">
<textarea ng-model="question.QAnswer" class="form-control" rows="4">{{ question.QAnswer }}</textarea>

	</div>
  </div>


  </div>




 
 <div ng-if="question.QType!='TextArea'">
 	<div class="row">
	<div class="col-sm-4">

 	<label>{{ question.QWording }} </label>
 </div>
 <div class="col-sm-7">
 	<input type="text" value="{{ question.QAnswer }}" ng-model="question.QAnswer" class="form-control">
 	</div>
 </div>

 </div>

</div>

</div>
</div>

<div class="panel-footer">
<button class="btn btn-default" ng-click="model.saveQuestions(model.questionsAns)"> Save</button> <button class="btn btn-primary" ng-click="model.submitQuestions(model.questionsAns)"> Submit</button> 
</div>
 </div>   

 <div class="row" >
<div class="col-sm-12" style="padding-top:50px"><button class="btn btn-success" ng-click="model.questionsAns=null">Go back to previous page</button</div>
 </div>
 
 </div>  



 
 </div>   
<!-- End Answer show template -->


<div ng-show="!model.questionsAns" class="col-md-12">
              
<h3>Appraisals</h3>
<p>Complete or review your past appraisals by clicking below</p>


<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
  <div class="panel-heading">Current Appraisal</div>
  <div class="panel-body">
  
              	
<div class="row" ng-repeat="appraisal in model.appraisals"  ng-if="$first">
	 <div class="col-sm-1"><i class="glyphicon glyphicon-exclamation-sign"></i><!--{{ appraisal.appStatus }} --></div>
	 <div class="col-sm-4"> Appraisal for the quarter {{appraisal.quarter}}</div>
	
	 <div class="col-sm-4"><button class="btn btn-primary" ng-click="model.questions(appraisal)"> View Appraisal</button></div>
	

</div>

             
  
  </div>


<div class="" stlye="border:none;">
  <div class="well well-sm">Past Appraisals</div>
  <div class="panel-body" >
	<div class="row" ng-repeat="appraisal in model.appraisals" ng-if="!$first">
	    <div class="col-sm-1"><i class="glyphicon glyphicon-check"></i><!--{{ appraisal.appStatus }} --></div>
	    <div class="col-sm-4">Appraisal for {{ appraisal.quarter }} 2015</div>
	    <div class="col-sm-4"><button class="btn default" ng-click="model.questions(appraisal)">review</button></div>
</div>



</div>





</div>

<div class="panel-footer ">
	<div class="row">
	<div class="col-sm-3"><i class="glyphicon glyphicon-check"></i> Completed</div>
	<div class="col-sm-3"><i class="glyphicon glyphicon-exclamation-sign"></i> Incomplete</div>
	<div class="col-sm-3"><i class="glyphicon glyphicon-eye-open"></i> Pending</div>

</div>


</div>
</div>

</div>
  </div>
