<div class="col-lg-12">
    <!-- start answer/view appraisal show -->
    <div ng-show="model.questionsAns && model.past!=1">
        <div class="row">
            <div class="col-sm-12">
                <h2> Complete Appraisal</h2>
                <p>Complete or edit your appraisal below</p>
            </div>
        </div>


        <div class="panel panel-default">

            <div class="panel-heading">Appraisal Form</div>


            <div class="panel-body">


                <div ng-repeat="question in model.questionsAns" class="form-group">
                    <div ng-if="question.QSection==1 || question.QSection==0">
                        <div ng-if="question.QType=='TextArea'">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>{{ question.QWording }}</label>
                                </div>
                                <div class="col-sm-7">
                                    <textarea ng-model="question.QAnswer" class="form-control" rows="4">{{ question.QAnswer }}</textarea>

                                </div>
                            </div>


                        </div>
                        <div ng-if="question.QType=='checkbox'">
                            <div class="row">
                                <div class="col-sm-4">

                                    <label>{{ question.QWording }} </label>
                                </div>
                                <div class="col-sm-7 switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" ng-model="question.QAnswer" value="{{question.QAnswer}}" id="{{question.Id}}" ng-true-value="'Yes'" ng-false-value="'No'">
                                        <label class="onoffswitch-label" for="{{question.Id}}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                       
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                  




                    <div ng-if="question.QType!='TextArea' && question.QType!='Range' && question.QType!='checkbox'">
                        <div class="row">
                            <div class="col-sm-4">

                                <label>{{ question.QWording }} </label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" value="{{ question.QAnswer }}" ng-model="question.QAnswer" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div ng-if="question.QType=='Range'">
                        <div class="row">
                            <div class="col-sm-4">

                                <label>{{ question.QWording }} </label>
                            </div>
                            <div class="col-sm-7">
                                <input type="range" min="1" max="5" ng-model="question.QAnswer" value="{{ question.QAnswer }}" id="fader" class="form-control" step="1">
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-default" ng-click="model.saveQuestions(model.questionsAns)"><i class="fa fa-check text-success" ng-if="model.tick==true"></i><i class="fa fa-spin fa-spinner text-success" ng-if="model.savingApp==true"></i> Save</button> <button class="btn btn-primary" ng-click="model.submitQuestions(model.questionsAns)"><i class="fa fa-spin fa-spinner" ng-if="model.submitting==true"></i> Submit</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="padding-top:50px"><button class="btn btn-success" ng-click="model.questionsAns=null">Go back to previous page</button></div>
    </div>

</div>




 </div>
<!-- End Answer show template -->
<!--Begin Past appraisals display-->

<div ng-show="model.questionsAns && model.past==1" class="col-md-12">
    <div class="well employees"> <h2>Past / Submitted Appraisals</h2> </div>
    <div class="well well-sm"><h3>Employee Appraisal Section </h3></div>
    <div ng-repeat="question in model.questionsAns" ng-if="question.QSection==1 || question.QSection==0">
        <div class="row" style="padding:15px;">
            <div class="col-sm-5"><strong>{{question.QWording}}</strong></div>
            <div class="col-sm-5">{{question.QAnswer}}</div>
        </div>

    </div>

    <div class="well well-sm"><h3>Manager Appraisal Section </h3></div>
    <div ng-repeat="question in model.questionsAns" ng-if="question.QSection==2">
        <div class="row" style="padding:15px;">
            <div class="col-sm-5"><strong>{{question.QWording}}</strong></div>
            <div class="col-sm-5">{{question.QAnswer}}</div>
        </div>

    </div>

    <div class="well well-sm"><h3>Final Review after Face to Face</h3></div>
    <div ng-repeat="question in model.questionsAns" ng-if="question.QSection==3 || question.QSection==4">
        <div class="row" style="padding:15px;">
            <div class="col-sm-5"><strong>{{question.QWording}}</strong></div>
            <div class="col-sm-5">{{question.QAnswer}}</div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12" style="padding-top:50px"><button class="btn btn-success" ng-click="model.questionsAns=null;model.past=null;">Go back to previous page</button></div>
    </div>
</div>

<!--End past Appraisals View-->

<div ng-show="!model.questionsAns" class="col-md-12  employees  white-bg dashboard-header smallPadleft">
    
    <h2>Appraisals</h2>
    <p>Complete or review your past appraisals by clicking below</p>
    

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"> Active Appraisal  </div>
                <div class="panel-body">
<div class="text-center"> <i class="fa fa-spin fa-spinner fa-4x" ng-if="model.appLoading"></i></div>

                    <div class="row" ng-repeat="appraisal in model.appraisals" ng-if="$first">

                        <div class="col-sm-1"><span><i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Not Submitted" tooltip-placement="top-right" ng-if="appraisal.AppStatus==0 || appraisal.AppStatus==1"></i></span><i class="glyphicon glyphicon-eye-open" uib-tooltip="Submitted Pending managers Response" tooltip-placement="bottom-left" ng-if="appraisal.AppStatus==2"></i> <i class="glyphicon glyphicon-eye-open" uib-tooltip="Waiting Managers Final Comments" tooltip-placement="bottom-left" ng-if="appraisal.AppStatus==3"></i>  <i class="glyphicon glyphicon-check" uib-tooltip="Appraisal Completed" tooltip-placement="bottom-left" ng-if=" appraisal.AppStatus==4"></i><!--{{ appraisal.AppStatus }} --></div>
                        <div class="col-sm-4"> {{appraisal.ScheduleAlias}}</div>

                        <div class="col-sm-4">
                            <button class="btn btn-primary" ng-click="model.questions(appraisal)" ng-if="appraisal.AppStatus==0 || appraisal.AppStatus==1"> Enter Appraisal</button>
                            <button class="btn btn-primary" ng-click="model.questionsPast(appraisal)" ng-if="appraisal.AppStatus!=0 && appraisal.AppStatus!=1"> View Appraisal</button>
                        </div>


                    </div>



                </div>


                <div class="" stlye="border:none;">
                    <div class="well well-sm">Other Appraisals</div>
                    <div class="panel-body">
                        <div class="row" style="padding-top:20px;" ng-repeat="appraisal in model.appraisals" ng-if="!$first">
                           
                            <div class="col-sm-1"><i class="glyphicon glyphicon-exclamation-sign" uib-tooltip="Not Submitted" tooltip-placement="bottom-left" ng-if="appraisal.AppStatus==0 || appraisal.AppStatus==1"></i></span><i class="glyphicon glyphicon-eye-open" uib-tooltip="Submitted Pending managers Response" tooltip-placement="bottom-left" ng-if="appraisal.AppStatus==2"></i> <i class="glyphicon glyphicon-eye-open" uib-tooltip="Waiting Managers Final Comments" tooltip-placement="bottom-left" ng-if="appraisal.AppStatus==3"></i>  <i class="glyphicon glyphicon-check" uib-tooltip="Appraisal Completed" tooltip-placement="bottom-right" ng-if="appraisal.AppStatus==4"></i><!--{{ appraisal.appStatus }} --></div>
                            <div class="col-sm-4">{{appraisal.ScheduleAlias}}</div>
                            <button class="btn btn-primary" ng-click="model.questions(appraisal)" ng-if="appraisal.AppStatus==0 || appraisal.AppStatus==1"> Enter Appraisal</button>

                            <button class="btn default" ng-click="model.questionsPast(appraisal)" ng-if="appraisal.AppStatus==2 || appraisal.AppStatus==3 || appraisal.AppStatus==4">review</button>
                        </div>



                    </div>





                </div>

                <div class="panel-footer ">
                    <div class="row">
                        <div class="col-sm-3"><i class="glyphicon glyphicon-check"></i> Completed</div>
                        <div class="col-sm-3"><i class="glyphicon glyphicon-exclamation-sign"></i> Incomplete</div>
                        <div class="col-sm-3"><i class="glyphicon glyphicon-eye-open"></i> Pending</div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<script>
    /*    $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        */
</script>
