﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="/PublicHol/angular/1.1.5/angular.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
  <script src="./js/appraisals.js"></script>
</head>

<body ng-app>
<div ng-controller="appTemplate">
<div class="container">
  <h3>Create Appraisal</h3>
  <p>Use the question add tool below to add a question to the template</p>

  <div class="row">
    <div class="col-sm-2">
<input type="text" placeholder="Appraisal Question" ng-model="question.text" id="appQuestion" name="longname" class="form-control"/>
   </div>
   <div class="col-sm-2">
<select ng-model="question.type" class="form-control">
<option value="Text">Text Box </option>
<option value="checkbox">Check Box</option>
<option value="TextArea">Text Area</option>
<option value="Slider">Slider 1-5</option>

</select>
   </div>
   <div class="col-sm-3">
<select ng-model="question.section" class="form-control">
<option value="1">Section 1 (User Appraisal)</option>
<option value="2">Section 2 (Managers Response)</option>
<option value="3">Section 3 (Final Comments)</option>
<option value="4">Section 4 (Addition Form)</option>
</select>
  </div>
  <div class="col-sm-2">
<button  ng-click="addQuestion(question);" onClick="Clear1('appQuestion');" class="btn"> Add Question</button>
   </div>

</div>
   <div class="panel panel-default" style="margin-top:10px">
  <!-- Default panel contents -->
  <div class="panel-heading">Appraisal Questions</div>
  <div class="panel-body">
    <p>Listed below are all the current question added into the new template. Click save below, and be sure to give the appraisal template a name.</p>
  </div>
<div>
 <table class="table">

    <tr ng-repeat="question in questions">
    <td ng-if="question.QType=='TextArea'">  <textarea></textarea>  </td>
    <td ng-if="question.QType!='TextArea' && question.QType!='Section'">  <input type="{{question.QType }}" />   </td>
     <td ng-if="question.QType=='Section'"> 'Section Heading' </td>
      <td >{{question.QWording}}</td>
       <td >Section {{question.QSection}}</td>
    
      <td><button ng-click="removeQuestion($index)">Remove Question</button></td>
    </tr>
  </table>
</div>
<div class="panel-footer "> <div class="row">
     <div class="col-sm-4">Template Name <input type="text" ng-model="qtemplates.name"/></div>
     <div class="col-sm-8">
        <button ng-click="addTemplate(qtemplates)" class="btn btn-primary"> Save this template
      </button> 
    </div>
  </div>
</div>

</div>


<div style="padding-top:10px;">

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Appraisal Templates</div>
  <div class="panel-body">
    <p>Listed below are all the currently available Appraisal Forms, click show questions to see the questions added to each form.</p>
  </div>
<div>

<table class="table">
<thead>
    <tr>
<th>Template Name</th>
<th> Number of Questions</th>
<th>Date Created</th>
<th>View Questions</th>
<th>Delete Template</th>
    </tr>
</thead>
<tbody ng-repeat="qtemplate in qtemplates">
<tr >
<td>{{ qtemplate.TemplateName }}</td>
<td>{{ qtemplate.AppQuest.length }}</td>
<td> {{ qtemplate.CreatedAt}}</td>
<td><button class="btn" ng-click="showDetails = ! showDetails">Show Questions</button></td>
    
    <td><i class="glyphicon glyphicon-trash"></i> <a href="" on-click="deleteTemplate">Delete</a></td>
</tr>
<tr ng-repeat="tquestion in qtemplate.AppQuest" ng-show="showDetails">
<td>{{ tquestion.QWording }}</td>
<td ng-if="tquestion.QType=='TextArea'">  <textarea></textarea>  </td>
    <td ng-if="tquestion.QType!='TextArea'">  <input type="{{tquestion.QType }}" />   </td>
    <td> Section {{tquestion.QSection }} </td>
</tr>
</tbody>


</table>
</div>
</div>
</div>

<script>
function Clear1(str)
{    
 
   document.getElementById(str).value= "";
}

</script>

</body>
</html>
