<!-- hide or show appraisal view if clicked/ and managers questions-->

	


<!-- no Appraisal selected, show user appraisals -->
<div ng-show="!model.questionsAns && !model.comments">
	<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row">
        <div class="col-lg-11">

  <div class="well well-lg"><h3>Review  User Appraisals</h3><p>Users who don't appear in this list have not been assigned an appraisal type</p>      </div>     
<!-- displays latest appraisal -->
<div class="ibox float-e-margins">
   <div class="ibox-title">
      	<div class="row">
      		<div class="col-sm-4">
                  <h4>User Appraisals</h4>
             </div>
             <div class="col-sm-4">
                  <input type="text" placeholder="Search by Name" class="form-control" ng-model="uName">
             </div>
               <div class="col-sm-1" >
                  <input type="checkbox"  class="checkbox" ng-model="checkboxModel.pending" ng-init="checkboxModel.pending=true">
             
                
             </div>
    <div class="col-sm-3" >
    	View only pending
   
    </div>               
        </div>
  </div>
  <div class="ibox-content">
 	
 	<div  ng-repeat="user in model.users | filter:{membername:uName}" >
 		<div class="row">
 			<div class="col-sm-12">
 			    <h4>Appraisals for {{user.membername}}</h4>
 			    <hr>
 			</div>
 		</div>

 		<div  ng-repeat="appraisal in user.MemberApps">
 			 <div class="row" ng-if="appraisal.AppStatus==2">
				<div class="col-sm-4" >
					<p>{{appraisal.ScheduleAlias}} </p>
				</div>
				<div class="col-sm-4">
					<p ><span class="badge badge-warning">Pending</span> <!--{{appraisal.appStatus}}--></p>
				</div>
				<div class="col-sm-4">
					<a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}"><button  class="btn btn-success">view Appraisal</button></a>
				</div>
			</div>
			 <div class="row" ng-if="appraisal.status==3">
				<div class="col-sm-4" >
					<p>{{appraisal.ScheduleAlias}}</p>
				</div>
				<div class="col-sm-4">
					<p ><span class="badge badge-warning">aWaiting Final Appraisal Comments</span> <!--{{appraisal.appStatus}}--></p>
				</div>
				<div class="col-sm-4">
					<a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}"><button  class="btn btn-success">Review Appraisal</button></a>
				</div>
			</div>
			<!--<div class="row" ng-if="appraisal.status==4">
				<div class="col-sm-4" >
					<p>Current Appraisal for 1st quarter 2016</p>
				</div>
				<div class="col-sm-4">
					<p ><span class="badge badge-warning">aWaiting Final Appraisal Comments</span> 
				</div>
				<div class="col-sm-4">
					<a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}"><button  class="btn btn-success">Review Appraisal</button></a>
				</div>
			</div>
			-->

			<div class="row" ng-if="appraisal.status==4"  ng-show="checkboxModel.pending==false">
				<div class="col-sm-4" >
					<p>{{appraisal.ScheduleAlias}}</p>
				</div>
				<div class="col-sm-4">
					<p ><span class="badge badge-warning">Completed</span> <!--{{appraisal.appStatus}}--></p>
				</div>
				<div class="col-sm-4">
					<a href="./">View Past Appraisal</a>
				</div>
			</div>
			<div class="row" ng-if="appraisal.status==5"  ng-show="checkboxModel.pending==false">
				<div class="col-sm-4" >
					<p>Not completed</p>
				</div>
				<div class="col-sm-4">
					<p ><span class="badge badge-warning">Completed</span> <!--{{appraisal.appStatus}}--></p>
				</div>
				<div class="col-sm-4">
					<a href="/employees/manage-user-appraisals#?userid={{appraisal.Member_Id}}&amp;Appraisalid={{appraisal.Id}}">View Past Appraisal</a>
				</div>
			</div>
		</div>
 	</div>
 		
</div>
</div>

<!-- diplays past appraisals -->
<!--
  <div class="ibox float-e-margins">
                    <div class="ibox-title">
<h4>Past Appraisals</h4>
</div>
  <div class="ibox-content">

 	<div class="row" ng-repeat="appraisal in model.appraisals" ng-if="!$first">
<div class="col-sm-4" >
<p >Year: 2015  month/quarter:{{appraisal.quarter}}</p>
	</div>
<div class="col-sm-4">
<p class="text-Success"><strong>Status is Completed</strong></p>
	</div>
	<div class="col-sm-4">
<button ng-click="model.questions2(appraisal)" class="btn btn-success">View Appraisal</button>
	</div>
</div>
</div>
-->
</div>
</div>


</div></div></div>


