<!-- hide or show appraisal view if clicked/ and managers questions-->

<div ng-show="model.questionsAns && !model.comments">
	<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-11">
<div class="well well-lg"><h3>Appraisal Review</h3>
<p>Please see the user appraisal to the left, and add your comments on the right.</p>
</div>
<div class="row">
	<!-- Users appraisal questions and answers -->
    <div class="col-sm-6">

        <h4 ng-init="c1=0"> Employee Appraisal Answers  <hr></h4>


        <div class="row form-group" ng-repeat="questions in model.questionsAns" ng-if="questions.QSection==1 || questions.QSection==0 ">
           
            <div >

                <div class="col-sm-12"><lable> <strong>{{ questions.QWording}}:</strong></lable></div>
                <div class="col-sm-12 form-input">{{questions.QAnswer}}</div>
            </div>
        </div>

      <h3 ng-if="model.AppraiseView2==3">Managers Comments<hr /></h3>
        <div class="row form-group" ng-repeat="questions in model.questionsAns" ng-if="model.AppraiseView2==3 && questions.QSection==2 ">
           

                <div>

                    <div class="col-sm-12"><lable> <strong>{{ questions.QWording}}:</strong></lable></div>
                    <div class="col-sm-12 form-input">{{questions.QAnswer}}</div>
               
            </div>
        </div>
        </div>
        


    <!-- Managers response section -->
    <div class="col-sm-6" ng-if="model.AppraiseView2!=3">
        <h4>Managers Comments on Appraisal<hr></h4>
        <div ng-repeat="questions in model.questionsAns" >
            
            <div class="row form-group" ng-if="questions.QSection==2">
                 <div>
		            <div class="col-sm-12"><lable> <strong>{{ questions.QWording}}</strong></lable></div>
		            <div class="col-sm-12" ng-if="questions.QType=='TextArea'"><textarea ng-model="questions.QAnswer" rows="5" class="form-control">{{questions.QAnswer}}</textarea>   </div>
		            <div class="col-sm-12" ng-if="questions.QType!='TextArea' && questions.QType!='Range'"><input type="{{questions.QType}}" value="{{questions.QAnswer}}" ng-model="questions.QAnswer" class="form-control"></div>
                    <div class="col-sm-12" ng-if="questions.QType=='Range'"><input type="range" min="1" max="5" ng-model="question.QAnswer" value="{{ question.QAnswer }}" id="fader" class="form-control" step="1"></div>
                 </div>
	       </div>
        </div>
        <div style="padding-top:25px;">
            <button class="btn btn-default" ng-click="model.saveQuestions(model.questionsAns)"><i class="fa fa-check text-success" ng-if="model.tick==true"></i><i class="fa fa-spin fa-spinner text-success" ng-if="model.savingApp==true"></i> Save Comments</button>	<button class="btn btn-primary" ng-click="model.submitQuestions(model.questionsAns)"><i class="fa fa-spin fa-spinner" ng-if="model.submitting==true"></i> Submit Comments</button>
        </div>
        </div>
    <div class="col-sm-6" ng-if="model.AppraiseView2==3">
        <h4>Comments From Face To Face<hr></h4>
      
       
        <div ng-repeat="questions in model.questionsAns" ng-if="model.AppraiseView2==3 && questions.QSection==3" ng-init="model.FaceToFace=1">
        
            
            <div class="row">
                <div class="col-sm-12"><lable><strong>{{ questions.QWording}}</strong></lable></div>
                <div class="col-sm-12" ng-if="questions.QType=='TextArea'"><textarea ng-model="questions.QAnswer" rows="5" class="form-control">{{questions.QAnswer}}</textarea>   <br /></div>
                <div class="col-sm-12" ng-if="questions.QType!='TextArea' && questions.QType!='Range' && questions.QType!='checkbox' " ><input type="{{questions.QType}}" value="{{questions.QAnswer}}" ng-model="questions.QAnswer" class="form-control"><br /></div>
                <div class="col-sm-12" ng-if="questions.QType=='Range'"><input type="range" min="1" max="5" ng-model="question.QAnswer" value="{{ question.QAnswer }}" id="fader" class="form-control" step="1"><br /></div>
                <div class="col-sm-12"ng-if="tquestion.QType=='checkbox'">
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" checked class="onoffswitch-checkbox" id="{{tquestion.Id}}" ng-model="tquestion.QAnswer" ng-true-value="'Yes'" ng-false-value="'No'">
                            <label class="onoffswitch-label" for="{{tquestion.Id}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
             </div>

        </div>
        <div ng-if="model.FaceToFace==0">
            There is no Face To Face Section in this appraisal.
            <div style="padding-top:25px;">
                <button class="btn btn-primary" ng-click="model.setCompleted(model.questionsAns)">Mark Appraisal as Completed</button>
            </div>
        </div>

            <div style="padding-top:15px;" ng-if="model.FaceToFace==1">
                
                <button class="btn btn-default"  ng-click="model.saveQuestions(model.questionsAns)"><i class="fa fa-check text-success" ng-if="model.tick==true"></i><i class="fa fa-spin fa-spinner text-success" ng-if="model.savingApp==true"></i>Save Comments</button>	<button class="btn btn-primary"  ng-click="model.submitQuestions(model.questionsAns)">Submit Comments</button>
            </div>
         

    </div>
</div>
	<div class="row" style="padding-top:35px;">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<button class="btn btn-Success" ng-click="model.questionsAns=null"> Return to Users Appraisal Page</button>
		</div>
	</div>
</div>
</div>

</div></div>


<!-- show completed appraisals -->
<div ng-show="model.comments">
	<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-11">

<div class="well well-lg"><h3>Final Appraisal Review</h3>
<p>Please see the appraisal and staff comments below.</p>
</div>	

<div class="panel panel-default">
  	
  <div class="panel-heading">Employee Section</div>


  <div class="panel-body">

<div class="row form-group"  ng-repeat="questions in model.questionsAns" ng-if="questions.QSection==1 || questions.QSection==0 " >

		<div class="col-sm-6"><lable> <strong>{{ questions.QWording}}:</strong></lable></div>
		<div class="col-sm-6 form-input" >{{questions.QAnswer}}</div>
	</div>

	</div>

	<div class="panel-heading">Manager Section</div>
  <div class="panel-body">

<div class="row form-group"  ng-repeat="questions in model.questionsAns" ng-if="questions.QSection==2" >
<div  >
		<div class="col-sm-6"><lable> <strong>{{ questions.QWording}}</strong></lable></div>
		<div class="col-sm-6 form-input" >{{questions.QAnswer}}</div>
	</div>
	</div>


 
</div>

<div class="panel-heading">Face To Face</div>
  <div class="panel-body">
    
        <div class="row form-group"  ng-repeat="questions in model.questionsAns" ng-if="questions.QSection==3 || questions.QSection==4">
            <div class="col-sm-6"><lable> <strong>{{ questions.QWording}}</strong></lable></div>
            <div class="col-sm-6 form-input">{{questions.QAnswer}}</div>
        </div>
		
	 
	
  </div>

</div>
            <div class="row" style="padding-top:35px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn btn-Success" ng-click="model.questionsAns=null; model.comments=null;"> Return to Users Appraisal Page</button>
                </div>
            </div>
	
</div>

</div></div></div>

<!-- no Appraisal selected, show user appraisals -->
<div ng-show="!model.questionsAns && !model.comments">
	<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row">
        <div class="col-lg-11">
     <div class="text-danger">{{ model.appError }}</div>
  <div class="well well-lg"><h3>Review  Appraisals for '<i class="fa fa-spin fa-spinner"  ng-if="model.appLoading"></i> {{model.users.FirstName}}' </h3>      </div>     
<!-- displays latest appraisal -->
<div class="ibox float-e-margins">
                    <div class="ibox-title">
<h4>Latest Appraisal Requiring Action</h4>
</div>
  <div class="ibox-content">
 	
 	<div class="row" ng-repeat="appraisal in model.appraisals" ng-if="$first && appraisal.AppStatus!=0 && appraisal.AppStatus!=1">
<div class="col-sm-4" >
<p>{{appraisal.ScheduleAlias}}</p>
	</div>
<div class="col-sm-4">
  
<p ><span class="badge badge-warning" ng-if="appraisal.AppStatus==2">Awaiting Comments</span><span class="badge badge-danger" ng-if="appraisal.AppStatus==3">Waiting Final Comments</span><span class="badge badge-success" ng-if="appraisal.AppStatus==4">Appraisal Completed</span><!-- {{appraisal.AppStatus}} --></p>
	</div>
	<div class="col-sm-4">
<button ng-click="model.questions(appraisal)" class="btn btn-success" ng-if="appraisal.AppStatus!=4">View Appraisal</button>
        <button ng-click="model.questions2(appraisal)" class="btn btn-success" ng-if="appraisal.AppStatus==4">View Appraisal</button>
	</div>
</div>
</div>
</div>

<!-- diplays past appraisals -->

  <div class="ibox float-e-margins">
                    <div class="ibox-title">
<h4>Other Appraisals</h4>
</div>
  <div class="ibox-content">

 	<div class="row" ng-repeat="appraisal in model.appraisals" ng-if="!$first">
<div class="col-sm-4" >
<p>{{appraisal.ScheduleAlias}} </p>
	</div>
         <div class="col-sm-4" ng-if="appraisal.AppStatus==0 || appraisal.AppStatus==1">
             <p class="text-Success"><strong>Awaiting Employee Input</strong> <!-- {{appraisal.appStatus}} --></p>
         </div>
         <div class="col-sm-4" ng-if="appraisal.AppStatus==2">
             <p class="text-Success"><strong>Awaiting Managers Comments (Complete active appraisal first)</strong> <!-- {{appraisal.appStatus}} --></p>
         </div>
<div class="col-sm-4" ng-if="appraisal.AppStatus==3 || appraisal.AppStatus=4">
<p class="text-Success"><strong>Status is Completed</strong> <!-- {{appraisal.appStatus}} --></p>
	</div>
	<div class="col-sm-4">
<button ng-click="model.questions2(appraisal)" class="btn btn-success">View Appraisal</button>
	</div>
</div>
</div>
</div>
</div>
        <a href="/administration/manage-all-appraisals/"><button class="btn btn-default">Go Back All User Appraisals</button></a>

</div></div></div>


