<section>

	<!--<div class="row">

		<div class="col-sm-3"></div>

	</div>-->

	<form name="formMemberEntry" action="">

		<div class="form-group">

			<label for="" class="static-label"></label>
			<input type="text" id="" value="" class="form-control" />

		</div>

	</form>

</section>