﻿<div class="modal-body">

    <div class="row">

        <div class="hidden-xs col-sm-5">

            <img ng-src="{{member.photo || '/media/default-profile-pic.png'}}" alt="Photo" class="img-responsive img-rounded" />

        </div>

        <div class="col-xs-12 col-sm-7">

            <ul class="list-unstyled list-linespace text-uppercase">

                <li>
                    <h4 style="margin: 0;">
                        {{member.name}}<br />
                        <small>{{member.nickname}}</small>
                    </h4>
                    {{member.groupId}}
                </li>

                <li>
                    <hr class="no-margin" />
                </li>

                <li>
                    <small>Email</small><br />
                    <strong><a href="mailto:{{member.email}}">{{member.email}}</a></strong>
                    <br/>
                </li>

                <li data-ng-show="member.phone || member.mobile">
                    <small data-ng-show="member.phone">Phone</small>
                    <small data-ng-show="member.phone && member.mobile">/</small>
                    <small data-ng-show="member.mobile">Mobile</small><br />
                    <strong>{{member.phone}} {{member.phone && member.mobile ? '/' : ''}} {{member.mobile}}</strong>
                    <br/>
                </li>

                <li>
                    <small>Team</small><br />
                    <strong>{{member.team}}</strong>
                    <br/>
                </li>

                <li>
                    <small>Position</small><br />
                    <strong>{{member.position}}</strong>
                    <br/>
                </li>

            </ul>

        </div>

    </div>

</div>