<div class="umb-editor" ng-controller="mhub.dictionaryEditor">
    <div class="control-group">
        <input name="newItem_key" type="text" ng-model="newItem.key" val-highlight="hasError" />
        <!--<input name="newItem_value" type="text" ng-model="newItem.value" val-highlight="hasError" />-->
        <button class="btn btn-small btn-success" ng-click="add($event)">Add</button>
    </div>
    <div class="control-group" ng-repeat="item in model.value">
        <input type="text" ng-model="item.key" val-server="item_{{$index}}" required />
        <input type="text" ng-model="item.value" val-server="item_{{$index}}" required />
        <button class="btn btn-small btn-danger" ng-click="remove(item, $event)">Remove</button>
    </div>

</div>
