﻿

.bgm-white {
  background-color: #ffffff !important;
}

.c-white {
  color: #ffffff !important;
}

.bgm-black {
  background-color: #000000 !important;
}

.c-black {
  color: #000000 !important;
}

.bgm-brown {
  background-color: #795548 !important;
}

.c-brown {
  color: #795548 !important;
}

.bgm-pink {
  background-color: #e91e63 !important;
}

.c-pink {
  color: #e91e63 !important;
}

.bgm-red {
  background-color: #f44336 !important;
}

.c-red {
  color: #f44336 !important;
}

.bgm-blue {
  background-color: #2196f3 !important;
}

.c-blue {
  color: #2196f3 !important;
}

.bgm-purple {
  background-color: #9c27b0 !important;
}

.c-purple {
  color: #9c27b0 !important;
}

.bgm-deeppurple {
  background-color: #673ab7 !important;
}

.c-deeppurple {
  color: #673ab7 !important;
}

.bgm-lightblue {
  background-color: #03a9f4 !important;
}

.c-lightblue {
  color: #03a9f4 !important;
}

.bgm-cyan {
  background-color: #00bcd4 !important;
}

.c-cyan {
  color: #00bcd4 !important;
}

.bgm-teal {
  background-color: #009688 !important;
}

.c-teal {
  color: #009688 !important;
}

.bgm-green {
  background-color: #4caf50 !important;
}

.c-green {
  color: #4caf50 !important;
}
.bgm-mhubred {
  background-color: #BF004D !important;
}


.bgm-lightgreen {
  background-color: #4D990F !important;
}

.c-lightgreen {
  color: #8bc34a !important;
}

.bgm-lime {
  background-color: #cddc39 !important;
}

.c-lime {
  color: #cddc39 !important;
}

.bgm-yellow {
  background-color: #ffeb3b !important;
}

.c-yellow {
  color: #ffeb3b !important;
}

.bgm-amber {
  background-color: #ffc107 !important;
}

.c-amber {
  color: #ffc107 !important;
}

.bgm-orange {
  background-color: #ff9800 !important;
}

.c-orange {
  color: #ff9800 !important;
}

.bgm-deeporange {
  background-color: #ff5722 !important;
}

.c-deeporange {
  color: #ff5722 !important;
}

.bgm-gray {
  background-color: #9e9e9e !important;
}

.c-gray {
  color: #9e9e9e !important;
}

.bgm-bluegray {
  background-color: #607d8b !important;
}

.c-bluegray {
  color: #607d8b !important;
}

.bgm-indigo {
  background-color: #3f51b5 !important;
}

.c-indigo {
  color: #3f51b5 !important;
}

/*
 * Background Colors
 */

.bg-black-trp {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*
 * Border
 */

.b-0 {
  border: 0 !important;
}

/*
 * width
 */

.w-100 {
  width: 100% !important;
}

/*
 * Border Radius 
 */

.brd-2 {
  border-radius: 2px;
}

/*
 * Media - Overriding the Media object to 3.2 version in order to prevent issues like text overflow.
 */

.media {
  overflow: visible;
}

.media:before,
.media:after {
  content: " ";
  display: table;
}

.media:after {
  clear: both;
}

.media:before,
.media:after {
  content: " ";
  display: table;
}

.media:after {
  clear: both;
}

.media > .pull-left {
  padding-right: 15px;
}

.media > .pull-right {
  padding-left: 15px;
}

.media-heading {
  font-size: 14px;
  margin-bottom: 10px;
}

.media-body {
  zoom: 1;
  display: block;
  width: auto;
}

.media-object {
  border-radius: 2px;
}

.close {
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: normal;
  text-shadow: none;
}

.close:hover {
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
}

.dl-horizontal dt {
  text-align: left;
}

*,
button,
input,
i,
a {
  -webkit-font-smoothing: antialiased;
}

*,
*:active,
*:hover {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
  overflow-x: hidden\0/;
  -ms-overflow-style: none;
}

html,
body {
  min-height: 100vh;
}

body {
  font-weight: 400;
  position: relative;
}

audio,
video {
  outline: none;
}

p {
  margin-bottom: 20px;
}

small {
  font-size: 11px;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  font-size: 12px;
}

#main {
  position: relative;
  padding-bottom: 110px;
  padding-top: 100px;
}

.container.c-alt {
  max-width: 1170px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  body.sw-toggled #content {
    padding-left: 268px;
  }
}

@media (min-width: 1200px) {
  body.sw-toggled #content > .container {
    width: calc(100% - 30px);
  }
}

.clist {
  list-style: none;
}

.clist > li:before {
  font-family: 'Material-Design-Iconic-Font';
  margin: 0 10px 0 -20px;
  vertical-align: middle;
}

.clist.clist-angle > li:before {
  content: "\f2fb";
}

.clist.clist-check > li:before {
  content: "\f26b";
}

.clist.clist-star > li:before {
  content: "\f27d";
}

/*
 * Common header classes & IDs
 * Do not remove this
 */

.header-inner {
  list-style: none;
  padding: 17px 0;
  margin-bottom: 0;
  position: relative;
}

.header-inner > li:not(.pull-right) {
  float: left;
}

.header-inner > li:not(:last-child) {
  margin-right: -2px;
}

.logo a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}

#menu-trigger {
  width: 65px;
  height: 35px;
  cursor: pointer;
}

#menu-trigger .line-wrap .line {
  background-color: #fff;
}

#menu-trigger:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.22);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 0;
}

#menu-trigger.open:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.top-menu {
  list-style: none;
  padding: 0;
}

.top-menu > li {
  display: inline-block;
  margin: 0 1px;
  vertical-align: top;
  min-width: 50px;
}

@media (max-width: 767px) {
  .top-menu > li {
    position: static !important;
  }
}

.top-menu > li .dropdown-menu-lg {
  padding: 0;
}

.top-menu > li .dropdown-menu-lg .lv-body {
  min-height: 295px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .top-menu > li:not(#toggle-width) {
    position: relative;
  }

  .top-menu > li:not(#toggle-width):before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 0;
    border-radius: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .top-menu > li:not(#toggle-width):hover:before,
  .top-menu > li:not(#toggle-width).open:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.top-menu > li > a {
  color: #fff;
  display: block;
  text-align: center;
  z-index: 1;
  position: relative;
}

.top-menu > li > a > .tm-icon {
  font-size: 24px;
  line-height: 36px;
}

.top-menu > li > a > .tm-label {
  line-height: 35px;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.top-menu > li > a > .tmn-counts {
  position: absolute;
  font-style: normal;
  background: #f44336;
  padding: 1px 5px;
  border-radius: 2px;
  right: 7px;
  top: -3px;
  font-size: 10px;
  line-height: 15px;
}

@media (max-width: 767px) {
  .top-menu .dropdown-menu-lg {
    width: calc(100% - 28px) !important;
  }

  .top-menu .dropdown-menu {
    right: 14px;
    top: 55px;
  }
}

#notifications {
  position: relative;
}

#notifications .lv-body {
  overflow-x: hidden;
}

#notifications:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  background: url(../img/notifications.png) no-repeat center;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(0) rotate(-180deg);
  -ms-transform: scale(0) rotate(-180deg);
  -o-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
  opacity: 0;
  filter: alpha(opacity=0);
  top: 42px;
}

#notifications.empty:before {
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Full Screen */

:-webkit-full-screen [data-action="fullscreen"] {
  display: none;
}

:-moz-full-screen [data-action="fullscreen"] {
  display: none;
}

:-ms-fullscreen [data-action="fullscreen"] {
  display: none;
}

:full-screen [data-action="fullscreen"] {
  display: none;
}

:fullscreen [data-action="fullscreen"] {
  display: none;
}

/* ----------------------------- End common header classes and IDs------------------------------------- */

/*
 * For header type 1 only
 * You may remove these if you opt header 2
 */

#header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  min-height: 70px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 11px;
}

#header:not(.sidebar-toggled).header-up {
  -webkit-transform: translate3d(0, -70px, 0);
  transform: translate3d(0, -70px, 0);
}

#header .logo a {
  padding: 7px 10px;
}

#top-search-wrap {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 10;
}

#top-search-wrap input[type="text"] {
  border: 0;
  height: 40px;
  padding: 0 10px 0 55px;
  font-size: 18px;
  width: 500px;
  border-radius: 2px;
  background-color: #efefef;
  width: 100%;
}

#top-search-wrap #top-search-close {
  position: absolute;
  top: 15px;
  font-size: 23px;
  font-style: normal;
  width: 45px;
  text-align: center;
  border-radius: 2px 0px 0px 2px;
  cursor: pointer;
  left: 15px;
  height: 40px;
  padding-top: 9px;
}

#top-search-wrap #top-search-close:hover {
  background-color: #e3e3e3;
}

@media (max-width: 767px) {
  #top-search-wrap #top-search-close {
    right: 7px;
  }
}

.tsw-inner {
  position: relative;
  padding: 15px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.search-toggled #top-search-wrap {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Full Width Layout */

@media (min-width: 1200px) {
  #toggle-width .toggle-switch {
    margin: 9px 30px 0 0;
  }

  #toggle-width .toggle-switch .ts-helper {
    height: 11px;
    width: 33px;
  }

  #toggle-width .toggle-switch .ts-helper:before {
    width: 20px;
    height: 20px;
    top: -5px;
  }

  #toggle-width .toggle-switch input:checked + .ts-helper {
    background: rgba(0, 0, 0, 0.26);
  }

  #toggle-width .toggle-switch input:checked + .ts-helper:before {
    left: 18px;
    background: #fff;
  }
}

@media (max-width: 1200px) {
  #toggle-width {
    display: none;
  }
}

@media (min-width: 1200px) {
  .sw-toggled #header {
    padding-left: 15px;
  }

  .sw-toggled #menu-trigger {
    display: none;
  }
}

/* For Stupid IE9 */

.ie9 #header:not(.sidebar-toggled).header-up {
  display: none;
}

/* ----------------------------- End header type 1 ------------------------------------- */

/*
 * For Header type 2 only
 * You may remove these if you opt header 1
 */

#header-2 {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: -70px;
  z-index: 10;
}

@media (min-width: 768px) {
  #header-2 {
    padding: 15px 30px 0;
  }

  #header-2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.04);
    width: 100%;
    height: 49px;
  }
}

#header-2 .search {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  #header-2 .search {
    padding: 0 20px;
  }
}

#header-2 .search input[type="text"] {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 0 6px 30px;
}

#header-2 .search input[type="text"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

#header-2 .search input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}

#header-2 .search input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}

#header-2 .search:after {
  background: #ffeb3b;
}

#header-2 .search .fg-line {
  max-width: 500px;
  position: relative;
}

#header-2 .search .fg-line:after {
  background: #ffeb3b;
}

#header-2 .search .fg-line:before {
  content: '\f1c3';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 0;
  bottom: 1px;
  color: #fff;
  font-size: 22px;
}

.ha-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ha-menu > ul > li {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 767px) {
  .ha-menu > ul > li {
    display: block;
  }
}

.ha-menu > ul > li:not(.active) > *:not(ul) {
  color: rgba(255, 255, 255, 0.6);
}

.ha-menu > ul > li.active > *:not(ul) {
  color: #fff;
  box-shadow: inset 0px -3px 0 0px #ffeb3b;
}

@media (max-width: 767px) {
  .ha-menu > ul > li.active > *:not(ul) {
    display: block;
  }
}

.ha-menu > ul > li > *:not(ul) {
  text-transform: uppercase;
  padding: 15px 12px;
  display: block;
}

.ha-menu > ul > li.open > *:not(ul),
.ha-menu > ul > li > *:not(ul):hover {
  color: #fff;
}

.ha-menu > ul > li .dropdown-menu {
  margin-top: -5px;
  min-width: 100%;
}

@media (max-width: 767px) {
  .ha-menu {
    width: 200px;
    position: absolute;
    top: 65px;
    left: 8px;
    box-shadow: 0 0 10px;
    z-index: 10;
    padding: 0 10px;
  }

  .ha-menu:not(.toggled) {
    display: none;
  }
}

.sidebar {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  height: calc(100% - 65px);
  top: 65px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow-y: auto;
}

.sidebar.toggled {
  opacity: 1;
  filter: alpha(opacity=100);
}

#sidebar {
  width: 268px;
  -webkit-transform: translate3d(-268px, 0, 0);
  transform: translate3d(-268px, 0, 0);
}

#sidebar.toggled {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.profile-menu > a {
  display: block;
  height: 129px;
  margin-bottom: 5px;
  width: 100%;
  background: url(../img/profile-menu.png) no-repeat left top;
  background-size: 100%;
}

.profile-menu > a .profile-pic {
  padding: 12px;
}

.profile-menu > a .profile-pic > img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
}

.profile-menu > a .profile-info {
  background: rgba(0, 0, 0, 0.37);
  padding: 7px 14px;
  color: #fff;
  margin-top: 20px;
  position: relative;
}

.profile-menu > a .profile-info > i {
  font-size: 19px;
  line-height: 100%;
  position: absolute;
  right: 15px;
  top: 7px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.profile-menu .main-menu {
  display: none;
  margin: 0 0 0;
  border-bottom: 1px solid #E6E6E6;
}

.profile-menu.toggled .profile-info > i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-menu {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0 0;
}

.main-menu > li > a {
  padding: 14px 20px 14px 52px;
  display: block;
  color: #4C4C4C;
  font-weight: 500;
  position: relative;
}

.main-menu > li > a:hover {
  color: #262626;
  background-color: #f7f7f7;
}

.main-menu > li > a > i {
  position: absolute;
  left: 16px;
  font-size: 20px;
  top: 0;
  width: 25px;
  text-align: center;
  padding: 13px 0;
}

.main-menu > li.active > a {
  color: #262626;
  background-color: #F4F4F4;
}

.sub-menu > a {
  position: relative;
}

.sub-menu > a:before,
.sub-menu > a:after {
  position: absolute;
  top: 12px;
  color: #575757;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 17px;
  right: 15px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sub-menu > a:before {
  content: "\f278";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sub-menu > a:after {
  content: "\f273";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.sub-menu .sub-menu > a:before,
.sub-menu .sub-menu > a:after {
  top: 5px;
}


.sub-menu.toggled > a:before {
  content: "\f278";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.sub-menu.toggled > a:after {
  content: "\f273";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sub-menu ul {
  list-style: none;
  display: none;
  padding: 0;
}

.sub-menu ul > li > a {
  color: #7f7f7f;
  padding: 8px 20px 8px 50px;
  font-weight: 500;
  display: block;
}

.sub-menu ul > li > a.active,
.sub-menu ul > li > a:hover {
  color: #000;
}

.sub-menu ul > li:first-child > a {
  padding-top: 14px;
}

.sub-menu ul > li:last-child > a {
  padding-bottom: 16px;
}

.sub-menu ul > li ul {
  font-size: 12px;
  margin: 10px 0;
  background-color: #f7f7f7;
}

.sub-menu.active > ul {
  display: block;
}

/*
 * layout
 */

body:not(.sw-toggled) #sidebar {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}

@media (min-width: 1200px) {
  body.sw-toggled #sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1199px) {
  body.sw-toggled #sidebar {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  }
}

/*
 * For Stupid IE9
 */

@media (min-width: 1200px) {
  .ie9 body.sw-toggled #sidebar {
    display: block;
  }
}

.ie9 body:not(.sw-toggled) #sidebar:not(.toggled) {
  display: none;
}

.dropdown-menu {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

.dropdown-menu > li > a {
  padding: 8px 17px;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.dropdown-menu.dropdown-menu-lg {
  width: 300px;
}

.dropdown-menu.dropdown-menu-sm {
  width: 150px;
}

.dropdown-menu.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu.dropdown-menu-right > li > a {
  text-align: right;
}

.dropdown-menu.dm-icon > li > a > .zmdi {
  line-height: 100%;
  vertical-align: top;
  font-size: 18px;
  width: 28px;
}

.dropdown-menu:not([class*="bgm-"]) > li > a {
  color: #4C4C4C;
}

.dropdown-menu:not([class*="bgm-"]) > li > a:hover {
  color: #000;
}

.dropdown-menu[class*="bgm-"] > li > a {
  font-weight: 300;
  color: #fff;
}

.dropdown:not([data-animation]) .dropdown-menu,
.btn-group:not([data-animation]) .dropdown-menu {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
}

.dropdown .dropdown-menu:not([data-animation]).pull-right,
.bootstrap-select .dropdown-menu:not([data-animation]).pull-right,
.btn-group .dropdown-menu:not([data-animation]).pull-right,
.dropdown .dropdown-menu:not([data-animation]).dropdown-menu-right,
.bootstrap-select .dropdown-menu:not([data-animation]).dropdown-menu-right,
.btn-group .dropdown-menu:not([data-animation]).dropdown-menu-right {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.dropdown .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right),
.bootstrap-select .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right),
.btn-group .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.dropup .dropdown-menu:not([data-animation]).pull-right,
.dropup .dropdown-menu:not([data-animation]).dropdown-menu-right {
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.dropup .dropdown-menu:not([data-animation]):not(.pull-right):not(.dropdown-menu-right) {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.dropdown.open .dropdown-menu:not([data-animation]),
.dropup.open .dropdown-menu:not([data-animation]),
.bootstrap-select.open .dropdown-menu:not([data-animation]),
.btn-group.open .dropdown-menu:not([data-animation]) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-header {
  padding: 3px 17px;
  margin-top: 10px;
  color: #b1b1b1;
  text-transform: uppercase;
  font-weight: normal;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.listview {
  position: relative;
}

.listview:not(.lv-lg):not(.lv-message) .lv-item {
  padding: 10px 20px;
}

@media (min-width: 480px) {
  .listview.lv-lg .lv-item {
    padding: 17px 35px 17px 25px;
  }
}

@media (max-width: 767px) {
  .listview.lv-lg .lv-item {
    padding: 17px 35px 17px 20px;
  }
}

.listview.lv-lg .lv-item:hover {
  background-color: #FFFFDB;
}

.listview .lv-item {
  position: relative;
  display: block;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.listview .lv-item .lv-small {
  font-size: 12px;
  color: #A9A9A9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.listview .lv-item .checkbox,
.listview .lv-item.media {
  margin: 0;
}

.listview .lv-item .lv-actions {
  position: absolute;
  right: 15px;
  top: 10px;
}

@media (max-width: 480px) {
  .listview .lv-item .lv-actions {
    right: 7px;
  }
}

.listview .lv-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.listview a.lv-item:hover {
  background: #ECF9FF;
}

.listview [class*="lv-img"] {
  border-radius: 50%;
}

.listview .lv-img {
  width: 48px;
  height: 48px;
}

.listview .lv-img-sm {
  width: 35px;
  height: 35px;
}

.listview.lv-bordered .lv-item:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}

.listview .lv-attrs {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.listview .lv-attrs > li {
  display: inline-block;
  padding: 2px 10px 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 2px;
}

.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
  border: 1px solid #dedede;
  background: #ffffff;
  color: #5e5e5e;
}

.listview .lv-attrs > li.info {
  border: 1px solid #00bcd4;
  background: #00bcd4;
  color: #ffffff;
}

.listview .lv-attrs > li.primary {
  border: 1px solid #2196f3;
  background: #2196f3;
  color: #ffffff;
}

.listview .lv-attrs > li.warning {
  border: 1px solid #ff9800;
  background: #ff9800;
  color: #ffffff;
}

.listview .lv-attrs > li.danger {
  border: 1px solid #f44336;
  background: #f44336;
  color: #ffffff;
}

.listview .lv-attrs > li > a {
  display: block;
}

.listview:not(.lv-message) .lv-title {
  color: #000;
}

[class*="lv-img"] {
  border-radius: 50%;
}

.lv-img {
  width: 48px;
  height: 48px;
}

.lv-img-sm {
  width: 35px;
  height: 35px;
}

.lv-header {
  text-align: center;
  padding: 15px 10px 13px;
  line-height: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid #F0F0F0;
  font-weight: 500;
  color: #4C4C4C;
  margin-bottom: 10px;
}

.lv-header .actions {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: 10;
}

.lvh-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: #fff;
  display: none;
}

.lvh-search:before {
  content: "\f1c3";
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 24px;
  top: 17px;
  font-size: 22px;
}

.lvhs-input {
  border: 0;
  padding: 0 26px 0 55px;
  height: 63px;
  font-size: 18px;
  width: 100%;
  font-weight: 100;
  background: #fff;
  border-bottom: 1px solid #EEE;
}

.lvh-search-close {
  font-style: normal;
  position: absolute;
  top: 23px;
  right: 22px;
  font-size: 17px;
  width: 18px;
  height: 18px;
  background-color: #ADADAD;
  line-height: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.lvh-search-close:hover {
  background: #333;
}

.lv-header-alt {
  position: relative;
  background: #f8f8f8;
  padding: 15px;
}

.lv-header-alt .lv-actions {
  z-index: 3;
  float: right;
  margin-top: 3px;
  position: relative;
}

.lv-header-alt .lv-actions > li > a {
  margin: 0 3px;
}

.lvh-label {
  color: #818181;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 0 6px;
  line-height: 33px;
  vertical-align: middle;
  float: left;
}

.lv-footer {
  display: block;
  text-align: center;
  padding: 7px 10px 8px;
  border-top: 1px solid #F0F0F0;
  line-height: 100%;
  font-size: 11px;
  margin-top: 20px;
  color: #828282;
}

a.lv-footer:hover {
  color: #050505;
}

/*
 * Inside Card will have more padding
 */

.card-body .lv-item {
  padding: 12px 20px;
}

.progress {
  box-shadow: none;
  border-radius: 0;
  height: 5px;
  margin-bottom: 0;
}

.progress .progress-bar {
  box-shadow: none;
}

#chat {
  padding: 20px 0;
  width: 280px;
  right: -300px;
}

#chat.toggled {
  right: 0;
}

#chat .chat-search {
  padding: 20px 20px 15px 20px;
}

#chat .chat-search .form-control {
  background-image: url("../img/icons/search-2.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #chat .chat-search .form-control {
    background-image: url("../img/icons/search-2@2x.png");
    background-size: 24px 24px;
  }
}

#chat .chat-search .form-control:focus {
  background-position: right center;
  padding: 0 30px 0 0;
}

/*
 * Chat Status Icons
 */

[class*="chat-status"] {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -3px;
  right: 12px;
  border: 2px solid #FFF;
}

/* Simple Mixin */

.chat-status-online {
  box-shadow: 0 0 0 1px #1ec01e;
  background: #1ec01e;
}

.chat-status-offline {
  box-shadow: 0 0 0 1px #e73f3f;
  background: #e73f3f;
}

.chat-status-busy {
  box-shadow: 0 0 0 1px #ffa500;
  background: #ffa500;
}

/*
 * For Stupid IE9
 */

.ie9 #chat {
  right: 0;
}

.ie9 #chat:not(.toggled) {
  display: none;
}

.tab-nav {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  overflow: auto;
  box-shadow: inset 0 -2px 0 0 #eeeeee;
  width: 100%;
}

.tab-nav li {
  display: inline-block;
  vertical-align: top;
}

.tab-nav li > a {
  display: inline-block;
  color: #7a7a7a;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-weight: 500;
}

.tab-nav li > a:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

@media (min-width: 768px) {
  .tab-nav li > a {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .tab-nav li > a {
    padding: 15px 8px;
  }
}

.tab-nav li.active > a {
  color: #000;
}

.tab-nav li.active > a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.tab-nav.tab-nav-right {
  text-align: right;
}

.tab-nav.tn-justified > li {
  display: table-cell;
  width: 1%;
  text-align: center;
}

.tab-nav.tn-icon > li .zmdi {
  font-size: 22px;
  line-height: 100%;
  min-height: 25px;
}

.tab-nav:not([data-tab-color]) > li > a:after {
  background: #2196f3;
}

.tab-nav[data-tab-color="green"] > li > a:after {
  background: #4caf50;
}

.tab-nav[data-tab-color="red"] > li > a:after {
  background: #f44336;
}

.tab-nav[data-tab-color="teal"] > li > a:after {
  background: #009688;
}

.tab-nav[data-tab-color="amber"] > li > a:after {
  background: #ffc107;
}

.tab-nav[data-tab-color="black"] > li > a:after {
  background: #000000;
}

.tab-nav[data-tab-color="cyan"] > li > a:after {
  background: #00bcd4;
}

.tab-content {
  padding: 20px 0;
}

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.card .card-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .card .card-header:not(.ch-alt) {
    padding: 23px 25px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header:not(.ch-alt) {
    padding: 18px;
  }
}

.card .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .card .card-header.ch-alt {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header.ch-alt {
    padding: 18px 18px 28px;
  }
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
  color: #fff;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.card .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
    padding: 18px;
  }
}

.card .card-body.card-padding-sm {
  padding: 15px;
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
  padding-top: 0;
}

.chart-edge {
  margin: 20px -8px 0 -10px;
  overflow: hidden;
}

.chart-edge .flot-chart {
  bottom: -14px;
}

.charts-row {
  margin-top: 50px;
  margin-bottom: 20px;
}

.mini-charts-item {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 12px;
}

.mini-charts-item .chart {
  padding: 15px;
  float: left;
}

.mini-charts-item .chart.chart-pie {
  margin: 0 20px;
}

.mini-charts-item .count {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
  padding: 16px 12px;
}

.mini-charts-item .count > h2 {
  margin: 0;
  line-height: 100%;
  
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.mini-charts-item .count > small {
  margin-bottom: 2px;
  display: block;
}

.mini-charts-item .count > h2,
.mini-charts-item .count > small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-charts-item .count > h3,
.mini-charts-item .count > small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-charts-item > .clearfix,
.mini-charts-item > .dl-horizontal dd,
.mini-charts-item > .container,
.mini-charts-item > .container-fluid,
.mini-charts-item > .row,
.mini-charts-item > .form-horizontal .form-group,
.mini-charts-item > .btn-toolbar,
.mini-charts-item > .btn-group-vertical > .btn-group,
.mini-charts-item > .nav,
.mini-charts-item > .navbar,
.mini-charts-item > .navbar-header,
.mini-charts-item > .navbar-collapse,
.mini-charts-item > .pager,
.mini-charts-item > .panel-body,
.mini-charts-item > .modal-header,
.mini-charts-item > .modal-footer {
  position: relative;
  z-index: 1;
}

.mini-charts-item:before {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  width: 113px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
}

.mini-charts-item:hover .count {
  color: #fff !important;
}

.mini-charts-item:hover:before {
  width: 100%;
}

/*
 * Sparkline Tooltip
 */

