﻿<div ng-controller="My.AppraisalPickerController">
      <!--  <ul>
    <li ng-repeat="app in appraisals">
        -->  
    <select ng-model="model.value" ng-options="c.Id as c.TemplateName for c in appraisals"></select>
          <!-- <select ng-model="model.value"  name="AppPicker">
                                
                <option ng-repeat="app in appraisals " ng-value="{{app.Id}}">{{app.TemplateName}}</option>

                     </select>
              --> 
        <!--</li>
    </ul>-->
</div>
