﻿<div ng-controller="My.AppraisalPickerController">
      <!--  <ul>
    <li ng-repeat="app in appraisals">
        -->  
    
            <select ng-model="model.value"  name="AppPicker">
                                 <option ng-repeat="app in appraisals | filter:model.value" value="{{app.Id}}" ng-selected="true" >{{app.TemplateName}}</option>
                <option ng-repeat="app in appraisals " value="{{app.Id}}">{{app.TemplateName}}</option>

                     </select>
        <!--</li>
    </ul>-->
</div>
