﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    Macro to display a series of images from a media folder.

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaId     Name:Select folder with images    Type:Single Media Picker
*@

@{ var iframeUrl = Model.MacroParameters["iframeUrl"];
 var iframeWidth = Model.MacroParameters["iframeWidth"];
  var iframeHeight = Model.MacroParameters["iframeHeight"];
 // var divHeight=Int32.Parse(iframeHeight.ToString)+1;
  var divHeight=iframeHeight;
 }
@if (iframeUrl != null)
{
    if (iframeHeight== null || iframeWidth==null)
	{
  <div class="embed-responsive col-lg-11" style="height:1700px;"><iframe class="embed-responsive-item" width="930" height="1800" src="@iframeUrl" frameborder="0" allowfullscreen="" scrolling="no"></iframe></div>
	}
	  else
	  {
		 
			   <div class="embed-responsive col-lg-11" style="height:@(divHeight)px;"><iframe class="embed-responsive-item" width="@iframeWidth" height="@iframeHeight" src="@iframeUrl" frameborder="0" allowfullscreen="" scrolling="no"></iframe></div>

	  }
   @*
	  <p><iframe src="@iframeUrl" width="@iframeWidth" height="@iframeHeight"></iframe></p>
*@
}