﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    Macro to display a series of images from a media folder.

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaId     Name:Select folder with images    Type:Single Media Picker
*@
@{
    var mWidth = Model.MacroParameters["videoUrl"];
    var media = Umbraco.Media(mWidth);
}


<video width="320" height="240" controls class="embed-responsive-item">
    @*<source src="/media/1264/samplevideo_1280x720_1mb.mp4" type="video/mp4">*@
    <source src="@media.Url" type="video/mp4">
    @*<source src="/media/1326/samplevideo_1280x720_1mb.ogg" type="video/ogg">*@
    
</video>
