﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    Macro to display a series of images from a media folder.

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaId     Name:Select folder with images    Type:Single Media Picker
*@

@{ var iframeUrl = Model.MacroParameters["iframeUrl"];
 // iframeUrl="https://MonroeConsultingGroup.sharepoint.com/portals/hub/_layouts/15/VideoEmbedHost.aspx?chId=34297196%2D4d52%2D4812%2Db67c%2D00156f649ab3&amp;vId=907da191%2Dad99%2D4efe%2D8398%2D37dd5739f4ab&amp;width=640&amp;height=360&amp;autoPlay=false&amp;showInfo=true";
var mWidth = Model.MacroParameters["mWidth"];
 var mHeight = Model.MacroParameters["mHeight"];
  var mW=mWidth+"px";
   var mH=mHeight+"px";
   var cWidth = Model.MacroParameters["cWidth"];
 // var divHeight=Int32.Parse(iframeHeight.ToString)+1;
 // var divHeight=iframeHeight;
 }
@if (iframeUrl != null)
{
   @* if (iframeHeight== null || iframeWidth==null)
	{ *@
 
			
		 <div class="col-xs-@cWidth">
<div class="embed-responsive embed-responsive-4by3" style="margin: 0 10px 5px 0;"><iframe class="embed-responsive-item" width="@mWidth" height="@mHeight" style="max-width:@mW;max-height:@mH;" src="@iframeUrl" allowfullscreen="true"></iframe></div>
</div>

		 
	@*  }
	  else
	  { 
		 
			   <div class="embed-responsive col-lg-11" >
				  
				   <iframe class="embed-responsive-item" width="@iframeWidth" height="@iframeHeight" src="@iframeUrl" frameborder="0" allowfullscreen="" scrolling="no"></iframe></div>

 } *@
   @*
	  <p><iframe src="@iframeUrl" width="@iframeWidth" height="@iframeHeight"></iframe></p>
*@
}
