﻿<div ng-app>
    <div class="welcome-dashboard" ng-controller="pollResultCtrl">
        <h2>Latest Poll Results</h2>
        <p>Here we will display the results from the poll below. There have been {{totalVotes}} votes</p>
       

        <h3>{{pollName}}</h3>
        <table cellpadding="10">
            <tr>
            <th style="text-align:left;">Option</th>
            <th>Votes </th>
                <th>Percentage Amount</th>
            </tr>
            <tr  ng-repeat="results in poll">
                <td style="text-align:left;">{{results.key}}</td>
                <td style="text-align:center;">{{results.value}}</td>
                <td style="text-align:center;">{{results.value/totalVotes*100 | number:2}} %</td>
            </tr>

        </table>

      </div>  
   
</div>
<script src="/Umbraco/lib/angular/angular.js"></script>
<script>
                        //var app = angular.module('plunker', []);
                        //app.controller('holidayListCtrl', function($scope, $http) {
    function pollResultCtrl($scope, $http) {
        var cDate = new Date();
        var cYear = cDate.getFullYear();
        $scope.poll = {};
        $scope.testData = "hello";
        $scope.totalVotes = 0;
        $scope.pollName = "";

        $http.get('/Umbraco/Api/Assessment/LatestPoll/').success(function (data) {

            $scope.poll = data.Poll_Results;
            angular.forEach($scope.poll, function (value, key) {
                $scope.totalVotes = parseInt(value.value) + $scope.totalVotes;
            });
            $scope.pollName = data.Poll_Name;

        });

    }
                            </script>